Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

Rename DummyClearCostmapService to DummyClearEntireCostmapService
  nav2_system_tests/src/behavior_tree/server_handler.cpp
  nav2_system_tests/src/behavior_tree/server_handler.hpp
Due: ament_cpplint, ament_uncrustify

Add unit tests for ClearCostmapService
  nav2_behavior_tree/test/plugins/action/test_clear_costmap_service.cpp
  nav2_costmap_2d/test/unit/CMakeLists.txt
  nav2_costmap_2d/test/unit/clear_costmap_service_test.cpp
  nav2_system_tests/src/behavior_tree/server_handler.cpp
  nav2_system_tests/src/behavior_tree/server_handler.hpp
Due: ament_cpplint, ament_uncrustify

cmake
  nav2_costmap_2d/test/unit/CMakeLists.txt
Due: none

Add support for constructing directly from a Costmap
  nav2_simple_commander/nav2_simple_commander/costmap_2d.py
Due: ament_flake8, ament_pep257

Fixing system tests
  nav2_system_tests/src/planning/planner_tester.cpp
  nav2_system_tests/src/planning/test_planner_plugins.cpp
Due: ament_cpplint, ament_uncrustify

Migrate smac planner too
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/src/smac_planner_2d.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Added unit tests
  nav2_simple_commander/nav2_simple_commander/costmap_2d.py
  nav2_simple_commander/test/test_costmap2d.py
Due: ament_flake8, ament_pep257

Style
  nav2_simple_commander/test/test_costmap2d.py
Due: ament_flake8, ament_pep257

mypy
  nav2_simple_commander/nav2_simple_commander/costmap_2d.py
Due: ament_flake8, ament_pep257

isort
  nav2_simple_commander/test/test_costmap2d.py
Due: ament_flake8, ament_pep257

Mypy
  nav2_simple_commander/test/test_costmap2d.py
Due: ament_flake8, ament_pep257

pre-commit
  nav2_simple_commander/test/test_costmap2d.py
Due: ament_flake8, ament_pep257

Revert "Safe access to path"
  nav2_graceful_controller/src/graceful_controller.cpp
Due: ament_cpplint, ament_uncrustify

Revert "Add final rotation tolerance test"
  nav2_graceful_controller/test/test_graceful_controller.cpp
Due: ament_cpplint, ament_uncrustify

Revert "Preserve default behavior"
  nav2_graceful_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

Revert "Add final rotation tolerance"
  nav2_graceful_controller/include/nav2_graceful_controller/graceful_controller.hpp
  nav2_graceful_controller/include/nav2_graceful_controller/parameter_handler.hpp
  nav2_graceful_controller/src/graceful_controller.cpp
  nav2_graceful_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

Remove final_rotation_tolerance from parameter tests
  nav2_graceful_controller/test/test_graceful_controller.cpp
Due: ament_cpplint, ament_uncrustify

Set default footprint_scaling_factor to 25%
  nav2_graceful_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

Update cancel timeout
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
Due: ament_cpplint, ament_uncrustify

Remove reversing check
  nav2_controller/src/controller_server.cpp
  nav2_msgs/msg/TrackingFeedback.msg
Due: ament_cpplint, ament_uncrustify

Add comment
  nav2_msgs/action/FollowPath.action
Due: none

feat: change type of lasers_ to unique_ptr to prevent memory leak when clearing the vector
  nav2_amcl/include/nav2_amcl/amcl_node.hpp
  nav2_amcl/src/amcl_node.cpp
Due: ament_cpplint, ament_uncrustify

Do not create a new node instance for the transform listener
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_map_server/src/vo_server/vector_object_server.cpp
Due: ament_cpplint, ament_uncrustify

fix: ensure proper reinflation handling to avoid double full-map updates
  nav2_costmap_2d/include/nav2_costmap_2d/inflation_layer.hpp
  nav2_costmap_2d/plugins/inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

Add cancel timeout when cancelling actions (backport Jazzy) (#5903)
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
Due: ament_cpplint, ament_uncrustify

Fix memory leak in AmclNode by deleting Laser objects before clearing vector (#5902)
  nav2_amcl/include/nav2_amcl/amcl_node.hpp
  nav2_amcl/src/amcl_node.cpp
Due: ament_cpplint, ament_uncrustify

Use declare_or_get_param in nav2_route and nav2_velocity_smoother (#5882)
  nav2_route/include/nav2_route/plugins/route_operation_client.hpp
  nav2_route/src/edge_scorer.cpp
  nav2_route/src/goal_intent_extractor.cpp
  nav2_route/src/graph_loader.cpp
  nav2_route/src/graph_saver.cpp
  nav2_route/src/operations_manager.cpp
  nav2_route/src/path_converter.cpp
  nav2_route/src/plugins/edge_cost_functions/costmap_scorer.cpp
  nav2_route/src/plugins/edge_cost_functions/distance_scorer.cpp
  nav2_route/src/plugins/edge_cost_functions/goal_orientation_scorer.cpp
  nav2_route/src/plugins/edge_cost_functions/penalty_scorer.cpp
  nav2_route/src/plugins/edge_cost_functions/semantic_scorer.cpp
  nav2_route/src/plugins/edge_cost_functions/start_pose_orientation_scorer.cpp
  nav2_route/src/plugins/edge_cost_functions/time_scorer.cpp
  nav2_route/src/plugins/route_operations/adjust_speed_limit.cpp
  nav2_route/src/plugins/route_operations/collision_monitor.cpp
  nav2_route/src/plugins/route_operations/time_marker.cpp
  nav2_route/src/route_planner.cpp
  nav2_route/src/route_server.cpp
  nav2_route/src/route_tracker.cpp
  nav2_velocity_smoother/src/velocity_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Refactor map_server params to use declare_or_get_parameter
  nav2_map_server/src/map_server/map_server.cpp
Due: ament_cpplint, ament_uncrustify

Refactor: Migrate nav2_map_server to declare_or_get_parameter API
  nav2_map_server/src/costmap_filter_info/costmap_filter_info_server.cpp
  nav2_map_server/src/map_saver/map_saver.cpp
  nav2_map_server/src/map_server/map_server.cpp
Due: ament_cpplint, ament_uncrustify

Many server's Parameter API Migration (#5900)
  nav2_docking/opennav_docking/include/opennav_docking/utils.hpp
  nav2_docking/opennav_docking/src/controller.cpp
  nav2_docking/opennav_docking/src/dock_database.cpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_docking/opennav_docking/src/navigator.cpp
  nav2_docking/opennav_docking/src/simple_charging_dock.cpp
  nav2_docking/opennav_docking/src/simple_non_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_docking_server_unit.cpp
  nav2_lifecycle_manager/src/lifecycle_manager.cpp
  nav2_planner/src/planner_server.cpp
  nav2_planner/test/test_dynamic_parameters.cpp
  nav2_planner/test/test_plan_through_poses.cpp
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/src/smac_planner_2d.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smoother/src/nav2_smoother.cpp
  nav2_smoother/src/savitzky_golay_smoother.cpp
  nav2_smoother/src/simple_smoother.cpp
  nav2_smoother/test/test_smoother_server.cpp
  nav2_system_tests/src/planning/planner_tester.cpp
  nav2_system_tests/src/planning/test_planner_plugins.cpp
  nav2_theta_star_planner/src/theta_star_planner.cpp
  nav2_util/include/nav2_util/twist_publisher.hpp
  nav2_util/include/nav2_util/twist_subscriber.hpp
  nav2_util/src/base_footprint_publisher.hpp
  nav2_velocity_smoother/src/velocity_smoother.cpp
Due: ament_cpplint, ament_uncrustify

simplify plugin validation and remove unused code
  nav2_costmap_2d/include/nav2_costmap_2d/clear_costmap_service.hpp
  nav2_costmap_2d/src/clear_costmap_service.cpp
Due: ament_cpplint, ament_uncrustify

Migrate DWB, Following, and Map Server
  nav2_dwb_controller/dwb_core/include/dwb_core/trajectory_critic.hpp
  nav2_dwb_controller/dwb_core/src/dwb_local_planner.cpp
  nav2_dwb_controller/dwb_core/src/publisher.cpp
  nav2_dwb_controller/dwb_critics/src/base_obstacle.cpp
  nav2_dwb_controller/dwb_critics/src/map_grid.cpp
  nav2_dwb_controller/dwb_critics/src/oscillation.cpp
  nav2_dwb_controller/dwb_critics/src/prefer_forward.cpp
  nav2_dwb_controller/dwb_plugins/src/kinematic_parameters.cpp
  nav2_dwb_controller/dwb_plugins/src/limited_accel_generator.cpp
  nav2_dwb_controller/dwb_plugins/src/standard_traj_generator.cpp
  nav2_dwb_controller/dwb_plugins/src/xy_theta_iterator.cpp
  nav2_following/opennav_following/src/following_server.cpp
  nav2_following/opennav_following/test/test_following_server_unit.cpp
  nav2_map_server/src/costmap_filter_info/costmap_filter_info_server.cpp
  nav2_map_server/src/map_saver/map_saver.cpp
  nav2_map_server/src/map_server/map_server.cpp
  nav2_map_server/test/unit/test_costmap_filter_info_server.cpp
Due: ament_cpplint, ament_uncrustify

Adding a missed few
  nav2_util/include/nav2_util/twist_subscriber.hpp
  nav2_waypoint_follower/plugins/input_at_waypoint.cpp
  nav2_waypoint_follower/plugins/photo_at_waypoint.cpp
  nav2_waypoint_follower/plugins/wait_at_waypoint.cpp
Due: ament_cpplint, ament_uncrustify

typo
  nav2_waypoint_follower/plugins/input_at_waypoint.cpp
Due: ament_cpplint, ament_uncrustify

Refactor: Migrate nav2_map_server to declare_or_get_parameter API
  nav2_map_server/src/costmap_filter_info/costmap_filter_info_server.cpp
  nav2_map_server/src/map_saver/map_saver.cpp
  nav2_map_server/src/map_server/map_server.cpp
  nav2_map_server/test/unit/test_costmap_filter_info_server.cpp
Due: ament_cpplint, ament_uncrustify

Migrating parameter APIs for Map Server, DWB, and Opennav Following: Completed Process (#5914)
  nav2_dwb_controller/dwb_core/include/dwb_core/trajectory_critic.hpp
  nav2_dwb_controller/dwb_core/src/dwb_local_planner.cpp
  nav2_dwb_controller/dwb_core/src/publisher.cpp
  nav2_dwb_controller/dwb_critics/src/base_obstacle.cpp
  nav2_dwb_controller/dwb_critics/src/map_grid.cpp
  nav2_dwb_controller/dwb_critics/src/oscillation.cpp
  nav2_dwb_controller/dwb_critics/src/prefer_forward.cpp
  nav2_dwb_controller/dwb_plugins/src/kinematic_parameters.cpp
  nav2_dwb_controller/dwb_plugins/src/limited_accel_generator.cpp
  nav2_dwb_controller/dwb_plugins/src/standard_traj_generator.cpp
  nav2_dwb_controller/dwb_plugins/src/xy_theta_iterator.cpp
  nav2_following/opennav_following/src/following_server.cpp
  nav2_following/opennav_following/test/test_following_server_unit.cpp
  nav2_map_server/src/costmap_filter_info/costmap_filter_info_server.cpp
  nav2_map_server/src/map_saver/map_saver.cpp
  nav2_map_server/src/map_server/map_server.cpp
  nav2_map_server/test/unit/test_costmap_filter_info_server.cpp
  nav2_util/include/nav2_util/twist_subscriber.hpp
  nav2_waypoint_follower/plugins/input_at_waypoint.cpp
  nav2_waypoint_follower/plugins/photo_at_waypoint.cpp
  nav2_waypoint_follower/plugins/wait_at_waypoint.cpp
Due: ament_cpplint, ament_uncrustify

Address feedback
  nav2_simple_commander/nav2_simple_commander/occupancy_grid.py
  nav2_simple_commander/test/test_costmap2d.py
  nav2_simple_commander/test/test_footprint_collision_checker.py
  nav2_simple_commander/test/test_occupancy_grid.py
Due: ament_flake8, ament_pep257

More typing issues
  nav2_simple_commander/nav2_simple_commander/occupancy_grid.py
Due: ament_flake8, ament_pep257

More type issues
  nav2_simple_commander/nav2_simple_commander/occupancy_grid.py
Due: ament_flake8, ament_pep257
