Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

linting
  nav2_msgs/srv/__init__.py
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

adding import
  nav2_msgs/srv/__init__.py
Due: ament_flake8, ament_pep257

nav2 backport: 'Fix/smac planner orientation goals #5235'
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/include/nav2_smac_planner/constants.hpp
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_2d.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/src/node_2d.cpp
  nav2_smac_planner/src/node_hybrid.cpp
  nav2_smac_planner/src/node_lattice.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/test/test_a_star.cpp
  nav2_smac_planner/test/test_node2d.cpp
Due: ament_cpplint, ament_uncrustify

`bt_navigator_***_rclcpp_node` - Namespacing + NodeOptions forwarding
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
Due: ament_cpplint, ament_uncrustify

Adding clear costmap around pose service option (#5309)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/clear_costmap_service.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/action/clear_costmap_service.cpp
  nav2_behavior_tree/test/plugins/action/test_clear_costmap_service.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/clear_costmap_service.hpp
  nav2_costmap_2d/src/clear_costmap_service.cpp
  nav2_msgs/CMakeLists.txt
  nav2_msgs/srv/ClearCostmapAroundPose.srv
  nav2_msgs/srv/__init__.py
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Fixing BT unit tests
  nav2_behavior_tree/plugins/control/round_robin_node.cpp
  nav2_behavior_tree/test/plugins/control/test_round_robin_node.cpp
Due: ament_cpplint, ament_uncrustify

Updating system tests
  nav2_system_tests/src/behavior_tree/test_behavior_tree_node.cpp
Due: ament_cpplint, ament_uncrustify

Deduplicate `replaceOrAddArgument` implementation
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d_ros.hpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_ros_common/include/nav2_ros_common/node_utils.hpp
Due: ament_cpplint, ament_uncrustify

Fix
  nav2_ros_common/include/nav2_ros_common/node_utils.hpp
Due: ament_cpplint, ament_uncrustify

Adding epsilon for voxel_layer precision loss
  nav2_costmap_2d/plugins/voxel_layer.cpp
Due: ament_cpplint, ament_uncrustify

fix footprintAreaCost
  nav2_costmap_2d/src/costmap_topic_collision_checker.cpp
  nav2_costmap_2d/src/footprint_collision_checker.cpp
Due: ament_cpplint, ament_uncrustify

remove isRectangularFootprint
  nav2_costmap_2d/include/nav2_costmap_2d/footprint_collision_checker.hpp
Due: ament_cpplint, ament_uncrustify

fix formatting
  nav2_costmap_2d/include/nav2_costmap_2d/footprint_collision_checker.hpp
  nav2_costmap_2d/src/footprint_collision_checker.cpp
Due: ament_cpplint, ament_uncrustify

Added support for MPPI Controller to adjust wz_std parameter based on linear speed
  nav2_mppi_controller/include/nav2_mppi_controller/models/constraints.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/models/optimizer_settings.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/optimizer.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/tools/noise_generator.hpp
  nav2_mppi_controller/src/noise_generator.cpp
  nav2_mppi_controller/src/optimizer.cpp
  nav2_mppi_controller/test/noise_generator_test.cpp
Due: ament_cpplint, ament_uncrustify

Added support for MPPI Controller to adjust wz_std parameter based on linear speed
  nav2_mppi_controller/src/noise_generator.cpp
Due: ament_cpplint, ament_uncrustify

Linting
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

Removed __init__.py that came in with cherry pick
  nav2_msgs/srv/__init__.py
Due: ament_flake8, ament_pep257

Add support for enable_lifecycle_services parameter in LifecycleNode (#5307)
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
Due: ament_cpplint, ament_uncrustify

Clear costmap around pose jazzy (backport #5309) (#5318)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/clear_costmap_service.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/action/clear_costmap_service.cpp
  nav2_behavior_tree/test/plugins/action/test_clear_costmap_service.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/clear_costmap_service.hpp
  nav2_costmap_2d/src/clear_costmap_service.cpp
  nav2_msgs/CMakeLists.txt
  nav2_msgs/srv/ClearCostmapAroundPose.srv
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Adding initial prototype for a MPPI trajectory validator
  nav2_bringup/params/nav2_params.yaml
  nav2_mppi_controller/CMakeLists.txt
  nav2_mppi_controller/benchmark/optimizer_benchmark.cpp
  nav2_mppi_controller/include/nav2_mppi_controller/optimal_trajectory_validator.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/optimizer.hpp
  nav2_mppi_controller/package.xml
  nav2_mppi_controller/src/controller.cpp
  nav2_mppi_controller/src/optimizer.cpp
  nav2_mppi_controller/src/trajectory_validators/optimal_trajectory_validator.cpp
  nav2_mppi_controller/test/optimizer_smoke_test.cpp
  nav2_mppi_controller/test/optimizer_unit_tests.cpp
  nav2_mppi_controller/test/utils/factory.hpp
  nav2_mppi_controller/trajectory_validators.xml
Due: ament_cpplint, ament_uncrustify

Rename service_introspection_mode to introspection_mode
  nav2_bringup/params/nav2_params.yaml
  nav2_ros_common/include/nav2_ros_common/node_utils.hpp
  nav2_ros_common/test/test_service_client.cpp
  nav2_ros_common/test/test_service_server.cpp
  nav2_smac_planner/src/smac_planner_2d.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
Due: ament_cpplint, ament_uncrustify

Configured nav2_common to be compatible with ament_mypy.
  nav2_common/nav2_common/launch/has_node_params.py
  nav2_common/nav2_common/launch/launch_config_as_bool.py
  nav2_common/nav2_common/launch/replace_string.py
  nav2_common/nav2_common/launch/rewritten_yaml.py
Due: ament_flake8, ament_pep257

Configured nav2_bringup to be compatible with ament_mypy.
  nav2_bringup/launch/cloned_multi_tb3_simulation_launch.py
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb4_loopback_simulation_launch.py
  nav2_bringup/launch/unique_multi_tb3_simulation_launch.py
Due: ament_flake8, ament_pep257

Configured nav2_costmap_2d to be compatible with ament_mypy.
  nav2_costmap_2d/test/integration/costmap_tests_launch.py
Due: ament_flake8, ament_pep257

Configured nav2_docking to be compatible with ament_mypy.
  nav2_docking/opennav_docking/test/test_docking_server.py
Due: ament_flake8, ament_pep257

Configured nav2_lifecycle_manager to be compatible with ament_mypy.
  nav2_lifecycle_manager/test/launch_bond_test.py
  nav2_lifecycle_manager/test/launch_lifecycle_test.py
Due: ament_flake8, ament_pep257

Configured nav2_map_server to be compatible with ament_mypy.
  nav2_map_server/test/component/test_map_saver_launch.py
  nav2_map_server/test/component/test_map_server_launch.py
Due: ament_flake8, ament_pep257

Configured nav2_simple_commander to be compatible with ament_mypy.
  nav2_simple_commander/launch/route_example_launch.py
Due: ament_flake8, ament_pep257

Configured nav2_system_tests to be compatible with ament_mypy.
  nav2_system_tests/src/behaviors/assisted_teleop/test_assisted_teleop_behavior_launch.py
  nav2_system_tests/src/behaviors/backup/test_backup_behavior.launch.py
  nav2_system_tests/src/behaviors/drive_on_heading/test_drive_on_heading_behavior.launch.py
  nav2_system_tests/src/behaviors/spin/test_spin_behavior.launch.py
  nav2_system_tests/src/behaviors/wait/test_wait_behavior_launch.py
  nav2_system_tests/src/costmap_filters/test_keepout_launch.py
  nav2_system_tests/src/costmap_filters/test_speed_launch.py
  nav2_system_tests/src/error_codes/test_error_codes_launch.py
  nav2_system_tests/src/gps_navigation/test_case_py.launch.py
  nav2_system_tests/src/localization/test_localization_launch.py
  nav2_system_tests/src/planning/test_planner_costmaps_launch.py
  nav2_system_tests/src/planning/test_planner_random_launch.py
  nav2_system_tests/src/route/test_route_launch.py
  nav2_system_tests/src/system/test_multi_robot_launch.py
  nav2_system_tests/src/system/test_system_launch.py
  nav2_system_tests/src/system/test_system_with_obstacle_launch.py
  nav2_system_tests/src/system/test_wrong_init_pose_launch.py
  nav2_system_tests/src/system_failure/test_system_failure_launch.py
  nav2_system_tests/src/waypoint_follower/test_case_launch.py
Due: ament_flake8, ament_pep257

Add 6dof support for velocity smoother
  nav2_velocity_smoother/include/nav2_velocity_smoother/velocity_smoother.hpp
  nav2_velocity_smoother/src/velocity_smoother.cpp
Due: ament_cpplint, ament_uncrustify

fix: Correct formatting of comments in navigation launch file for clarity
  nav2_bringup/launch/navigation_launch.py
Due: ament_flake8, ament_pep257

fix: Reorder import statements in navigation launch file for consistency
  nav2_bringup/launch/navigation_launch.py
Due: ament_flake8, ament_pep257

fix: Add PushRosNamespace action to navigation launch file and update comments for parameter namespacing
  nav2_bringup/launch/navigation_launch.py
Due: ament_flake8, ament_pep257

fix: Add PushRosNamespace action to multiple launch files for parameter namespacing
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/keepout_zone_launch.py
  nav2_bringup/launch/localization_launch.py
  nav2_bringup/launch/slam_launch.py
  nav2_bringup/launch/speed_zone_launch.py
Due: ament_flake8, ament_pep257

fix: Add PushRosNamespace action to slam_launch.py for parameter namespacing
  nav2_bringup/launch/slam_launch.py
Due: ament_flake8, ament_pep257

Add LaunchConfigAsBool (Fixes #5233) (#5301)
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/cloned_multi_tb3_simulation_launch.py
  nav2_bringup/launch/keepout_zone_launch.py
  nav2_bringup/launch/localization_launch.py
  nav2_bringup/launch/navigation_launch.py
  nav2_bringup/launch/rviz_launch.py
  nav2_bringup/launch/slam_launch.py
  nav2_bringup/launch/speed_zone_launch.py
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_bringup/launch/tb4_loopback_simulation_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_bringup/launch/unique_multi_tb3_simulation_launch.py
  nav2_common/CMakeLists.txt
  nav2_common/nav2_common/launch/__init__.py
  nav2_common/nav2_common/launch/launch_config_as_bool.py
  nav2_common/test/test_launch_config_as_bool.py
Due: ament_flake8, ament_pep257
