Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

refactor: change style of polygon names and observation_sources names
  nav2_bringup/params/nav2_params.yaml
  nav2_collision_monitor/params/collision_detector_params.yaml
  nav2_collision_monitor/params/collision_monitor_params.yaml
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_collision_monitor/test/collision_detector_node_test.cpp
  nav2_collision_monitor/test/collision_monitor_node_bag.yaml
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
  nav2_collision_monitor/test/polygons_test.cpp
  nav2_collision_monitor/test/sources_test.cpp
  nav2_collision_monitor/test/velocity_polygons_test.cpp
  nav2_map_server/test/unit/test_vector_object_server.cpp
  nav2_map_server/test/unit/test_vector_object_shapes.cpp
  nav2_system_tests/src/costmap_filters/keepout_params.yaml
  nav2_system_tests/src/costmap_filters/speed_global_params.yaml
  nav2_system_tests/src/costmap_filters/speed_local_params.yaml
  nav2_system_tests/src/gps_navigation/nav2_no_map_params.yaml
  nav2_system_tests/src/system/nav2_system_params.yaml
Due: ament_cpplint, ament_uncrustify

Revert "refactor: change style of plugin names" Keep comments and log messages intact
  nav2_bringup/params/nav2_params.yaml
  nav2_bt_navigator/behavior_trees/navigate_on_route_graph_w_recovery.xml
  nav2_docking/README.md
  nav2_docking/opennav_docking/test/dock_files/test_dock_bad_conversion_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_bad_pose_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_no_pose_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_no_docks_file.yaml
  nav2_docking/opennav_docking/test/docking_params.yaml
  nav2_docking/opennav_docking/test/test_dock_database.cpp
  nav2_docking/opennav_docking/test/test_docking_server.py
  nav2_docking/opennav_docking/test/test_docking_server_unit.cpp
  nav2_docking/opennav_docking/test/test_utils.cpp
  nav2_docking/opennav_docking_bt/test/test_dock_robot.cpp
  nav2_docking/opennav_docking_bt/test/test_undock_robot.cpp
  nav2_regulated_pure_pursuit_controller/README.md
  nav2_rotation_shim_controller/README.md
  nav2_route/test/test_operations.cpp
  nav2_smoother/src/nav2_smoother.cpp
  nav2_system_tests/src/costmap_filters/keepout_params.yaml
  nav2_system_tests/src/costmap_filters/speed_global_params.yaml
  nav2_system_tests/src/costmap_filters/speed_local_params.yaml
  nav2_system_tests/src/error_codes/error_code_param.yaml
  nav2_system_tests/src/error_codes/test_error_codes.py
  nav2_system_tests/src/gps_navigation/nav2_no_map_params.yaml
  nav2_system_tests/src/system/nav2_system_params.yaml
  nav2_system_tests/src/system/nav_through_poses_tester_error_msg_node.py
  tools/smoother_benchmarking/README.md
  tools/smoother_benchmarking/metrics.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

refactor: change style of plugin names
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/goal_checker_selector_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/progress_checker_selector_node.hpp
  nav2_bringup/params/nav2_params.yaml
  nav2_bt_navigator/behavior_trees/navigate_on_route_graph_w_recovery.xml
  nav2_controller/src/controller_server.cpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_docking/README.md
  nav2_docking/opennav_docking/test/dock_files/test_dock_bad_conversion_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_bad_pose_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_no_pose_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_no_docks_file.yaml
  nav2_docking/opennav_docking/test/docking_params.yaml
  nav2_docking/opennav_docking/test/test_dock_database.cpp
  nav2_docking/opennav_docking/test/test_docking_server.py
  nav2_docking/opennav_docking/test/test_docking_server_unit.cpp
  nav2_docking/opennav_docking/test/test_utils.cpp
  nav2_docking/opennav_docking_bt/test/test_dock_robot.cpp
  nav2_docking/opennav_docking_bt/test/test_undock_robot.cpp
  nav2_regulated_pure_pursuit_controller/README.md
  nav2_rotation_shim_controller/README.md
  nav2_route/test/test_operations.cpp
  nav2_smoother/src/nav2_smoother.cpp
  nav2_system_tests/src/costmap_filters/keepout_params.yaml
  nav2_system_tests/src/costmap_filters/speed_global_params.yaml
  nav2_system_tests/src/costmap_filters/speed_local_params.yaml
  nav2_system_tests/src/error_codes/error_code_param.yaml
  nav2_system_tests/src/error_codes/test_error_codes.py
  nav2_system_tests/src/gps_navigation/nav2_no_map_params.yaml
  nav2_system_tests/src/system/nav2_system_params.yaml
  nav2_system_tests/src/system/nav_through_poses_tester_error_msg_node.py
  nav2_waypoint_follower/src/waypoint_follower.cpp
  tools/smoother_benchmarking/README.md
  tools/smoother_benchmarking/metrics.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

refactor: change plugin names to correspond to behavior tree nodes
  nav2_behavior_tree/README.md
  nav2_behavior_tree/test/plugins/action/test_controller_selector_node.cpp
  nav2_behavior_tree/test/plugins/action/test_goal_checker_selector_node.cpp
  nav2_behavior_tree/test/plugins/action/test_path_handler_selector_node.cpp
  nav2_behavior_tree/test/plugins/action/test_progress_checker_selector_node.cpp
  nav2_behavior_tree/test/plugins/action/test_smoother_selector_node.cpp
Due: ament_cpplint, ament_uncrustify

refactor: revert style of names with numbers
  nav2_costmap_2d/test/unit/declare_parameter_test.cpp
  nav2_docking/README.md
  nav2_docking/opennav_docking/test/dock_files/test_dock_bad_conversion_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_bad_pose_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_no_pose_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_no_type_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_no_docks_file.yaml
  nav2_docking/opennav_docking/test/test_dock_database.cpp
  nav2_docking/opennav_docking/test/test_utils.cpp
  nav2_docking/opennav_docking_bt/test/test_dock_robot.cpp
  nav2_docking/opennav_docking_bt/test/test_undock_robot.cpp
  nav2_route/test/test_operations.cpp
Due: ament_cpplint, ament_uncrustify

refactor: change names of operation types
  nav2_route/test/test_operations.cpp
Due: ament_cpplint, ament_uncrustify

refactor: change style of shapes for vector_object_server
  nav2_map_server/params/vector_object_server_params.yaml
Due: none

Changed param description
  nav2_util/include/nav2_util/robot_utils.hpp
Due: ament_cpplint, ament_uncrustify

Improved the nav2_util::robot_utils.hpp documentation (#5881)
  nav2_util/include/nav2_util/robot_utils.hpp
Due: ament_cpplint, ament_uncrustify

doc: add missing link to nova_carter_docking implementation (#5877) (#5879)
  nav2_docking/README.md
Due: none

Increase timeout for test_planner_plugins (#5871)
  nav2_system_tests/src/planning/CMakeLists.txt
Due: none

Pass params to lifecycle_manager nodes (#5875)
  nav2_bringup/launch/keepout_zone_launch.py
  nav2_bringup/launch/localization_launch.py
  nav2_bringup/launch/navigation_launch.py
  nav2_bringup/launch/slam_launch.py
  nav2_bringup/launch/speed_zone_launch.py
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb4_loopback_simulation_launch.py
Due: ament_flake8, ament_pep257

Use the new declare_or_get_parameter API for nav2_costmap_2d (#5867)
  nav2_controller/plugins/test/path_handler.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/layer.hpp
  nav2_costmap_2d/plugins/costmap_filters/binary_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/costmap_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/speed_filter.cpp
  nav2_costmap_2d/plugins/denoise_layer.cpp
  nav2_costmap_2d/plugins/inflation_layer.cpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/plugins/plugin_container_layer.cpp
  nav2_costmap_2d/plugins/range_sensor_layer.cpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/plugins/voxel_layer.cpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_costmap_2d/src/layer.cpp
  nav2_costmap_2d/test/integration/obstacle_tests.cpp
  nav2_costmap_2d/test/regression/plugin_api_order.cpp
  nav2_costmap_2d/test/unit/declare_parameter_test.cpp
  nav2_costmap_2d/test/unit/lifecycle_test.cpp
  nav2_graceful_controller/test/test_graceful_controller.cpp
  nav2_planner/test/test_plan_through_poses.cpp
  nav2_rotation_shim_controller/test/test_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

fix bug
  nav2_route/src/goal_intent_extractor.cpp
Due: ament_cpplint, ament_uncrustify

add route msg publisher (#5859)
  nav2_route/include/nav2_route/route_server.hpp
  nav2_route/src/route_server.cpp
Due: ament_cpplint, ament_uncrustify

delete template parameter
  nav2_route/include/nav2_route/plugins/route_operation_client.hpp
  nav2_route/src/edge_scorer.cpp
  nav2_route/src/goal_intent_extractor.cpp
  nav2_route/src/graph_loader.cpp
  nav2_route/src/graph_saver.cpp
  nav2_route/src/operations_manager.cpp
  nav2_route/src/path_converter.cpp
  nav2_route/src/plugins/edge_cost_functions/costmap_scorer.cpp
  nav2_route/src/plugins/edge_cost_functions/distance_scorer.cpp
  nav2_route/src/plugins/edge_cost_functions/goal_orientation_scorer.cpp
  nav2_route/src/plugins/edge_cost_functions/penalty_scorer.cpp
  nav2_route/src/plugins/edge_cost_functions/semantic_scorer.cpp
  nav2_route/src/plugins/edge_cost_functions/start_pose_orientation_scorer.cpp
  nav2_route/src/plugins/edge_cost_functions/time_scorer.cpp
  nav2_route/src/plugins/route_operations/adjust_speed_limit.cpp
  nav2_route/src/plugins/route_operations/collision_monitor.cpp
  nav2_route/src/plugins/route_operations/time_marker.cpp
  nav2_route/src/route_planner.cpp
  nav2_route/src/route_server.cpp
  nav2_route/src/route_tracker.cpp
Due: ament_cpplint, ament_uncrustify

improve logging with more verbosity in SimpleChargingDock
  nav2_docking/opennav_docking/src/simple_charging_dock.cpp
Due: ament_cpplint, ament_uncrustify

improve logging with more verbosity in SimpleChargingDock (#5824)
  nav2_docking/opennav_docking/src/simple_charging_dock.cpp
Due: ament_cpplint, ament_uncrustify

publish Route message via unique_ptr (#5859)
  nav2_route/src/route_server.cpp
Due: ament_cpplint, ament_uncrustify

Implementation of Dynamic Window Pure Pursuit (DWPP) (#5783)
  nav2_regulated_pure_pursuit_controller/README.md
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/dynamic_window_pure_pursuit_functions.hpp
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/parameter_handler.hpp
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  nav2_regulated_pure_pursuit_controller/package.xml
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_regulated_pure_pursuit_controller/test/CMakeLists.txt
  nav2_regulated_pure_pursuit_controller/test/test_dwpp_functions.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

add publisher to publish calculated route nodes as path (#5859) (#5873)
  nav2_route/include/nav2_route/route_server.hpp
  nav2_route/src/route_server.cpp
Due: ament_cpplint, ament_uncrustify

Clean up CMakeLists.txt by removing unused lines
  nav2_common/CMakeLists.txt
Due: none

Update nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
Due: ament_cpplint, ament_uncrustify

Safe access to path
  nav2_graceful_controller/src/graceful_controller.cpp
Due: ament_cpplint, ament_uncrustify

Update nav2_ros_common/include/nav2_ros_common/subscription.hpp
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
Due: ament_cpplint, ament_uncrustify

Add trajectory distinctness ratio
  nav2_smac_planner/lattice_primitives/config.json
  nav2_smac_planner/lattice_primitives/lattice_generator.py
Due: ament_flake8, ament_pep257

Fix flake8 lint in nav2_simple_commander
  nav2_simple_commander/nav2_simple_commander/line_iterator.py
Due: ament_flake8, ament_pep257

Fix flake8 lint in nav2_simple_commander (#5885)
  nav2_simple_commander/nav2_simple_commander/line_iterator.py
Due: ament_flake8, ament_pep257

Throw NoValidControl when inflation scale less than 1.0
  nav2_graceful_controller/src/graceful_controller.cpp
Due: ament_cpplint, ament_uncrustify

fixes
  nav2_costmap_2d/test/unit/speed_filter_test.cpp
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/docking_panel.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/nav2_panel.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/route_tool.hpp
  nav2_rviz_plugins/src/docking_panel.cpp
  nav2_rviz_plugins/src/nav2_panel.cpp
  nav2_rviz_plugins/src/route_tool.cpp
  nav2_system_tests/src/behaviors/assisted_teleop/assisted_teleop_behavior_tester.cpp
Due: ament_cpplint, ament_uncrustify

fix param order
  nav2_rviz_plugins/src/docking_panel.cpp
  nav2_rviz_plugins/src/nav2_panel.cpp
Due: ament_cpplint, ament_uncrustify

fix linter
  nav2_rviz_plugins/src/docking_panel.cpp
  nav2_rviz_plugins/src/nav2_panel.cpp
  nav2_rviz_plugins/src/route_tool.cpp
Due: ament_cpplint, ament_uncrustify

:zap: add dwpp citation
  nav2_regulated_pure_pursuit_controller/README.md
Due: none

Update ament index cpp API
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
  nav2_core/include/nav2_core/behavior_tree_navigator.hpp
  nav2_docking/opennav_docking/test/test_controller.cpp
  nav2_docking/opennav_docking/test/test_dock_database.cpp
  nav2_docking/opennav_docking/test/test_navigator.cpp
  nav2_docking/opennav_docking/test/test_simple_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_simple_non_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_utils.cpp
  nav2_following/opennav_following/CMakeLists.txt
  nav2_following/opennav_following/package.xml
  nav2_ros_common/CMakeLists.txt
  nav2_ros_common/include/nav2_ros_common/node_utils.hpp
  nav2_ros_common/package.xml
  nav2_route/src/graph_loader.cpp
  nav2_route/src/graph_saver.cpp
  nav2_route/test/test_geojson_graph_file_loader.cpp
  nav2_route/test/test_geojson_graph_file_saver.cpp
  nav2_route/test/test_graph_loader.cpp
  nav2_route/test/test_graph_saver.cpp
  nav2_route/test/test_route_server.cpp
  nav2_rviz_plugins/CMakeLists.txt
  nav2_rviz_plugins/package.xml
  nav2_rviz_plugins/src/nav2_panel.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/test/test_a_star.cpp
  nav2_smac_planner/test/test_nodelattice.cpp
  nav2_smac_planner/test/test_smac_lattice.cpp
  nav2_smac_planner/test/test_smoother.cpp
  nav2_smoother/CMakeLists.txt
  nav2_smoother/package.xml
  nav2_smoother/test/CMakeLists.txt
  nav2_system_tests/src/behavior_tree/test_behavior_tree_node.cpp
Due: ament_cpplint, ament_uncrustify

Update underlay and header
  nav2_ros_common/include/nav2_ros_common/node_utils.hpp
  tools/underlay.repos
Due: ament_cpplint, ament_uncrustify

Update ament index cpp API (#5887)
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
  nav2_core/include/nav2_core/behavior_tree_navigator.hpp
  nav2_docking/opennav_docking/test/test_controller.cpp
  nav2_docking/opennav_docking/test/test_dock_database.cpp
  nav2_docking/opennav_docking/test/test_navigator.cpp
  nav2_docking/opennav_docking/test/test_simple_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_simple_non_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_utils.cpp
  nav2_following/opennav_following/CMakeLists.txt
  nav2_following/opennav_following/package.xml
  nav2_ros_common/CMakeLists.txt
  nav2_ros_common/include/nav2_ros_common/node_utils.hpp
  nav2_ros_common/package.xml
  nav2_route/src/graph_loader.cpp
  nav2_route/src/graph_saver.cpp
  nav2_route/test/test_geojson_graph_file_loader.cpp
  nav2_route/test/test_geojson_graph_file_saver.cpp
  nav2_route/test/test_graph_loader.cpp
  nav2_route/test/test_graph_saver.cpp
  nav2_route/test/test_route_server.cpp
  nav2_rviz_plugins/CMakeLists.txt
  nav2_rviz_plugins/package.xml
  nav2_rviz_plugins/src/nav2_panel.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/test/test_a_star.cpp
  nav2_smac_planner/test/test_nodelattice.cpp
  nav2_smac_planner/test/test_smac_lattice.cpp
  nav2_smac_planner/test/test_smoother.cpp
  nav2_smoother/CMakeLists.txt
  nav2_smoother/package.xml
  nav2_smoother/test/CMakeLists.txt
  nav2_system_tests/src/behavior_tree/test_behavior_tree_node.cpp
  tools/underlay.repos
Due: ament_cpplint, ament_uncrustify
