Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

fix(nav2_behavior_tree): cancel goal when halted before acknowledgement
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
Due: ament_cpplint, ament_uncrustify

Use recursive mutex in CostmapSubscriber
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_subscriber.hpp
  nav2_costmap_2d/src/costmap_subscriber.cpp
Due: ament_cpplint, ament_uncrustify

Implement processRun method for efficient cell updates and remove redundant declaration
  nav2_map_server/include/nav2_map_server/vector_object_shapes.hpp
  nav2_map_server/include/nav2_map_server/vector_object_utils.hpp
  nav2_map_server/src/vo_server/vector_object_server.cpp
  nav2_map_server/src/vo_server/vector_object_shapes.cpp
Due: ament_cpplint, ament_uncrustify

Fix concurrent access to Costmap2D::costmap_ (Bug 2 in #6429) (#6446)
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_subscriber.hpp
  nav2_costmap_2d/src/costmap_subscriber.cpp
  nav2_route/src/goal_intent_extractor.cpp
  nav2_route/src/plugins/edge_cost_functions/costmap_scorer.cpp
  nav2_route/src/plugins/route_operations/collision_monitor.cpp
Due: ament_cpplint, ament_uncrustify

VO more efficient rasterization (#6465)
  nav2_map_server/include/nav2_map_server/vector_object_shapes.hpp
  nav2_map_server/include/nav2_map_server/vector_object_utils.hpp
  nav2_map_server/src/vo_server/vector_object_server.cpp
  nav2_map_server/src/vo_server/vector_object_shapes.cpp
  nav2_map_server/test/unit/test_vector_object_shapes.cpp
Due: ament_cpplint, ament_uncrustify

fix(nav2_behavior_tree): cancel goal when halted before acknowledgement (#6445)
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
Due: ament_cpplint, ament_uncrustify

Merge staleness utilities and migrate callers to bool lookup API
  nav2_controller/src/controller_server.cpp
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/test/integration/asymmetric_inflation_tests.cpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_following/opennav_following/src/following_server.cpp
  nav2_following/opennav_following/test/test_following_server_unit.cpp
  nav2_graceful_controller/src/graceful_controller.cpp
  nav2_util/include/nav2_util/robot_utils.hpp
  nav2_util/src/robot_utils.cpp
  nav2_util/test/test_robot_utils.cpp
Due: ament_cpplint, ament_uncrustify

Cancel all action goals on BT goal response timeout (#6373)
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
Due: ament_cpplint, ament_uncrustify

fix(nav2_behavior_tree): cancel goal when halted before acknowledgement (#6445) (#6483)
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
Due: ament_cpplint, ament_uncrustify

Standardize boolean literals to lowercase
  nav2_msgs/action/BackUp.action
  nav2_msgs/action/DockRobot.action
  nav2_msgs/action/DriveOnHeading.action
  nav2_msgs/action/Spin.action
  nav2_msgs/action/UndockRobot.action
Due: none

Fix feasible path costmap access race
  nav2_controller/plugins/feasible_path_handler.cpp
Due: ament_cpplint, ament_uncrustify

Add StaticLayer enhancements and unit tests for overlay functionality
  nav2_costmap_2d/README.md
  nav2_costmap_2d/include/nav2_costmap_2d/static_layer.hpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/test/unit/CMakeLists.txt
  nav2_costmap_2d/test/unit/static_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

Add processRun function for efficient cell updates and enhance putFill method
  nav2_map_server/include/nav2_map_server/vector_object_utils.hpp
Due: ament_cpplint, ament_uncrustify

Refine documentation and comments in vector object shapes and utilities for clarity
  nav2_map_server/include/nav2_map_server/vector_object_utils.hpp
Due: ament_cpplint, ament_uncrustify

Add map readiness handling to StaticLayer for improved synchronization
  nav2_costmap_2d/include/nav2_costmap_2d/static_layer.hpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/test/unit/static_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

Revert "Refine documentation and comments in vector object shapes and utilities for clarity"
  nav2_map_server/include/nav2_map_server/vector_object_utils.hpp
Due: ament_cpplint, ament_uncrustify

Revert "Add processRun function for efficient cell updates and enhance putFill method"
  nav2_map_server/include/nav2_map_server/vector_object_utils.hpp
Due: ament_cpplint, ament_uncrustify

Revert "Add map readiness handling to StaticLayer for improved synchronization"
  nav2_costmap_2d/include/nav2_costmap_2d/static_layer.hpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/test/unit/static_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

Enhance StaticLayer with overlay handling and update costs logic
  nav2_costmap_2d/include/nav2_costmap_2d/static_layer.hpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/test/unit/static_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

Refactor integration tests to manage RCLCPP lifecycle and improve resource cleanup
  nav2_costmap_2d/test/integration/asymmetric_inflation_tests.cpp
Due: ament_cpplint, ament_uncrustify

Add source readiness handling to StaticLayer for improved synchronization
  nav2_costmap_2d/include/nav2_costmap_2d/static_layer.hpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/test/unit/static_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

Address review feedbacks and update tests
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/cloned_multi_tb3_simulation_launch.py
  nav2_bringup/launch/keepout_zone_launch.py
  nav2_bringup/launch/navigation_launch.py
  nav2_bringup/launch/slam_launch.py
  nav2_bringup/launch/speed_zone_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_bringup/launch/unique_multi_tb3_simulation_launch.py
  nav2_system_tests/src/gps_navigation/test_case_py.launch.py
Due: ament_flake8, ament_pep257

Remove citation section from README
  README.md
Due: none

Remove citation section from README (#6490)
  README.md
Due: none

Fix feasible path costmap access race (#6486)
  nav2_controller/plugins/feasible_path_handler.cpp
Due: ament_cpplint, ament_uncrustify

Standardize boolean literals to lowercase (#6484)
  nav2_msgs/action/BackUp.action
  nav2_msgs/action/DockRobot.action
  nav2_msgs/action/DriveOnHeading.action
  nav2_msgs/action/Spin.action
  nav2_msgs/action/UndockRobot.action
Due: none

nav2_common: Depend on osrf_pycommon system package in Lyrical+
  nav2_common/package.xml
Due: none

nav2_common: Depend on osrf_pycommon system package in Lyrical+ (#6492)
  nav2_common/package.xml
Due: none

Add tests for source readiness and footprint clearing in StaticLayer overlay
  nav2_costmap_2d/test/unit/static_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

Allow loopback sim to use namespace
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb4_loopback_simulation_launch.py
  nav2_loopback_sim/launch/loopback_simulation.launch.py
Due: ament_flake8, ament_pep257

Making current_pose in progress checker check method const
  nav2_controller/include/nav2_controller/plugins/pose_progress_checker.hpp
  nav2_controller/include/nav2_controller/plugins/simple_progress_checker.hpp
  nav2_controller/plugins/pose_progress_checker.cpp
  nav2_controller/plugins/simple_progress_checker.cpp
  nav2_controller/src/controller_server.cpp
  nav2_core/include/nav2_core/progress_checker.hpp
Due: ament_cpplint, ament_uncrustify

Verifying if the transforms used by the controller server are stale
  nav2_bringup/params/nav2_params.yaml
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/include/nav2_controller/parameter_handler.hpp
  nav2_controller/src/controller_server.cpp
  nav2_controller/src/parameter_handler.cpp
  nav2_controller/test/test_controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
