Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Adding additional ::SharedPtr for readability
  nav2_amcl/include/nav2_amcl/amcl_node.hpp
  nav2_amcl/src/amcl_node.cpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_cancel_action_node.hpp
  nav2_graceful_controller/include/nav2_graceful_controller/graceful_controller.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/tools/trajectory_visualizer.hpp
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/collision_checker.hpp
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  nav2_ros_common/include/nav2_ros_common/action_client.hpp
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_ros_common/include/nav2_ros_common/publisher.hpp
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
Due: ament_cpplint, ament_uncrustify

fix bug
  nav2_dwb_controller/dwb_core/include/dwb_core/publisher.hpp
Due: ament_cpplint, ament_uncrustify

fixing Jazzy support
  nav2_amcl/src/amcl_node.cpp
  nav2_behavior_tree/plugins/action/controller_selector_node.cpp
  nav2_behavior_tree/plugins/action/goal_checker_selector_node.cpp
  nav2_behavior_tree/plugins/action/planner_selector_node.cpp
  nav2_behavior_tree/plugins/action/progress_checker_selector_node.cpp
  nav2_behavior_tree/plugins/action/smoother_selector_node.cpp
  nav2_behavior_tree/test/plugins/action/test_controller_selector_node.cpp
  nav2_behavior_tree/test/plugins/action/test_goal_checker_selector_node.cpp
  nav2_behavior_tree/test/plugins/action/test_planner_selector_node.cpp
  nav2_behavior_tree/test/plugins/action/test_progress_checker_selector_node.cpp
  nav2_behavior_tree/test/plugins/action/test_smoother_selector_node.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_subscriber.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/obstacle_layer.hpp
  nav2_costmap_2d/plugins/costmap_filters/binary_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/speed_filter.cpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/plugins/voxel_layer.cpp
  nav2_costmap_2d/src/costmap_2d_publisher.cpp
  nav2_costmap_2d/test/integration/test_costmap_2d_publisher.cpp
  nav2_map_server/src/costmap_filter_info/costmap_filter_info_server.cpp
  nav2_map_server/src/map_saver/map_saver.cpp
  nav2_map_server/src/map_server/map_server.cpp
  nav2_map_server/test/unit/test_costmap_filter_info_server.cpp
  nav2_mppi_controller/include/nav2_mppi_controller/tools/trajectory_visualizer.hpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_ros_common/include/nav2_ros_common/qos_profiles.hpp
  nav2_route/src/route_server.cpp
  nav2_system_tests/src/localization/test_localization_node.cpp
Due: ament_cpplint, ament_uncrustify

missed one last spot
  nav2_costmap_2d/plugins/obstacle_layer.cpp
Due: ament_cpplint, ament_uncrustify

Adding migration instructions
  nav2_ros_common/README.md
Due: none

more context
  nav2_ros_common/README.md
Due: none

Adding migration context
  nav2_costmap_2d/plugins/obstacle_layer.cpp
Due: ament_cpplint, ament_uncrustify

precommit
  nav2_ros_common/README.md
Due: none

adding missing dep
  nav2_system_tests/src/localization/CMakeLists.txt
Due: none

Updating system tess
  nav2_system_tests/src/behavior_tree/CMakeLists.txt
  nav2_system_tests/src/behaviors/assisted_teleop/CMakeLists.txt
  nav2_system_tests/src/behaviors/wait/CMakeLists.txt
  nav2_system_tests/src/dummy_controller/CMakeLists.txt
  nav2_system_tests/src/dummy_planner/CMakeLists.txt
  nav2_system_tests/src/planning/CMakeLists.txt
Due: none

more
  nav2_system_tests/src/behaviors/wait/wait_behavior_tester.hpp
Due: ament_cpplint, ament_uncrustify

Fix ament_mypy and pre-commit
  nav2_common/nav2_common/launch/launch_config_as_bool.py
  nav2_common/test/test_launch_config_as_bool.py
Due: ament_flake8, ament_pep257

Add LaunchConfigAsBool (Fixes #5233)
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/keepout_zone_launch.py
  nav2_bringup/launch/localization_launch.py
  nav2_bringup/launch/navigation_launch.py
  nav2_bringup/launch/speed_zone_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_common/CMakeLists.txt
  nav2_common/nav2_common/launch/__init__.py
  nav2_common/nav2_common/launch/launch_config_as_bool.py
  nav2_common/test/test_launch_config_as_bool.py
Due: ament_flake8, ament_pep257

Fix Linting
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/keepout_zone_launch.py
  nav2_bringup/launch/localization_launch.py
  nav2_bringup/launch/navigation_launch.py
  nav2_bringup/launch/speed_zone_launch.py
  nav2_common/nav2_common/launch/__init__.py
  nav2_common/nav2_common/launch/launch_config_as_bool.py
  nav2_common/test/test_launch_config_as_bool.py
Due: ament_flake8, ament_pep257

fix: Reorder import statements in navigation launch file for consistency
  nav2_bringup/launch/navigation_launch.py
Due: ament_flake8, ament_pep257

fix: Add PushRosNamespace action to navigation launch file and update comments for parameter namespacing
  nav2_bringup/launch/navigation_launch.py
Due: ament_flake8, ament_pep257

fix: Correct formatting of comments in navigation launch file for clarity
  nav2_bringup/launch/navigation_launch.py
Due: ament_flake8, ament_pep257

Added Type Annotations
  nav2_common/nav2_common/launch/launch_config_as_bool.py
Due: ament_flake8, ament_pep257

mypy ignore
  nav2_common/nav2_common/launch/launch_config_as_bool.py
  nav2_common/test/test_launch_config_as_bool.py
Due: ament_flake8, ament_pep257

launch.Substitution
  nav2_common/nav2_common/launch/launch_config_as_bool.py
Due: ament_flake8, ament_pep257

Adding logging for matched events and dropped messages
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
Due: ament_cpplint, ament_uncrustify

toggle on
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/include/nav2_behavior_tree/bt_cancel_action_node.hpp
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
Due: ament_cpplint, ament_uncrustify

apply for smac 2D
  nav2_smac_planner/src/smac_planner_2d.cpp
Due: ament_cpplint, ament_uncrustify

Update interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
Due: ament_cpplint, ament_uncrustify

Adding logging for matched events and dropped messages into pub/sub of new nav2_ros_common package. Also adding QoS overrides default ON (#5302)
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/include/nav2_behavior_tree/bt_cancel_action_node.hpp
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_smac_planner/src/smac_planner_2d.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
Due: ament_cpplint, ament_uncrustify

Update All Bools in nav2_bringup
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/cloned_multi_tb3_simulation_launch.py
  nav2_bringup/launch/keepout_zone_launch.py
  nav2_bringup/launch/localization_launch.py
  nav2_bringup/launch/navigation_launch.py
  nav2_bringup/launch/rviz_launch.py
  nav2_bringup/launch/slam_launch.py
  nav2_bringup/launch/speed_zone_launch.py
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_bringup/launch/tb4_loopback_simulation_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_bringup/launch/unique_multi_tb3_simulation_launch.py
Due: ament_flake8, ament_pep257

nav2_system_tests: disable with COLCON_IGNORE
  nav2_system_tests/COLCON_IGNORE
Due: none

Add LaunchConfigAsBool (Fixes #5233) (#5301)
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/cloned_multi_tb3_simulation_launch.py
  nav2_bringup/launch/keepout_zone_launch.py
  nav2_bringup/launch/localization_launch.py
  nav2_bringup/launch/navigation_launch.py
  nav2_bringup/launch/rviz_launch.py
  nav2_bringup/launch/slam_launch.py
  nav2_bringup/launch/speed_zone_launch.py
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_bringup/launch/tb4_loopback_simulation_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_bringup/launch/unique_multi_tb3_simulation_launch.py
  nav2_common/CMakeLists.txt
  nav2_common/nav2_common/launch/__init__.py
  nav2_common/nav2_common/launch/launch_config_as_bool.py
  nav2_common/test/test_launch_config_as_bool.py
Due: ament_flake8, ament_pep257

Create claude.yml
  .github/workflows/claude.yml
Due: none

Update claude.yml
  .github/workflows/claude.yml
Due: none

Update claude.yml for authorized users
  .github/workflows/claude.yml
Due: none

Adding clear costmap around pose impl
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/clear_costmap_service.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/action/clear_costmap_service.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/clear_costmap_service.hpp
  nav2_costmap_2d/src/clear_costmap_service.cpp
  nav2_msgs/CMakeLists.txt
  nav2_msgs/srv/ClearCostmapAroundPose.srv
Due: ament_cpplint, ament_uncrustify

Update nav2_msgs/srv/ClearCostmapAroundPose.srv
  nav2_msgs/srv/ClearCostmapAroundPose.srv
Due: none

Update round_robin_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/control/round_robin_node.hpp
Due: ament_cpplint, ament_uncrustify

Adding APIs for simple commander
  nav2_behavior_tree/test/plugins/action/test_clear_costmap_service.cpp
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
