Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Update nav2_route/include/nav2_route/corner_smoothing.hpp
  nav2_route/include/nav2_route/corner_smoothing.hpp
Due: ament_cpplint, ament_uncrustify

Route server corner smoothing (#5226)
  nav2_bringup/params/nav2_params.yaml
  nav2_route/README.md
  nav2_route/include/nav2_route/corner_smoothing.hpp
  nav2_route/include/nav2_route/path_converter.hpp
  nav2_route/include/nav2_route/types.hpp
  nav2_route/src/path_converter.cpp
  nav2_route/test/CMakeLists.txt
  nav2_route/test/test_corner_smoothing.cpp
Due: ament_cpplint, ament_uncrustify

fix some lint issues for humble branch (#5253)
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/plugins/action/get_pose_from_path_action.cpp
  nav2_behavior_tree/plugins/decorator/speed_controller.cpp
  nav2_behaviors/include/nav2_behaviors/plugins/drive_on_heading.hpp
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/cloned_multi_tb3_simulation_launch.py
  nav2_collision_monitor/include/nav2_collision_monitor/polygon.hpp
  nav2_collision_monitor/src/polygon.cpp
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/denoise/image_processing.hpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_costmap_2d/test/unit/denoise_layer_test.cpp
  nav2_costmap_2d/test/unit/image_processing_test.cpp
  nav2_mppi_controller/include/nav2_mppi_controller/critic_manager.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
  nav2_smac_planner/src/a_star.cpp
  nav2_util/include/nav2_util/robot_utils.hpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

fix test
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
Due: ament_cpplint, ament_uncrustify

Backport bidirectional settings #4954
  nav2_bringup/params/nav2_params.yaml
  nav2_mppi_controller/include/nav2_mppi_controller/models/constraints.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/models/optimizer_settings.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
  nav2_mppi_controller/src/optimizer.cpp
  nav2_mppi_controller/test/optimizer_unit_tests.cpp
Due: ament_cpplint, ament_uncrustify

Parametrizing obstacle layer tf filter tolerance
  nav2_costmap_2d/plugins/obstacle_layer.cpp
Due: ament_cpplint, ament_uncrustify

Conserve curvature with LIMIT action (#5255)
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
Due: ament_cpplint, ament_uncrustify

Parametrizing obstacle layer tf filter tolerance (#5261)
  nav2_costmap_2d/plugins/obstacle_layer.cpp
Due: ament_cpplint, ament_uncrustify

Backport bidirectional settings #4954 (#5260)
  nav2_bringup/params/nav2_params.yaml
  nav2_mppi_controller/include/nav2_mppi_controller/models/constraints.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/models/optimizer_settings.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
  nav2_mppi_controller/src/optimizer.cpp
  nav2_mppi_controller/test/optimizer_unit_tests.cpp
Due: ament_cpplint, ament_uncrustify

Initial thoughts for ObstacleLayer
  nav2_costmap_2d/CMakeLists.txt
  nav2_costmap_2d/include/nav2_costmap_2d/obstacle_layer.hpp
  nav2_costmap_2d/package.xml
  nav2_costmap_2d/plugins/obstacle_layer.cpp
Due: ament_cpplint, ament_uncrustify

unclamp state.cvx
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
Due: ament_cpplint, ament_uncrustify

Add namespace support for rviz costmap cost tool
  nav2_rviz_plugins/src/costmap_cost_tool.cpp
Due: ament_cpplint, ament_uncrustify

Add namespace support for rviz costmap cost tool (#5268)
  nav2_rviz_plugins/src/costmap_cost_tool.cpp
Due: ament_cpplint, ament_uncrustify

Add namespace support for rviz costmap cost tool (#5271)
  nav2_rviz_plugins/src/costmap_cost_tool.cpp
Due: ament_cpplint, ament_uncrustify

feat(opennav_docking): Add dynamic lifecycle for external detectors
  nav2_docking/README.md
  nav2_docking/opennav_docking/CMakeLists.txt
  nav2_docking/opennav_docking/include/opennav_docking/simple_charging_dock.hpp
  nav2_docking/opennav_docking/include/opennav_docking/simple_non_charging_dock.hpp
  nav2_docking/opennav_docking/package.xml
  nav2_docking/opennav_docking/src/dock_database.cpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_docking/opennav_docking/src/simple_charging_dock.cpp
  nav2_docking/opennav_docking/src/simple_non_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_docking_server.py
  nav2_docking/opennav_docking/test/test_simple_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_simple_non_charging_dock.cpp
  nav2_docking/opennav_docking/test/testing_dock.cpp
  nav2_docking/opennav_docking_core/include/opennav_docking_core/charging_dock.hpp
  nav2_docking/opennav_docking_core/include/opennav_docking_core/non_charging_dock.hpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Fix/smac planner orientation goals (#5235)
  .devcontainer/devcontainer.json
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/include/nav2_smac_planner/constants.hpp
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_2d.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/lattice_primitives/sample_primitives/test/output.json
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/src/node_2d.cpp
  nav2_smac_planner/src/node_hybrid.cpp
  nav2_smac_planner/src/node_lattice.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/test/CMakeLists.txt
  nav2_smac_planner/test/test_a_star.cpp
  nav2_smac_planner/test/test_goal_manager.cpp
  nav2_smac_planner/test/test_node2d.cpp
  nav2_smac_planner/test/test_smac_hybrid.cpp
  nav2_smac_planner/test/test_smac_lattice.cpp
Due: ament_cpplint, ament_uncrustify

feat(opennav_docking): Add dynamic lifecycle for external detectors
  nav2_docking/README.md
  nav2_docking/opennav_docking/CMakeLists.txt
  nav2_docking/opennav_docking/include/opennav_docking/simple_charging_dock.hpp
  nav2_docking/opennav_docking/include/opennav_docking/simple_non_charging_dock.hpp
  nav2_docking/opennav_docking/package.xml
  nav2_docking/opennav_docking/src/dock_database.cpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_docking/opennav_docking/src/simple_charging_dock.cpp
  nav2_docking/opennav_docking/src/simple_non_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_docking_server.py
  nav2_docking/opennav_docking/test/test_docking_server_unit.cpp
  nav2_docking/opennav_docking/test/test_simple_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_simple_non_charging_dock.cpp
  nav2_docking/opennav_docking/test/testing_dock.cpp
  nav2_docking/opennav_docking_core/include/opennav_docking_core/charging_dock.hpp
  nav2_docking/opennav_docking_core/include/opennav_docking_core/non_charging_dock.hpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Publish zero velocitiy in case of goal failure
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Add speed filter zones to depot and warehouse maps. (#5146)
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/speed_zone_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_bringup/maps/depot_speed.pgm
  nav2_bringup/maps/depot_speed.yaml
  nav2_bringup/maps/warehouse_speed.pgm
  nav2_bringup/maps/warehouse_speed.yaml
  nav2_bringup/params/nav2_params.yaml
  nav2_bringup/rviz/nav2_default_view.rviz
  nav2_costmap_2d/plugins/costmap_filters/speed_filter.cpp
  nav2_system_tests/src/costmap_filters/test_keepout_launch.py
  nav2_system_tests/src/costmap_filters/test_speed_launch.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

suppress rviz logging to warnings and above (#5163)
  nav2_bringup/launch/rviz_launch.py
Due: ament_flake8, ament_pep257

Adding Jazzy build job on Main PRs to automatically test Jazzy compatiblity long term (Kilted to come shortly) (#5164)
  .github/workflows/build_main_against_distros.yml
Due: none

Prevent MPPI controller from resetting speed limits upon goal execution. (#5165)
  nav2_mppi_controller/include/nav2_mppi_controller/optimizer.hpp
  nav2_mppi_controller/src/controller.cpp
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Save 2 minutes in Main-Jazzy build times to align with other CI job lengths (#5169)
  .github/workflows/build_main_against_distros.yml
Due: none

Backward docking without sensors (#5153)
  nav2_docking/README.md
  nav2_docking/opennav_docking/include/opennav_docking/controller.hpp
  nav2_docking/opennav_docking/include/opennav_docking/docking_server.hpp
  nav2_docking/opennav_docking/src/controller.cpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_docking/opennav_docking/src/simple_charging_dock.cpp
  nav2_docking/opennav_docking/src/simple_non_charging_dock.cpp
  nav2_docking/opennav_docking/test/CMakeLists.txt
  nav2_docking/opennav_docking/test/docking_params.yaml
  nav2_docking/opennav_docking/test/test_controller.cpp
  nav2_docking/opennav_docking/test/test_docking_server.py
  nav2_docking/opennav_docking/test/test_docking_server_unit.cpp
  nav2_docking/opennav_docking/test/test_simple_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_simple_non_charging_dock.cpp
  nav2_docking/opennav_docking_core/include/opennav_docking_core/charging_dock.hpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Speed up CI builds for released distros (#5168)
  .github/workflows/build_main_against_distros.yml
Due: none

Fixing docking server when already docked at the requeste ddock (#5171)
  nav2_docking/opennav_docking/src/docking_server.cpp
Due: ament_cpplint, ament_uncrustify

Update mergify.yml
  .github/mergify.yml
Due: none

fix MPPI goal critic inversion (#5088) (#5105)
  nav2_mppi_controller/README.md
  nav2_mppi_controller/include/nav2_mppi_controller/critics/cost_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/goal_angle_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/goal_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/obstacles_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/path_align_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/path_angle_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/path_follow_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/prefer_forward_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/twirling_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/tools/utils.hpp
  nav2_mppi_controller/src/critics/cost_critic.cpp
  nav2_mppi_controller/src/critics/goal_angle_critic.cpp
  nav2_mppi_controller/src/critics/goal_critic.cpp
  nav2_mppi_controller/src/critics/obstacles_critic.cpp
  nav2_mppi_controller/src/critics/path_align_critic.cpp
  nav2_mppi_controller/src/critics/path_angle_critic.cpp
  nav2_mppi_controller/src/critics/path_follow_critic.cpp
  nav2_mppi_controller/src/critics/prefer_forward_critic.cpp
  nav2_mppi_controller/src/critics/twirling_critic.cpp
  nav2_mppi_controller/test/critics_tests.cpp
  nav2_mppi_controller/test/utils_test.cpp
Due: ament_cpplint, ament_uncrustify

Add stateful to regulated pure pursuit controller (#5167)
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/parameter_handler.hpp
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

tf2 uses hpp headers in rolling (and is backported) (#5180)
  nav2_route/include/nav2_route/plugins/edge_cost_functions/goal_orientation_scorer.hpp
  nav2_route/include/nav2_route/plugins/edge_cost_functions/start_pose_orientation_scorer.hpp
Due: ament_cpplint, ament_uncrustify

added config for laserscan in lb-sim (#5174)
  nav2_bringup/params/nav2_params.yaml
  nav2_loopback_sim/README.md
  nav2_loopback_sim/nav2_loopback_sim/loopback_simulator.py
Due: ament_flake8, ament_pep257

action timeout in BT client edits error code and string (#5184)
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/assisted_teleop_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/back_up_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_and_track_route_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_through_poses_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_to_pose_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_route_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/drive_on_heading_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/follow_path_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/navigate_through_poses_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/navigate_to_pose_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/smooth_path_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/spin_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/wait_action.hpp
  nav2_behavior_tree/plugins/action/assisted_teleop_action.cpp
  nav2_behavior_tree/plugins/action/back_up_action.cpp
  nav2_behavior_tree/plugins/action/compute_and_track_route_action.cpp
  nav2_behavior_tree/plugins/action/compute_path_through_poses_action.cpp
  nav2_behavior_tree/plugins/action/compute_path_to_pose_action.cpp
  nav2_behavior_tree/plugins/action/compute_route_action.cpp
  nav2_behavior_tree/plugins/action/drive_on_heading_action.cpp
  nav2_behavior_tree/plugins/action/follow_path_action.cpp
  nav2_behavior_tree/plugins/action/navigate_through_poses_action.cpp
  nav2_behavior_tree/plugins/action/navigate_to_pose_action.cpp
  nav2_behavior_tree/plugins/action/smooth_path_action.cpp
  nav2_behavior_tree/plugins/action/spin_action.cpp
  nav2_behavior_tree/plugins/action/wait_action.cpp
  nav2_docking/opennav_docking_bt/include/opennav_docking_bt/dock_robot.hpp
  nav2_docking/opennav_docking_bt/include/opennav_docking_bt/undock_robot.hpp
  nav2_docking/opennav_docking_bt/src/dock_robot.cpp
  nav2_docking/opennav_docking_bt/src/undock_robot.cpp
  nav2_msgs/action/DockRobot.action
  nav2_msgs/action/NavigateThroughPoses.action
  nav2_msgs/action/NavigateToPose.action
  nav2_msgs/action/UndockRobot.action
  nav2_msgs/action/Wait.action
Due: ament_cpplint, ament_uncrustify

fixing deprecation warning (#5182)
  nav2_docking/opennav_docking/test/CMakeLists.txt
Due: none

Publish planned footprints after smoothing (#5155)
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_lattice.hpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
