Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

Update Cmake
  nav2_rviz_plugins/CMakeLists.txt
Due: none

Try updating the key again, the docker image seems outdated
  .circleci/config.yml
Due: none

Update underlay
  tools/underlay.repos
Due: none

Update underlay
  .circleci/config.yml
Due: none

cat .repos
  .circleci/config.yml
Due: none

Update cmake
  nav2_rviz_plugins/CMakeLists.txt
Due: none

Updates underlay repos
  tools/underlay.repos
Due: none

Update underlay
  .circleci/config.yml
  tools/underlay.repos
Due: none

added symmetric_goal_checker (nav2_controller) & symmetric_goal_angle_critic (nav2_mppi_controller)
  nav2_controller/CMakeLists.txt
  nav2_controller/include/nav2_controller/plugins/symmetric_goal_checker.hpp
  nav2_controller/plugins.xml
  nav2_controller/plugins/symmetric_goal_checker.cpp
  nav2_controller/symmetric_goal_critic_README.md
  nav2_mppi_controller/CMakeLists.txt
  nav2_mppi_controller/critics.xml
  nav2_mppi_controller/include/nav2_mppi_controller/critics/symmetric_goal_angle_critic.hpp
  nav2_mppi_controller/src/critics/symmetric_goal_angle_critic.cpp
Due: ament_cpplint, ament_uncrustify

Fix tests and copyright
  nav2_behavior_tree/test/plugins/action/test_wait_action.cpp
  nav2_navfn_planner/include/nav2_navfn_planner/navfn.hpp
  nav2_navfn_planner/src/navfn.cpp
Due: ament_cpplint, ament_uncrustify

Fix extra blank line in nav_to_pose_tester_node.py
  nav2_system_tests/src/system/nav_to_pose_tester_node.py
Due: ament_flake8, ament_pep257

add test_json_utils to CMakeLists.txt
  nav2_behavior_tree/test/CMakeLists.txt
Due: none

Remove WaypointStatus tests from JsonTest
  nav2_behavior_tree/test/test_json_utils.cpp
Due: ament_cpplint, ament_uncrustify

Groot monitoring support back ported to jazzy
  nav2_behavior_tree/include/nav2_behavior_tree/behavior_tree_engine.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_service_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/json_utils.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/get_pose_from_path_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/remove_passed_goals_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/truncate_path_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/truncate_path_local_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/globally_updated_goal_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/goal_reached_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/goal_updated_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_path_valid_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/path_expiring_timer_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/decorator/goal_updated_controller.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/decorator/goal_updater_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/decorator/path_longer_on_approach.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/decorator/speed_controller.hpp
  nav2_behavior_tree/src/behavior_tree_engine.cpp
  nav2_behavior_tree/test/CMakeLists.txt
  nav2_behavior_tree/test/test_json_utils.cpp
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
Due: ament_cpplint, ament_uncrustify

Add JSON parsing support for key conversion in bt_utils
  nav2_behavior_tree/include/nav2_behavior_tree/bt_utils.hpp
Due: ament_cpplint, ament_uncrustify

Add Groot monitoring support in system tests and parameters
  nav2_bringup/params/nav2_params.yaml
  nav2_system_tests/src/system/CMakeLists.txt
  nav2_system_tests/src/system/nav2_system_params.yaml
  nav2_system_tests/src/system/nav_to_pose_tester_node.py
  nav2_system_tests/src/system/test_system_launch.py
  nav2_system_tests/src/system/test_wrong_init_pose_launch.py
Due: ament_flake8, ament_pep257

Fix uncrustify and flake8 errors
  nav2_behavior_tree/test/test_json_utils.cpp
  nav2_system_tests/src/system/nav_to_pose_tester_node.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Update key
  .circleci/config.yml
Due: none

Update link
  tools/underlay.repos
Due: none

Move origin calc out of loop
  nav2_costmap_2d/plugins/obstacle_layer.cpp
Due: ament_cpplint, ament_uncrustify

Switch back key
  .circleci/config.yml
Due: none

Remove unused Groot-related code and parameters
  nav2_behavior_tree/include/nav2_behavior_tree/behavior_tree_engine.hpp
  nav2_behavior_tree/test/CMakeLists.txt
  nav2_bringup/params/nav2_params.yaml
  nav2_system_tests/src/system/nav2_system_params.yaml
Due: ament_cpplint, ament_uncrustify

[mppi] Don't reset zone-based speed limits
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Add JSON type registration for ports in behavior tree plugins
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_through_poses_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_to_pose_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/follow_path_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/get_pose_from_path_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/navigate_through_poses_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/navigate_to_pose_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/smooth_path_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/truncate_path_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/truncate_path_local_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/globally_updated_goal_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/goal_reached_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/goal_updated_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_path_valid_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/path_expiring_timer_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/decorator/goal_updated_controller.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/decorator/goal_updater_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/decorator/path_longer_on_approach.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/decorator/speed_controller.hpp
  nav2_system_tests/src/system/nav2_system_params.yaml
Due: ament_cpplint, ament_uncrustify

Update JSON type registration to use `std::vector<geometry_msgs::msg::PoseStamped>` instead of `nav_msgs::msg::Goals`
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/navigate_through_poses_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/globally_updated_goal_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/goal_updated_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/decorator/goal_updated_controller.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/decorator/goal_updater_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/decorator/speed_controller.hpp
Due: ament_cpplint, ament_uncrustify

[mppi] update motion model params from speed_limit
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

fix linting issue
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Include `json_export` header in behavior tree plugins to enable JSON export functionality
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_service_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_through_poses_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_to_pose_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/follow_path_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/get_pose_from_path_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/navigate_through_poses_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/navigate_to_pose_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/remove_passed_goals_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/smooth_path_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/truncate_path_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/truncate_path_local_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/globally_updated_goal_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/goal_reached_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/goal_updated_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_path_valid_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/path_expiring_timer_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/decorator/goal_updated_controller.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/decorator/goal_updater_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/decorator/path_longer_on_approach.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/decorator/speed_controller.hpp
  nav2_system_tests/src/system/nav2_system_params.yaml
Due: ament_cpplint, ament_uncrustify

Add delay so that transform can always be found
  nav2_mppi_controller/test/path_handler_test.cpp
Due: ament_cpplint, ament_uncrustify

Fix
  nav2_mppi_controller/test/path_handler_test.cpp
Due: ament_cpplint, ament_uncrustify

Fix build failure (#5769)
  Dockerfile
  tools/underlay.repos
Due: none

Added Lifecycle Subscription wrapper
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_subscription.hpp
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
Due: ament_cpplint, ament_uncrustify

Revert don't raytrace observation cell
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/test/unit/obstacle_layer_test.cpp
Due: ament_cpplint, ament_uncrustify
