Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Add updateTransformedPlan method to refresh the global plan for each cycle
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

fix(mppi): constrain vel_max for omni model to velocity space defined by ellipse with spanned by vx_max, vx_min and vy_max
  nav2_mppi_controller/include/nav2_mppi_controller/models/constraints.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
  nav2_mppi_controller/src/critics/constraint_critic.cpp
  nav2_mppi_controller/test/critics_tests.cpp
  nav2_mppi_controller/test/models_test.cpp
  nav2_mppi_controller/test/motion_model_tests.cpp
  nav2_mppi_controller/test/optimizer_unit_tests.cpp
Due: ament_cpplint, ament_uncrustify

Refactor updateTransformedPlan to updateTransformedPlanAndGoal for improved clarity and functionality
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Refactor updateTransformedPlanAndGoal method and its test for improved clarity and error handling
  nav2_controller/src/controller_server.cpp
  nav2_controller/test/test_controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Fix axis goal checker to use path end for distance checks and add test for skewed goals
  nav2_controller/plugins/axis_goal_checker.cpp
  nav2_controller/plugins/test/axis_goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

Backporting Opennav Following to Jazzy
  nav2_behavior_tree/src/behavior_tree_engine.cpp
  nav2_behavior_tree/test/plugins/control/test_pipeline_sequence.cpp
  nav2_behavior_tree/test/plugins/control/test_recovery_node.cpp
  nav2_behavior_tree/test/plugins/control/test_round_robin_node.cpp
  nav2_docking/opennav_docking/include/opennav_docking/controller.hpp
  nav2_docking/opennav_docking/src/controller.cpp
  nav2_docking/opennav_docking_core/include/opennav_docking_core/docking_exceptions.hpp
  nav2_following/opennav_following/CMakeLists.txt
  nav2_following/opennav_following/include/opennav_following/following_server.hpp
  nav2_following/opennav_following/include/opennav_following/parameter_handler.hpp
  nav2_following/opennav_following/package.xml
  nav2_following/opennav_following/src/following_server.cpp
  nav2_following/opennav_following/src/main.cpp
  nav2_following/opennav_following/src/parameter_handler.cpp
  nav2_following/opennav_following/test/CMakeLists.txt
  nav2_following/opennav_following/test/test_following_server.py
  nav2_following/opennav_following/test/test_following_server_unit.cpp
  nav2_msgs/CMakeLists.txt
  nav2_msgs/action/FollowObject.action
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Fix 2/3 CI issues
  nav2_system_tests/src/error_codes/test_error_codes.py
  nav2_system_tests/src/system/nav_through_poses_tester_error_msg_node.py
Due: ament_flake8, ament_pep257

balancing CI including following
  .circleci/config.yml
Due: none

Add preemption fix
  nav2_core/include/nav2_core/behavior_tree_navigator.hpp
Due: ament_cpplint, ament_uncrustify

Wait for cancelation to be complete before shutting down action tests
  nav2_ros_common/test/test_actions.cpp
Due: ament_cpplint, ament_uncrustify

Fix CI issues introduced by new action server callback (#6350)
  nav2_core/include/nav2_core/behavior_tree_navigator.hpp
  nav2_ros_common/test/test_actions.cpp
  nav2_system_tests/src/error_codes/test_error_codes.py
  nav2_system_tests/src/system/nav_through_poses_tester_error_msg_node.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Revert "Update Lyrical CI to use testing repo for not currently released pack…"
  Dockerfile
Due: none

Revert "Update Lyrical CI to use testing repo for not currently released pack…" (#6352)
  Dockerfile
Due: none

Update nav2_controller/src/controller_server.cpp
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Rename updateTransformedPlanAndGoal to transformedPlanAndGoal for consistency and clarity
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/src/controller_server.cpp
  nav2_controller/test/test_controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Use portable multiplication overflow checks
  nav2_ros_common/include/nav2_ros_common/validate_messages.hpp
Due: ament_cpplint, ament_uncrustify

Refactor AxisGoalChecker to use goal pose for direction checks and update fallback message
  nav2_controller/plugins/axis_goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

Update lyrical readme table
  README.md
  tools/update_readme_table.py
Due: ament_flake8, ament_pep257

Adding updates for robustness of generator
  README.md
  tools/update_readme_table.py
Due: ament_flake8, ament_pep257

Update lyrical readme binaries table (#6353)
  README.md
  tools/update_readme_table.py
Due: ament_flake8, ament_pep257

fix lint
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
Due: ament_cpplint, ament_uncrustify

Update comment
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
Due: ament_cpplint, ament_uncrustify

update test to account for new behavior
  nav2_costmap_2d/test/unit/keepout_filter_test.cpp
Due: ament_cpplint, ament_uncrustify

Fix KeepoutFilter erasing unknown costmap cells
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
Due: ament_cpplint, ament_uncrustify

fix variable name + lint
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
Due: ament_cpplint, ament_uncrustify

Fixes null dock object access cases in dock database
  nav2_docking/opennav_docking/include/opennav_docking/docking_server.hpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_docking/opennav_docking/test/test_docking_server_unit.cpp
Due: ament_cpplint, ament_uncrustify

Update build status badges in README
  README.md
Due: none

Use portable atomic shared pointer operations (#6328)
  nav2_costmap_2d/include/nav2_costmap_2d/footprint_subscriber.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/layered_costmap.hpp
  nav2_costmap_2d/src/footprint_subscriber.cpp
  nav2_costmap_2d/src/layered_costmap.cpp
Due: ament_cpplint, ament_uncrustify

Support soft real-time thread priority on Windows
  nav2_ros_common/include/nav2_ros_common/node_utils.hpp
Due: ament_cpplint, ament_uncrustify

Add Pixi cross-platform CI
  .github/workflows/pixi_cross_platform.yml
  .gitignore
  .pre-commit-config.yaml
  pixi.lock
  pixi.toml
Due: none

Install nav2_ros_common test dependencies
  pixi.lock
  pixi.toml
Due: none

Build nav2_common from the workspace
  pixi.toml
Due: none

Use the Lyrical underlay for main
  pixi.lock
  pixi.toml
Due: none

Fix platform-specific test execution
  pixi.toml
Due: none

Link macOS tests to the environment Python
  pixi.toml
Due: none

Refactored changes for clarity of code and error messages
  nav2_docking/opennav_docking/src/docking_server.cpp
Due: ament_cpplint, ament_uncrustify

Fixes null dock object access cases in dock database (#6355)
  nav2_docking/opennav_docking/include/opennav_docking/docking_server.hpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_docking/opennav_docking/test/test_docking_server_unit.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
