Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Add search window to bringup
  nav2_bringup/params/nav2_params.yaml
Due: none

Update tests
  nav2_controller/plugins/test/path_handler.cpp
  nav2_graceful_controller/test/test_graceful_controller.cpp
  nav2_planner/test/test_plan_through_poses.cpp
  nav2_rotation_shim_controller/test/test_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

Add test
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

Lint
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

Revert static layer parameters
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
Due: ament_cpplint, ament_uncrustify

Reorder
  nav2_costmap_2d/src/costmap_2d_ros.cpp
Due: ament_cpplint, ament_uncrustify

Fix bt navigator feedback in looping path (#5864)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/decorator/path_longer_on_approach.hpp
  nav2_behavior_tree/plugins/decorator/path_longer_on_approach.cpp
  nav2_bringup/params/nav2_params.yaml
  nav2_bt_navigator/include/nav2_bt_navigator/navigators/navigate_through_poses.hpp
  nav2_bt_navigator/include/nav2_bt_navigator/navigators/navigate_to_pose.hpp
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
  nav2_controller/src/controller_server.cpp
  nav2_msgs/action/NavigateThroughPoses.action
  nav2_msgs/action/NavigateToPose.action
  nav2_rviz_plugins/src/nav2_panel.cpp
  nav2_simple_commander/nav2_simple_commander/example_nav_through_poses.py
  nav2_simple_commander/nav2_simple_commander/example_nav_to_pose.py
  nav2_util/include/nav2_util/path_utils.hpp
  nav2_util/src/path_utils.cpp
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

feat: add setCurrent method to Layer class and update current state handling in LayeredCostmap
  nav2_costmap_2d/include/nav2_costmap_2d/layer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/layered_costmap.hpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/src/layered_costmap.cpp
Due: ament_cpplint, ament_uncrustify

Increase timeout for test_planner_plugins
  nav2_system_tests/src/planning/CMakeLists.txt
Due: none

add publisher to publish calculated route nodes as path (#5859)
  nav2_route/include/nav2_route/route_server.hpp
  nav2_route/src/route_server.cpp
Due: ament_cpplint, ament_uncrustify

Nav2 AMCL: add random_seed param for deterministic replay; remove hidden time seeding in PF (#5856)
  nav2_amcl/README.md
  nav2_amcl/include/nav2_amcl/amcl_node.hpp
  nav2_amcl/include/nav2_amcl/pf/pf.hpp
  nav2_amcl/src/amcl_node.cpp
  nav2_amcl/src/pf/pf.c
  nav2_amcl/test/test_dynamic_parameters.cpp
  nav2_bringup/params/nav2_params.yaml
Due: ament_cpplint, ament_uncrustify

cleanup
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_route/src/route_server.cpp
  nav2_velocity_smoother/src/velocity_smoother.cpp
Due: ament_cpplint, ament_uncrustify

[Main] Optimize MPPI visualization to skip processing when no subscribers (#5851)
  nav2_mppi_controller/src/trajectory_visualizer.cpp
Due: ament_cpplint, ament_uncrustify

New Goal checker: AxisGoalChecker (#5746)
  nav2_controller/CMakeLists.txt
  nav2_controller/include/nav2_controller/plugins/axis_goal_checker.hpp
  nav2_controller/plugins.xml
  nav2_controller/plugins/axis_goal_checker.cpp
  nav2_controller/plugins/test/CMakeLists.txt
  nav2_controller/plugins/test/axis_goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

Add tracking feedback in FollowPath output port (#5854)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/follow_path_action.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/action/follow_path_action.cpp
  nav2_behavior_tree/test/plugins/action/test_follow_path_action.cpp
  nav2_bt_navigator/behavior_trees/follow_point.xml
  nav2_bt_navigator/behavior_trees/nav_to_pose_with_consistent_replanning_and_if_path_becomes_invalid.xml
  nav2_bt_navigator/behavior_trees/navigate_on_route_graph_w_recovery.xml
  nav2_bt_navigator/behavior_trees/navigate_through_poses_w_replanning_and_recovery.xml
  nav2_bt_navigator/behavior_trees/navigate_to_pose_w_replanning_and_recovery.xml
  nav2_bt_navigator/behavior_trees/navigate_to_pose_w_replanning_goal_patience_and_recovery.xml
  nav2_bt_navigator/behavior_trees/navigate_w_recovery_and_replanning_only_if_path_becomes_invalid.xml
  nav2_bt_navigator/behavior_trees/navigate_w_replanning_distance.xml
  nav2_bt_navigator/behavior_trees/navigate_w_replanning_only_if_goal_is_updated.xml
  nav2_bt_navigator/behavior_trees/navigate_w_replanning_only_if_path_becomes_invalid.xml
  nav2_bt_navigator/behavior_trees/navigate_w_replanning_speed.xml
  nav2_bt_navigator/behavior_trees/navigate_w_replanning_time.xml
  nav2_bt_navigator/behavior_trees/navigate_w_routing_global_planning_and_control_w_recovery.xml
Due: ament_cpplint, ament_uncrustify

Added IsGoalNearby BT node (#5843)
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_goal_nearby_condition.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/condition/is_goal_nearby_condition.cpp
  nav2_behavior_tree/test/plugins/condition/CMakeLists.txt
  nav2_behavior_tree/test/plugins/condition/test_is_goal_nearby.cpp
Due: ament_cpplint, ament_uncrustify

update nav2_route
  nav2_route/include/nav2_route/plugins/route_operation_client.hpp
  nav2_route/src/edge_scorer.cpp
  nav2_route/src/goal_intent_extractor.cpp
  nav2_route/src/graph_loader.cpp
  nav2_route/src/graph_saver.cpp
  nav2_route/src/operations_manager.cpp
  nav2_route/src/path_converter.cpp
  nav2_route/src/plugins/edge_cost_functions/costmap_scorer.cpp
  nav2_route/src/plugins/edge_cost_functions/distance_scorer.cpp
  nav2_route/src/plugins/edge_cost_functions/goal_orientation_scorer.cpp
  nav2_route/src/plugins/edge_cost_functions/penalty_scorer.cpp
  nav2_route/src/plugins/edge_cost_functions/semantic_scorer.cpp
  nav2_route/src/plugins/edge_cost_functions/start_pose_orientation_scorer.cpp
  nav2_route/src/plugins/edge_cost_functions/time_scorer.cpp
  nav2_route/src/plugins/route_operations/adjust_speed_limit.cpp
  nav2_route/src/plugins/route_operations/collision_monitor.cpp
  nav2_route/src/plugins/route_operations/time_marker.cpp
  nav2_route/src/route_planner.cpp
  nav2_route/src/route_server.cpp
  nav2_route/src/route_tracker.cpp
Due: ament_cpplint, ament_uncrustify

Fix: Support <include> tags in bt2img.py (#5831)
  tools/bt2img.py
Due: ament_flake8, ament_pep257

Fix MAX_NON_OBSTACLE_COST in theta star planner (#5865)
  nav2_theta_star_planner/README.md
  nav2_theta_star_planner/include/nav2_theta_star_planner/theta_star.hpp
Due: ament_cpplint, ament_uncrustify

style: standardize boolean values to lowercase in YAML files (#5853)
  nav2_bringup/params/nav2_params.yaml
  nav2_collision_monitor/params/collision_detector_params.yaml
  nav2_collision_monitor/params/collision_monitor_params.yaml
  nav2_collision_monitor/test/collision_monitor_node_bag.yaml
  nav2_docking/opennav_docking/test/docking_params.yaml
  nav2_map_server/params/vector_object_server_params.yaml
  nav2_system_tests/src/costmap_filters/keepout_params.yaml
  nav2_system_tests/src/costmap_filters/speed_global_params.yaml
  nav2_system_tests/src/costmap_filters/speed_local_params.yaml
  nav2_system_tests/src/error_codes/error_code_param.yaml
  nav2_system_tests/src/gps_navigation/nav2_no_map_params.yaml
  nav2_system_tests/src/system/nav2_system_params.yaml
Due: none

partial) for lifecycle node and velocitysmoother
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_velocity_smoother/src/velocity_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Smooth the timestamp of TwistStamped messages in velocity_smoother (#5861)
  nav2_velocity_smoother/README.md
  nav2_velocity_smoother/src/velocity_smoother.cpp
Due: ament_cpplint, ament_uncrustify

IsPathValid - Support layer_name and custom footprint (#5839)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_path_valid_condition.hpp
  nav2_behavior_tree/plugins/condition/is_path_valid_condition.cpp
  nav2_behavior_tree/test/plugins/condition/test_is_path_valid.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d_ros.hpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_msgs/srv/IsPathValid.srv
  nav2_planner/include/nav2_planner/is_path_valid_service.hpp
  nav2_planner/include/nav2_planner/planner_server.hpp
  nav2_planner/src/planner_server.cpp
  nav2_system_tests/src/planning/planner_tester.cpp
  nav2_system_tests/src/planning/planner_tester.hpp
  nav2_system_tests/src/planning/test_planner_is_path_valid.cpp
Due: ament_cpplint, ament_uncrustify

feat: add setCurrent method to Layer class and update current state handling in LayeredCostmap (#5862)
  nav2_costmap_2d/include/nav2_costmap_2d/layer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/layered_costmap.hpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/src/layered_costmap.cpp
Due: ament_cpplint, ament_uncrustify

pass params to lifecycle_manager nodes
  nav2_bringup/launch/keepout_zone_launch.py
  nav2_bringup/launch/localization_launch.py
  nav2_bringup/launch/navigation_launch.py
  nav2_bringup/launch/slam_launch.py
  nav2_bringup/launch/speed_zone_launch.py
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb4_loopback_simulation_launch.py
Due: ament_flake8, ament_pep257

:recycle: use max instead of infinity
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/dynamic_window_pure_pursuit_functions.hpp
Due: ament_cpplint, ament_uncrustify

Stop replanning when near the goal if path is valid
  nav2_bt_navigator/behavior_trees/navigate_through_poses_w_replanning_and_recovery.xml
  nav2_bt_navigator/behavior_trees/navigate_to_pose_w_replanning_and_recovery.xml
  nav2_bt_navigator/behavior_trees/navigate_to_pose_w_replanning_goal_patience_and_recovery.xml
Due: none

Fix wrong node_names
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb4_loopback_simulation_launch.py
Due: ament_flake8, ament_pep257

doc: add missing link to nova_carter_docking implementation (#5877)
  nav2_docking/README.md
Due: none

[mppi] publish u0 instead of u1
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

[mppi] apply savitskyGolayFilter before control constraints
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Added test for timeout
  nav2_util/test/test_robot_utils.cpp
Due: ament_cpplint, ament_uncrustify

fixed c++ context
  nav2_util/test/test_robot_utils.cpp
Due: ament_cpplint, ament_uncrustify

Improved the documentation
  nav2_util/include/nav2_util/robot_utils.hpp
Due: ament_cpplint, ament_uncrustify

refactor: revert trajectory_validator name style
  nav2_bringup/params/nav2_params.yaml
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
