Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

Add goal_received_callback to SimpleActionServer
  nav2_ros_common/include/nav2_ros_common/simple_action_server.hpp
Due: ament_cpplint, ament_uncrustify

Lint
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_ros_common/test/test_actions.cpp
Due: ament_cpplint, ament_uncrustify

Add missing declaration
  nav2_ros_common/include/nav2_ros_common/simple_action_server.hpp
Due: ament_cpplint, ament_uncrustify

Use const_cast in map server dirname fallback (#6275)
  nav2_map_server/src/map_io.cpp
Due: ament_cpplint, ament_uncrustify

Small A* performance improvement
  nav2_smac_planner/include/nav2_smac_planner/a_star_impl.hpp
Due: ament_cpplint, ament_uncrustify

[costmap_filters] ZoneParameterFilter: address review round 3
  nav2_costmap_2d/plugins/costmap_filters/zone_parameter_filter.cpp
  nav2_costmap_2d/test/unit/zone_parameter_filter_test.cpp
Due: ament_cpplint, ament_uncrustify

nav2_behavior_tree: notify service nodes of timeouts
  nav2_behavior_tree/include/nav2_behavior_tree/bt_service_node.hpp
Due: ament_cpplint, ament_uncrustify

Throw ControllerTFError when end pose cannot be transformed inside isGoalReached
  nav2_controller/src/controller_server.cpp
  nav2_controller/test/CMakeLists.txt
  nav2_controller/test/test_controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Optimize vector object rasterization and improve ROS 2 Humble compatibility
  nav2_map_server/CMakeLists.txt
  nav2_map_server/include/nav2_map_server/vector_object_shapes.hpp
  nav2_map_server/include/nav2_map_server/vector_object_utils.hpp
  nav2_map_server/src/vo_server/vector_object_server.cpp
  nav2_map_server/src/vo_server/vector_object_shapes.cpp
  nav2_map_server/test/unit/test_vector_object_server.cpp
  nav2_map_server/test/unit/test_vector_object_shapes.cpp
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_ros_common/include/nav2_ros_common/service_client.hpp
  nav2_ros_common/include/nav2_ros_common/service_server.hpp
Due: ament_cpplint, ament_uncrustify

Throw ControllerTFError when end pose cannot be transformed inside isGoalReached (#6285)
  nav2_controller/src/controller_server.cpp
  nav2_controller/test/CMakeLists.txt
  nav2_controller/test/test_controller_server.cpp
Due: ament_cpplint, ament_uncrustify

nav2_behavior_tree: notify service nodes of timeouts (#6284)
  nav2_behavior_tree/include/nav2_behavior_tree/bt_service_node.hpp
Due: ament_cpplint, ament_uncrustify

Use rclcpp::ServicesQoS with updated rclcpp API
  nav2_ros_common/include/nav2_ros_common/service_client.hpp
  nav2_ros_common/include/nav2_ros_common/service_server.hpp
Due: ament_cpplint, ament_uncrustify

Restore vector object utility header and required includes
  nav2_map_server/include/nav2_map_server/vector_object_server.hpp
  nav2_map_server/include/nav2_map_server/vector_object_shapes.hpp
  nav2_map_server/include/nav2_map_server/vector_object_utils.hpp
  nav2_map_server/test/unit/test_vector_object_shapes.cpp
Due: ament_cpplint, ament_uncrustify

modeToStr should be inline
  nav2_mppi_controller/include/nav2_mppi_controller/critics/path_angle_critic.hpp
Due: ament_cpplint, ament_uncrustify

fix: return directly with the state size mismatch instead of throwing exceptions
  nav2_docking/opennav_docking/src/simple_charging_dock.cpp
Due: ament_cpplint, ament_uncrustify

fix: fix compilation error by using atomic::load() for std::atomic<double> in RCLCPP_DEBUG
  nav2_behavior_tree/plugins/condition/is_stuck_condition.cpp
Due: ament_cpplint, ament_uncrustify

Fix Smac2D final pose to match reached goal (#6270)
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_2d_impl.hpp
Due: ament_cpplint, ament_uncrustify

Adding RL lifecycle node bringup
  nav2_system_tests/src/gps_navigation/dual_ekf_navsat.launch.py
Due: ament_flake8, ament_pep257

Add support for Jazzy
  nav2_system_tests/src/gps_navigation/dual_ekf_navsat.launch.py
Due: ament_flake8, ament_pep257

Update nav2_costmap_2d/plugins/costmap_filters/zone_parameter_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/zone_parameter_filter.cpp
Due: ament_cpplint, ament_uncrustify

navsat transform is not a lifecycle node
  nav2_system_tests/src/gps_navigation/dual_ekf_navsat.launch.py
Due: ament_flake8, ament_pep257

Unpin btcpp
  tools/underlay.kilted.repos
  tools/underlay.lyrical.repos
  tools/underlay.repos
Due: none

Remove kilted.repos
  tools/underlay.kilted.repos
Due: none

Update underlay.jazzy.repos
  tools/underlay.jazzy.repos
Due: none

[costmap_filters] ZoneParameterFilter: clarify comments + guard state/map divergence
  nav2_costmap_2d/plugins/costmap_filters/zone_parameter_filter.cpp
Due: ament_cpplint, ament_uncrustify

[costmap_filters] ZoneParameterFilter: tighten remaining comments + fix two inaccurate ones
  nav2_costmap_2d/plugins/costmap_filters/zone_parameter_filter.cpp
Due: ament_cpplint, ament_uncrustify

Remove bond timeout for non-Nav2 lifecycle node
  nav2_system_tests/src/gps_navigation/dual_ekf_navsat.launch.py
Due: ament_flake8, ament_pep257

Adding RL lifecycle node bringup for test_gps_waypoint_follower (#6290)
  nav2_system_tests/src/gps_navigation/dual_ekf_navsat.launch.py
Due: ament_flake8, ament_pep257

Unpin BT.CPP (#6291)
  tools/underlay.kilted.repos
  tools/underlay.lyrical.repos
  tools/underlay.repos
Due: none

Adding a temp lyrical build job to test things work now fine
  .github/workflows/build_lyrical.yml
Due: none

Add test runs
  .github/workflows/build_lyrical.yml
Due: none

use testing repo
  .github/workflows/build_lyrical.yml
Due: none
