Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Fixed last reachable index calculation
  nav2_planner/src/planner_server.cpp
  nav2_planner/test/test_plan_through_poses.cpp
Due: ament_cpplint, ament_uncrustify

Added placeholder value for last_reached_index field in remaining callbacks
  nav2_behavior_tree/plugins/action/compute_path_through_poses_action.cpp
Due: ament_cpplint, ament_uncrustify

Set default value for last_reached_index field
  nav2_msgs/action/ComputePathThroughPoses.action
Due: none

Update nav2_collision_monitor/src/costmap.cpp
  nav2_collision_monitor/src/costmap.cpp
Due: ament_cpplint, ament_uncrustify

Reverse format change
  nav2_collision_monitor/src/collision_monitor_node.cpp
Due: ament_cpplint, ament_uncrustify

Reverse format changes and comments
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_collision_monitor/src/costmap.cpp
  nav2_collision_monitor/test/bags/cm_moving_obstacle/fake_cm_bag_source.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Refactor in_range and count_stopped functions
  nav2_collision_monitor/src/costmap.cpp
  nav2_collision_monitor/test/collision_monitor_node_bag.cpp
Due: ament_cpplint, ament_uncrustify

Fix possible crash from nav2_rviz_plugins
  nav2_rviz_plugins/src/selector.cpp
  nav2_rviz_plugins/src/utils.cpp
Due: ament_cpplint, ament_uncrustify

Change service name`/fromLL` -> `fromLL`
  nav2_waypoint_follower/src/waypoint_follower.cpp
Due: ament_cpplint, ament_uncrustify

Fix possible crash from nav2_rviz_plugins (#5691)
  nav2_rviz_plugins/src/selector.cpp
  nav2_rviz_plugins/src/utils.cpp
Due: ament_cpplint, ament_uncrustify

Added description for ALL_GOALS enum
  nav2_msgs/action/ComputePathThroughPoses.action
Due: none

Added output port in ComputePathThroughPoses
  nav2_behavior_tree/nav2_tree_nodes.xml
Due: none

Add namespace for Rotation Shim primary controller for better dynamic parameters handling (#5654)
  nav2_rotation_shim_controller/CMakeLists.txt
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/nav2_rotation_shim_controller.hpp
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/parameter_handler.hpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
  nav2_rotation_shim_controller/src/parameter_handler.cpp
  nav2_rotation_shim_controller/test/test_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

Planner Server: Add support for planning partial paths when planning through poses (#5687)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_through_poses_action.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/action/compute_path_through_poses_action.cpp
  nav2_bringup/params/nav2_params.yaml
  nav2_msgs/action/ComputePathThroughPoses.action
  nav2_planner/include/nav2_planner/planner_server.hpp
  nav2_planner/src/planner_server.cpp
  nav2_planner/test/CMakeLists.txt
  nav2_planner/test/test_dynamic_parameters.cpp
  nav2_planner/test/test_plan_through_poses.cpp
Due: ament_cpplint, ament_uncrustify

added costmap source to collision detector and tests( for failure path and collision detector)
  nav2_collision_monitor/include/nav2_collision_monitor/collision_detector_node.hpp
  nav2_collision_monitor/params/collision_detector_params.yaml
  nav2_collision_monitor/params/collision_monitor_params.yaml
  nav2_collision_monitor/src/collision_detector_node.cpp
  nav2_collision_monitor/test/CMakeLists.txt
  nav2_collision_monitor/test/collision_detector_node_test.cpp
  nav2_collision_monitor/test/sources_test.cpp
Due: ament_cpplint, ament_uncrustify

Add Eigen in nav2_map_server
  nav2_costmap_2d/include/nav2_costmap_2d/plugin_container_layer.hpp
  nav2_map_server/CMakeLists.txt
  nav2_map_server/package.xml
  nav2_mppi_controller/package.xml
  nav2_smoother/package.xml
Due: ament_cpplint, ament_uncrustify

Add Eigen in nav2_map_server (#5695)
  nav2_costmap_2d/include/nav2_costmap_2d/plugin_container_layer.hpp
  nav2_map_server/CMakeLists.txt
  nav2_map_server/package.xml
  nav2_mppi_controller/package.xml
  nav2_smoother/package.xml
Due: ament_cpplint, ament_uncrustify

Use cell distance for obstacle marking max range
  nav2_costmap_2d/plugins/obstacle_layer.cpp
Due: ament_cpplint, ament_uncrustify

Don't raytrace clear the cell containing the current observation
  nav2_costmap_2d/plugins/obstacle_layer.cpp
Due: ament_cpplint, ament_uncrustify

Add tests for max marking and clearing ranges
  nav2_costmap_2d/test/unit/CMakeLists.txt
  nav2_costmap_2d/test/unit/obstacle_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

Use of THREAD_TIME_CONSTRAINT_POLICY in setSoftRealTimePriority()
  nav2_ros_common/include/nav2_ros_common/node_utils.hpp
Due: ament_cpplint, ament_uncrustify

Pre-commits: ament_uncrustify fixes
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_constrained_smoother/test/test_constrained_smoother.cpp
  nav2_mppi_controller/include/nav2_mppi_controller/tools/utils.hpp
  nav2_mppi_controller/test/parameter_handler_test.cpp
  nav2_navfn_planner/src/navfn.cpp
  nav2_ros_common/test/test_service_server.cpp
  nav2_smoother/src/savitzky_golay_smoother.cpp
  nav2_util/include/nav2_util/geometry_utils.hpp
Due: ament_cpplint, ament_uncrustify

fix configuration and test bugs
  nav2_collision_monitor/CMakeLists.txt
  nav2_collision_monitor/include/nav2_collision_monitor/costmap.hpp
  nav2_collision_monitor/launch/collision_detector_node.launch.py
  nav2_collision_monitor/launch/collision_monitor_node.launch.py
  nav2_collision_monitor/test/collision_detector_node_test.cpp
  nav2_collision_monitor/test/sources_test.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

No need to spam the logs
  nav2_costmap_2d/src/layered_costmap.cpp
Due: ament_cpplint, ament_uncrustify

Fix cpplint failures
  nav2_costmap_2d/test/unit/obstacle_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

fix bug
  nav2_dwb_controller/dwb_plugins/include/dwb_plugins/kinematic_parameters.hpp
  nav2_dwb_controller/dwb_plugins/src/kinematic_parameters.cpp
Due: ament_cpplint, ament_uncrustify

findPathFurthestReachedPoint
  nav2_mppi_controller/include/nav2_mppi_controller/tools/utils.hpp
Due: ament_cpplint, ament_uncrustify

No need to spam the logs (#5674)
  nav2_costmap_2d/src/layered_costmap.cpp
Due: ament_cpplint, ament_uncrustify

[Draft] CollisionMonitor: add CostmapSource + dataset-based bag test (#5642)
  nav2_collision_monitor/CMakeLists.txt
  nav2_collision_monitor/README.md
  nav2_collision_monitor/include/nav2_collision_monitor/collision_detector_node.hpp
  nav2_collision_monitor/include/nav2_collision_monitor/collision_monitor_node.hpp
  nav2_collision_monitor/include/nav2_collision_monitor/costmap.hpp
  nav2_collision_monitor/package.xml
  nav2_collision_monitor/params/collision_detector_params.yaml
  nav2_collision_monitor/params/collision_monitor_params.yaml
  nav2_collision_monitor/src/collision_detector_node.cpp
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_collision_monitor/src/costmap.cpp
  nav2_collision_monitor/test/CMakeLists.txt
  nav2_collision_monitor/test/bags/cm_moving_obstacle/_tmp_cm_bag_0.mcap.zstd
  nav2_collision_monitor/test/bags/cm_moving_obstacle/fake_cm_bag_source.py
  nav2_collision_monitor/test/bags/cm_moving_obstacle/metadata.yaml
  nav2_collision_monitor/test/collision_detector_node_test.cpp
  nav2_collision_monitor/test/collision_monitor_node_bag.cpp
  nav2_collision_monitor/test/collision_monitor_node_bag.launch.py
  nav2_collision_monitor/test/collision_monitor_node_bag.yaml
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
  nav2_collision_monitor/test/sources_test.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Implement nav2_add_test functions
  .circleci/config.yml
  nav2_common/cmake/nav2_package.cmake
  nav2_common/package.xml
Due: none

Split CI into 3 jobs
  .circleci/config.yml
Due: none

Conditionally call onLoop based on node status
  nav2_behavior_tree/src/behavior_tree_engine.cpp
Due: ament_cpplint, ament_uncrustify

Allow for no progress checkers to be configured
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Lint
  nav2_amcl/src/amcl_node.cpp
Due: ament_cpplint, ament_uncrustify

Split CI into 3 jobs (#5699)
  .circleci/config.yml
Due: none

remove min_covariance
  nav2_ros_common/include/nav2_ros_common/validate_messages.hpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
