Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

pose stamp workaround
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Feedback
  nav2_controller/include/nav2_controller/parameter_handler.hpp
  nav2_controller/plugins/simple_path_handler.cpp
  nav2_controller/src/controller_server.cpp
  nav2_controller/src/parameter_handler.cpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
  nav2_util/include/nav2_util/parameter_handler.hpp
  nav2_util/include/nav2_util/path_utils.hpp
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

Fix tests
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

Do not publish costmap unless active
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d_publisher.hpp
  nav2_costmap_2d/src/costmap_2d_publisher.cpp
Due: ament_cpplint, ament_uncrustify

Fix build issues for PredictiveInflationLayer
  nav2_costmap_2d/CMakeLists.txt
  nav2_costmap_2d/include/nav2_costmap_2d/predictive_inflation_layer.hpp
  nav2_costmap_2d/plugins/predictive_inflation_layer.cpp
  nav2_costmap_2d/test/unit/test_predictive_inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

Fix style
  nav2_costmap_2d/src/costmap_2d_publisher.cpp
Due: ament_cpplint, ament_uncrustify

Fix typo
  nav2_costmap_2d/src/costmap_2d_publisher.cpp
Due: ament_cpplint, ament_uncrustify

Backport RouteTool RViz plugin to Jazzy (#5663) (#5727)
  nav2_rviz_plugins/CMakeLists.txt
  nav2_rviz_plugins/include/nav2_rviz_plugins/route_tool.hpp
  nav2_rviz_plugins/launch/route_tool.launch.py
  nav2_rviz_plugins/package.xml
  nav2_rviz_plugins/plugins_description.xml
  nav2_rviz_plugins/resource/route_tool.ui
  nav2_rviz_plugins/rviz/route_tool.rviz
  nav2_rviz_plugins/src/route_tool.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Removed using nav2::declare_parameter_if_not_declared from parameter_handler.cpp (#5730)
  nav2_graceful_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

Fix heap-use-after-free race condition in dwb_plugins::KinematicsHandler (#5707)
  nav2_dwb_controller/dwb_plugins/include/dwb_plugins/kinematic_parameters.hpp
  nav2_dwb_controller/dwb_plugins/src/kinematic_parameters.cpp
Due: ament_cpplint, ament_uncrustify

fix bug UAF (#5720)
  nav2_dwb_controller/dwb_plugins/include/dwb_plugins/kinematic_parameters.hpp
  nav2_dwb_controller/dwb_plugins/src/kinematic_parameters.cpp
  nav2_dwb_controller/dwb_plugins/test/kinematic_parameters_test.cpp
Due: ament_cpplint, ament_uncrustify

rename param to goal_tolerance
  nav2_controller/include/nav2_controller/plugins/axis_goal_checker.hpp
  nav2_controller/plugins/axis_goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

format
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Apache License
  nav2_controller/include/nav2_controller/plugins/axis_goal_checker.hpp
  nav2_controller/plugins/axis_goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

Rename
  nav2_behavior_tree/test/plugins/action/test_path_handler_selector_node.cpp
  nav2_bringup/params/nav2_params.yaml
  nav2_controller/CMakeLists.txt
  nav2_controller/include/nav2_controller/parameter_handler.hpp
  nav2_controller/include/nav2_controller/plugins/feasible_path_handler.hpp
  nav2_controller/plugins.xml
  nav2_controller/plugins/feasible_path_handler.cpp
  nav2_controller/plugins/test/CMakeLists.txt
  nav2_controller/plugins/test/path_handler.cpp
  nav2_controller/src/parameter_handler.cpp
  nav2_core/README.md
  nav2_graceful_controller/test/CMakeLists.txt
  nav2_graceful_controller/test/test_graceful_controller.cpp
  nav2_rotation_shim_controller/test/CMakeLists.txt
  nav2_rotation_shim_controller/test/test_shim_controller.cpp
  nav2_system_tests/src/costmap_filters/keepout_params.yaml
  nav2_system_tests/src/costmap_filters/speed_global_params.yaml
  nav2_system_tests/src/costmap_filters/speed_local_params.yaml
  nav2_system_tests/src/error_codes/error_code_param.yaml
  nav2_system_tests/src/gps_navigation/nav2_no_map_params.yaml
  nav2_system_tests/src/system/nav2_system_params.yaml
Due: ament_cpplint, ament_uncrustify

Lint
  nav2_controller/include/nav2_controller/parameter_handler.hpp
  nav2_controller/include/nav2_controller/plugins/feasible_path_handler.hpp
Due: ament_cpplint, ament_uncrustify

fix bug FPE (#5734)
  nav2_amcl/src/amcl_node.cpp
Due: ament_cpplint, ament_uncrustify

Remove qt5 in package xml
  nav2_rviz_plugins/package.xml
Due: none

Fix: removing temporary default in template function argument
  nav2_route/include/nav2_route/route_server.hpp
  nav2_route/src/route_server.cpp
Due: ament_cpplint, ament_uncrustify

Add BT.CPP and RViz to the underlay to resolve CI and Docker image issues (#5750)
  nav2_rviz_plugins/package.xml
  tools/underlay.repos
Due: none

remove return
  nav2_costmap_2d/src/layered_costmap.cpp
Due: ament_cpplint, ament_uncrustify

add return
  nav2_costmap_2d/src/layered_costmap.cpp
Due: ament_cpplint, ament_uncrustify

temporary fix bug null pointer
  nav2_costmap_2d/src/costmap_layer.cpp
  nav2_costmap_2d/src/layered_costmap.cpp
Due: ament_cpplint, ament_uncrustify

fix bug heap-buffer-overflow
  nav2_costmap_2d/include/nav2_costmap_2d/obstacle_layer.hpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/src/costmap_2d.cpp
Due: ament_cpplint, ament_uncrustify

fix bug heap-buffer-overflow
  nav2_costmap_2d/src/costmap_2d.cpp
Due: ament_cpplint, ament_uncrustify

Install ros-gz before building rviz
  Dockerfile
Due: none

temporary fix bug null pointer (#5749)
  nav2_costmap_2d/src/costmap_layer.cpp
  nav2_costmap_2d/src/layered_costmap.cpp
Due: ament_cpplint, ament_uncrustify

temporary fix bug null pointer (#5733)
  nav2_costmap_2d/src/costmap_layer.cpp
  nav2_costmap_2d/src/layered_costmap.cpp
Due: ament_cpplint, ament_uncrustify

fix bug heap-buffer-overflow (#5735)
  nav2_costmap_2d/include/nav2_costmap_2d/obstacle_layer.hpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
Due: ament_cpplint, ament_uncrustify

Update keys
  .circleci/config.yml
Due: none

Remove redundant status check in BT Nodes and Fix notes
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/distance_traveled_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/goal_reached_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/goal_updated_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_battery_charging_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_battery_low_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/time_expired_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/transform_available_condition.hpp
  nav2_behavior_tree/plugins/condition/distance_traveled_condition.cpp
  nav2_behavior_tree/plugins/condition/time_expired_condition.cpp
  nav2_behavior_tree/plugins/decorator/rate_controller.cpp
Due: ament_cpplint, ament_uncrustify

fix casting, formatting
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/test/unit/obstacle_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

check origin is in map, update CMakeLists
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/test/unit/CMakeLists.txt
Due: ament_cpplint, ament_uncrustify

Reset basic_navigator feedback when starting a new action (#5739)
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

Install ros-gz before building rviz (#5752)
  .circleci/config.yml
  Dockerfile
Due: none

Remove redundant status check in BT Nodes and Fix notes (#5753)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/distance_traveled_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/goal_reached_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/goal_updated_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_battery_charging_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_battery_low_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/time_expired_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/transform_available_condition.hpp
  nav2_behavior_tree/plugins/condition/distance_traveled_condition.cpp
  nav2_behavior_tree/plugins/condition/time_expired_condition.cpp
  nav2_behavior_tree/plugins/decorator/rate_controller.cpp
Due: ament_cpplint, ament_uncrustify

Reset basic_navigator feedback when starting a new action (#5739) (#5756)
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257
