Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

Limit laser likelihood validation to negative values
  nav2_amcl/src/amcl_node.cpp
  nav2_system_tests/src/localization/test_localization_node.cpp
Due: ament_cpplint, ament_uncrustify

Add test for valid laser likelihood parameter update
  nav2_system_tests/src/localization/test_localization_node.cpp
Due: ament_cpplint, ament_uncrustify

Removing unrelated keepout filter state fixes
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
  nav2_costmap_2d/test/unit/keepout_filter_test.cpp
  nav2_docking/opennav_docking/src/simple_charging_dock.cpp
  nav2_docking/opennav_docking/src/simple_non_charging_dock.cpp
Due: ament_cpplint, ament_uncrustify

Fixing bad test expectations
  nav2_costmap_2d/test/integration/asymmetric_inflation_tests.cpp
Due: ament_cpplint, ament_uncrustify

Fixing exception type on lookup failure in docking server, handling targets in frames different from fixed_frame
  nav2_docking/opennav_docking/include/opennav_docking/docking_server.hpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_docking/opennav_docking/test/test_docking_server_unit.cpp
Due: ament_cpplint, ament_uncrustify

Using a dedicated DockingTfError exception
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_docking/opennav_docking/test/test_docking_server_unit.cpp
  nav2_docking/opennav_docking_core/include/opennav_docking_core/docking_exceptions.hpp
  nav2_following/opennav_following/src/following_server.cpp
  nav2_following/opennav_following/test/test_following_server_unit.cpp
Due: ament_cpplint, ament_uncrustify

Setting static layer to not current if tf staleness check fails
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/test/unit/static_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

Update nav2_following/opennav_following/src/following_server.cpp comment
  nav2_following/opennav_following/src/following_server.cpp
Due: ament_cpplint, ament_uncrustify

Renaming local staleness thresh variable
  nav2_docking/opennav_docking/src/parameter_handler.cpp
  nav2_following/opennav_following/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

Using a clock object for time lookups in behavior tree plugins
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/get_current_pose_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/remove_passed_goals_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/truncate_path_local_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/distance_traveled_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/goal_reached_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_goal_nearby_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/decorator/distance_controller.hpp
  nav2_behavior_tree/plugins/action/get_current_pose_action.cpp
  nav2_behavior_tree/plugins/action/remove_passed_goals_action.cpp
  nav2_behavior_tree/plugins/action/truncate_path_local_action.cpp
  nav2_behavior_tree/plugins/condition/distance_traveled_condition.cpp
  nav2_behavior_tree/plugins/condition/goal_reached_condition.cpp
  nav2_behavior_tree/plugins/condition/is_goal_nearby_condition.cpp
  nav2_behavior_tree/plugins/decorator/distance_controller.cpp
Due: ament_cpplint, ament_uncrustify

Fixint tests for vector object shapes, using clck instead of node for time lookup
  nav2_map_server/include/nav2_map_server/vector_object_shapes.hpp
  nav2_map_server/src/vo_server/vector_object_shapes.cpp
  nav2_map_server/test/unit/test_vector_object_shapes.cpp
Due: ament_cpplint, ament_uncrustify

Adding staleness check for footprint subscriber and clear costmap on pose
  nav2_bringup/params/nav2_params.yaml
  nav2_costmap_2d/include/nav2_costmap_2d/clear_costmap_service.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/footprint_subscriber.hpp
  nav2_costmap_2d/src/clear_costmap_service.cpp
  nav2_costmap_2d/src/footprint_subscriber.cpp
  nav2_util/include/nav2_util/robot_utils.hpp
  nav2_util/src/robot_utils.cpp
  nav2_util/test/test_robot_utils.cpp
Due: ament_cpplint, ament_uncrustify

Adding transform_ prefix to staleness_threshold var in docking and following server
  nav2_docking/opennav_docking/include/opennav_docking/parameter_handler.hpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_following/opennav_following/include/opennav_following/parameter_handler.hpp
  nav2_following/opennav_following/src/following_server.cpp
Due: ament_cpplint, ament_uncrustify

Narrow rclcpp/rclcpp.hpp includes in nav2_ros_common
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_ros_common/include/nav2_ros_common/node_thread.hpp
  nav2_ros_common/include/nav2_ros_common/node_utils.hpp
  nav2_ros_common/include/nav2_ros_common/qos_profiles.hpp
  nav2_ros_common/include/nav2_ros_common/service_client.hpp
  nav2_ros_common/include/nav2_ros_common/service_server.hpp
  nav2_ros_common/include/nav2_ros_common/simple_action_server.hpp
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
  nav2_ros_common/include/nav2_ros_common/tf2_factories.hpp
  nav2_ros_common/package.xml
  nav2_ros_common/test/test_lifecycle_node.cpp
  nav2_ros_common/test/test_node_utils.cpp
  nav2_ros_common/test/test_service_client.cpp
  nav2_ros_common/test/test_service_server.cpp
Due: ament_cpplint, ament_uncrustify

nav2_mppi_controller: link Eigen3 per-target instead of global include_directories
  nav2_mppi_controller/CMakeLists.txt
Due: none

Remove unused direct dependencies found while auditing the narrowing
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/package.xml
  nav2_lifecycle_manager/CMakeLists.txt
  nav2_mppi_controller/CMakeLists.txt
  nav2_mppi_controller/package.xml
  nav2_navfn_planner/CMakeLists.txt
  nav2_system_tests/src/behaviors/wait/CMakeLists.txt
  nav2_util/src/CMakeLists.txt
Due: none

Remove deprecated ament_export_libraries/include_directories calls
  nav2_amcl/CMakeLists.txt
  nav2_behavior_tree/CMakeLists.txt
  nav2_behaviors/CMakeLists.txt
  nav2_bt_navigator/CMakeLists.txt
  nav2_collision_monitor/CMakeLists.txt
  nav2_constrained_smoother/CMakeLists.txt
  nav2_controller/CMakeLists.txt
  nav2_core/CMakeLists.txt
  nav2_costmap_2d/CMakeLists.txt
  nav2_docking/opennav_docking/CMakeLists.txt
  nav2_docking/opennav_docking/test/CMakeLists.txt
  nav2_docking/opennav_docking_bt/CMakeLists.txt
  nav2_docking/opennav_docking_core/CMakeLists.txt
  nav2_dwb_controller/costmap_queue/CMakeLists.txt
  nav2_dwb_controller/dwb_core/CMakeLists.txt
  nav2_dwb_controller/dwb_critics/CMakeLists.txt
  nav2_dwb_controller/dwb_plugins/CMakeLists.txt
  nav2_dwb_controller/nav_2d_utils/CMakeLists.txt
  nav2_following/opennav_following/CMakeLists.txt
  nav2_graceful_controller/CMakeLists.txt
  nav2_lifecycle_manager/CMakeLists.txt
  nav2_loopback_sim/CMakeLists.txt
  nav2_map_server/CMakeLists.txt
  nav2_mppi_controller/CMakeLists.txt
  nav2_navfn_planner/CMakeLists.txt
  nav2_planner/CMakeLists.txt
  nav2_regulated_pure_pursuit_controller/CMakeLists.txt
  nav2_ros_common/CMakeLists.txt
  nav2_rotation_shim_controller/CMakeLists.txt
  nav2_route/CMakeLists.txt
  nav2_rviz_plugins/CMakeLists.txt
  nav2_smac_planner/CMakeLists.txt
  nav2_smoother/CMakeLists.txt
  nav2_theta_star_planner/CMakeLists.txt
  nav2_util/CMakeLists.txt
  nav2_velocity_smoother/CMakeLists.txt
  nav2_voxel_grid/CMakeLists.txt
  nav2_waypoint_follower/CMakeLists.txt
Due: none

Self review
  nav2_loopback_sim/CMakeLists.txt
  nav2_velocity_smoother/CMakeLists.txt
Due: none

nav2_ros_common: restore tf2/tf2_ros/tf2_geometry_msgs package.xml deps
  nav2_ros_common/package.xml
Due: none

Add semgrep rule to prevent rclcpp/rclcpp.hpp from being reintroduced
  .semgrep.yml
Due: none

Remove ament_mypy test dependency
  nav2_bringup/package.xml
  nav2_common/package.xml
  nav2_simple_commander/package.xml
Due: none

Test adding rclcpp/rclcpp.hpp and see if semgrep catches it
  nav2_loopback_sim/src/clock_publisher.cpp
Due: ament_cpplint, ament_uncrustify

Revert "Test adding rclcpp/rclcpp.hpp and see if semgrep catches it"
  nav2_loopback_sim/src/clock_publisher.cpp
Due: ament_cpplint, ament_uncrustify

Lint
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/control/pause_resume_controller.hpp
  nav2_loopback_sim/src/clock_publisher.cpp
Due: ament_cpplint, ament_uncrustify

Apply suggestions
  nav2_map_server/src/map_io.cpp
Due: ament_cpplint, ament_uncrustify

Adding subtree for backup with reset and action to log messages from the BT
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/log_action.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/action/log_action.cpp
  nav2_bringup/params/nav2_params.yaml
  nav2_bt_navigator/behavior_trees/navigate_to_pose_w_replanning_and_recovery.xml
  nav2_bt_navigator/behavior_trees/subtrees/backup_with_reset.xml
  nav2_core/include/nav2_core/behavior_tree_navigator.hpp
Due: ament_cpplint, ament_uncrustify

rosdep depenedency fixed for polyclipping
  nav2_pose_classifiers/package.xml
Due: none

Color for visualisation sorted
  nav2_path_classifier/include/nav2_path_classifier/path_classifier_server.hpp
  nav2_path_classifier/src/path_classifier_server.cpp
Due: ament_cpplint, ament_uncrustify

Fixed Comment: Clear the Output Ports in on_XYZ functions
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/classify_path_action.hpp
  nav2_behavior_tree/plugins/action/classify_path_action.cpp
Due: ament_cpplint, ament_uncrustify

Added Pose Classifiers and Path Splitter
  nav2_msgs/CMakeLists.txt
  nav2_msgs/action/ComputePathToPose.action
  nav2_msgs/msg/ClassifiedPath.msg
  nav2_msgs/msg/ClassifiedPathArray.msg
  nav2_msgs/msg/ClassifiedPose.msg
  nav2_msgs/msg/PathClasses.msg
  nav2_planner/include/nav2_planner/path_splitter.hpp
  nav2_planner/include/nav2_planner/planner_server.hpp
  nav2_planner/include/nav2_planner/pose_classifier.hpp
  nav2_planner/src/path_splitter.cpp
  nav2_planner/src/planner_server.cpp
  nav2_planner/src/pose_classifier.cpp
  nav2_planner/test/CMakeLists.txt
  nav2_planner/test/test_path_splitter_helpers.cpp
  nav2_pose_classifiers/CMakeLists.txt
  nav2_pose_classifiers/include/nav2_pose_classifiers/classifier_base.hpp
  nav2_pose_classifiers/include/nav2_pose_classifiers/constraint_classifier.hpp
  nav2_pose_classifiers/package.xml
  nav2_pose_classifiers/pose_classifier_plugin.xml
  nav2_pose_classifiers/src/constraint_classifier.cpp
  nav2_pose_classifiers/test/CMakeLists.txt
  nav2_pose_classifiers/test/test_constraint_classifier_helpers.cpp
Due: ament_cpplint, ament_uncrustify

Removed the default bt param included before by mistake
  nav2_bringup/params/nav2_params.yaml
Due: none

Constraint Classifier Added in default params
  nav2_bringup/params/nav2_params.yaml
Due: none

Comment Fixed: Unfriended Tests :(
  nav2_path_classifier/include/nav2_path_classifier/classifiers/confined_space_classifier.hpp
  nav2_path_classifier/include/nav2_path_classifier/path_splitter.hpp
  nav2_path_classifier/test/test_confined_space_classifier_helpers.cpp
  nav2_path_classifier/test/test_path_splitter_helpers.cpp
Due: ament_cpplint, ament_uncrustify

Ported as a Separate Path Classifier Server
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/classify_path_action.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/action/classify_path_action.cpp
  nav2_bringup/launch/navigation_launch.py
  nav2_bringup/params/nav2_multirobot_params_1.yaml
  nav2_bringup/params/nav2_multirobot_params_2.yaml
  nav2_bringup/params/nav2_multirobot_params_all.yaml
  nav2_bringup/params/nav2_params.yaml
  nav2_bt_navigator/behavior_trees/navigate_to_pose_w_replanning_classify_and_recovery.xml
  nav2_bt_navigator/src/bt_navigator.cpp
  nav2_msgs/CMakeLists.txt
  nav2_msgs/action/ClassifyPath.action
  nav2_msgs/action/ComputePathToPose.action
  nav2_msgs/msg/ClassifiedPath.msg
  nav2_msgs/msg/ClassifiedPose.msg
  nav2_msgs/msg/PathClasses.msg
  nav2_path_classifier/CMakeLists.txt
  nav2_path_classifier/include/nav2_path_classifier/path_classifier_server.hpp
  nav2_path_classifier/include/nav2_path_classifier/path_splitter.hpp
  nav2_path_classifier/include/nav2_path_classifier/pose_classifier.hpp
  nav2_path_classifier/package.xml
  nav2_path_classifier/src/main.cpp
  nav2_path_classifier/src/path_classifier_server.cpp
  nav2_path_classifier/src/path_splitter.cpp
  nav2_path_classifier/src/pose_classifier.cpp
  nav2_path_classifier/test/CMakeLists.txt
  nav2_path_classifier/test/test_path_splitter_helpers.cpp
  nav2_planner/include/nav2_planner/planner_server.hpp
  nav2_planner/package.xml
  nav2_planner/src/planner_server.cpp
  nav2_planner/test/CMakeLists.txt
  nav2_pose_classifiers/include/nav2_pose_classifiers/classifier_base.hpp
  nav2_pose_classifiers/include/nav2_pose_classifiers/constraint_classifier.hpp
  nav2_pose_classifiers/src/constraint_classifier.cpp
  nav2_system_tests/src/behavior_tree/test_behavior_tree_node.cpp
  nav2_system_tests/src/costmap_filters/keepout_params.yaml
  nav2_system_tests/src/costmap_filters/speed_global_params.yaml
  nav2_system_tests/src/costmap_filters/speed_local_params.yaml
  navigation2/package.xml
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Folded pose_classifier.cpp methods to main path_classifier_server
  nav2_path_classifier/CMakeLists.txt
  nav2_path_classifier/include/nav2_path_classifier/path_classifier_server.hpp
  nav2_path_classifier/include/nav2_path_classifier/path_splitter.hpp
  nav2_path_classifier/include/nav2_path_classifier/pose_classifier.hpp
  nav2_path_classifier/src/path_classifier_server.cpp
  nav2_path_classifier/src/path_splitter.cpp
  nav2_path_classifier/src/pose_classifier.cpp
  nav2_path_classifier/test/test_path_splitter_helpers.cpp
Due: ament_cpplint, ament_uncrustify

Generalised Visualisation for Multi Class IDs
  nav2_planner/include/nav2_planner/planner_server.hpp
  nav2_planner/src/planner_server.cpp
Due: ament_cpplint, ament_uncrustify

Renamed the PoseClassifier as CONFINED_SPACE
  nav2_bringup/params/nav2_params.yaml
  nav2_msgs/msg/ClassifiedPath.msg
  nav2_path_classifier/CMakeLists.txt
  nav2_path_classifier/include/nav2_path_classifier/classifiers/confined_space_classifier.hpp
  nav2_path_classifier/include/nav2_path_classifier/pose_classifier.hpp
  nav2_path_classifier/plugins.xml
  nav2_path_classifier/src/classifiers/confined_space_classifier.cpp
  nav2_path_classifier/test/CMakeLists.txt
  nav2_path_classifier/test/test_confined_space_classifier_helpers.cpp
  nav2_system_tests/src/behavior_tree/server_handler.hpp
Due: ament_cpplint, ament_uncrustify

Fixed Comment: Fixed Doxygen for all methods, removed private and fixed AI comments
  nav2_path_classifier/include/nav2_path_classifier/path_classifier_server.hpp
  nav2_path_classifier/include/nav2_path_classifier/path_splitter.hpp
  nav2_path_classifier/include/nav2_path_classifier/pose_classifier.hpp
  nav2_path_classifier/src/path_splitter.cpp
  nav2_path_classifier/test/test_path_splitter_helpers.cpp
  nav2_pose_classifiers/include/nav2_pose_classifiers/classifier_base.hpp
  nav2_pose_classifiers/include/nav2_pose_classifiers/constraint_classifier.hpp
  nav2_pose_classifiers/src/constraint_classifier.cpp
  nav2_pose_classifiers/test/test_constraint_classifier_helpers.cpp
Due: ament_cpplint, ament_uncrustify
