Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Fix codespell check
  nav2_route/src/plugins/graph_file_loaders/osm_graph_file_loader.cpp
Due: ament_cpplint, ament_uncrustify

Backport #6253 to Jazzy (#6261)
  nav2_controller/src/controller_server.cpp
  nav2_system_tests/src/error_codes/test_error_codes.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Update nav2_controller/plugins/adaptive_tolerance_goal_checker.cpp
  nav2_controller/plugins/adaptive_tolerance_goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

Add hysteresis buffer for xy_goal_tolerance in GoalChecker (#6124)
  nav2_controller/include/nav2_controller/plugins/adaptive_tolerance_goal_checker.hpp
  nav2_controller/include/nav2_controller/plugins/position_goal_checker.hpp
  nav2_controller/include/nav2_controller/plugins/simple_goal_checker.hpp
  nav2_controller/plugins/adaptive_tolerance_goal_checker.cpp
  nav2_controller/plugins/position_goal_checker.cpp
  nav2_controller/plugins/simple_goal_checker.cpp
  nav2_controller/plugins/test/goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

Fix Zenoh cleanup in pose occupancy test
  nav2_behavior_tree/test/plugins/action/test_check_pose_occupancy_action.cpp
Due: ament_cpplint, ament_uncrustify

Change default RMW back to rmw_cyclonedds_cpp
  .circleci/config.yml
Due: none

Fix Zenoh test failures caused by late cleanup (#6241)
  nav2_behavior_tree/test/plugins/action/test_check_pose_occupancy_action.cpp
  nav2_behavior_tree/test/plugins/control/test_pause_resume_controller.cpp
  nav2_costmap_2d/test/unit/obstacle_layer_test.cpp
  nav2_following/opennav_following/test/test_following_server_unit.cpp
  nav2_loopback_sim/test/test_clock_publisher.cpp
  nav2_loopback_sim/test/test_loopback_simulator.cpp
  nav2_ros_common/test/test_lifecycle_node.cpp
  nav2_ros_common/test/test_service_client.cpp
  nav2_ros_common/test/test_service_server.cpp
  nav2_route/test/test_collision_operation.cpp
  nav2_route/test/test_corner_smoothing.cpp
  nav2_route/test/test_edge_scorers.cpp
  nav2_route/test/test_geojson_graph_file_loader.cpp
  nav2_route/test/test_geojson_graph_file_saver.cpp
  nav2_route/test/test_goal_intent_extractor.cpp
  nav2_route/test/test_goal_intent_search.cpp
  nav2_route/test/test_graph_loader.cpp
  nav2_route/test/test_graph_saver.cpp
  nav2_route/test/test_operations.cpp
  nav2_route/test/test_path_converter.cpp
  nav2_route/test/test_route_planner.cpp
  nav2_route/test/test_route_server.cpp
  nav2_route/test/test_route_tracker.cpp
  nav2_route/test/test_utils_and_types.cpp
Due: ament_cpplint, ament_uncrustify

Bump v49
  .circleci/config.yml
Due: none

Drop Kilted check
  .github/workflows/build_main_against_distros.yml
Due: none

Default to single threaded isolated executor
  nav2_bringup/launch/bringup_launch.py
Due: ament_flake8, ament_pep257

Change BehaviorTree.CPP repository details
  tools/underlay.repos
Due: none

Update underlay.repos
  tools/underlay.repos
Due: none

Update CircleCI config to use version 48
  .circleci/config.yml
Due: none

Update targets
  nav2_ros_common/CMakeLists.txt
Due: none

Update ament index cpp headers
  nav2_docking/opennav_docking/test/test_dock_database.cpp
  nav2_docking/opennav_docking/test/test_utils.cpp
  nav2_map_server/src/map_io.cpp
  nav2_ros_common/include/nav2_ros_common/node_utils.hpp
  nav2_route/test/test_geojson_graph_file_loader.cpp
  nav2_route/test/test_geojson_graph_file_saver.cpp
  nav2_route/test/test_route_server.cpp
  nav2_smac_planner/test/test_a_star.cpp
  nav2_smac_planner/test/test_nodelattice.cpp
  nav2_smoother/test/test_savitzky_golay_smoother.cpp
  nav2_system_tests/src/behavior_tree/test_behavior_tree_node.cpp
Due: ament_cpplint, ament_uncrustify

Update Dockerfile
  Dockerfile
Due: none

Unpin rviz version and update to Ubuntu Resolute for rolling (#6262)
  .circleci/config.yml
  Dockerfile
  tools/underlay.repos
Due: none

Add dependency for nav2_loopback_sim
  navigation2/package.xml
Due: none

Return early if poly is empty
  nav2_collision_monitor/src/polygon.cpp
Due: ament_cpplint, ament_uncrustify

Add dependency for nav2_loopback_sim (#6268)
  navigation2/package.xml
Due: none

fix(): fixed undefined behavior that would happen when transform would be uninitialized
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

updated parameters to be the same as in the docs.nav2.org page about the asymmetric inflation layer
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

use nav2 qos settings
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

fix: use default StandardTopicQoS
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

doc: added comment explaining why we can reuse parameter validation from parent class
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

updated license headers with my full name and authors who wrote the legacy_inflation_layer, of which I copied a lot of
  nav2_costmap_2d/include/nav2_costmap_2d/asymmetric_inflation_layer.hpp
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
  nav2_costmap_2d/test/integration/asymmetric_inflation_tests.cpp
  nav2_costmap_2d/test/unit/asymmetric_inflation_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

ported over to rolling
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_bringup/params/nav2_params.yaml
  nav2_costmap_2d/CMakeLists.txt
  nav2_costmap_2d/costmap_plugins.xml
  nav2_costmap_2d/include/nav2_costmap_2d/asymmetric_inflation_layer.hpp
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
  nav2_costmap_2d/test/integration/CMakeLists.txt
  nav2_costmap_2d/test/integration/asymmetric_inflation_tests.cpp
  nav2_costmap_2d/test/unit/CMakeLists.txt
  nav2_costmap_2d/test/unit/asymmetric_inflation_layer_test.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

fix: pointer address comparision
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

don't reinflate if same global path is received a second time
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

fix: changing the asymmetricity state set need_reinflation to true
  nav2_costmap_2d/include/nav2_costmap_2d/asymmetric_inflation_layer.hpp
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

fixed units bug that cancelled each other out in getEffectiveDistance() and computeCost()
  nav2_costmap_2d/include/nav2_costmap_2d/asymmetric_inflation_layer.hpp
Due: ament_cpplint, ament_uncrustify

improved efficiency of getObstacleSide
  nav2_costmap_2d/include/nav2_costmap_2d/asymmetric_inflation_layer.hpp
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
  nav2_costmap_2d/test/benchmark/CMakeLists.txt
  nav2_costmap_2d/test/benchmark/asymmetric_inflation_layer_benchmark.cpp
  nav2_costmap_2d/test/benchmark/asymmetric_inflation_overhead_benchmark.cpp
  nav2_costmap_2d/test/unit/asymmetric_inflation_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

fix: update transform at every iteration to mitigate drift of path_frame -> costmap_frame tf
  nav2_costmap_2d/include/nav2_costmap_2d/asymmetric_inflation_layer.hpp
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
  nav2_costmap_2d/test/integration/asymmetric_inflation_tests.cpp
Due: ament_cpplint, ament_uncrustify

replaced BFS expansion with DT from inflation layer
  nav2_costmap_2d/include/nav2_costmap_2d/asymmetric_inflation_layer.hpp
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
  nav2_costmap_2d/test/benchmark/asymmetric_layer_updatecosts_benchmark.cpp
  nav2_costmap_2d/test/unit/asymmetric_inflation_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

fix linting errors
  nav2_costmap_2d/include/nav2_costmap_2d/asymmetric_inflation_layer.hpp
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
  nav2_costmap_2d/test/unit/asymmetric_inflation_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

revert unintended changes to nav2_bringup
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_bringup/params/nav2_params.yaml
Due: ament_flake8, ament_pep257

please pre-commit
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

unnest if(use_asymmetry) statement
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

increased test coverage
  nav2_costmap_2d/test/integration/asymmetric_inflation_tests.cpp
  nav2_costmap_2d/test/unit/asymmetric_inflation_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

revert unintended change to inflation_layer.hpp
  nav2_costmap_2d/plugins/inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
