Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Update key
  .circleci/config.yml
Due: none

Change rviz log level
  nav2_bringup/launch/rviz_launch.py
  nav2_costmap_2d/plugins/costmap_filters/costmap_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Debug circleci
  nav2_common/cmake/nav2_package.cmake
Due: none

Add approach_velocity_scaling_dist to dynamic parameter callback
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

Revert key change, try adding cmake args
  .circleci/config.yml
  nav2_common/cmake/nav2_package.cmake
Due: none

Edit config
  .circleci/config.yml
Due: none

Update CMakeLists.txt
  nav2_common/cmake/nav2_package.cmake
Due: none

Update config
  .circleci/config.yml
Due: none

Try updating key
  .circleci/config.yml
Due: none

Default isolated
  .circleci/config.yml
Due: none

Fix collision monitor test
  nav2_collision_monitor/package.xml
  nav2_collision_monitor/test/CMakeLists.txt
  nav2_collision_monitor/test/test_collision_monitor_node_bag.py
Due: ament_flake8, ament_pep257

Change rviz log level (#5708)
  nav2_bringup/launch/rviz_launch.py
  nav2_costmap_2d/plugins/costmap_filters/costmap_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Conditionally call onLoop based on node status (#5700)
  nav2_behavior_tree/src/behavior_tree_engine.cpp
Due: ament_cpplint, ament_uncrustify

Backporting duplicate pose handling in Humble for Smac Planners
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
Due: ament_cpplint, ament_uncrustify

linting
  nav2_smac_planner/src/smac_planner_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Change Min Boundary
  nav2_ros_common/include/nav2_ros_common/validate_messages.hpp
Due: ament_cpplint, ament_uncrustify

Add timeout and directory back
  nav2_collision_monitor/test/CMakeLists.txt
Due: none

Switch back to cyclonedds
  .circleci/config.yml
Due: none

Change TEST
  nav2_ros_common/include/nav2_ros_common/validate_messages.hpp
  nav2_ros_common/test/test_validation_messages.cpp
Due: ament_cpplint, ament_uncrustify

Fixed bug that caused build failure
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

3
  nav2_amcl/src/amcl_node.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_subscriber.hpp
  nav2_costmap_2d/plugins/costmap_filters/binary_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/speed_filter.cpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/test/integration/test_costmap_2d_publisher.cpp
  nav2_map_server/src/map_saver/map_saver.cpp
Due: ament_cpplint, ament_uncrustify

Fix memory growth issue in isPoseOccupied
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_pose_occupied_condition.hpp
  nav2_behavior_tree/plugins/condition/is_path_valid_condition.cpp
  nav2_behavior_tree/plugins/condition/is_pose_occupied_condition.cpp
Due: ament_cpplint, ament_uncrustify

Backporting duplicate pose handling in Humble for Smac Planners (#5713)
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Fix: Add covariance magnitude (Issue #5611) (#5683)
  nav2_ros_common/include/nav2_ros_common/validate_messages.hpp
  nav2_ros_common/test/test_validation_messages.cpp
Due: ament_cpplint, ament_uncrustify

typo
  nav2_amcl/src/amcl_node.cpp
Due: ament_cpplint, ament_uncrustify

Latched map subscriber QoS depth 1 (#5665)
  nav2_amcl/src/amcl_node.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_subscriber.hpp
  nav2_costmap_2d/plugins/costmap_filters/binary_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/speed_filter.cpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/plugins/voxel_layer.cpp
  nav2_costmap_2d/test/integration/test_costmap_2d_publisher.cpp
  nav2_map_server/src/map_saver/map_saver.cpp
  nav2_map_server/test/component/test_map_saver_publisher.cpp
  nav2_map_server/test/map_saver_cli/CMakeLists.txt
  nav2_map_server/test/map_saver_cli/test_map_saver_cli.cpp
Due: ament_cpplint, ament_uncrustify

Refactor parameter handler (#5667)
  nav2_amcl/include/nav2_amcl/amcl_node.hpp
  nav2_amcl/src/amcl_node.cpp
  nav2_dwb_controller/dwb_plugins/include/dwb_plugins/kinematic_parameters.hpp
  nav2_dwb_controller/dwb_plugins/src/kinematic_parameters.cpp
  nav2_graceful_controller/include/nav2_graceful_controller/parameter_handler.hpp
  nav2_graceful_controller/src/graceful_controller.cpp
  nav2_graceful_controller/src/parameter_handler.cpp
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/parameter_handler.hpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_util/include/nav2_util/parameter_handler.hpp
  nav2_util/test/CMakeLists.txt
  nav2_util/test/test_parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

:adhesive_bandage: dwpp defalut option set to false
  nav2_regulated_pure_pursuit_controller/README.md
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

Use cell distance for obstacle marking max range
  nav2_costmap_2d/plugins/obstacle_layer.cpp
Due: ament_cpplint, ament_uncrustify

Add tests for max marking and clearing ranges
  nav2_costmap_2d/test/unit/CMakeLists.txt
  nav2_costmap_2d/test/unit/obstacle_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

Fix cpplint failures
  nav2_costmap_2d/test/unit/obstacle_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

Don't raytrace clear the cell containing the current observation
  nav2_costmap_2d/plugins/obstacle_layer.cpp
Due: ament_cpplint, ament_uncrustify

:adhesive_bandage: fix default values
  nav2_regulated_pure_pursuit_controller/README.md
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

Allow for no progress checkers to be configured (#5701)
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Verify InflationLayer extensibility with unit test
  nav2_costmap_2d/test/unit/CMakeLists.txt
  nav2_costmap_2d/test/unit/inflation_layer_extensibility_test.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
