Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Changes from review
  nav2_dwb_controller/dwb_critics/src/oscillation.cpp
  nav2_dwb_controller/dwb_critics/test/base_obstacle_test.cpp
  nav2_regulated_pure_pursuit_controller/src/collision_checker.cpp
  nav2_route/graphs/aws_graph.geojson
  nav2_route/graphs/sample_graph.geojson
Due: ament_cpplint, ament_uncrustify

Reverting graph file formatting changes from 5343
  nav2_route/graphs/aws_graph.geojson
Due: none

Reverting graph file formatting changes from 5343 (#5367)
  nav2_route/graphs/aws_graph.geojson
Due: none

fix: Add PushRosNamespace action to navigation launch file and update… (#5300)
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/keepout_zone_launch.py
  nav2_bringup/launch/localization_launch.py
  nav2_bringup/launch/navigation_launch.py
  nav2_bringup/launch/slam_launch.py
  nav2_bringup/launch/speed_zone_launch.py
Due: ament_flake8, ament_pep257

[DEX] make CM pointcloud min_height and max_height
  nav2_collision_monitor/include/nav2_collision_monitor/pointcloud.hpp
  nav2_collision_monitor/src/pointcloud.cpp
Due: ament_cpplint, ament_uncrustify

[DEX] fix CM dynamicParametersCallback override
  nav2_collision_monitor/src/pointcloud.cpp
Due: ament_cpplint, ament_uncrustify

adapt param validating style
  nav2_collision_monitor/src/pointcloud.cpp
Due: ament_cpplint, ament_uncrustify

Dynamic reconfigure CM pointcloud `min_height` and `max_height` (#5366)
  nav2_collision_monitor/include/nav2_collision_monitor/pointcloud.hpp
  nav2_collision_monitor/src/pointcloud.cpp
Due: ament_cpplint, ament_uncrustify

initial commit
  navigation2/package.xml
Due: none

added nav2_toolkit package
  nav2_toolkit/CMakeLists.txt
  nav2_toolkit/README.md
  nav2_toolkit/include/nav2_toolkit/base_footprint_publisher.hpp
  nav2_toolkit/include/nav2_toolkit/pose_saver_node.hpp
  nav2_toolkit/package.xml
  nav2_toolkit/src/base_footprint_publisher.cpp
  nav2_toolkit/src/pose_saver_main.cpp
  nav2_toolkit/src/pose_saver_node.cpp
  nav2_toolkit/test/test_base_footprint_publisher.cpp
  nav2_toolkit/test/test_pose_saver_node.cpp
Due: ament_cpplint, ament_uncrustify

modified nav2_bringup and params
  nav2_bringup/launch/nav2_toolkit_launch.py
  nav2_bringup/params/nav2_params.yaml
Due: ament_flake8, ament_pep257

relocated base_footprint_publisher
  nav2_util/include/nav2_util/geometry_utils.hpp
  nav2_util/src/CMakeLists.txt
  nav2_util/src/base_footprint_publisher.cpp
  nav2_util/src/base_footprint_publisher.hpp
  nav2_util/src/robot_utils.cpp
  nav2_util/test/test_base_footprint_publisher.cpp
Due: ament_cpplint, ament_uncrustify

fixing build errors
  nav2_toolkit/package.xml
Due: none

fixing build errors
  nav2_toolkit/CMakeLists.txt
  nav2_toolkit/include/nav2_toolkit/base_footprint_publisher.hpp
  nav2_toolkit/include/nav2_toolkit/pose_saver_node.hpp
  nav2_toolkit/package.xml
  nav2_toolkit/src/pose_saver_node.cpp
  nav2_toolkit/test/test_pose_saver_node.cpp
  nav2_util/src/CMakeLists.txt
  nav2_util/test/CMakeLists.txt
Due: ament_cpplint, ament_uncrustify

fix test
  nav2_costmap_2d/test/unit/binary_filter_test.cpp
Due: ament_cpplint, ament_uncrustify

linting fix
  nav2_costmap_2d/test/unit/binary_filter_test.cpp
Due: ament_cpplint, ament_uncrustify

fix test and comment
  nav2_costmap_2d/plugins/costmap_filters/binary_filter.cpp
  nav2_costmap_2d/test/unit/binary_filter_test.cpp
Due: ament_cpplint, ament_uncrustify

use binary_state rather than default state
  nav2_costmap_2d/plugins/costmap_filters/binary_filter.cpp
Due: ament_cpplint, ament_uncrustify

Add controller utils
  nav2_util/include/nav2_util/controller_utils.hpp
  nav2_util/src/CMakeLists.txt
  nav2_util/src/controller_utils.cpp
  nav2_util/test/CMakeLists.txt
  nav2_util/test/test_controller_utils.cpp
Due: ament_cpplint, ament_uncrustify

Fix linting issues
  nav2_util/src/controller_utils.cpp
  nav2_util/test/test_controller_utils.cpp
Due: ament_cpplint, ament_uncrustify

Update regulated pure pursuit
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

Update graceful controller
  nav2_graceful_controller/include/nav2_graceful_controller/graceful_controller.hpp
  nav2_graceful_controller/include/nav2_graceful_controller/parameter_handler.hpp
  nav2_graceful_controller/src/graceful_controller.cpp
  nav2_graceful_controller/src/parameter_handler.cpp
  nav2_graceful_controller/test/test_graceful_controller.cpp
Due: ament_cpplint, ament_uncrustify

CI test fixing for BT.CPP (paired with BehaviorTree.CPP/579) (#3605)
  nav2_behavior_tree/test/plugins/decorator/test_single_trigger_node.cpp
Due: ament_cpplint, ament_uncrustify

fixing last issue
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/navigate_through_poses_action.hpp
  nav2_mppi_controller/test/utils_test.cpp
Due: ament_cpplint, ament_uncrustify

fix devcontainer setup for humble
  .devcontainer/devcontainer.json
  Dockerfile
Due: none

reword Fixing linting Errors
  nav2_toolkit/CMakeLists.txt
  nav2_toolkit/README.md
  nav2_toolkit/package.xml
  nav2_toolkit/test/test_pose_saver_node.cpp
Due: ament_cpplint, ament_uncrustify

fixing linting errors
  nav2_bringup/launch/nav2_toolkit_launch.py
  nav2_toolkit/test/test_pose_saver_node.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Fixed Linting
  nav2_bringup/params/nav2_params.yaml
  nav2_toolkit/README.md
  nav2_toolkit/include/nav2_toolkit/pose_saver_node.hpp
  nav2_toolkit/package.xml
  nav2_toolkit/src/pose_saver_node.cpp
  nav2_toolkit/test/test_pose_saver_node.cpp
Due: ament_cpplint, ament_uncrustify

fixed nav2_utils error
  nav2_util/include/nav2_util/geometry_utils.hpp
Due: ament_cpplint, ament_uncrustify

Fixing lint Errors
  nav2_toolkit/test/test_pose_saver_node.cpp
  nav2_util/include/nav2_util/geometry_utils.hpp
Due: ament_cpplint, ament_uncrustify

fixed error in nav2_toolkit_launch.py
  nav2_bringup/launch/nav2_toolkit_launch.py
Due: ament_flake8, ament_pep257

Fixing Build Errors
  nav2_bringup/launch/nav2_toolkit_launch.py
Due: ament_flake8, ament_pep257

geometry utils
  nav2_util/include/nav2_util/geometry_utils.hpp
Due: ament_cpplint, ament_uncrustify

avoid transitive include of <vector>
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/navigate_through_poses_action.hpp
Due: ament_cpplint, ament_uncrustify

changed global_costmap_frame to global_frame
  nav2_route/include/nav2_route/goal_intent_extractor.hpp
  nav2_route/include/nav2_route/route_server.hpp
  nav2_route/src/goal_intent_extractor.cpp
  nav2_route/src/route_server.cpp
Due: ament_cpplint, ament_uncrustify

Humble backport fixes (#5371)
  .devcontainer/devcontainer.json
  Dockerfile
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/navigate_through_poses_action.hpp
  nav2_behavior_tree/test/plugins/decorator/test_single_trigger_node.cpp
  nav2_mppi_controller/test/utils_test.cpp
Due: ament_cpplint, ament_uncrustify

Option to Reduce Lethal to High-Cost Navigable To Get Out of Keepout Zones if Wandered In (#5187)
  nav2_bringup/params/nav2_params.yaml
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/keepout_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
