Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Update nav2_mppi_controller/src/critics/cost_critic.cpp
  nav2_mppi_controller/src/critics/cost_critic.cpp
Due: ament_cpplint, ament_uncrustify

Update nav2_smac_planner/include/nav2_smac_planner/utils.hpp
  nav2_smac_planner/include/nav2_smac_planner/utils.hpp
Due: ament_cpplint, ament_uncrustify

Readjust speed filter zones in depot and warehouse maps.
  nav2_bringup/maps/depot_speed.pgm
  nav2_bringup/maps/warehouse_speed.pgm
Due: none

Enable namespace support for speed limit topic.
  nav2_bringup/params/nav2_params.yaml
  nav2_costmap_2d/plugins/costmap_filters/speed_filter.cpp
Due: ament_cpplint, ament_uncrustify

Publish planned footprints after smoothing
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
Due: ament_cpplint, ament_uncrustify

added to use controller tolerance
  nav2_controller/include/nav2_controller/plugins/position_goal_checker.hpp
  nav2_controller/plugins/position_goal_checker.cpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

reset motion model (#5149)
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Show error if inflation radius is smaller than circumscribed radius (#5148)
  nav2_mppi_controller/src/critics/cost_critic.cpp
  nav2_smac_planner/include/nav2_smac_planner/utils.hpp
Due: ament_cpplint, ament_uncrustify

Abstract getCriticGoal in nav2_mppi critics
  nav2_mppi_controller/include/nav2_mppi_controller/tools/utils.hpp
  nav2_mppi_controller/src/critics/cost_critic.cpp
  nav2_mppi_controller/src/critics/goal_angle_critic.cpp
  nav2_mppi_controller/src/critics/goal_critic.cpp
  nav2_mppi_controller/src/critics/obstacles_critic.cpp
  nav2_mppi_controller/src/critics/path_align_critic.cpp
  nav2_mppi_controller/src/critics/path_angle_critic.cpp
  nav2_mppi_controller/src/critics/path_follow_critic.cpp
  nav2_mppi_controller/src/critics/prefer_forward_critic.cpp
  nav2_mppi_controller/src/critics/twirling_critic.cpp
  nav2_mppi_controller/test/utils_test.cpp
Due: ament_cpplint, ament_uncrustify

Fix whitespace issues
  nav2_mppi_controller/include/nav2_mppi_controller/tools/utils.hpp
  nav2_mppi_controller/src/critics/path_angle_critic.cpp
Due: ament_cpplint, ament_uncrustify

removed utils file, redundant checks
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/tools/utils.hpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

Changes:
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/cloned_multi_tb3_simulation_launch.py
  nav2_collision_monitor/launch/collision_detector_node.launch.py
  nav2_collision_monitor/launch/collision_monitor_node.launch.py
  nav2_collision_monitor/src/collision_detector_node.cpp
  nav2_common/nav2_common/launch/__init__.py
  nav2_common/nav2_common/launch/parse_multirobot_pose.py
  nav2_costmap_2d/CMakeLists.txt
  nav2_costmap_2d/test/integration/dyn_params_tests.cpp
  nav2_docking/opennav_docking/CMakeLists.txt
  nav2_docking/opennav_docking/test/test_docking_server.py
  nav2_map_server/CMakeLists.txt
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/parameter_handler.hpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_rviz_plugins/CMakeLists.txt
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
  nav2_system_tests/src/system/test_multi_robot_launch.py
  nav2_system_tests/src/system/test_system_with_obstacle_launch.py
  nav2_util/include/nav2_util/copy_all_parameter_values.hpp
  nav2_util/include/nav2_util/service_client.hpp
  nav2_util/include/nav2_util/service_server.hpp
  nav2_util/src/CMakeLists.txt
  nav2_util/test/CMakeLists.txt
  nav2_util/test/test_copy_all_parameter_values.cpp
  nav2_waypoint_follower/include/nav2_waypoint_follower/plugins/photo_at_waypoint.hpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Changes:
  nav2_costmap_2d/CMakeLists.txt
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/parameter_handler.hpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
  nav2_util/include/nav2_util/service_client.hpp
  nav2_util/include/nav2_util/service_server.hpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Changes:
  nav2_loopback_sim/nav2_loopback_sim/utils.py
Due: ament_flake8, ament_pep257

Changes:
  nav2_bringup/launch/cloned_multi_tb3_simulation_launch.py
  nav2_common/nav2_common/launch/__init__.py
Due: ament_flake8, ament_pep257

Fix for simulations to run with gazebo fortress
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
Due: ament_flake8, ament_pep257

Fix missing dep in mppi
  nav2_mppi_controller/package.xml
Due: none

Fix more launch issues
  nav2_bringup/launch/cloned_multi_tb3_simulation_launch.py
  nav2_bringup/launch/unique_multi_tb3_simulation_launch.py
Due: ament_flake8, ament_pep257

Fix most of the failing tests.
  nav2_bringup/launch/cloned_multi_tb3_simulation_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_bringup/launch/unique_multi_tb3_simulation_launch.py
  nav2_simple_commander/launch/assisted_teleop_example_launch.py
  nav2_simple_commander/launch/follow_path_example_launch.py
  nav2_simple_commander/launch/inspection_demo_launch.py
  nav2_simple_commander/launch/nav_through_poses_example_launch.py
  nav2_simple_commander/launch/nav_to_pose_example_launch.py
  nav2_simple_commander/launch/picking_demo_launch.py
  nav2_simple_commander/launch/recoveries_example_launch.py
  nav2_simple_commander/launch/security_demo_launch.py
  nav2_simple_commander/launch/waypoint_follower_example_launch.py
  nav2_simple_commander/nav2_simple_commander/utils.py
  nav2_system_tests/src/behaviors/assisted_teleop/test_assisted_teleop_behavior_launch.py
  nav2_system_tests/src/behaviors/backup/test_backup_behavior.launch.py
  nav2_system_tests/src/behaviors/drive_on_heading/test_drive_on_heading_behavior.launch.py
  nav2_system_tests/src/behaviors/spin/test_spin_behavior.launch.py
  nav2_system_tests/src/behaviors/wait/test_wait_behavior_launch.py
  nav2_system_tests/src/costmap_filters/test_keepout_launch.py
  nav2_system_tests/src/costmap_filters/test_speed_launch.py
  nav2_system_tests/src/gps_navigation/test_case_py.launch.py
  nav2_system_tests/src/localization/test_localization_launch.py
  nav2_system_tests/src/system/test_system_launch.py
  nav2_system_tests/src/system/test_system_with_obstacle_launch.py
  nav2_system_tests/src/system/test_wrong_init_pose_launch.py
  nav2_system_tests/src/system_failure/test_system_failure_launch.py
  nav2_system_tests/src/waypoint_follower/test_case_launch.py
Due: ament_flake8, ament_pep257

Configure CI
  .circleci/config.yml
  .devcontainer/devcontainer.json
  .github/workflows/update_ci_image.yaml
  Dockerfile
  tools/distro.Dockerfile
Due: none

Add underlay repos
  tools/underlay.repos
Due: none

Remove GPS tests and fix route server tests
  nav2_simple_commander/launch/route_example_launch.py
  nav2_system_tests/CMakeLists.txt
  nav2_system_tests/src/route/test_route_launch.py
Due: ament_flake8, ament_pep257

Remove ament_lint_auto related in all CMakeLists.txt
  nav2_amcl/CMakeLists.txt
  nav2_behavior_tree/CMakeLists.txt
  nav2_behaviors/CMakeLists.txt
  nav2_bringup/CMakeLists.txt
  nav2_bt_navigator/CMakeLists.txt
  nav2_collision_monitor/CMakeLists.txt
  nav2_constrained_smoother/CMakeLists.txt
  nav2_controller/CMakeLists.txt
  nav2_core/CMakeLists.txt
  nav2_costmap_2d/CMakeLists.txt
  nav2_docking/opennav_docking/CMakeLists.txt
  nav2_docking/opennav_docking_bt/CMakeLists.txt
  nav2_docking/opennav_docking_core/CMakeLists.txt
  nav2_dwb_controller/costmap_queue/CMakeLists.txt
  nav2_dwb_controller/dwb_core/CMakeLists.txt
  nav2_dwb_controller/dwb_critics/CMakeLists.txt
  nav2_dwb_controller/dwb_plugins/CMakeLists.txt
  nav2_dwb_controller/nav_2d_utils/CMakeLists.txt
  nav2_graceful_controller/CMakeLists.txt
  nav2_lifecycle_manager/CMakeLists.txt
  nav2_map_server/CMakeLists.txt
  nav2_mppi_controller/CMakeLists.txt
  nav2_navfn_planner/CMakeLists.txt
  nav2_planner/CMakeLists.txt
  nav2_regulated_pure_pursuit_controller/CMakeLists.txt
  nav2_rotation_shim_controller/CMakeLists.txt
  nav2_route/CMakeLists.txt
  nav2_rviz_plugins/CMakeLists.txt
  nav2_smac_planner/CMakeLists.txt
  nav2_smoother/CMakeLists.txt
  nav2_system_tests/CMakeLists.txt
  nav2_theta_star_planner/CMakeLists.txt
  nav2_util/CMakeLists.txt
  nav2_velocity_smoother/CMakeLists.txt
  nav2_voxel_grid/CMakeLists.txt
  nav2_waypoint_follower/CMakeLists.txt
Due: none

Delete lint.yml
  .github/workflows/lint.yml
Due: none

Change spin_all to spin_some
  nav2_behavior_tree/plugins/decorator/goal_updater_node.cpp
  nav2_route/include/nav2_route/plugins/route_operation_client.hpp
  nav2_route/test/test_graph_loader.cpp
  nav2_route/test/test_graph_saver.cpp
Due: ament_cpplint, ament_uncrustify

Fix route_result_future in robot_navigator.py
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

Reduced central speed zone in warehouse map.
  nav2_bringup/maps/warehouse_speed.pgm
Due: none

Update nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

added position goal checker plugin
  nav2_controller/include/nav2_controller/plugins/position_goal_checker.hpp
  nav2_controller/plugins.xml
  nav2_controller/plugins/position_goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

Add DynamicParameterPatterns to pose_pogress_checker plugin
  nav2_controller/include/nav2_controller/plugins/pose_progress_checker.hpp
  nav2_controller/plugins/pose_progress_checker.cpp
Due: ament_cpplint, ament_uncrustify

~ParameterHandler
  nav2_controller/plugins/pose_progress_checker.cpp
Due: ament_cpplint, ament_uncrustify

Refactoring type with param_type and name with param_name to get more consistency.
  nav2_controller/plugins/pose_progress_checker.cpp
  nav2_controller/plugins/simple_goal_checker.cpp
  nav2_controller/plugins/simple_progress_checker.cpp
  nav2_controller/plugins/stopped_goal_checker.cpp
  nav2_controller/src/controller_server.cpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_docking/opennav_docking/src/controller.cpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_dwb_controller/dwb_plugins/src/kinematic_parameters.cpp
  nav2_graceful_controller/src/parameter_handler.cpp
  nav2_navfn_planner/src/navfn_planner.cpp
  nav2_planner/src/planner_server.cpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
  nav2_smac_planner/src/smac_planner_2d.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_theta_star_planner/src/theta_star_planner.cpp
  nav2_velocity_smoother/src/velocity_smoother.cpp
  nav2_waypoint_follower/src/waypoint_follower.cpp
Due: ament_cpplint, ament_uncrustify

Check if plugin_name is part of param_name
  nav2_controller/plugins/pose_progress_checker.cpp
  nav2_controller/plugins/simple_progress_checker.cpp
  nav2_controller/plugins/stopped_goal_checker.cpp
  nav2_controller/src/controller_server.cpp
  nav2_dwb_controller/dwb_plugins/src/kinematic_parameters.cpp
  nav2_graceful_controller/src/parameter_handler.cpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

Check if param_name contains name_
  nav2_costmap_2d/plugins/inflation_layer.cpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/plugins/plugin_container_layer.cpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/plugins/voxel_layer.cpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_velocity_smoother/src/velocity_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Uncrustify
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_velocity_smoother/src/velocity_smoother.cpp
Due: ament_cpplint, ament_uncrustify

suppress rviz to warnings and above
  nav2_bringup/launch/rviz_launch.py
Due: ament_flake8, ament_pep257

Fix getCriticGoal test
  nav2_mppi_controller/test/utils_test.cpp
Due: ament_cpplint, ament_uncrustify

updated rotation shim to use position goal checker
  nav2_controller/CMakeLists.txt
  nav2_rotation_shim_controller/CMakeLists.txt
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/nav2_rotation_shim_controller.hpp
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/tools/utils.hpp
  nav2_rotation_shim_controller/package.xml
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

fixed lint
  nav2_controller/include/nav2_controller/plugins/position_goal_checker.hpp
  nav2_controller/plugins/position_goal_checker.cpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
