Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

revert pr commit
  nav2_controller/include/nav2_controller/plugins/pose_progress_checker.hpp
Due: ament_cpplint, ament_uncrustify

Adding a parameter warn_when_defaulting_parameters to control default parameter warnings instead of using a flag
  nav2_util/include/nav2_util/node_utils.hpp
  nav2_util/test/test_node_utils.cpp
Due: ament_cpplint, ament_uncrustify

Add warehouse routes for nav2 route server (#5160)
  nav2_bringup/graphs/depot_graph.geojson
  nav2_bringup/graphs/warehouse_graph.geojson
  nav2_bringup/launch/tb4_loopback_simulation_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_simple_commander/launch/route_example_launch.py
  nav2_simple_commander/nav2_simple_commander/example_route.py
  nav2_simple_commander/nav2_simple_commander/utils.py
Due: ament_flake8, ament_pep257

Update nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
Due: ament_cpplint, ament_uncrustify

Update keepout_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
Due: ament_cpplint, ament_uncrustify

Increase Readability of testing.
  nav2_mppi_controller/test/parameter_handler_test.cpp
Due: ament_cpplint, ament_uncrustify

Increase Readability of testing. (#5190)
  nav2_mppi_controller/test/parameter_handler_test.cpp
Due: ament_cpplint, ament_uncrustify

Use placeholders for costmap filters using the new value rewrite feature.
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/keepout_zone_launch.py
  nav2_bringup/launch/speed_zone_launch.py
  nav2_bringup/params/nav2_params.yaml
Due: ament_flake8, ament_pep257

Added context manager for safe file closing and prevent warnings.
  nav2_common/nav2_common/launch/rewritten_yaml.py
Due: ament_flake8, ament_pep257

Implement value_rewrites to ReWrittenYaml.
  .gitignore
  nav2_common/CMakeLists.txt
  nav2_common/nav2_common/launch/rewritten_yaml.py
  nav2_common/package.xml
  nav2_common/test/test_rewritten_yaml.py
Due: ament_flake8, ament_pep257

Enable system tests to use value rewrites.
  nav2_system_tests/src/behaviors/assisted_teleop/test_assisted_teleop_behavior_launch.py
  nav2_system_tests/src/behaviors/backup/test_backup_behavior.launch.py
  nav2_system_tests/src/behaviors/drive_on_heading/test_drive_on_heading_behavior.launch.py
  nav2_system_tests/src/behaviors/spin/test_spin_behavior.launch.py
  nav2_system_tests/src/behaviors/wait/test_wait_behavior_launch.py
  nav2_system_tests/src/route/test_route_launch.py
  nav2_system_tests/src/system_failure/test_system_failure_launch.py
  nav2_system_tests/src/waypoint_follower/test_case_launch.py
Due: ament_flake8, ament_pep257

Adding parameter strict_param_loading for optionally throwing an exception if parameter overrides are missing
  nav2_util/include/nav2_util/node_utils.hpp
  nav2_util/test/test_node_utils.cpp
Due: ament_cpplint, ament_uncrustify

fixing static layer update bounds with different frame
  nav2_costmap_2d/plugins/static_layer.cpp
Due: ament_cpplint, ament_uncrustify

fixing static layer update bounds with different fram
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/test/integration/inflation_tests.cpp
  nav2_costmap_2d/test/integration/obstacle_tests.cpp
  nav2_costmap_2d/test/integration/plugin_container_tests.cpp
  nav2_costmap_2d/test/unit/declare_parameter_test.cpp
Due: ament_cpplint, ament_uncrustify

Adding options to override the footprint subscription qos
  nav2_costmap_2d/src/costmap_2d_ros.cpp
Due: ament_cpplint, ament_uncrustify

Define remappings for costmap filters instead of inline substitution.
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/keepout_zone_launch.py
  nav2_bringup/launch/speed_zone_launch.py
Due: ament_flake8, ament_pep257

fixed bug
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/test/test_a_star.cpp
Due: ament_cpplint, ament_uncrustify

Add value rewrites to RewrittenYaml (#5191)
  .gitignore
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/keepout_zone_launch.py
  nav2_bringup/launch/speed_zone_launch.py
  nav2_bringup/params/nav2_params.yaml
  nav2_common/CMakeLists.txt
  nav2_common/nav2_common/launch/rewritten_yaml.py
  nav2_common/package.xml
  nav2_common/test/test_rewritten_yaml.py
  nav2_system_tests/src/behaviors/assisted_teleop/test_assisted_teleop_behavior_launch.py
  nav2_system_tests/src/behaviors/backup/test_backup_behavior.launch.py
  nav2_system_tests/src/behaviors/drive_on_heading/test_drive_on_heading_behavior.launch.py
  nav2_system_tests/src/behaviors/spin/test_spin_behavior.launch.py
  nav2_system_tests/src/behaviors/wait/test_wait_behavior_launch.py
  nav2_system_tests/src/route/test_route_launch.py
  nav2_system_tests/src/system_failure/test_system_failure_launch.py
  nav2_system_tests/src/waypoint_follower/test_case_launch.py
Due: ament_flake8, ament_pep257

initial unorganized prototype
  nav2_controller/src/controller_server.cpp
  nav2_route/include/nav2_route/plugins/edge_cost_functions/dynamic_edges_scorer.hpp
  nav2_route/include/nav2_route/plugins/route_operation_client.hpp
  nav2_route/include/nav2_route/plugins/route_operations/rerouting_service.hpp
  nav2_route/src/plugins/edge_cost_functions/dynamic_edges_scorer.cpp
  nav2_route/src/plugins/route_operations/rerouting_service.cpp
  nav2_util/include/nav2_util/lifecycle_node.hpp
  nav2_util/include/nav2_util/qos_profiles.hpp
  nav2_util/include/nav2_util/service_client.hpp
  nav2_util/include/nav2_util/service_server.hpp
  nav2_util/include/nav2_util/simple_action_server.hpp
Due: ament_cpplint, ament_uncrustify

break out files and add doxygen
  nav2_util/include/nav2_util/interface_factories.hpp
  nav2_util/include/nav2_util/lifecycle_node.hpp
  nav2_util/include/nav2_util/qos_profiles.hpp
Due: ament_cpplint, ament_uncrustify

Adding kilted build to main branch workflow
  .github/workflows/build_main_against_distros.yml
Due: none

Updating kilted for ci image build
  .github/workflows/update_ci_image.yaml
Due: none

Setup Kilted CI
  .circleci/config.yml
  .devcontainer/devcontainer.json
  Dockerfile
  tools/distro.Dockerfile
Due: none

removing underlay workspace from kilted builds
  tools/underlay.repos
Due: none

Removing underlay workspace from Main
  tools/underlay.repos
Due: none

Removing underlay workspace from Main (#5200)
  tools/underlay.repos
Due: none

Using default false declaration instead of declare_or_get in param util
  nav2_util/include/nav2_util/node_utils.hpp
Due: ament_cpplint, ament_uncrustify

Refactor for easier understanding
  nav2_graceful_controller/src/graceful_controller.cpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_util/include/nav2_util/controller_utils.hpp
  nav2_util/src/CMakeLists.txt
  nav2_util/src/controller_utils.cpp
  nav2_util/test/CMakeLists.txt
  nav2_util/test/test_controller_utils.cpp
Due: ament_cpplint, ament_uncrustify

Fix linting issues
  nav2_graceful_controller/src/graceful_controller.cpp
Due: ament_cpplint, ament_uncrustify

adding the fixes
  nav2_bt_navigator/include/nav2_bt_navigator/navigators/navigate_through_poses.hpp
  nav2_bt_navigator/include/nav2_bt_navigator/navigators/navigate_to_pose.hpp
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Adding missing dep
  nav2_loopback_sim/package.xml
Due: none

typo
  nav2_loopback_sim/package.xml
Due: none

updating fix
  nav2_loopback_sim/package.xml
Due: none

Adding Kilted backport tool
  .github/mergify.yml
Due: none

Adding missing dep to loopback sim (#5204)
  nav2_loopback_sim/package.xml
Due: none

Adding parameter warn_when_defaulting_parameters to control default parameter warnings (#5189)
  nav2_util/include/nav2_util/node_utils.hpp
  nav2_util/test/test_node_utils.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
