Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Handel param_name resolution for smac_planner_hybrid
  nav2_smac_planner/src/smac_planner_hybrid.cpp
Due: ament_cpplint, ament_uncrustify

fix typo
  nav2_smac_planner/src/smac_planner_hybrid.cpp
Due: ament_cpplint, ament_uncrustify

uncrustify
  nav2_smac_planner/src/smac_planner_hybrid.cpp
Due: ament_cpplint, ament_uncrustify

fix
  nav2_mppi_controller/src/parameters_handler.cpp
  nav2_mppi_controller/test/parameter_handler_test.cpp
Due: ament_cpplint, ament_uncrustify

Revert "uncrustify"
  nav2_smac_planner/src/smac_planner_hybrid.cpp
Due: ament_cpplint, ament_uncrustify

uncrustify
  nav2_mppi_controller/src/parameters_handler.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
Due: ament_cpplint, ament_uncrustify

Fix underlay.repos file
  tools/underlay.repos
Due: none

Fix common_interfaces branch
  tools/underlay.repos
Due: none

Apply suggestions from code review
  nav2_controller/include/nav2_controller/plugins/pose_progress_checker.hpp
  nav2_controller/plugins/pose_progress_checker.cpp
Due: ament_cpplint, ament_uncrustify

Place Validate before update
  nav2_controller/plugins/pose_progress_checker.cpp
Due: ament_cpplint, ament_uncrustify

Uncrustify
  nav2_controller/include/nav2_controller/plugins/pose_progress_checker.hpp
Due: ament_cpplint, ament_uncrustify

Templating return type of declare parameter by value
  nav2_util/include/nav2_util/node_utils.hpp
  nav2_util/test/test_node_utils.cpp
Due: ament_cpplint, ament_uncrustify

Addition of position goal checker, fix of rotation shim controller (#5162)
  nav2_controller/CMakeLists.txt
  nav2_controller/include/nav2_controller/plugins/position_goal_checker.hpp
  nav2_controller/plugins.xml
  nav2_controller/plugins/position_goal_checker.cpp
  nav2_rotation_shim_controller/CMakeLists.txt
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/nav2_rotation_shim_controller.hpp
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/tools/utils.hpp
  nav2_rotation_shim_controller/package.xml
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

Update mergify.yml
  .github/mergify.yml
Due: none

fix MPPI goal critic inversion (#5088) (#5105)
  nav2_mppi_controller/README.md
  nav2_mppi_controller/include/nav2_mppi_controller/critics/cost_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/goal_angle_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/goal_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/obstacles_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/path_align_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/path_angle_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/path_follow_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/prefer_forward_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/twirling_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/tools/utils.hpp
  nav2_mppi_controller/src/critics/cost_critic.cpp
  nav2_mppi_controller/src/critics/goal_angle_critic.cpp
  nav2_mppi_controller/src/critics/goal_critic.cpp
  nav2_mppi_controller/src/critics/obstacles_critic.cpp
  nav2_mppi_controller/src/critics/path_align_critic.cpp
  nav2_mppi_controller/src/critics/path_angle_critic.cpp
  nav2_mppi_controller/src/critics/path_follow_critic.cpp
  nav2_mppi_controller/src/critics/prefer_forward_critic.cpp
  nav2_mppi_controller/src/critics/twirling_critic.cpp
  nav2_mppi_controller/test/critics_tests.cpp
  nav2_mppi_controller/test/utils_test.cpp
Due: ament_cpplint, ament_uncrustify

feat(nav2_rotation_shim_controller): add use_path_orientations (#5034)
  nav2_rotation_shim_controller/README.md
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/nav2_rotation_shim_controller.hpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
  nav2_rotation_shim_controller/test/test_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

Add stateful to regulated pure pursuit controller (#5167)
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/parameter_handler.hpp
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

Update failing tests
  nav2_rotation_shim_controller/test/test_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

fixing merge conflict
  nav2_graceful_controller/src/utils.cpp
Due: ament_cpplint, ament_uncrustify

lint
  nav2_graceful_controller/src/graceful_controller.cpp
Due: ament_cpplint, ament_uncrustify

finding linting
  nav2_costmap_2d/src/costmap_2d_cloud.cpp
  nav2_graceful_controller/include/nav2_graceful_controller/utils.hpp
  nav2_graceful_controller/src/graceful_controller.cpp
  nav2_route/test/test_goal_intent_extractor.cpp
Due: ament_cpplint, ament_uncrustify

refactor: meaningfull value for scan_angle_increment
  nav2_loopback_sim/nav2_loopback_sim/loopback_simulator.py
Due: ament_flake8, ament_pep257

fixing ament_flake8 errors
  nav2_loopback_sim/nav2_loopback_sim/loopback_simulator.py
Due: ament_flake8, ament_pep257

added config for laserscan in lb-sim
  nav2_bringup/params/nav2_params.yaml
  nav2_loopback_sim/nav2_loopback_sim/loopback_simulator.py
Due: ament_flake8, ament_pep257

review: use_inf is default:true and added parameters on readme #4992
  nav2_loopback_sim/README.md
  nav2_loopback_sim/nav2_loopback_sim/loopback_simulator.py
Due: ament_flake8, ament_pep257

tf2 uses hpp headers in rolling (and is backported)
  nav2_route/include/nav2_route/plugins/edge_cost_functions/goal_orientation_scorer.hpp
  nav2_route/include/nav2_route/plugins/edge_cost_functions/start_pose_orientation_scorer.hpp
Due: ament_cpplint, ament_uncrustify

address PR comments
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_lattice.hpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
Due: ament_cpplint, ament_uncrustify

fixes
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
Due: ament_cpplint, ament_uncrustify

fix build error
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Revert "uncrustify"
  nav2_mppi_controller/src/parameters_handler.cpp
Due: ament_cpplint, ament_uncrustify

Revert "fix"
  nav2_mppi_controller/src/parameters_handler.cpp
  nav2_mppi_controller/test/parameter_handler_test.cpp
Due: ament_cpplint, ament_uncrustify

Merge remote-tracking branch 'upstream/main' into FixNamespaceCheck
  .github/mergify.yml
  .github/workflows/build_main_against_distros.yml
  nav2_mppi_controller/README.md
  nav2_mppi_controller/include/nav2_mppi_controller/critics/cost_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/goal_angle_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/goal_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/obstacles_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/path_align_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/path_angle_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/path_follow_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/prefer_forward_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/twirling_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/tools/utils.hpp
  nav2_mppi_controller/src/critics/cost_critic.cpp
  nav2_mppi_controller/src/critics/goal_angle_critic.cpp
  nav2_mppi_controller/src/critics/goal_critic.cpp
  nav2_mppi_controller/src/critics/obstacles_critic.cpp
  nav2_mppi_controller/src/critics/path_align_critic.cpp
  nav2_mppi_controller/src/critics/path_angle_critic.cpp
  nav2_mppi_controller/src/critics/path_follow_critic.cpp
  nav2_mppi_controller/src/critics/prefer_forward_critic.cpp
  nav2_mppi_controller/src/critics/twirling_critic.cpp
  nav2_mppi_controller/test/critics_tests.cpp
  nav2_mppi_controller/test/utils_test.cpp
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/parameter_handler.hpp
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

tf2 uses hpp headers in rolling (and is backported) (#5180)
  nav2_route/include/nav2_route/plugins/edge_cost_functions/goal_orientation_scorer.hpp
  nav2_route/include/nav2_route/plugins/edge_cost_functions/start_pose_orientation_scorer.hpp
Due: ament_cpplint, ament_uncrustify

Adding parameter util to node utils (#5154)
  nav2_util/include/nav2_util/node_utils.hpp
  nav2_util/test/test_node_utils.cpp
Due: ament_cpplint, ament_uncrustify

added config for laserscan in lb-sim (#5174)
  nav2_bringup/params/nav2_params.yaml
  nav2_loopback_sim/README.md
  nav2_loopback_sim/nav2_loopback_sim/loopback_simulator.py
Due: ament_flake8, ament_pep257

Publish planned footprints after smoothing (#5155)
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_lattice.hpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
