Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

fix: verify class compatibility between cpp and hpp files and improve exception handling
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

refactor: improve class data extraction with brace counting
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

fix: remove std:: namespace anywhere in type and default value definitions
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

added esdf based cbf
  nav2_constrained_controller/CMakeLists.txt
  nav2_constrained_controller/include/nav2_constrained_controller/cbf_safety_filter.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/constrained_controller.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/esdf_grid.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/logger.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/parameter_handler.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/types.hpp
  nav2_constrained_controller/package.xml
  nav2_constrained_controller/src/cbf_safety_filter.cpp
  nav2_constrained_controller/src/constrained_controller.cpp
  nav2_constrained_controller/src/esdf_grid.cpp
  nav2_constrained_controller/src/logger.cpp
  nav2_constrained_controller/src/parameter_handler.cpp
  nav2_system_tests/COLCON_IGNORE
Due: ament_cpplint, ament_uncrustify

added debugging
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/decorator/path_manager.hpp
  nav2_behavior_tree/plugins/decorator/path_manager.cpp
  nav2_constrained_controller/include/nav2_constrained_controller/constrained_controller.hpp
  nav2_constrained_controller/src/cbf_safety_filter.cpp
  nav2_constrained_controller/src/constrained_controller.cpp
Due: ament_cpplint, ament_uncrustify

Add low-frequency MPPI sampling
  nav2_bringup/params/nav2_params.yaml
  nav2_mppi_controller/README.md
  nav2_mppi_controller/include/nav2_mppi_controller/models/optimizer_settings.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/tools/noise_generator.hpp
  nav2_mppi_controller/src/noise_generator.cpp
  nav2_mppi_controller/src/optimizer.cpp
  nav2_mppi_controller/test/noise_generator_test.cpp
  nav2_mppi_controller/test/optimizer_unit_tests.cpp
  nav2_mppi_controller/test/utils/factory.hpp
  nav2_mppi_controller/test/utils/models.hpp
  nav2_ros_common/test/test_actions.cpp
Due: ament_cpplint, ament_uncrustify

fix: expose git errors and clean up on failure
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

fix: update regex pattern to capture class names with optional namespace
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

adding .semgrepignore to exclude test folders among others
  .semgrepignore
Due: none

fix: combine extraction of class name and its ID into single regex pattern
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

refactor: remove file existence check, rely on read_text() exceptions
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

fix: use actual config path in error message for external repository fetch
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

fix: update template type extraction with angle bracket counting and improve error handling
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

[nav2_behavior_tree] Fix incorrect wakeUpSignal() call in ROS 2 Rolling on Ubuntu 26.04
  nav2_behavior_tree/include/nav2_behavior_tree/utils/loop_rate.hpp
Due: ament_cpplint, ament_uncrustify

feat: update get_files function to support pattern matching and recursive search
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

Add ESDF exposure in InflationLayer, EsdfCritic, and CorridorCritic (#5979)
  nav2_costmap_2d/include/nav2_costmap_2d/inflation_layer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/safe_corridor.hpp
  nav2_costmap_2d/plugins/inflation_layer.cpp
  nav2_costmap_2d/test/integration/inflation_tests.cpp
  nav2_mppi_controller/CMakeLists.txt
  nav2_mppi_controller/critics.xml
  nav2_mppi_controller/include/nav2_mppi_controller/critics/corridor_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/esdf_critic.hpp
  nav2_mppi_controller/src/critics/corridor_critic.cpp
  nav2_mppi_controller/src/critics/esdf_critic.cpp
Due: ament_cpplint, ament_uncrustify

fixed goal checking in the contrainst space controller
  nav2_constrained_controller/include/nav2_constrained_controller/constrained_controller.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/path_handler.hpp
  nav2_constrained_controller/src/constrained_controller.cpp
  nav2_constrained_controller/src/path_handler.cpp
Due: ament_cpplint, ament_uncrustify

Fix cpplint: add missing string includes and expand one-liner if statements
  nav2_mppi_controller/src/critics/corridor_critic.cpp
  nav2_mppi_controller/src/critics/esdf_critic.cpp
Due: ament_cpplint, ament_uncrustify

Fix Eigen Ref types and remove head() expression in corridor critic
  nav2_costmap_2d/include/nav2_costmap_2d/safe_corridor.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/esdf_critic.hpp
  nav2_mppi_controller/src/critics/corridor_critic.cpp
Due: ament_cpplint, ament_uncrustify

[mppi] Add per-axis input-delay compensation with cmd-history replay
  nav2_bringup/params/nav2_params.yaml
  nav2_mppi_controller/include/nav2_mppi_controller/models/optimizer_settings.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Fix typos in Dockerfile
  Dockerfile
Due: none

minor fixes from review
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/speed_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/speed_filter.cpp
Due: ament_cpplint, ament_uncrustify

lookahead path frame transformation
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/speed_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/speed_filter.cpp
  nav2_costmap_2d/test/unit/speed_filter_test.cpp
Due: ament_cpplint, ament_uncrustify

inverted decel sign
  nav2_costmap_2d/plugins/costmap_filters/speed_filter.cpp
  nav2_costmap_2d/test/unit/speed_filter_test.cpp
Due: ament_cpplint, ament_uncrustify

Holding lookahead distance to avoid oscillations
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/speed_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/speed_filter.cpp
Due: ament_cpplint, ament_uncrustify

feat: add semgrep rules to enforce Nav2 C++ coding standards
  .github/workflows/semgrep.yml
  .semgrep/nav2_coding_standards.yml
Due: none

Add unit tests
  nav2_controller/plugins/test/goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

chore: add pytest and lark to requirements.txt
  tools/bt_nodes_validation/requirements.txt
Due: none

passing through majority cases, need more tuning
  nav2_constrained_controller/CMakeLists.txt
  nav2_constrained_controller/esdf_critic_plugin.xml
  nav2_constrained_controller/include/nav2_constrained_controller/cbf_safety_filter.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/constrained_controller.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/esdf_critic.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/esdf_registry.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/nominal_controller.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/parameter_handler.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/qp_solver.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/types.hpp
  nav2_constrained_controller/src/cbf_safety_filter.cpp
  nav2_constrained_controller/src/constrained_controller.cpp
  nav2_constrained_controller/src/esdf_critic.cpp
  nav2_constrained_controller/src/nominal_controller.cpp
  nav2_constrained_controller/src/parameter_handler.cpp
  nav2_constrained_controller/src/qp_solver.cpp
Due: ament_cpplint, ament_uncrustify

tests for invalid params
  nav2_costmap_2d/test/unit/speed_filter_test.cpp
Due: ament_cpplint, ament_uncrustify

test: add test suite for XML BT nodes validation
  tools/bt_nodes_validation/__init__.py
  tools/bt_nodes_validation/pytest.ini
  tools/bt_nodes_validation/test/__init__.py
  tools/bt_nodes_validation/test/conftest.py
  tools/bt_nodes_validation/test/file_templates.py
  tools/bt_nodes_validation/test/test_validation_errors.py
Due: ament_flake8, ament_pep257

refactor: check curly brace counter only when closing brace is encountered
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

fix: update exception handling to use OSError for file-related errors
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

docs: update help message for YAML configuration file argument
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

refactor: rename parameter in extract_xml_nodes_data for clarity
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

fix: remove unnecessary check for empty directories in clone_sparse_github_data
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

refactor: add type aliases for behavior tree data structures
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

docs: update docstring for extract_template_type
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

refactor: simplify port name extraction
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

docs: add comments for clarity in extract_code_port_data function
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257
