Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

Cast test_node to NodePtr in analytic expansion
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion_impl.hpp
Due: ament_cpplint, ament_uncrustify

refactor: update default value definitions for BT nodes
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/check_stop_status_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/clear_costmap_service.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_battery_charging_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_battery_low_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/transform_available_condition.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
Due: ament_cpplint, ament_uncrustify

Adding stability to the critic, baseful target distance IDX choice
  nav2_mppi_controller/CMakeLists.txt
  nav2_mppi_controller/critics.xml
  nav2_mppi_controller/include/nav2_mppi_controller/critics/obstacle_bypass_critic.hpp
  nav2_mppi_controller/src/critics/obstacle_bypass_critic.cpp
  nav2_mppi_controller/src/critics/path_align_critic.cpp
Due: ament_cpplint, ament_uncrustify

notes in readme
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_bringup/params/nav2_params.yaml
  nav2_mppi_controller/README.md
  nav2_mppi_controller/src/critics/obstacle_bypass_critic.cpp
  nav2_mppi_controller/test/critics_tests.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

linting
  nav2_mppi_controller/README.md
  nav2_mppi_controller/src/critics/obstacle_bypass_critic.cpp
  nav2_mppi_controller/test/critics_tests.cpp
Due: ament_cpplint, ament_uncrustify

refactor: update default value definitions for BT nodes (#6143)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/check_stop_status_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/clear_costmap_service.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_battery_charging_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_battery_low_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/transform_available_condition.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
Due: ament_cpplint, ament_uncrustify

Fix tests
  nav2_mppi_controller/test/critics_tests.cpp
Due: ament_cpplint, ament_uncrustify

modified code to use the walls for correction and not blendin into the original control commands
  nav2_constrained_controller/include/nav2_constrained_controller/constrained_controller.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/lateral_centering.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/logger.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/parameter_handler.hpp
  nav2_constrained_controller/src/constrained_controller.cpp
  nav2_constrained_controller/src/lateral_centering.cpp
  nav2_constrained_controller/src/logger.cpp
  nav2_constrained_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

added max_cost_threshold parameter for rotation shim
  nav2_rotation_shim_controller/README.md
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/parameter_handler.hpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
  nav2_rotation_shim_controller/src/parameter_handler.cpp
  nav2_rotation_shim_controller/test/test_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

Remove claude file
  CLAUDE.md
Due: none

Adjusting sponsor logo image
  doc/sponsors_oct_2025.png
Due: none

Update CircleCI config to use version 48 for cache
  .circleci/config.yml
Due: none

Smac Planner refactor to allow for templated NodeT's (#6148)
  .circleci/config.yml
  nav2_smac_planner/CMakeLists.txt
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
  nav2_smac_planner/include/nav2_smac_planner/a_star_impl.hpp
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion_impl.hpp
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_basic.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_2d.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_2d_impl.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid_impl.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_lattice_impl.hpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/src/distance_heuristic.cpp
  nav2_smac_planner/src/node_basic.cpp
  nav2_smac_planner/src/smac_planner_2d.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
Due: ament_cpplint, ament_uncrustify

feat: add validation script for Behavior Tree XML nodes against code
  tools/bt_nodes_validation/config.yml
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

ci: update workflow to validate BT nodes against code
  .github/workflows/bt_nodes_validation.yml
Due: none

feat: add GitHub Actions workflow to validate XML BT Nodes against Nav2 documentation
  .github/workflows/bt_nodes_validation.yml
Due: none

chore: remove obsolete validation script
  tools/bt_nodes_validation/validate_bt_xml_nodes_against_mkdocs.py
Due: ament_flake8, ament_pep257

feat: add validation script for Behavior Tree XML nodes against documentation
  tools/bt_nodes_validation/validate_bt_xml_nodes_against_mkdocs.py
Due: ament_flake8, ament_pep257

chore: add requirements.txt for BT nodes validation
  tools/bt_nodes_validation/requirements.txt
Due: none

chore: remove 'requests' from requirements.txt
  tools/bt_nodes_validation/requirements.txt
Due: none

updated and refined code for entering into the alley
  nav2_constrained_controller/include/nav2_constrained_controller/constrained_controller.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/lateral_centering.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/logger.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/parameter_handler.hpp
  nav2_constrained_controller/src/constrained_controller.cpp
  nav2_constrained_controller/src/lateral_centering.cpp
  nav2_constrained_controller/src/logger.cpp
  nav2_constrained_controller/src/nominal_controller.cpp
  nav2_constrained_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

updated code for robot footprint
  nav2_constrained_controller/src/cbf_safety_filter.cpp
  nav2_constrained_controller/src/lateral_centering.cpp
Due: ament_cpplint, ament_uncrustify

add test case for triggering point marker
  nav2_collision_monitor/test/collision_detector_node_test.cpp
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
Due: ament_cpplint, ament_uncrustify

using regex
  .semgrep.yml
Due: none

[Collision Monitor/Detector] Add triggering points (#6133)
  nav2_collision_monitor/include/nav2_collision_monitor/circle.hpp
  nav2_collision_monitor/include/nav2_collision_monitor/collision_detector_node.hpp
  nav2_collision_monitor/include/nav2_collision_monitor/collision_monitor_node.hpp
  nav2_collision_monitor/include/nav2_collision_monitor/polygon.hpp
  nav2_collision_monitor/include/nav2_collision_monitor/types.hpp
  nav2_collision_monitor/src/circle.cpp
  nav2_collision_monitor/src/collision_detector_node.cpp
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_collision_monitor/src/costmap.cpp
  nav2_collision_monitor/src/pointcloud.cpp
  nav2_collision_monitor/src/polygon.cpp
  nav2_collision_monitor/src/polygon_source.cpp
  nav2_collision_monitor/src/range.cpp
  nav2_collision_monitor/src/scan.cpp
  nav2_collision_monitor/test/collision_detector_node_test.cpp
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
  nav2_collision_monitor/test/polygons_test.cpp
Due: ament_cpplint, ament_uncrustify

added max_cost_threshold parameter for rotation shim (#6146)
  nav2_rotation_shim_controller/README.md
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/parameter_handler.hpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
  nav2_rotation_shim_controller/src/parameter_handler.cpp
  nav2_rotation_shim_controller/test/test_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

Feature/Clear individual costmap layers (#6140)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/clear_costmap_service.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/action/clear_costmap_service.cpp
  nav2_behavior_tree/test/plugins/action/test_clear_costmap_service.cpp
  nav2_behavior_tree/test/utils/test_service.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/clear_costmap_service.hpp
  nav2_costmap_2d/src/clear_costmap_service.cpp
  nav2_costmap_2d/test/unit/CMakeLists.txt
  nav2_costmap_2d/test/unit/clear_costmap_service_test.cpp
  nav2_msgs/srv/ClearCostmapAroundPose.srv
  nav2_msgs/srv/ClearCostmapAroundRobot.srv
  nav2_msgs/srv/ClearCostmapExceptRegion.srv
  nav2_msgs/srv/ClearEntireCostmap.srv
  nav2_system_tests/src/behavior_tree/server_handler.cpp
  nav2_system_tests/src/behavior_tree/server_handler.hpp
Due: ament_cpplint, ament_uncrustify

Enable explicit conversion for nav2_system_tests
  nav2_system_tests/src/behaviors/assisted_teleop/test_assisted_teleop_behavior_node.cpp
  nav2_system_tests/src/behaviors/wait/wait_behavior_tester.cpp
  nav2_system_tests/src/planning/planner_tester.cpp
  nav2_system_tests/src/planning/test_planner_is_path_valid.cpp
  nav2_system_tests/src/planning/test_planner_plugins.cpp
  nav2_system_tests/src/planning/test_planner_random_node.cpp
Due: ament_cpplint, ament_uncrustify

Add -Wconversion flag to the nav2_system_tests
  nav2_system_tests/CMakeLists.txt
Due: none

minor cleanup
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/speed_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/speed_filter.cpp
Due: ament_cpplint, ament_uncrustify

lookahead base logic implementation
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/speed_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/speed_filter.cpp
Due: ament_cpplint, ament_uncrustify

early exit moved to member constant
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/speed_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/speed_filter.cpp
Due: ament_cpplint, ament_uncrustify

unit tests
  nav2_costmap_2d/test/unit/speed_filter_test.cpp
Due: ament_cpplint, ament_uncrustify

chore: exclude external opennav_coverage action BT nodes
  nav2_behavior_tree/nav2_tree_nodes.xml
  tools/bt_nodes_validation/config.yml
Due: none

fix: only process github_repositories when configured
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

refactor: pass github_repos directly to fetch_external_repos
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

refactor: improve variable naming for config file
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

docs: fix spelling in function docstring
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

refactor: rename compare_bt_nodes to detect_bt_nodes_mismatches and update docstring for clarity
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

Add LP-MPPI low-pass perturbation sampling
  nav2_bringup/params/nav2_params.yaml
  nav2_mppi_controller/CMakeLists.txt
  nav2_mppi_controller/README.md
  nav2_mppi_controller/include/nav2_mppi_controller/tools/noise_generator.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/tools/noise_low_pass_filter.hpp
  nav2_mppi_controller/src/noise_generator.cpp
  nav2_mppi_controller/src/noise_low_pass_filter.cpp
  nav2_mppi_controller/test/CMakeLists.txt
  nav2_mppi_controller/test/noise_generator_test.cpp
  nav2_mppi_controller/test/noise_low_pass_filter_test.cpp
Due: ament_cpplint, ament_uncrustify
