Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

adding line to check CI output
  .devcontainer/devcontainer.json
Due: none

fixing URI
  .circleci/config.yml
Due: none

Update .devcontainer/devcontainer.json
  .devcontainer/devcontainer.json
Due: none

Support path inversion in all critics (#5088)
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_mppi_controller/README.md
  nav2_mppi_controller/include/nav2_mppi_controller/critics/cost_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/goal_angle_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/obstacles_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/path_align_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/path_angle_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/path_follow_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/prefer_forward_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/twirling_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/tools/utils.hpp
  nav2_mppi_controller/src/critics/cost_critic.cpp
  nav2_mppi_controller/src/critics/goal_angle_critic.cpp
  nav2_mppi_controller/src/critics/goal_critic.cpp
  nav2_mppi_controller/src/critics/obstacles_critic.cpp
  nav2_mppi_controller/src/critics/path_align_critic.cpp
  nav2_mppi_controller/src/critics/path_angle_critic.cpp
  nav2_mppi_controller/src/critics/path_follow_critic.cpp
  nav2_mppi_controller/src/critics/prefer_forward_critic.cpp
  nav2_mppi_controller/src/critics/twirling_critic.cpp
Due: ament_cpplint, ament_uncrustify

Fix code style issues and formatting
  nav2_mppi_controller/include/nav2_mppi_controller/tools/utils.hpp
  nav2_mppi_controller/src/critics/cost_critic.cpp
  nav2_mppi_controller/src/critics/goal_angle_critic.cpp
  nav2_mppi_controller/src/critics/goal_critic.cpp
  nav2_mppi_controller/src/critics/obstacles_critic.cpp
  nav2_mppi_controller/src/critics/path_align_critic.cpp
  nav2_mppi_controller/src/critics/path_angle_critic.cpp
  nav2_mppi_controller/src/critics/path_follow_critic.cpp
  nav2_mppi_controller/src/critics/prefer_forward_critic.cpp
  nav2_mppi_controller/src/critics/twirling_critic.cpp
Due: ament_cpplint, ament_uncrustify

Remove trailing whitespaces
  nav2_mppi_controller/src/critics/goal_angle_critic.cpp
Due: ament_cpplint, ament_uncrustify

Fix goalAngleCritic tests
  nav2_mppi_controller/test/critics_tests.cpp
Due: ament_cpplint, ament_uncrustify

Adding dev container support to Jazzy (#5121)
  .devcontainer/devcontainer.json
Due: none

Testing new Humble CI (#5123)
  .circleci/config.yml
Due: none

Normalize code formatting
  nav2_mppi_controller/src/critics/cost_critic.cpp
  nav2_mppi_controller/src/critics/goal_angle_critic.cpp
  nav2_mppi_controller/src/critics/goal_critic.cpp
  nav2_mppi_controller/src/critics/obstacles_critic.cpp
  nav2_mppi_controller/src/critics/path_align_critic.cpp
  nav2_mppi_controller/src/critics/path_angle_critic.cpp
  nav2_mppi_controller/src/critics/path_follow_critic.cpp
  nav2_mppi_controller/src/critics/prefer_forward_critic.cpp
  nav2_mppi_controller/src/critics/twirling_critic.cpp
  nav2_mppi_controller/test/critics_tests.cpp
Due: ament_cpplint, ament_uncrustify

Add Keepout Simulation
  nav2_bringup/launch/keepout_filter_launch.py
  nav2_bringup/launch/tb4_keepout_sim_launch.py
  nav2_bringup/maps/keepout_warehouse.pgm
  nav2_bringup/maps/keepout_warehouse.yaml
  nav2_bringup/params/keepout_nav2_params.yaml
  nav2_bringup/params/keepout_params.yaml
Due: ament_flake8, ament_pep257

Align citation text to be within the bullet points.
  README.md
Due: none

Align formatting to match bibtex guide.
  README.md
Due: none

Add justified spacing for readability. Signed-off-by: Leander Stephen D'Souza <leanderdsouza1234@gmail.com>
  README.md
Due: none

message_filters hpp headers have been backported
  nav2_amcl/include/nav2_amcl/amcl_node.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/obstacle_layer.hpp
Due: ament_cpplint, ament_uncrustify

fixup! message_filters hpp headers have been backported
  nav2_costmap_2d/plugins/obstacle_layer.cpp
Due: ament_cpplint, ament_uncrustify

message_filters hpp headers have been backported (#5127)
  nav2_amcl/include/nav2_amcl/amcl_node.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/obstacle_layer.hpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
Due: ament_cpplint, ament_uncrustify

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bibtex formatting (#5126)
  README.md
Due: none

Add Speed Filter Simulation
  nav2_bringup/launch/speed_filter_launch.py
  nav2_bringup/launch/tb4_speed_filter_sim_launch.py
  nav2_bringup/maps/speed_filter_warehouse.pgm
  nav2_bringup/maps/speed_filter_warehouse.yaml
  nav2_bringup/params/speed_filter_nav2_params.yaml
  nav2_bringup/params/speed_filter_params.yaml
Due: ament_flake8, ament_pep257

Resolved issues
  nav2_bringup/launch/nav2_toolkit_launch.py
  nav2_toolkit/CMakeLists.txt
  nav2_toolkit/README.md
  nav2_toolkit/include/nav2_toolkit/pose_saver_node.hpp
  nav2_toolkit/package.xml
  nav2_toolkit/src/pose_saver_node.cpp
  navigation2/package.xml
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Add getLastPathPose test
  nav2_mppi_controller/test/utils_test.cpp
Due: ament_cpplint, ament_uncrustify

Make sure fixed curvature lookahead distance doesn't overshoot distance to cusp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
Due: ament_cpplint, ament_uncrustify

Make sure fixed curvature lookahead distance doesn't overshoot distance to cusp (#5134)
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
Due: ament_cpplint, ament_uncrustify

removing the start navigation message in the paused state from rviz buttons
  nav2_rviz_plugins/src/nav2_panel.cpp
Due: ament_cpplint, ament_uncrustify

[nav2_map_server] add launcher for map_server
  nav2_map_server/launch/map_server.launch.py
Due: ament_flake8, ament_pep257

[nav2_map_server] fix loading trinary maps
  nav2_map_server/src/map_io.cpp
Due: ament_cpplint, ament_uncrustify

fix linter issues
  nav2_map_server/launch/map_server.launch.py
  nav2_map_server/src/map_io.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Added keepout region to warehouse map.
  nav2_bringup/maps/warehouse_keepout.pgm
  nav2_bringup/maps/warehouse_keepout.yaml
Due: none

Added utility script to handle namespaces for keepout_filter.
  nav2_bringup/params/nav2_params.yaml
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_utils.hpp
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
Due: ament_cpplint, ament_uncrustify

Preserve duplication of nodes for keepout test.
  nav2_system_tests/src/costmap_filters/test_keepout_launch.py
Due: ament_flake8, ament_pep257

Renamed keepout filter launch arguments to keepout zones.
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/map_modifier.launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
Due: ament_flake8, ament_pep257

Removed padding from keepout zones from depot map.
  nav2_bringup/maps/depot_keepout.pgm
Due: none

Added support for depot keepout filter.
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_bringup/maps/depot_keepout.pgm
  nav2_bringup/maps/depot_keepout.yaml
Due: ament_flake8, ament_pep257

Added keepout zone at the centre of the warehouse map.
  nav2_bringup/maps/warehouse_keepout.pgm
Due: none

Added dedicated launch file for map modifiers.
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/map_modifier.launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
Due: ament_flake8, ament_pep257

Renamed keepout map launch argument to keepout mask
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/map_modifier.launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
Due: ament_flake8, ament_pep257
