Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

Enable nav2_simple_commander to be mypy compliant.
  nav2_simple_commander/nav2_simple_commander/example_route.py
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

Enable nav2_docking to be mypy compliant.
  nav2_docking/opennav_docking/test/test_docking_server.py
Due: ament_flake8, ament_pep257

Enable nav2_loopback_sim to be mypy compliant.
  nav2_loopback_sim/nav2_loopback_sim/loopback_simulator.py
  nav2_loopback_sim/nav2_loopback_sim/utils.py
Due: ament_flake8, ament_pep257

Fix linting issues
  nav2_graceful_controller/include/nav2_graceful_controller/smooth_control_law.hpp
Due: ament_cpplint, ament_uncrustify

Removed unused ignores for packages for mypy compliance.
  tools/pyproject.toml
Due: none

geometry utils
  nav2_util/include/nav2_util/geometry_utils.hpp
Due: ament_cpplint, ament_uncrustify

fixed geometry utils adding 2d
  nav2_util/include/nav2_util/geometry_utils.hpp
Due: ament_cpplint, ament_uncrustify

added tests
  nav2_util/test/CMakeLists.txt
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

created path_utils
  nav2_util/include/nav2_util/path_utils.hpp
  nav2_util/src/CMakeLists.txt
  nav2_util/src/path_utils.cpp
Due: ament_cpplint, ament_uncrustify

minor changes in tests
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

lint issue
  nav2_util/test/CMakeLists.txt
Due: none

fixed reviews
  nav2_util/include/nav2_util/geometry_utils.hpp
  nav2_util/include/nav2_util/path_utils.hpp
  nav2_util/src/path_utils.cpp
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

Last fixes.
  nav2_util/include/nav2_util/path_utils.hpp
Due: ament_cpplint, ament_uncrustify

doxygen fix
  nav2_util/include/nav2_util/path_utils.hpp
Due: ament_cpplint, ament_uncrustify

Update nav2_util/include/nav2_util/path_utils.hpp
  nav2_util/include/nav2_util/path_utils.hpp
Due: ament_cpplint, ament_uncrustify

Last fixes cpp.
  nav2_util/src/path_utils.cpp
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

Update nav2_util/test/test_path_utils.cpp
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

Frame check fix
  nav2_util/include/nav2_util/path_utils.hpp
  nav2_util/src/path_utils.cpp
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

msg
  nav2_msgs/msg/TrackingError.msg
Due: none

controller server publisher
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

controller server publisher fix
  nav2_controller/include/nav2_controller/controller_server.hpp
Due: ament_cpplint, ament_uncrustify

handled last_fixes
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/src/controller_server.cpp
  nav2_msgs/CMakeLists.txt
  nav2_msgs/action/FollowPath.action
  nav2_msgs/msg/TrackingError.msg
Due: ament_cpplint, ament_uncrustify

cross_product
  nav2_util/include/nav2_util/geometry_utils.hpp
Due: ament_cpplint, ament_uncrustify

arranged msgs
  nav2_msgs/action/FollowPath.action
  nav2_msgs/msg/TrackingError.msg
Due: none

tracking error added to follow path side from side added to tracking error
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/src/controller_server.cpp
  nav2_util/src/path_utils.cpp
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

linting of msgs
  nav2_msgs/action/FollowPath.action
  nav2_msgs/msg/TrackingError.msg
Due: none

last cpplint
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

frame check for distance_to_goal
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

fixes for follow_path
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

controller linting
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

changing tracking_error to tracking_error_feedback
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/src/controller_server.cpp
  nav2_msgs/CMakeLists.txt
  nav2_msgs/action/FollowPath.action
  nav2_msgs/msg/TrackingErrorFeedback.msg
Due: ament_cpplint, ament_uncrustify

adding remaining_path_length in tracking_error_feedback
  nav2_controller/src/controller_server.cpp
  nav2_msgs/msg/TrackingErrorFeedback.msg
Due: ament_cpplint, ament_uncrustify

Last fix
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

start_index_
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Changing name to tracking_feedback
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/src/controller_server.cpp
  nav2_msgs/CMakeLists.txt
  nav2_msgs/action/FollowPath.action
  nav2_msgs/msg/TrackingFeedback.msg
Due: ament_cpplint, ament_uncrustify

Name changes and optimizations in controller_server and nav2_util
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/src/controller_server.cpp
  nav2_util/include/nav2_util/geometry_utils.hpp
  nav2_util/include/nav2_util/path_utils.hpp
  nav2_util/src/path_utils.cpp
Due: ament_cpplint, ament_uncrustify

Documentation changes
  nav2_controller/src/controller_server.cpp
  nav2_util/include/nav2_util/geometry_utils.hpp
  nav2_util/include/nav2_util/path_utils.hpp
Due: ament_cpplint, ament_uncrustify

Last lint
  nav2_util/include/nav2_util/path_utils.hpp
Due: ament_cpplint, ament_uncrustify
