Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Addition of position goal checker, fix of rotation shim controller (#5162)
  nav2_controller/CMakeLists.txt
  nav2_controller/include/nav2_controller/plugins/position_goal_checker.hpp
  nav2_controller/plugins.xml
  nav2_controller/plugins/position_goal_checker.cpp
  nav2_rotation_shim_controller/CMakeLists.txt
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/nav2_rotation_shim_controller.hpp
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/tools/utils.hpp
  nav2_rotation_shim_controller/package.xml
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

Log after rotation
  nav2_docking/opennav_docking/src/docking_server.cpp
Due: ament_cpplint, ament_uncrustify

Prevent MPPI controller from resetting speed limits upon goal execution. (#5165)
  nav2_mppi_controller/include/nav2_mppi_controller/optimizer.hpp
  nav2_mppi_controller/src/controller.cpp
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Speed up CI builds for released distros
  .github/workflows/build_main_against_distros.yml
Due: none

Backward docking without sensors (#5153)
  nav2_docking/README.md
  nav2_docking/opennav_docking/include/opennav_docking/controller.hpp
  nav2_docking/opennav_docking/include/opennav_docking/docking_server.hpp
  nav2_docking/opennav_docking/src/controller.cpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_docking/opennav_docking/src/simple_charging_dock.cpp
  nav2_docking/opennav_docking/src/simple_non_charging_dock.cpp
  nav2_docking/opennav_docking/test/CMakeLists.txt
  nav2_docking/opennav_docking/test/docking_params.yaml
  nav2_docking/opennav_docking/test/test_controller.cpp
  nav2_docking/opennav_docking/test/test_docking_server.py
  nav2_docking/opennav_docking/test/test_docking_server_unit.cpp
  nav2_docking/opennav_docking/test/test_simple_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_simple_non_charging_dock.cpp
  nav2_docking/opennav_docking_core/include/opennav_docking_core/charging_dock.hpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Speed up CI builds for released distros (#5168)
  .github/workflows/build_main_against_distros.yml
Due: none

Save 2 minutes in Main-Jazzy build times to align with other CI job lengths
  .github/workflows/build_main_against_distros.yml
Due: none

Update build_main_against_distros.yml
  .github/workflows/build_main_against_distros.yml
Due: none

Add check param name in dynamic parameter upate.
  nav2_amcl/src/amcl_node.cpp
  nav2_collision_monitor/src/polygon.cpp
  nav2_collision_monitor/src/source.cpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_docking/opennav_docking/src/controller.cpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_navfn_planner/src/navfn_planner.cpp
  nav2_planner/src/planner_server.cpp
  nav2_smac_planner/src/smac_planner_2d.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_theta_star_planner/src/theta_star_planner.cpp
  nav2_velocity_smoother/src/velocity_smoother.cpp
  nav2_waypoint_follower/src/waypoint_follower.cpp
Due: ament_cpplint, ament_uncrustify

fix
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/nav2_rotation_shim_controller.hpp
Due: ament_cpplint, ament_uncrustify

Remove controller_frequency as dynamic parameter
  nav2_controller/src/controller_server.cpp
  nav2_controller/test/test_dynamic_parameters.cpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_docking/opennav_docking/test/test_docking_server_unit.cpp
Due: ament_cpplint, ament_uncrustify

Save 2 minutes in Main-Jazzy build times to align with other CI job lengths (#5169)
  .github/workflows/build_main_against_distros.yml
Due: none

Fixing docking server when already docked at the requeste ddock
  nav2_docking/opennav_docking/src/docking_server.cpp
Due: ament_cpplint, ament_uncrustify

Revert "Merge remote-tracking branch 'origin/main' into FixNamespaceCheck"
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_docking/opennav_docking/test/CMakeLists.txt
  nav2_docking/opennav_docking/test/docking_params.yaml
  nav2_docking/opennav_docking/test/test_docking_server.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Fixing docking server when already docked at the requeste ddock (#5171)
  nav2_docking/opennav_docking/src/docking_server.cpp
Due: ament_cpplint, ament_uncrustify

Restructured warehouse_graph to enable bidirectional navigation.
  nav2_bringup/graphs/warehouse_graph.geojson
Due: none

Renamed routes for the depot warehouse to match naming convention.
  nav2_bringup/graphs/turtlebot4_graph_depot.geojson
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_simple_commander/launch/route_example_launch.py
Due: ament_flake8, ament_pep257

Added routes for warehouse map.
  nav2_bringup/graphs/turtlebot4_graph_warehouse.geojson
Due: none

Rename turtlebot4 geojson graphs to remove the turtlebot4 prefix.
  nav2_bringup/graphs/depot_graph.geojson
  nav2_bringup/graphs/warehouse_graph.geojson
  nav2_bringup/launch/tb4_loopback_simulation_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_simple_commander/launch/route_example_launch.py
Due: ament_flake8, ament_pep257

Add backport-humble-main to mergify
  .github/mergify.yml
Due: none

Merge remote-tracking branch 'upstream/main' into FixNamespaceCheck
  nav2_docking/opennav_docking/src/docking_server.cpp
Due: ament_cpplint, ament_uncrustify

add_stateful_to_regulated_pure_pursuit_controller
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/parameter_handler.hpp
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
Due: ament_cpplint, ament_uncrustify

fix naming left over
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

resolve comments
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

fix naming
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/parameter_handler.hpp
Due: ament_cpplint, ament_uncrustify

typo
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

added config for laserscan in lb-sim
  nav2_bringup/params/nav2_params.yaml
  nav2_loopback_sim/nav2_loopback_sim/loopback_simulator.py
Due: ament_flake8, ament_pep257

fixing ament_flake8 errors
  nav2_loopback_sim/nav2_loopback_sim/loopback_simulator.py
Due: ament_flake8, ament_pep257

add unit test for both cases stateful and not stateful
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

Fix merge errors.
  nav2_docking/opennav_docking/src/controller.cpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Add missing check to simple_goal_checker
  nav2_controller/plugins/simple_goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
