Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

fixing deprecation warning
  nav2_docking/opennav_docking/test/CMakeLists.txt
Due: none

fixing deprecation warning (#5182)
  nav2_docking/opennav_docking/test/CMakeLists.txt
Due: none

MPPI Check Namespace.
  nav2_mppi_controller/benchmark/optimizer_benchmark.cpp
  nav2_mppi_controller/include/nav2_mppi_controller/tools/parameters_handler.hpp
  nav2_mppi_controller/src/controller.cpp
  nav2_mppi_controller/src/optimizer.cpp
  nav2_mppi_controller/src/parameters_handler.cpp
  nav2_mppi_controller/test/critic_manager_test.cpp
  nav2_mppi_controller/test/critics_tests.cpp
  nav2_mppi_controller/test/motion_model_tests.cpp
  nav2_mppi_controller/test/noise_generator_test.cpp
  nav2_mppi_controller/test/optimizer_smoke_test.cpp
  nav2_mppi_controller/test/optimizer_unit_tests.cpp
  nav2_mppi_controller/test/parameter_handler_test.cpp
  nav2_mppi_controller/test/path_handler_test.cpp
  nav2_mppi_controller/test/trajectory_visualizer_tests.cpp
Due: ament_cpplint, ament_uncrustify

Removing action server timeout duration after fixes to ROS 2
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_behaviors/include/nav2_behaviors/timed_behavior.hpp
  nav2_bringup/params/nav2_params.yaml
  nav2_controller/src/controller_server.cpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_planner/src/planner_server.cpp
  nav2_smoother/src/nav2_smoother.cpp
  nav2_system_tests/src/system/nav2_system_params.yaml
  nav2_waypoint_follower/src/waypoint_follower.cpp
Due: ament_cpplint, ament_uncrustify

fix build warning
  nav2_smoother/src/nav2_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Removing action server timeout duration after fixes to ROS 2, Reverts 3787 (#5183)
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_behaviors/include/nav2_behaviors/timed_behavior.hpp
  nav2_bringup/params/nav2_params.yaml
  nav2_controller/src/controller_server.cpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_planner/src/planner_server.cpp
  nav2_smoother/src/nav2_smoother.cpp
  nav2_system_tests/src/system/nav2_system_params.yaml
  nav2_waypoint_follower/src/waypoint_follower.cpp
Due: ament_cpplint, ament_uncrustify

action timeout in BT client edits error code and string
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/assisted_teleop_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/back_up_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_and_track_route_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_through_poses_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_to_pose_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_route_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/drive_on_heading_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/follow_path_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/navigate_through_poses_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/navigate_to_pose_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/smooth_path_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/spin_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/wait_action.hpp
  nav2_behavior_tree/plugins/action/assisted_teleop_action.cpp
  nav2_behavior_tree/plugins/action/back_up_action.cpp
  nav2_behavior_tree/plugins/action/compute_and_track_route_action.cpp
  nav2_behavior_tree/plugins/action/compute_path_through_poses_action.cpp
  nav2_behavior_tree/plugins/action/compute_path_to_pose_action.cpp
  nav2_behavior_tree/plugins/action/compute_route_action.cpp
  nav2_behavior_tree/plugins/action/drive_on_heading_action.cpp
  nav2_behavior_tree/plugins/action/follow_path_action.cpp
  nav2_behavior_tree/plugins/action/navigate_through_poses_action.cpp
  nav2_behavior_tree/plugins/action/navigate_to_pose_action.cpp
  nav2_behavior_tree/plugins/action/smooth_path_action.cpp
  nav2_behavior_tree/plugins/action/spin_action.cpp
  nav2_behavior_tree/plugins/action/wait_action.cpp
  nav2_docking/opennav_docking_bt/include/opennav_docking_bt/dock_robot.hpp
  nav2_docking/opennav_docking_bt/include/opennav_docking_bt/undock_robot.hpp
  nav2_docking/opennav_docking_bt/src/dock_robot.cpp
  nav2_docking/opennav_docking_bt/src/undock_robot.cpp
  nav2_msgs/action/DockRobot.action
  nav2_msgs/action/NavigateThroughPoses.action
  nav2_msgs/action/NavigateToPose.action
  nav2_msgs/action/UndockRobot.action
  nav2_msgs/action/Wait.action
Due: ament_cpplint, ament_uncrustify

Rename turtlebot4 geojson graphs to remove the turtlebot4 prefix.
  nav2_bringup/graphs/depot_graph.geojson
  nav2_bringup/graphs/warehouse_graph.geojson
  nav2_bringup/launch/tb4_loopback_simulation_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_simple_commander/launch/route_example_launch.py
Due: ament_flake8, ament_pep257

Added parameters to control enabling of costmap filters.
  nav2_simple_commander/launch/route_example_launch.py
Due: ament_flake8, ament_pep257

Improved connectivity of the warehouse graph.
  nav2_bringup/graphs/warehouse_graph.geojson
Due: none

Restructured warehouse_graph to enable bidirectional navigation.
  nav2_bringup/graphs/warehouse_graph.geojson
Due: none

Added flexibility in setting goals for the route example.
  nav2_simple_commander/launch/route_example_launch.py
  nav2_simple_commander/nav2_simple_commander/example_route.py
Due: ament_flake8, ament_pep257

Renamed routes for the depot warehouse to match naming convention.
  nav2_bringup/graphs/turtlebot4_graph_depot.geojson
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_simple_commander/launch/route_example_launch.py
Due: ament_flake8, ament_pep257

Added routes for warehouse map.
  nav2_bringup/graphs/turtlebot4_graph_warehouse.geojson
Due: none

Added keepout and speed zones to the route example.
  nav2_simple_commander/launch/route_example_launch.py
Due: ament_flake8, ament_pep257

Move euler to quaternion function to utils.py.
  nav2_simple_commander/nav2_simple_commander/example_route.py
  nav2_simple_commander/nav2_simple_commander/utils.py
Due: ament_flake8, ament_pep257

Shift warehouse spawn location to match start of graph node.
  nav2_bringup/launch/tb4_simulation_launch.py
Due: ament_flake8, ament_pep257

Added additional routes to the warehouse graph.
  nav2_bringup/graphs/warehouse_graph.geojson
Due: none

action timeout in BT client edits error code and string (#5184)
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/assisted_teleop_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/back_up_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_and_track_route_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_through_poses_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_to_pose_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_route_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/drive_on_heading_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/follow_path_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/navigate_through_poses_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/navigate_to_pose_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/smooth_path_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/spin_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/wait_action.hpp
  nav2_behavior_tree/plugins/action/assisted_teleop_action.cpp
  nav2_behavior_tree/plugins/action/back_up_action.cpp
  nav2_behavior_tree/plugins/action/compute_and_track_route_action.cpp
  nav2_behavior_tree/plugins/action/compute_path_through_poses_action.cpp
  nav2_behavior_tree/plugins/action/compute_path_to_pose_action.cpp
  nav2_behavior_tree/plugins/action/compute_route_action.cpp
  nav2_behavior_tree/plugins/action/drive_on_heading_action.cpp
  nav2_behavior_tree/plugins/action/follow_path_action.cpp
  nav2_behavior_tree/plugins/action/navigate_through_poses_action.cpp
  nav2_behavior_tree/plugins/action/navigate_to_pose_action.cpp
  nav2_behavior_tree/plugins/action/smooth_path_action.cpp
  nav2_behavior_tree/plugins/action/spin_action.cpp
  nav2_behavior_tree/plugins/action/wait_action.cpp
  nav2_docking/opennav_docking_bt/include/opennav_docking_bt/dock_robot.hpp
  nav2_docking/opennav_docking_bt/include/opennav_docking_bt/undock_robot.hpp
  nav2_docking/opennav_docking_bt/src/dock_robot.cpp
  nav2_docking/opennav_docking_bt/src/undock_robot.cpp
  nav2_msgs/action/DockRobot.action
  nav2_msgs/action/NavigateThroughPoses.action
  nav2_msgs/action/NavigateToPose.action
  nav2_msgs/action/UndockRobot.action
  nav2_msgs/action/Wait.action
Due: ament_cpplint, ament_uncrustify

fixing parameter_handler tests.
  nav2_mppi_controller/test/parameter_handler_test.cpp
Due: ament_cpplint, ament_uncrustify

Fix optimizer
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Relocation of BaseFootprintPublisher and updates to CmakeList and Package.xml
  nav2_toolkit/CMakeLists.txt
  nav2_toolkit/README.md
  nav2_toolkit/include/nav2_toolkit/pose_saver_node.hpp
  nav2_toolkit/package.xml
  nav2_toolkit/src/pose_saver_main.cpp
  nav2_toolkit/src/pose_saver_node.cpp
  nav2_util/src/base_footprint_publisher.hpp
  nav2_util/test/test_base_footprint_publisher.cpp
Due: ament_cpplint, ament_uncrustify

Relocation of BaseFootprintPublisher and updates to CmakeList and Package.xml
  nav2_toolkit/include/nav2_toolkit/base_footprint_publisher.hpp
  nav2_toolkit/src/base_footprint_publisher.cpp
  nav2_toolkit/test/test_base_footprint_publisher.cpp
Due: ament_cpplint, ament_uncrustify

Fix indentation
  nav2_mppi_controller/test/critic_manager_test.cpp
  nav2_mppi_controller/test/critics_tests.cpp
  nav2_mppi_controller/test/optimizer_unit_tests.cpp
  nav2_mppi_controller/test/path_handler_test.cpp
Due: ament_cpplint, ament_uncrustify

mppi param handler only execute post_callbacks if a param of mppi was updated.
  nav2_mppi_controller/src/parameters_handler.cpp
Due: ament_cpplint, ament_uncrustify

Update nav2_rotation_shim_controller.hpp
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/nav2_rotation_shim_controller.hpp
Due: ament_cpplint, ament_uncrustify

Added node information to the route example launch file.
  nav2_simple_commander/launch/route_example_launch.py
Due: ament_flake8, ament_pep257

Review
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_docking/opennav_docking/test/test_docking_server_unit.cpp
  nav2_mppi_controller/include/nav2_mppi_controller/tools/parameters_handler.hpp
  nav2_mppi_controller/src/parameters_handler.cpp
Due: ament_cpplint, ament_uncrustify

Use a shared ptr for params
  nav2_controller/include/nav2_controller/plugins/pose_progress_checker.hpp
Due: ament_cpplint, ament_uncrustify

Const reference
  nav2_controller/include/nav2_controller/plugins/pose_progress_checker.hpp
Due: ament_cpplint, ament_uncrustify

Unique ptr.
  nav2_controller/include/nav2_controller/plugins/pose_progress_checker.hpp
Due: ament_cpplint, ament_uncrustify

Update nav2_mppi_controller/src/parameters_handler.cpp
  nav2_mppi_controller/src/parameters_handler.cpp
Due: ament_cpplint, ament_uncrustify

Adding toggle option of keepout zone
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/keepout_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
Due: ament_cpplint, ament_uncrustify

Default off
  nav2_bringup/params/nav2_params.yaml
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
Due: ament_cpplint, ament_uncrustify

Join conditions
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
Due: ament_cpplint, ament_uncrustify

spell check
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
Due: ament_cpplint, ament_uncrustify

copilot suggestions
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/keepout_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
