Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

Change code to 1) not write the timestamp in the cmd_vel->header twice and 2) make the difference explicit between using and not using the new parameter
  nav2_velocity_smoother/src/velocity_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Add new parameter stamp_smoothed_velocity_with_smoothing_time in parameter examples in nav2_bringup
  nav2_bringup/params/nav2_multirobot_params_all.yaml
  nav2_bringup/params/nav2_params.yaml
Due: none

Update parameter description of stamp_smoothed_velocity_with_smoothing_time in nav2_velocity_smoother/README.md
  nav2_velocity_smoother/README.md
Due: none

Rename delta time variable for clarity.
  nav2_velocity_smoother/src/velocity_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Add new parameter to nav2_velocity_smoother that updates the timestamp of the smoothed velocity header message
  nav2_velocity_smoother/include/nav2_velocity_smoother/velocity_smoother.hpp
  nav2_velocity_smoother/src/velocity_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Make the time-smoothing computation more concise.
  nav2_velocity_smoother/src/velocity_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Rephrase parameter description for improved clarity
  nav2_velocity_smoother/include/nav2_velocity_smoother/velocity_smoother.hpp
Due: ament_cpplint, ament_uncrustify

Fix lines too long cpplint issues in velocity_smoother.cpp
  nav2_velocity_smoother/src/velocity_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Smooth the timestamp of TwistStamped messages in velocity_smoother (#5861)
  nav2_velocity_smoother/README.md
  nav2_velocity_smoother/src/velocity_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Add new parameter to nav2_velocity_smoother to also smooth the timestamp of TwistStamped messages (#5858)
  nav2_bringup/params/nav2_multirobot_params_all.yaml
  nav2_bringup/params/nav2_params.yaml
  nav2_velocity_smoother/README.md
  nav2_velocity_smoother/include/nav2_velocity_smoother/velocity_smoother.hpp
  nav2_velocity_smoother/src/velocity_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Adding draft LoS fix
  nav2_theta_star_planner/src/theta_star.cpp
Due: ament_cpplint, ament_uncrustify

update subscription
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
Due: ament_cpplint, ament_uncrustify

fix rviz
  nav2_rviz_plugins/include/nav2_rviz_plugins/docking_panel.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/nav2_panel.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/route_tool.hpp
Due: ament_cpplint, ament_uncrustify

revert unintended testfile changes
  nav2_system_tests/src/error_codes/test_error_codes.py
  nav2_system_tests/src/waypoint_follower/test_case_launch.py
Due: ament_flake8, ament_pep257

cleanup
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_bringup/launch/tb4_loopback_simulation_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_following/opennav_following/test/test_following_server.py
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
  nav2_system_tests/src/error_codes/test_error_codes.py
  nav2_system_tests/src/waypoint_follower/test_case_launch.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Ignore CTest Testing/ artifacts Signed-off-by: lotusymt luiseyang36@gmail.com
  .gitignore
  Testing/Temporary/CTestCostData.txt
  Testing/Temporary/LastTest.log
Due: none

Restore files to upstream/main Signed-off-by: lotusymt <mengtiy5@uci.edu>
  Testing/Temporary/CTestCostData.txt
  Testing/Temporary/LastTest.log
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_bringup/launch/tb4_loopback_simulation_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_route/graphs/aws_graph.geojson
  nav2_route/graphs/sample_graph.geojson
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

nav2_ros_common: add lifecycle-managed Subscription wrapper
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
  nav2_ros_common/test/test_actions.cpp
Due: ament_cpplint, ament_uncrustify

Fix lifecycle subscription tests and add header guard
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
Due: ament_cpplint, ament_uncrustify

WIP: draft subscription factory lifecycle handling (design not final)
  nav2_collision_monitor/test/collision_monitor_node_bag.cpp
  nav2_collision_monitor/test/sources_test.cpp
  nav2_common/CMakeLists.txt
  nav2_costmap_2d/test/unit/binary_filter_test.cpp
  nav2_costmap_2d/test/unit/speed_filter_test.cpp
  nav2_map_server/test/unit/test_vector_object_server.cpp
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
  nav2_route/graphs/aws_graph.geojson
  nav2_route/graphs/sample_graph.geojson
  nav2_system_tests/src/behaviors/assisted_teleop/assisted_teleop_behavior_tester.cpp
  nav2_system_tests/src/behaviors/wait/wait_behavior_tester.cpp
  nav2_system_tests/src/behaviors/wait/wait_behavior_tester.hpp
  nav2_system_tests/src/localization/test_localization_node.cpp
Due: ament_cpplint, ament_uncrustify

fix cpp linter
  nav2_collision_monitor/test/collision_monitor_node_bag.cpp
  nav2_costmap_2d/test/unit/binary_filter_test.cpp
  nav2_costmap_2d/test/unit/speed_filter_test.cpp
  nav2_following/opennav_following/test/test_following_server.py
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
  nav2_system_tests/src/behaviors/assisted_teleop/assisted_teleop_behavior_tester.cpp
  nav2_system_tests/src/behaviors/wait/wait_behavior_tester.cpp
  nav2_system_tests/src/localization/test_localization_node.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

fix cpp linter
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
Due: ament_cpplint, ament_uncrustify

fix bugs
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
Due: ament_cpplint, ament_uncrustify

subsscription2.0, imitating publisher
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
Due: ament_cpplint, ament_uncrustify

modify alias
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
Due: ament_cpplint, ament_uncrustify

Fix MAX_NON_OBSTACLE_COST in theta star planner
  nav2_theta_star_planner/README.md
  nav2_theta_star_planner/include/nav2_theta_star_planner/theta_star.hpp
Due: ament_cpplint, ament_uncrustify

Self review
  nav2_costmap_2d/plugins/costmap_filters/binary_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/costmap_filter.cpp
  nav2_costmap_2d/test/regression/plugin_api_order.cpp
  nav2_costmap_2d/test/unit/declare_parameter_test.cpp
  nav2_costmap_2d/test/unit/lifecycle_test.cpp
Due: ament_cpplint, ament_uncrustify

Parallelize motion primitive generation
  nav2_smac_planner/lattice_primitives/lattice_generator.py
Due: ament_flake8, ament_pep257

Precommit
  nav2_smac_planner/lattice_primitives/lattice_generator.py
Due: ament_flake8, ament_pep257

Lint
  nav2_smac_planner/lattice_primitives/lattice_generator.py
Due: ament_flake8, ament_pep257

Try dropping strict
  tools/pyproject.toml
Due: none

Update nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
Due: ament_cpplint, ament_uncrustify

Update nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
Due: ament_cpplint, ament_uncrustify

Fix MAX_NON_OBSTACLE_COST in theta star planner (#5865)
  nav2_theta_star_planner/README.md
  nav2_theta_star_planner/include/nav2_theta_star_planner/theta_star.hpp
Due: ament_cpplint, ament_uncrustify

Add tracking error to Navigators feedback
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/decorator/path_longer_on_approach.hpp
  nav2_behavior_tree/plugins/decorator/path_longer_on_approach.cpp
  nav2_bt_navigator/include/nav2_bt_navigator/navigators/navigate_through_poses.hpp
  nav2_bt_navigator/include/nav2_bt_navigator/navigators/navigate_to_pose.hpp
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
  nav2_msgs/action/NavigateThroughPoses.action
  nav2_msgs/action/NavigateToPose.action
  nav2_rviz_plugins/src/nav2_panel.cpp
  nav2_simple_commander/nav2_simple_commander/example_nav_through_poses.py
  nav2_simple_commander/nav2_simple_commander/example_nav_to_pose.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Lint
  nav2_behavior_tree/plugins/decorator/path_longer_on_approach.cpp
Due: ament_cpplint, ament_uncrustify

Lint
  nav2_msgs/action/NavigateToPose.action
Due: none
