Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

added comments
  nav2_controller/include/nav2_controller/plugins/position_goal_checker.hpp
  nav2_controller/plugins/position_goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

Add speed filter zones to depot and warehouse maps. (#5146)
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/speed_zone_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_bringup/maps/depot_speed.pgm
  nav2_bringup/maps/depot_speed.yaml
  nav2_bringup/maps/warehouse_speed.pgm
  nav2_bringup/maps/warehouse_speed.yaml
  nav2_bringup/params/nav2_params.yaml
  nav2_bringup/rviz/nav2_default_view.rviz
  nav2_costmap_2d/plugins/costmap_filters/speed_filter.cpp
  nav2_system_tests/src/costmap_filters/test_keepout_launch.py
  nav2_system_tests/src/costmap_filters/test_speed_launch.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Update nav2_bringup/launch/rviz_launch.py
  nav2_bringup/launch/rviz_launch.py
Due: ament_flake8, ament_pep257

Adding jazzy testing job
  .github/workflows/build_main_against_distros.yml
Due: none

on PR not push
  .github/workflows/build_main_against_distros.yml
Due: none

move dir
  .github/workflows/build_main_against_distros.yml
Due: none

more
  .github/workflows/build_main_against_distros.yml
Due: none

suppress rviz logging to warnings and above (#5163)
  nav2_bringup/launch/rviz_launch.py
Due: ament_flake8, ament_pep257

moar
  .github/workflows/build_main_against_distros.yml
Due: none

fin
  .github/workflows/build_main_against_distros.yml
Due: none

Adding Jazzy build job on Main PRs to automatically test Jazzy compatiblity long term (Kilted to come shortly) (#5164)
  .github/workflows/build_main_against_distros.yml
Due: none

fixed dynamic parameter, CMake
  nav2_controller/plugins/position_goal_checker.cpp
  nav2_rotation_shim_controller/CMakeLists.txt
Due: ament_cpplint, ament_uncrustify

Adding declare_or_get_param util to node utils
  nav2_util/include/nav2_util/node_utils.hpp
Due: ament_cpplint, ament_uncrustify

Adding test for declare_or_get_param util
  nav2_util/test/test_node_utils.cpp
Due: ament_cpplint, ament_uncrustify

Adding declare_or_get_parameter function by type, using explicit variable names, disabling param warnings by default
  nav2_util/include/nav2_util/node_utils.hpp
  nav2_util/test/test_node_utils.cpp
Due: ament_cpplint, ament_uncrustify

Update nav2_util/test/test_node_utils.cpp
  nav2_util/test/test_node_utils.cpp
Due: ament_cpplint, ament_uncrustify

Rename rotate_to_dock
  nav2_docking/README.md
  nav2_docking/opennav_docking/include/opennav_docking/docking_server.hpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_docking/opennav_docking/src/simple_charging_dock.cpp
  nav2_docking/opennav_docking/src/simple_non_charging_dock.cpp
  nav2_docking/opennav_docking/test/docking_params.yaml
  nav2_docking/opennav_docking/test/test_docking_server.py
  nav2_docking/opennav_docking/test/test_simple_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_simple_non_charging_dock.cpp
  nav2_docking/opennav_docking_core/include/opennav_docking_core/charging_dock.hpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Revert "Added mutex"
  nav2_docking/opennav_docking/src/controller.cpp
Due: ament_cpplint, ament_uncrustify

Minor fixes and update controller test
  nav2_docking/README.md
  nav2_docking/opennav_docking/include/opennav_docking/controller.hpp
  nav2_docking/opennav_docking/include/opennav_docking/docking_server.hpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_docking/opennav_docking/test/test_controller.cpp
  nav2_docking/opennav_docking/test/test_docking_server_unit.cpp
Due: ament_cpplint, ament_uncrustify

Rotate after undock and fixes
  nav2_docking/opennav_docking/src/docking_server.cpp
Due: ament_cpplint, ament_uncrustify

Added rotate_to_dock_timeout
  nav2_docking/README.md
  nav2_docking/opennav_docking/include/opennav_docking/docking_server.hpp
  nav2_docking/opennav_docking/src/docking_server.cpp
Due: ament_cpplint, ament_uncrustify

Use angular acceleration te acelerate / decelerate
  nav2_docking/opennav_docking/src/controller.cpp
  nav2_docking/opennav_docking/test/test_controller.cpp
Due: ament_cpplint, ament_uncrustify

Merge remote-tracking branch 'jakub/backward-docking-without-sensors' into docking_backward
  nav2_docking/README.md
  nav2_docking/opennav_docking/include/opennav_docking/controller.hpp
  nav2_docking/opennav_docking/include/opennav_docking/docking_server.hpp
  nav2_docking/opennav_docking/src/controller.cpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_docking/opennav_docking/test/test_docking_server_unit.cpp
Due: ament_cpplint, ament_uncrustify

Move backward_plugin param to plugin
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_docking/opennav_docking/src/simple_charging_dock.cpp
  nav2_docking/opennav_docking/src/simple_non_charging_dock.cpp
  nav2_docking/opennav_docking/test/docking_params.yaml
  nav2_docking/opennav_docking/test/test_docking_server_unit.cpp
  nav2_docking/opennav_docking/test/test_simple_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_simple_non_charging_dock.cpp
  nav2_docking/opennav_docking_core/include/opennav_docking_core/charging_dock.hpp
Due: ament_cpplint, ament_uncrustify

Update readme
  nav2_docking/README.md
Due: none

Added mutex
  nav2_docking/opennav_docking/src/controller.cpp
Due: ament_cpplint, ament_uncrustify

Fixed rotateToDock and tests
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_docking/opennav_docking/test/test_docking_server.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Fix exception
  nav2_docking/opennav_docking/src/docking_server.cpp
Due: ament_cpplint, ament_uncrustify

Add more tests
  nav2_docking/opennav_docking/src/controller.cpp
  nav2_docking/opennav_docking/test/CMakeLists.txt
  nav2_docking/opennav_docking/test/docking_params.yaml
  nav2_docking/opennav_docking/test/test_docking_server.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Minor fixes
  nav2_docking/README.md
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_docking/opennav_docking/src/simple_charging_dock.cpp
  nav2_docking/opennav_docking/src/simple_non_charging_dock.cpp
Due: ament_cpplint, ament_uncrustify

Revert "Publish planned footprints after smoothing"
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Add smoothed footprints publishing
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_lattice.hpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
Due: ament_cpplint, ament_uncrustify

fix formatting
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Fix indentation for publisher creation in SmacPlannerHybrid and SmacPlannerLattice
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Fixing codecove test
  nav2_util/test/test_node_utils.cpp
Due: ament_cpplint, ament_uncrustify

Catching possible exception in declare_or_get_by_type
  nav2_util/include/nav2_util/node_utils.hpp
  nav2_util/test/test_node_utils.cpp
Due: ament_cpplint, ament_uncrustify

Prevent MPPI controller from resetting speed limits upon goal execution.
  nav2_mppi_controller/include/nav2_mppi_controller/optimizer.hpp
  nav2_mppi_controller/src/controller.cpp
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Fix - #5094 rotation shim stateful goal checking (#5140)
  nav2_controller/CMakeLists.txt
  nav2_controller/include/nav2_controller/plugins/position_goal_checker.hpp
  nav2_controller/plugins.xml
  nav2_controller/plugins/position_goal_checker.cpp
  nav2_rotation_shim_controller/CMakeLists.txt
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/nav2_rotation_shim_controller.hpp
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/tools/utils.hpp
  nav2_rotation_shim_controller/package.xml
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify
