Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

added missing linters (#5825)
  nav2_bringup/package.xml
  nav2_common/package.xml
  nav2_loopback_sim/package.xml
  nav2_simple_commander/package.xml
Due: none

Expose CostmapSubscriber's callback group (#5810)
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_subscriber.hpp
Due: ament_cpplint, ament_uncrustify

Change lifecycle heartbeat period default value (#5823)
  nav2_lifecycle_manager/include/nav2_lifecycle_manager/lifecycle_manager.hpp
  nav2_lifecycle_manager/src/lifecycle_manager.cpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
Due: ament_cpplint, ament_uncrustify

Change default max_cost value from 253 to 254 (#5813)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_path_valid_condition.hpp
Due: ament_cpplint, ament_uncrustify

Add missing bt nodes to nav2 tree nodes xml
  nav2_behavior_tree/nav2_tree_nodes.xml
Due: none

Remove follow path
  nav2_behavior_tree/nav2_tree_nodes.xml
Due: none

Fix usage of quadratic_cost_penalty and downsample_obstacle_heuristic in smac lattice
  nav2_smac_planner/include/nav2_smac_planner/node_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_lattice.hpp
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/node_hybrid.cpp
  nav2_smac_planner/src/node_lattice.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/test/test_nodehybrid.cpp
Due: ament_cpplint, ament_uncrustify

Add test for code coverage
  nav2_smac_planner/test/test_nodelattice.cpp
Due: ament_cpplint, ament_uncrustify

formatted simple_goal_checker.cpp
  nav2_controller/plugins/simple_goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

Apply suggestions
  nav2_route/include/nav2_route/utils.hpp
  nav2_route/src/route_server.cpp
  nav2_route/test/test_utils_and_types.cpp
  nav2_rviz_plugins/src/route_tool.cpp
Due: ament_cpplint, ament_uncrustify

Lint
  nav2_route/src/route_server.cpp
Due: ament_cpplint, ament_uncrustify

Include memory
  nav2_route/include/nav2_route/utils.hpp
Due: ament_cpplint, ament_uncrustify

Fixed PR comments
  nav2_mppi_controller/README.md
Due: none

Fix style
  nav2_costmap_2d/src/costmap_2d_publisher.cpp
Due: ament_cpplint, ament_uncrustify

Use layers isEnabled() to prevent publishing
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d_publisher.hpp
  nav2_costmap_2d/src/costmap_2d_publisher.cpp
Due: ament_cpplint, ament_uncrustify

Add missing include for CostmapLayer type
  nav2_costmap_2d/src/costmap_2d_publisher.cpp
Due: ament_cpplint, ament_uncrustify

Remove extra scoping
  nav2_costmap_2d/src/costmap_2d_publisher.cpp
Due: ament_cpplint, ament_uncrustify

Parameterize IPC
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/keepout_zone_launch.py
  nav2_bringup/launch/localization_launch.py
  nav2_bringup/launch/navigation_launch.py
  nav2_bringup/launch/speed_zone_launch.py
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_bringup/launch/tb4_loopback_simulation_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_lifecycle_manager/src/lifecycle_manager.cpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_ros_common/include/nav2_ros_common/node_utils.hpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Add code coverage
  nav2_smac_planner/test/test_smac_hybrid.cpp
  nav2_smac_planner/test/test_smac_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Add missing bt nodes to nav2 tree nodes xml (#5827)
  nav2_behavior_tree/nav2_tree_nodes.xml
Due: none

Add missing bt nodes to nav2 tree nodes xml (backport kilted) (#5828)
  nav2_behavior_tree/nav2_tree_nodes.xml
Due: none

Fix usage of quadratic_cost_penalty and downsample_obstacle_heuristic in smac lattice (#5829)
  nav2_smac_planner/include/nav2_smac_planner/node_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_lattice.hpp
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/node_hybrid.cpp
  nav2_smac_planner/src/node_lattice.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/test/test_nodehybrid.cpp
  nav2_smac_planner/test/test_nodelattice.cpp
Due: ament_cpplint, ament_uncrustify

Use the new declare_or_get_parameter API for RPP and Waypoint Follower (#5797)
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_waypoint_follower/src/waypoint_follower.cpp
Due: ament_cpplint, ament_uncrustify

Bugfix inactive publishers (#5748)
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d_publisher.hpp
  nav2_costmap_2d/src/costmap_2d_publisher.cpp
Due: ament_cpplint, ament_uncrustify

fix: correct indentation for ament_uncrustify compliance
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Reject dynamic kinematic parameter updates when speed limit is active
  nav2_mppi_controller/include/nav2_mppi_controller/optimizer.hpp
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Trying to add code coverage again
  nav2_smac_planner/test/test_smac_hybrid.cpp
  nav2_smac_planner/test/test_smac_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Add symmetric goal for goal checker and mppi goal angle critic
  nav2_controller/include/nav2_controller/plugins/simple_goal_checker.hpp
  nav2_controller/plugins/simple_goal_checker.cpp
  nav2_controller/plugins/test/goal_checker.cpp
  nav2_mppi_controller/README.md
  nav2_mppi_controller/include/nav2_mppi_controller/critics/goal_angle_critic.hpp
  nav2_mppi_controller/src/critics/goal_angle_critic.cpp
  nav2_mppi_controller/test/critics_tests.cpp
Due: ament_cpplint, ament_uncrustify

Lint
  nav2_mppi_controller/test/critics_tests.cpp
Due: ament_cpplint, ament_uncrustify

Update tools/bt2img.py
  tools/bt2img.py
Due: ament_flake8, ament_pep257

remove empty line
  tools/bt2img.py
Due: ament_flake8, ament_pep257

fixes
  tools/bt2img.py
Due: ament_flake8, ament_pep257

Prototype for fixing multiple planners, all unit tests passed
  nav2_behavior_tree/plugins/action/compute_path_to_pose_action.cpp
  nav2_bringup/params/nav2_params.yaml
  nav2_smac_planner/CMakeLists.txt
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_2d.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_basic.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/src/node_2d.cpp
  nav2_smac_planner/src/node_hybrid.cpp
  nav2_smac_planner/src/node_lattice.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/src/smoother.cpp
  nav2_smac_planner/test/test_a_star.cpp
  nav2_smac_planner/test/test_goal_manager.cpp
  nav2_smac_planner/test/test_node2d.cpp
  nav2_smac_planner/test/test_nodehybrid.cpp
  nav2_smac_planner/test/test_nodelattice.cpp
  nav2_smac_planner/test/test_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Lint
  nav2_smac_planner/src/a_star.cpp
Due: ament_cpplint, ament_uncrustify

nav2_ros_common: add lifecycle-managed Subscription wrapper
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
  nav2_ros_common/test/test_actions.cpp
Due: ament_cpplint, ament_uncrustify
