Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Add hysteresis buffer for xy_goal_tolerance in SimpleGoalChecker
  nav2_controller/include/nav2_controller/plugins/simple_goal_checker.hpp
  nav2_controller/plugins/simple_goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

docs: update nav2_tree_nodes.xml to align with current documentation and hpp files
  nav2_behavior_tree/nav2_tree_nodes.xml
Due: none

fixed units bug that cancelled each other out in getEffectiveDistance() and computeCost()
  nav2_costmap_2d/include/nav2_costmap_2d/asymmetric_inflation_layer.hpp
Due: ament_cpplint, ament_uncrustify

updated parameters to be the same as in the docs.nav2.org page about the asymmetric inflation layer
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

docs: update nav2_tree_nodes.xml to align with current documentation and hpp files (#6122)
  nav2_behavior_tree/nav2_tree_nodes.xml
Due: none

Reduce runtime dependencies.
  nav2_behavior_tree/package.xml
  nav2_collision_monitor/package.xml
  nav2_constrained_smoother/package.xml
  nav2_controller/package.xml
  nav2_costmap_2d/package.xml
  nav2_docking/opennav_docking/package.xml
  nav2_dwb_controller/dwb_critics/package.xml
  nav2_following/opennav_following/package.xml
  nav2_graceful_controller/package.xml
  nav2_map_server/package.xml
  nav2_mppi_controller/package.xml
  nav2_regulated_pure_pursuit_controller/package.xml
  nav2_ros_common/package.xml
  nav2_rotation_shim_controller/package.xml
  nav2_route/package.xml
  nav2_smac_planner/package.xml
  nav2_smoother/package.xml
  nav2_util/package.xml
Due: none

Restructure message dependencies
  nav2_dwb_controller/dwb_msgs/package.xml
  nav2_dwb_controller/nav_2d_msgs/package.xml
  nav2_msgs/package.xml
Due: none

please linter
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

Reduce runtime dependencies of packages (#6121)
  nav2_behavior_tree/package.xml
  nav2_collision_monitor/package.xml
  nav2_constrained_smoother/package.xml
  nav2_controller/package.xml
  nav2_costmap_2d/package.xml
  nav2_docking/opennav_docking/package.xml
  nav2_dwb_controller/dwb_critics/package.xml
  nav2_dwb_controller/dwb_msgs/package.xml
  nav2_dwb_controller/nav_2d_msgs/package.xml
  nav2_following/opennav_following/package.xml
  nav2_graceful_controller/package.xml
  nav2_map_server/package.xml
  nav2_mppi_controller/package.xml
  nav2_msgs/package.xml
  nav2_regulated_pure_pursuit_controller/package.xml
  nav2_ros_common/package.xml
  nav2_rotation_shim_controller/package.xml
  nav2_route/package.xml
  nav2_smac_planner/package.xml
  nav2_smoother/package.xml
  nav2_util/package.xml
Due: none

introduce prefer_forward_expansions
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
Due: ament_cpplint, ament_uncrustify

cleanup
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_bringup/launch/tb4_loopback_simulation_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_following/opennav_following/test/test_following_server.py
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
  nav2_system_tests/src/error_codes/test_error_codes.py
  nav2_system_tests/src/waypoint_follower/test_case_launch.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

modify alias
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
Due: ament_cpplint, ament_uncrustify

fix cpp linter
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
Due: ament_cpplint, ament_uncrustify

WIP: draft subscription factory lifecycle handling (design not final)
  nav2_collision_monitor/test/collision_monitor_node_bag.cpp
  nav2_collision_monitor/test/sources_test.cpp
  nav2_common/CMakeLists.txt
  nav2_costmap_2d/test/unit/binary_filter_test.cpp
  nav2_costmap_2d/test/unit/speed_filter_test.cpp
  nav2_map_server/test/unit/test_vector_object_server.cpp
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
  nav2_route/graphs/aws_graph.geojson
  nav2_route/graphs/sample_graph.geojson
  nav2_system_tests/src/behaviors/assisted_teleop/assisted_teleop_behavior_tester.cpp
  nav2_system_tests/src/behaviors/wait/wait_behavior_tester.cpp
  nav2_system_tests/src/behaviors/wait/wait_behavior_tester.hpp
  nav2_system_tests/src/localization/test_localization_node.cpp
Due: ament_cpplint, ament_uncrustify

Fix lifecycle subscription tests and add header guard
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
Due: ament_cpplint, ament_uncrustify

Restore files to upstream/main Signed-off-by: lotusymt <mengtiy5@uci.edu>
  Testing/Temporary/CTestCostData.txt
  Testing/Temporary/LastTest.log
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_bringup/launch/tb4_loopback_simulation_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_route/graphs/aws_graph.geojson
  nav2_route/graphs/sample_graph.geojson
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

Clean up CMakeLists.txt by removing unused lines
  nav2_common/CMakeLists.txt
Due: none

subsscription2.0, imitating publisher
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
Due: ament_cpplint, ament_uncrustify

revert unintended testfile changes
  nav2_system_tests/src/error_codes/test_error_codes.py
  nav2_system_tests/src/waypoint_follower/test_case_launch.py
Due: ament_flake8, ament_pep257

Ignore CTest Testing/ artifacts Signed-off-by: lotusymt luiseyang36@gmail.com
  .gitignore
  Testing/Temporary/CTestCostData.txt
  Testing/Temporary/LastTest.log
Due: none

fix bugs
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
Due: ament_cpplint, ament_uncrustify

nav2_ros_common: add lifecycle-managed Subscription wrapper
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
  nav2_ros_common/test/test_actions.cpp
Due: ament_cpplint, ament_uncrustify

update subscription
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
Due: ament_cpplint, ament_uncrustify

Update nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
Due: ament_cpplint, ament_uncrustify

Update nav2_ros_common/include/nav2_ros_common/subscription.hpp
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
Due: ament_cpplint, ament_uncrustify

fix rviz
  nav2_rviz_plugins/include/nav2_rviz_plugins/docking_panel.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/nav2_panel.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/route_tool.hpp
Due: ament_cpplint, ament_uncrustify

fix cpp linter
  nav2_collision_monitor/test/collision_monitor_node_bag.cpp
  nav2_costmap_2d/test/unit/binary_filter_test.cpp
  nav2_costmap_2d/test/unit/speed_filter_test.cpp
  nav2_following/opennav_following/test/test_following_server.py
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
  nav2_system_tests/src/behaviors/assisted_teleop/assisted_teleop_behavior_tester.cpp
  nav2_system_tests/src/behaviors/wait/wait_behavior_tester.cpp
  nav2_system_tests/src/localization/test_localization_node.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

fix linter
  nav2_rviz_plugins/src/docking_panel.cpp
  nav2_rviz_plugins/src/nav2_panel.cpp
  nav2_rviz_plugins/src/route_tool.cpp
Due: ament_cpplint, ament_uncrustify

fix param order
  nav2_rviz_plugins/src/docking_panel.cpp
  nav2_rviz_plugins/src/nav2_panel.cpp
Due: ament_cpplint, ament_uncrustify

nav2_ros_common: create subscription on activate, destroy on deactivate
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
  nav2_ros_common/test/test_subscription_latched.cpp
  nav2_route/graphs/aws_graph.geojson
  nav2_route/graphs/sample_graph.geojson
Due: ament_cpplint, ament_uncrustify

fix bug
  nav2_collision_monitor/src/lifecycle_point_cloud_subscription.cpp
  nav2_collision_monitor/test/sources_test.cpp
Due: ament_cpplint, ament_uncrustify

nav2_costmap_2d, nav2_map_server: align with create-on-activate subs
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_map_server/src/map_saver/map_saver.cpp
Due: ament_cpplint, ament_uncrustify

nav2_costmap_2d, nav2_map_server: activate test subs after PR #5834
  nav2_costmap_2d/test/integration/test_costmap_2d_publisher.cpp
  nav2_costmap_2d/test/integration/test_costmap_subscriber.cpp
  nav2_map_server/test/unit/test_costmap_filter_info_server.cpp
  nav2_map_server/test/unit/test_vector_object_server.cpp
Due: ament_cpplint, ament_uncrustify

fixes
  nav2_costmap_2d/test/unit/speed_filter_test.cpp
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/docking_panel.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/nav2_panel.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/route_tool.hpp
  nav2_rviz_plugins/src/docking_panel.cpp
  nav2_rviz_plugins/src/nav2_panel.cpp
  nav2_rviz_plugins/src/route_tool.cpp
  nav2_system_tests/src/behaviors/assisted_teleop/assisted_teleop_behavior_tester.cpp
Due: ament_cpplint, ament_uncrustify

nav2_util: break LifecycleServiceClient ctor wait loop on shutdown
  nav2_util/include/nav2_util/lifecycle_service_client.hpp
Due: ament_cpplint, ament_uncrustify

fix generate result error
  nav2_collision_monitor/src/collision_monitor_node.cpp
Due: ament_cpplint, ament_uncrustify

make cloud points compatible
  nav2_collision_monitor/CMakeLists.txt
  nav2_collision_monitor/include/nav2_collision_monitor/lifecycle_point_cloud_subscription.hpp
  nav2_collision_monitor/src/lifecycle_point_cloud_subscription.cpp
  nav2_collision_monitor/src/pointcloud.cpp
Due: ament_cpplint, ament_uncrustify

safe logic for templated node's subscription
  nav2_controller/src/controller_server.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_subscriber.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/footprint_subscriber.hpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
