Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

Lint line length cleanup of error message
  nav2_util/src/node_utils.cpp
Due: ament_cpplint, ament_uncrustify

linter/decrustify
  nav2_constrained_smoother/include/nav2_constrained_smoother/smoother_cost_function.hpp
  nav2_constrained_smoother/test/test_smoother_cost_function.cpp
Due: ament_cpplint, ament_uncrustify

indent inside #ifdef as no indentation level
  nav2_util/src/node_utils.cpp
Due: ament_cpplint, ament_uncrustify

linter
  nav2_util/src/node_utils.cpp
Due: ament_cpplint, ament_uncrustify

lint, add ugly new line
  nav2_constrained_smoother/include/nav2_constrained_smoother/smoother.hpp
Due: ament_cpplint, ament_uncrustify

typo
  nav2_util/src/node_utils.cpp
Due: ament_cpplint, ament_uncrustify

target link nav2_ros_common::nav2_ros_common
  nav2_costmap_2d/CMakeLists.txt
Due: none

target link nav2_ros_common::nav2_ros_common (#5352)
  nav2_costmap_2d/CMakeLists.txt
Due: none

Working returning of last path point from truncate path local
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/truncate_path_local_action.hpp
  nav2_behavior_tree/plugins/action/truncate_path_local_action.cpp
Due: ament_cpplint, ament_uncrustify

TwistSubscriber: add constructor using NodeInterfaces to allow use with non-lifecycle nodes
  nav2_behaviors/plugins/assisted_teleop.cpp
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/plugin_container_layer.hpp
  nav2_util/include/nav2_util/node_utils.hpp
  nav2_util/include/nav2_util/twist_subscriber.hpp
  nav2_util/src/node_utils.cpp
  nav2_util/test/test_twist_subscriber.cpp
  nav2_velocity_smoother/src/velocity_smoother.cpp
  nav2_velocity_smoother/test/test_velocity_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Update qos_profiles.hpp
  nav2_ros_common/include/nav2_ros_common/qos_profiles.hpp
Due: ament_cpplint, ament_uncrustify

Update bringup_launch.py
  nav2_bringup/launch/bringup_launch.py
Due: ament_flake8, ament_pep257

Support stamped footprints in costmap_2d (#5345)
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d_ros.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/footprint.hpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_costmap_2d/src/footprint.cpp
  nav2_costmap_2d/src/footprint_subscriber.cpp
Due: ament_cpplint, ament_uncrustify

fix: add missing keepout and speed zone substitutions for non-composed nodes (#5357)
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/navigation_launch.py
Due: ament_flake8, ament_pep257

tests modified to have successful passing on plugin failures
  nav2_route/test/test_graph_loader.cpp
  nav2_route/test/test_graph_saver.cpp
  nav2_route/test/test_operations.cpp
Due: ament_cpplint, ament_uncrustify

Adding BO's new logo
  README.md
  doc/sponsors_july_2025.png
Due: none

Adding BO's new logo (#5360)
  README.md
  doc/sponsors_july_2025.png
Due: none

Update update_ci_image.yaml
  .github/workflows/update_ci_image.yaml
Due: none

Adding slow down at target heading to RPP
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
Due: ament_cpplint, ament_uncrustify

Update test_regulated_pp.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

Initial draft of a deviation API
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/follow_path_action.hpp
  nav2_behavior_tree/plugins/action/follow_path_action.cpp
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/src/controller_server.cpp
  nav2_core/include/nav2_core/controller.hpp
  nav2_dwb_controller/dwb_core/include/dwb_core/dwb_local_planner.hpp
  nav2_dwb_controller/dwb_core/src/dwb_local_planner.cpp
  nav2_graceful_controller/include/nav2_graceful_controller/graceful_controller.hpp
  nav2_graceful_controller/src/graceful_controller.cpp
  nav2_graceful_controller/test/test_graceful_controller.cpp
  nav2_mppi_controller/benchmark/controller_benchmark.cpp
  nav2_mppi_controller/include/nav2_mppi_controller/controller.hpp
  nav2_mppi_controller/src/controller.cpp
  nav2_mppi_controller/test/controller_state_transition_test.cpp
  nav2_msgs/action/FollowPath.action
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/nav2_rotation_shim_controller.hpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
  nav2_rotation_shim_controller/test/test_shim_controller.cpp
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
  nav2_system_tests/src/error_codes/controller/controller_error_plugins.hpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Fixing last test missing update
  nav2_rotation_shim_controller/test/test_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

Reformat
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/follow_path_action.hpp
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/src/controller_server.cpp
  nav2_core/include/nav2_core/controller.hpp
  nav2_dwb_controller/dwb_core/include/dwb_core/dwb_local_planner.hpp
  nav2_dwb_controller/dwb_core/src/dwb_local_planner.cpp
  nav2_graceful_controller/include/nav2_graceful_controller/graceful_controller.hpp
  nav2_graceful_controller/src/graceful_controller.cpp
  nav2_mppi_controller/include/nav2_mppi_controller/controller.hpp
  nav2_mppi_controller/src/controller.cpp
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/nav2_rotation_shim_controller.hpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

linting
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/follow_path_action.hpp
  nav2_core/include/nav2_core/controller.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/controller.hpp
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
  nav2_system_tests/src/error_codes/controller/controller_error_plugins.hpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

linting
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

Adding slow down at target heading to RPP Controller (#5361)
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

Include <stdexcept> in docking_exceptions.hpp for exception handling
  nav2_docking/opennav_docking_core/include/opennav_docking_core/docking_exceptions.hpp
Due: ament_cpplint, ament_uncrustify

Update copyrights
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/control/pause_resume_controller.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/control/sequence_with_blackboard_memory.hpp
  nav2_behavior_tree/plugins/control/pause_resume_controller.cpp
  nav2_behavior_tree/plugins/control/sequence_with_blackboard_memory.cpp
  nav2_behavior_tree/test/plugins/control/test_pause_resume_controller.cpp
  nav2_behavior_tree/test/plugins/control/test_sequence_with_blackboard_memory.cpp
  nav2_behavior_tree/test/utils/get_node_from_tree.hpp
Due: ament_cpplint, ament_uncrustify

Fix size calc
  nav2_behavior_tree/test/utils/get_node_from_tree.hpp
Due: ament_cpplint, ament_uncrustify

removed nav2_ros_common from package.xml
  nav2_route/package.xml
Due: none

Include <stdexcept> in docking_exceptions.hpp for exception handling (#5363)
  nav2_docking/opennav_docking_core/include/opennav_docking_core/docking_exceptions.hpp
Due: ament_cpplint, ament_uncrustify

Eexception rethrow in dockRobot method
  nav2_docking/opennav_docking/src/docking_server.cpp
Due: ament_cpplint, ament_uncrustify

Minor changes from review
  nav2_costmap_2d/plugins/costmap_filters/binary_filter.cpp
  nav2_dwb_controller/dwb_critics/src/obstacle_footprint.cpp
  nav2_dwb_controller/dwb_critics/src/oscillation.cpp
  nav2_dwb_controller/dwb_plugins/src/standard_traj_generator.cpp
  nav2_regulated_pure_pursuit_controller/src/collision_checker.cpp
  nav2_route/graphs/aws_graph.geojson
Due: ament_cpplint, ament_uncrustify

Eexception rethrow in dockRobot method (#5364)
  nav2_docking/opennav_docking/src/docking_server.cpp
Due: ament_cpplint, ament_uncrustify

removed commented out nav2_ros_common/service_server.hpp
  nav2_route/include/nav2_route/plugins/route_operations/rerouting_service.hpp
  nav2_route/include/nav2_route/route_server.hpp
Due: ament_cpplint, ament_uncrustify

removed error_code and error_msg from actions and corresponding BT nodes
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_and_track_route_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_route_action.hpp
  nav2_behavior_tree/plugins/action/compute_and_track_route_action.cpp
  nav2_behavior_tree/plugins/action/compute_route_action.cpp
  nav2_msgs/action/ComputeAndTrackRoute.action
  nav2_msgs/action/ComputeRoute.action
  nav2_route/src/route_server.cpp
Due: ament_cpplint, ament_uncrustify

removed error code test
  nav2_route/test/test_route_server.cpp
Due: ament_cpplint, ament_uncrustify

made global_costmap frame id a server level parameter
  nav2_route/include/nav2_route/goal_intent_extractor.hpp
  nav2_route/include/nav2_route/route_server.hpp
  nav2_route/src/goal_intent_extractor.cpp
  nav2_route/src/route_server.cpp
  nav2_route/test/test_goal_intent_extractor.cpp
Due: ament_cpplint, ament_uncrustify

added route nodes to bt_navigator.cpp
  nav2_bt_navigator/src/bt_navigator.cpp
Due: ament_cpplint, ament_uncrustify

linting
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_route_action.hpp
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify
