Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

Fix bad_weak_ptr in createBond() by using shared_ptr (backport #5341)
  nav2_util/include/nav2_util/lifecycle_node.hpp
  nav2_util/src/lifecycle_node.cpp
Due: ament_cpplint, ament_uncrustify

doc update
  nav2_velocity_smoother/README.md
Due: none

Fix robot not stopping after reaching dock position
  nav2_docking/opennav_docking/src/docking_server.cpp
Due: ament_cpplint, ament_uncrustify

doc update (#5564)
  nav2_velocity_smoother/README.md
Due: none

Fix robot not stopping after reaching dock position (#5568)
  nav2_docking/opennav_docking/src/docking_server.cpp
Due: ament_cpplint, ament_uncrustify

Fix bad_weak_ptr in createBond() by using shared_ptr (backport #5341) (#5563)
  nav2_util/include/nav2_util/lifecycle_node.hpp
  nav2_util/src/lifecycle_node.cpp
Due: ament_cpplint, ament_uncrustify

Fix bad_weak_ptr in createBond() by using shared_ptr (backport #5341) (#5562)
  nav2_util/include/nav2_util/lifecycle_node.hpp
  nav2_util/src/lifecycle_node.cpp
Due: ament_cpplint, ament_uncrustify

Migrate TransformBroadcaster usage to use shared ptr.
  nav2_route/test/test_goal_intent_extractor.cpp
  nav2_route/test/test_route_tracker.cpp
Due: ament_cpplint, ament_uncrustify

Migrate TransformBroadcaster usage to use shared ptr. (#5569)
  nav2_route/test/test_goal_intent_extractor.cpp
  nav2_route/test/test_route_tracker.cpp
Due: ament_cpplint, ament_uncrustify

nav2_costmap_2d: static_layer: add grid value interpretation for inscribed inflated obstacles
  nav2_costmap_2d/include/nav2_costmap_2d/static_layer.hpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
Due: ament_cpplint, ament_uncrustify

nav2_costmap_2d: fix unit tests following change
  nav2_costmap_2d/test/integration/inflation_tests.cpp
  nav2_costmap_2d/test/integration/plugin_container_tests.cpp
Due: ament_cpplint, ament_uncrustify

Fix CI regression
  nav2_system_tests/src/behaviors/wait/test_wait_behavior_launch.py
Due: ament_flake8, ament_pep257

Fix CI regression (#5571)
  nav2_system_tests/src/behaviors/wait/test_wait_behavior_launch.py
Due: ament_flake8, ament_pep257

Fix optimal plan frame id
  nav2_mppi_controller/src/controller.cpp
Due: ament_cpplint, ament_uncrustify

Remove Whitespaces.
  nav2_mppi_controller/src/controller.cpp
Due: ament_cpplint, ament_uncrustify

Fix linting error
  nav2_mppi_controller/src/controller.cpp
Due: ament_cpplint, ament_uncrustify

Fix optimal plan frame id (#5572)
  nav2_mppi_controller/src/controller.cpp
Due: ament_cpplint, ament_uncrustify

Add support for qt6
  nav2_rviz_plugins/CMakeLists.txt
  nav2_rviz_plugins/include/nav2_rviz_plugins/docking_panel.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/nav2_panel.hpp
  nav2_rviz_plugins/src/nav2_panel.cpp
Due: ament_cpplint, ament_uncrustify

Modify CMakeList to support Jazzy
  nav2_rviz_plugins/CMakeLists.txt
Due: none

Use the new declare_or_get_parameter API for nav2_behavior_tree
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_behavior_tree/plugins/condition/goal_reached_condition.cpp
Due: ament_cpplint, ament_uncrustify

Simplified the parameter implemenation for error_code_name_prefixes.
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
Due: ament_cpplint, ament_uncrustify

Precommit
  nav2_rviz_plugins/include/nav2_rviz_plugins/docking_panel.hpp
Due: ament_cpplint, ament_uncrustify

Label PRs against target branch, and fail if docs PRs are missing.
  .github/workflows/autotag_docs.yml
Due: none

Added workflow to auto-tag docs PRs based on distro sync PRs.
  .github/workflows/autotag_docs.yml
Due: none

Updated PR template to include documentation link.
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add Qt6 support for nav2_rviz_plugins (#5576)
  nav2_rviz_plugins/CMakeLists.txt
  nav2_rviz_plugins/include/nav2_rviz_plugins/docking_panel.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/nav2_panel.hpp
  nav2_rviz_plugins/src/nav2_panel.cpp
Due: ament_cpplint, ament_uncrustify

Use the new declare_or_get_parameter API for nav2_behavior_tree (#5552)
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_behavior_tree/plugins/condition/goal_reached_condition.cpp
Due: ament_cpplint, ament_uncrustify

Update package and circle
  .circleci/config.yml
  nav2_following/opennav_following/package.xml
Due: none

feat: add follow_object action to bt_navigator parameters
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_bringup/params/nav2_params.yaml
  nav2_system_tests/src/system/nav2_system_params.yaml
Due: ament_cpplint, ament_uncrustify

Fix mypy issues
  nav2_following/opennav_following/test/test_following_server.py
Due: ament_flake8, ament_pep257

Following server
  nav2_following/opennav_following/CMakeLists.txt
  nav2_following/opennav_following/include/opennav_following/following_server.hpp
  nav2_following/opennav_following/package.xml
  nav2_following/opennav_following/src/following_server.cpp
  nav2_following/opennav_following/src/main.cpp
  nav2_following/opennav_following/test/CMakeLists.txt
  nav2_following/opennav_following/test/test_following_server_unit.cpp
  nav2_following/opennav_following_bt/CMakeLists.txt
  nav2_following/opennav_following_bt/README.md
  nav2_following/opennav_following_bt/include/opennav_following_bt/follow_object_action.hpp
  nav2_following/opennav_following_bt/include/opennav_following_bt/follow_object_cancel_node.hpp
  nav2_following/opennav_following_bt/package.xml
  nav2_following/opennav_following_bt/src/follow_object_action.cpp
  nav2_following/opennav_following_bt/src/follow_object_cancel_node.cpp
  nav2_following/opennav_following_bt/test/CMakeLists.txt
  nav2_following/opennav_following_bt/test/test_follow_object_action.cpp
  nav2_following/opennav_following_bt/test/test_follow_object_cancel_node.cpp
  nav2_following/opennav_following_msgs/CMakeLists.txt
  nav2_following/opennav_following_msgs/README.md
  nav2_following/opennav_following_msgs/action/FollowObject.action
  nav2_following/opennav_following_msgs/package.xml
Due: ament_cpplint, ament_uncrustify

Fix mypy test
  nav2_following/opennav_following/test/test_following_server.py
Due: ament_flake8, ament_pep257

Move FollowObject and FollowObjectCancel action nodes from bt package
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/follow_object_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/follow_object_cancel_node.hpp
  nav2_behavior_tree/plugins/action/follow_object_action.cpp
  nav2_behavior_tree/plugins/action/follow_object_cancel_node.cpp
  nav2_behavior_tree/test/plugins/action/CMakeLists.txt
  nav2_behavior_tree/test/plugins/action/test_follow_object_action.cpp
  nav2_behavior_tree/test/plugins/action/test_follow_object_cancel_node.cpp
  nav2_following/opennav_following_bt/CMakeLists.txt
  nav2_following/opennav_following_bt/package.xml
  nav2_following/opennav_following_bt/test/CMakeLists.txt
Due: ament_cpplint, ament_uncrustify

feat: migrate to nav2_msgs for FollowObject action and remove opennav_following_msgs
  nav2_following/opennav_following/CMakeLists.txt
  nav2_following/opennav_following/include/opennav_following/following_server.hpp
  nav2_following/opennav_following/package.xml
  nav2_following/opennav_following/test/test_following_server_unit.cpp
  nav2_following/opennav_following_bt/CMakeLists.txt
  nav2_following/opennav_following_bt/README.md
  nav2_following/opennav_following_bt/include/opennav_following_bt/follow_object_action.hpp
  nav2_following/opennav_following_bt/include/opennav_following_bt/follow_object_cancel_node.hpp
  nav2_following/opennav_following_bt/package.xml
  nav2_following/opennav_following_bt/src/follow_object_cancel_node.cpp
  nav2_following/opennav_following_bt/test/CMakeLists.txt
  nav2_following/opennav_following_bt/test/test_follow_object_action.cpp
  nav2_following/opennav_following_bt/test/test_follow_object_cancel_node.cpp
  nav2_following/opennav_following_msgs/CMakeLists.txt
  nav2_following/opennav_following_msgs/README.md
  nav2_following/opennav_following_msgs/package.xml
  nav2_msgs/CMakeLists.txt
  nav2_msgs/action/FollowObject.action
Due: ament_cpplint, ament_uncrustify

feat: add FollowObject action support in robot navigator and fix mypy
  nav2_bringup/launch/navigation_launch.py
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

Fix mypy related
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

Enable tools directory to be mypy compliant.
  tools/planner_benchmarking/metrics.py
  tools/smoother_benchmarking/metrics.py
Due: ament_flake8, ament_pep257

nav2_smac_planner: make A* return closest path found in case of timeout
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
  nav2_smac_planner/src/a_star.cpp
Due: ament_cpplint, ament_uncrustify

Enable nav2_system_tests to be mypy compliant.
  nav2_system_tests/src/gps_navigation/tester.py
  nav2_system_tests/src/waypoint_follower/tester.py
Due: ament_flake8, ament_pep257
