Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

Fix formatting and logic error
  nav2_velocity_smoother/src/velocity_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Check size first
  nav2_velocity_smoother/src/velocity_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Add tests for param size
  nav2_bringup/params/nav2_params.yaml
  nav2_velocity_smoother/test/test_velocity_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Add bondcpp to export dependencies
  nav2_ros_common/CMakeLists.txt
Due: none

Revert param changes
  nav2_bringup/params/nav2_params.yaml
Due: none

Add bondcpp to export dependencies (#5332)
  nav2_ros_common/CMakeLists.txt
Due: none

Add more tests
  nav2_velocity_smoother/test/test_velocity_smoother.cpp
Due: ament_cpplint, ament_uncrustify

clarifed nonblocking sequence functionality in doxygen
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/control/nonblocking_sequence.hpp
Due: ament_cpplint, ament_uncrustify

initializing outputs
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_and_track_route_action.hpp
  nav2_behavior_tree/plugins/action/compute_and_track_route_action.cpp
Due: ament_cpplint, ament_uncrustify

outputting last state on success
  nav2_behavior_tree/plugins/action/compute_and_track_route_action.cpp
Due: ament_cpplint, ament_uncrustify

linting
  nav2_behavior_tree/plugins/action/compute_and_track_route_action.cpp
Due: ament_cpplint, ament_uncrustify

fixed nav2_tree_nodes.xml
  nav2_behavior_tree/nav2_tree_nodes.xml
Due: none

Implement tests using xml_txt trees and dummy nodes
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/control/pause_resume_controller.hpp
  nav2_behavior_tree/plugins/control/pause_resume_controller.cpp
  nav2_behavior_tree/plugins/control/sequence_with_blackboard_memory.cpp
  nav2_behavior_tree/test/plugins/control/CMakeLists.txt
  nav2_behavior_tree/test/plugins/control/test_pause_resume_controller.cpp
  nav2_behavior_tree/test/plugins/control/test_sequence_with_blackboard_memory.cpp
  nav2_behavior_tree/test/utils/get_node_from_tree.hpp
  nav2_behavior_tree/test/utils/test_dummy_tree_node.hpp
Due: ament_cpplint, ament_uncrustify

Added tests, fixed issues
  nav2_bringup/launch/nav2_toolkit_launch.py
  nav2_bringup/params/nav2_params.yaml
  nav2_toolkit/include/nav2_toolkit/pose_saver_node.hpp
  nav2_toolkit/src/pose_saver_node.cpp
  nav2_toolkit/test/test_pose_saver_node.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Increase Readability of testing. (#5190)
  nav2_mppi_controller/test/parameter_handler_test.cpp
Due: ament_cpplint, ament_uncrustify

Adding Kilted backport tool
  .github/mergify.yml
Due: none

Adding missing dep to loopback sim (#5204)
  nav2_loopback_sim/package.xml
Due: none

Add value rewrites to RewrittenYaml (#5191)
  .gitignore
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/keepout_zone_launch.py
  nav2_bringup/launch/speed_zone_launch.py
  nav2_bringup/params/nav2_params.yaml
  nav2_common/CMakeLists.txt
  nav2_common/nav2_common/launch/rewritten_yaml.py
  nav2_common/package.xml
  nav2_common/test/test_rewritten_yaml.py
  nav2_system_tests/src/behaviors/assisted_teleop/test_assisted_teleop_behavior_launch.py
  nav2_system_tests/src/behaviors/backup/test_backup_behavior.launch.py
  nav2_system_tests/src/behaviors/drive_on_heading/test_drive_on_heading_behavior.launch.py
  nav2_system_tests/src/behaviors/spin/test_spin_behavior.launch.py
  nav2_system_tests/src/behaviors/wait/test_wait_behavior_launch.py
  nav2_system_tests/src/route/test_route_launch.py
  nav2_system_tests/src/system_failure/test_system_failure_launch.py
  nav2_system_tests/src/waypoint_follower/test_case_launch.py
Due: ament_flake8, ament_pep257

Removing underlay workspace from Main (#5200)
  tools/underlay.repos
Due: none

Add warehouse routes for nav2 route server (#5160)
  nav2_bringup/graphs/depot_graph.geojson
  nav2_bringup/graphs/warehouse_graph.geojson
  nav2_bringup/launch/tb4_loopback_simulation_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_simple_commander/launch/route_example_launch.py
  nav2_simple_commander/nav2_simple_commander/example_route.py
  nav2_simple_commander/nav2_simple_commander/utils.py
Due: ament_flake8, ament_pep257

Add missing include of algorithm in differential_motion_model.cpp (#5293)
  nav2_amcl/src/motion_model/differential_motion_model.cpp
Due: ament_cpplint, ament_uncrustify

Parametrizing obstacle layer tf filter tolerance (#5261)
  nav2_costmap_2d/plugins/obstacle_layer.cpp
Due: ament_cpplint, ament_uncrustify

Revert "Fix Ci from key signing (#5220)" (#5237)
  .circleci/config.yml
  Dockerfile
Due: none

Adding logging for matched events and dropped messages into pub/sub of new nav2_ros_common package. Also adding QoS overrides default ON (#5302)
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/include/nav2_behavior_tree/bt_cancel_action_node.hpp
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_smac_planner/src/smac_planner_2d.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
Due: ament_cpplint, ament_uncrustify

include bug fix for nav2_smac_planner (#5198)
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/test/test_a_star.cpp
Due: ament_cpplint, ament_uncrustify

Remove unused unistd.h header from route_tool.cpp (#5292)
  nav2_rviz_plugins/src/route_tool.cpp
Due: ament_cpplint, ament_uncrustify

Disable costmap filter zones from tb3 bringup (only Tb4 enabled) (#5223)
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
Due: ament_flake8, ament_pep257

Pass node options to costmap node (#5202)
  nav2_controller/src/controller_server.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d_ros.hpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_planner/src/planner_server.cpp
Due: ament_cpplint, ament_uncrustify

Update claude.yml
  .github/workflows/claude.yml
Due: none

Option to Reduce Lethal to High-Cost Navigable To Get Out of Keepout Zones if Wandered In (#5187)
  nav2_bringup/params/nav2_params.yaml
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/keepout_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
Due: ament_cpplint, ament_uncrustify

Revert "Removing underlay workspace from Main" (#5206)
  tools/underlay.repos
Due: none

Create claude.yml
  .github/workflows/claude.yml
Due: none

Use fixed thresholds for Trinary yaml (#5278)
  nav2_map_server/src/map_io.cpp
Due: ament_cpplint, ament_uncrustify

enable_groot_monitoring_ false (#5246)
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server.hpp
Due: ament_cpplint, ament_uncrustify

Adding parameter warn_when_defaulting_parameters to control default parameter warnings (#5189)
  nav2_util/include/nav2_util/node_utils.hpp
  nav2_util/test/test_node_utils.cpp
Due: ament_cpplint, ament_uncrustify

Add LaunchConfigAsBool (Fixes #5233) (#5301)
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/cloned_multi_tb3_simulation_launch.py
  nav2_bringup/launch/keepout_zone_launch.py
  nav2_bringup/launch/localization_launch.py
  nav2_bringup/launch/navigation_launch.py
  nav2_bringup/launch/rviz_launch.py
  nav2_bringup/launch/slam_launch.py
  nav2_bringup/launch/speed_zone_launch.py
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_bringup/launch/tb4_loopback_simulation_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_bringup/launch/unique_multi_tb3_simulation_launch.py
  nav2_common/CMakeLists.txt
  nav2_common/nav2_common/launch/__init__.py
  nav2_common/nav2_common/launch/launch_config_as_bool.py
  nav2_common/test/test_launch_config_as_bool.py
Due: ament_flake8, ament_pep257

Conserve curvature with LIMIT action (#5255)
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
Due: ament_cpplint, ament_uncrustify

Updating readme table for kilted release (#5249)
  README.md
  tools/update_readme_table.py
Due: ament_flake8, ament_pep257
