Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Add global min obstacle height in voxel layer (#5389)
  nav2_costmap_2d/plugins/voxel_layer.cpp
Due: ament_cpplint, ament_uncrustify

[DEX] Enforce 3 digits precision (#5398)
  nav2_map_server/include/nav2_map_server/map_io.hpp
  nav2_map_server/src/map_io.cpp
Due: ament_cpplint, ament_uncrustify

[static_layer] limit comparison precision (#5405)
  nav2_costmap_2d/include/nav2_costmap_2d/static_layer.hpp
  nav2_costmap_2d/plugins/static_layer.cpp
Due: ament_cpplint, ament_uncrustify

corner case bin check (#5413)
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Add IndexType definition for Nanoflann KDTree in `node_spatial_tree`. (#5420)
  nav2_route/include/nav2_route/node_spatial_tree.hpp
Due: ament_cpplint, ament_uncrustify

Smooth path even if goal pose is so much near to the robot (#5423)
  nav2_smoother/src/simple_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Fix KeepoutFilter on the ARM architecture (#5436)
  nav2_costmap_2d/plugins/costmap_filters/costmap_filter.cpp
Due: ament_cpplint, ament_uncrustify

Fix missing dependency (#5460)
  nav2_loopback_sim/package.xml
Due: none

Support loading multiple behavior tree files as subtrees (#5426)
  nav2_behavior_tree/include/nav2_behavior_tree/behavior_tree_engine.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_behavior_tree/src/behavior_tree_engine.cpp
  nav2_bringup/params/nav2_params.yaml
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
  nav2_core/include/nav2_core/behavior_tree_navigator.hpp
  nav2_system_tests/src/behavior_tree/test_behavior_tree_node.cpp
Due: ament_cpplint, ament_uncrustify

Fixing backport error
  nav2_core/include/nav2_core/behavior_tree_navigator.hpp
Due: ament_cpplint, ament_uncrustify

Conserve curvature with LIMIT action (#5255)
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
Due: ament_cpplint, ament_uncrustify

Adding epsilon for voxel_layer precision loss (#5314)
  nav2_costmap_2d/plugins/voxel_layer.cpp
Due: ament_cpplint, ament_uncrustify

fix: correct ThroughActionResult type alias in would_a_planner_recovery_help_condition (#5326)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/would_a_planner_recovery_help_condition.hpp
Due: ament_cpplint, ament_uncrustify

Adding slow down at target heading to RPP Controller (#5361)
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

Eexception rethrow in dockRobot method (#5364)
  nav2_docking/opennav_docking/src/docking_server.cpp
Due: ament_cpplint, ament_uncrustify

load balance CI
  .circleci/config.yml
Due: none

updated route tool from develop without kilted changes
  nav2_rviz_plugins/include/nav2_rviz_plugins/route_tool.hpp
  nav2_rviz_plugins/launch/route_tool.launch.py
  nav2_rviz_plugins/src/route_tool.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Fixing BT Navigator backport merge conflict issue
  nav2_core/include/nav2_core/behavior_tree_navigator.hpp
Due: ament_cpplint, ament_uncrustify

fix naming for nav2_path_expiring_timer_condition_bt_node
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/test/plugins/condition/CMakeLists.txt
Due: none

Fix merge issues and pre-commit checks
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/costmap_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/costmap_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
  nav2_costmap_2d/test/unit/costmap_filter_test.cpp
  nav2_map_server/include/nav2_map_server/vector_object_shapes.hpp
  nav2_map_server/include/nav2_map_server/vector_object_utils.hpp
  nav2_map_server/launch/vector_object_server.launch.py
  nav2_map_server/src/vo_server/vector_object_shapes.cpp
  nav2_util/test/regression/CMakeLists.txt
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Change tf2_ros headers from `.h` to `.hpp`
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
  nav2_map_server/include/nav2_map_server/vector_object_server.hpp
  nav2_map_server/include/nav2_map_server/vector_object_shapes.hpp
  nav2_map_server/src/vo_server/vector_object_server.cpp
  nav2_map_server/test/unit/test_vector_object_server.cpp
  nav2_map_server/test/unit/test_vector_object_shapes.cpp
Due: ament_cpplint, ament_uncrustify

Fix race condition in pub-sub of VO map
  nav2_map_server/src/vo_server/vector_object_server.cpp
Due: ament_cpplint, ament_uncrustify

Cleanup
  nav2_map_server/params/vector_object_server_params.yaml
  nav2_map_server/src/vo_server/vector_object_server.cpp
Due: ament_cpplint, ament_uncrustify

fix naming for nav2_path_expiring_timer_condition_bt_node (#5471)
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/test/plugins/condition/CMakeLists.txt
Due: none

fix: Move SmootherParams declaration outside smooth_path conditional (#5473)
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Remove use of ament_target_dependencies
  nav2_map_server/test/unit/CMakeLists.txt
Due: none

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
