Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Use backup strategy as iterating through Path Points
  nav2_graceful_controller/include/nav2_graceful_controller/graceful_controller.hpp
  nav2_graceful_controller/include/nav2_graceful_controller/parameter_handler.hpp
  nav2_graceful_controller/src/graceful_controller.cpp
  nav2_graceful_controller/src/parameter_handler.cpp
  nav2_graceful_controller/test/test_graceful_controller.cpp
Due: ament_cpplint, ament_uncrustify

Add Interpolation functions to nav2_util
  nav2_graceful_controller/include/nav2_graceful_controller/graceful_controller.hpp
  nav2_graceful_controller/src/graceful_controller.cpp
  nav2_graceful_controller/test/test_graceful_controller.cpp
  nav2_util/include/nav2_util/interpolation_utils.hpp
  nav2_util/src/CMakeLists.txt
  nav2_util/src/interpolation_utils.cpp
  nav2_util/test/CMakeLists.txt
  nav2_util/test/test_interpolation_utils.cpp
Due: ament_cpplint, ament_uncrustify

Use nav2_util interpolation for RPP
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

Delete excess parameter files
  nav2_graceful_controller/params/graceful_controller_params.yaml
  nav2_regulated_pure_pursuit_controller/params/regulated_pure_pursuit_params.yaml
Due: none

addressed comments
  nav2_route/include/nav2_route/utils.hpp
  nav2_route/src/plugins/graph_file_savers/geojson_graph_file_saver.cpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/route_tool.hpp
  nav2_rviz_plugins/src/route_tool.cpp
Due: ament_cpplint, ament_uncrustify

Update nav2_route/include/nav2_route/graph_saver.hpp
  nav2_route/include/nav2_route/graph_saver.hpp
Due: ament_cpplint, ament_uncrustify

Update nav2_route/src/plugins/graph_file_savers/geojson_graph_file_saver.cpp
  nav2_route/src/plugins/graph_file_savers/geojson_graph_file_saver.cpp
Due: ament_cpplint, ament_uncrustify

linter fix
  nav2_route/include/nav2_route/utils.hpp
Due: ament_cpplint, ament_uncrustify

Configure the entire nav2 stack with mypy (#5084)
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  tools/bt2img.py
  tools/planner_benchmarking/metrics.py
  tools/planner_benchmarking/planning_benchmark_bringup.py
  tools/planner_benchmarking/process_data.py
  tools/pyproject.toml
  tools/smoother_benchmarking/metrics.py
  tools/smoother_benchmarking/process_data.py
  tools/smoother_benchmarking/smoother_benchmark_bringup.py
  tools/update_readme_table.py
Due: ament_flake8, ament_pep257

Route Tool Rviz Panel (#4775)
  nav2_route/CMakeLists.txt
  nav2_route/include/nav2_route/graph_saver.hpp
  nav2_route/include/nav2_route/interfaces/graph_file_saver.hpp
  nav2_route/include/nav2_route/plugins/graph_file_savers/geojson_graph_file_saver.hpp
  nav2_route/include/nav2_route/types.hpp
  nav2_route/include/nav2_route/utils.hpp
  nav2_route/plugins.xml
  nav2_route/src/graph_saver.cpp
  nav2_route/src/plugins/graph_file_savers/geojson_graph_file_saver.cpp
  nav2_route/src/route_server.cpp
  nav2_route/test/CMakeLists.txt
  nav2_route/test/test_geojson_graph_file_saver.cpp
  nav2_route/test/test_graph_saver.cpp
  nav2_rviz_plugins/CMakeLists.txt
  nav2_rviz_plugins/include/nav2_rviz_plugins/route_tool.hpp
  nav2_rviz_plugins/launch/route_tool.launch.py
  nav2_rviz_plugins/package.xml
  nav2_rviz_plugins/plugins_description.xml
  nav2_rviz_plugins/resource/route_tool.ui
  nav2_rviz_plugins/rviz/route_tool.rviz
  nav2_rviz_plugins/src/costmap_cost_tool.cpp
  nav2_rviz_plugins/src/docking_panel.cpp
  nav2_rviz_plugins/src/route_tool.cpp
  nav2_rviz_plugins/src/selector.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

fixed pose header frame_id in nav2_navfn_planner
  nav2_navfn_planner/src/navfn_planner.cpp
Due: ament_cpplint, ament_uncrustify

redesign dynamic param patterns
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/parameter_handler.hpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

change cache version
  .circleci/config.yml
Due: none

check that parameter of type double are >=0.0
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

fixing linting
  nav2_rviz_plugins/launch/route_tool.launch.py
  tools/pyproject.toml
Due: ament_flake8, ament_pep257

Dynamic param patterns (#4971)
  .circleci/config.yml
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/parameter_handler.hpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

Add short delay before lookup transform in polygon test (#4939)
  nav2_collision_monitor/test/polygons_test.cpp
Due: ament_cpplint, ament_uncrustify

Populate stamped command message with now timestamp, if velocity timed out. (#4959)
  nav2_velocity_smoother/src/velocity_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Integrate ClearCostmapExceptRegion and ClearCostmapAroundRobot Services into the API (#4962)
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

Fix urls in node hybrid (#4973)
  nav2_smac_planner/src/node_hybrid.cpp
Due: ament_cpplint, ament_uncrustify

Use main function to replace global variable in gtest. (#4978)
  nav2_system_tests/src/localization/test_localization_node.cpp
Due: ament_cpplint, ament_uncrustify

nav2_behavior_tree: fix input port parsing error in AreErrorCodesPresent (#4986)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/are_error_codes_present_condition.hpp
  nav2_behavior_tree/test/plugins/condition/test_are_error_codes_present.cpp
Due: ament_cpplint, ament_uncrustify

Change to goal checker orientation for yaw angle (#4988)
  nav2_controller/plugins/simple_goal_checker.cpp
  nav2_controller/plugins/test/goal_checker.cpp
  nav2_controller/plugins/test/progress_checker.cpp
Due: ament_cpplint, ament_uncrustify

Declare_parameter_if_not_declared in docking navigator (#5023)
  nav2_docking/opennav_docking/src/navigator.cpp
  nav2_docking/opennav_docking/test/test_navigator.cpp
Due: ament_cpplint, ament_uncrustify

Update nav2_docking/README.md
  nav2_docking/README.md
Due: none

Updating readme table
  README.md
  tools/update_readme_table.py
Due: ament_flake8, ament_pep257

lint
  README.md
Due: none

Copyright change
  nav2_util/include/nav2_util/interpolation_utils.hpp
  nav2_util/src/interpolation_utils.cpp
Due: ament_cpplint, ament_uncrustify

suggestions from review
  nav2_costmap_2d/src/costmap_topic_collision_checker.cpp
Due: ament_cpplint, ament_uncrustify

Upper and others
  nav2_docking/opennav_docking/include/opennav_docking/simple_charging_dock.hpp
  nav2_docking/opennav_docking/include/opennav_docking/simple_non_charging_dock.hpp
  nav2_docking/opennav_docking/include/opennav_docking/utils.hpp
  nav2_docking/opennav_docking/src/simple_charging_dock.cpp
  nav2_docking/opennav_docking/src/simple_non_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_simple_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_simple_non_charging_dock.cpp
  nav2_docking/opennav_docking/test/testing_dock.cpp
  nav2_docking/opennav_docking_core/include/opennav_docking_core/charging_dock.hpp
  nav2_docking/opennav_docking_core/include/opennav_docking_core/non_charging_dock.hpp
Due: ament_cpplint, ament_uncrustify

reverted change to nav2_bt_navigator/behavior_trees/navigate_to_pose_w_replanning_and_recovery.xml
  nav2_bt_navigator/behavior_trees/navigate_to_pose_w_replanning_and_recovery.xml
Due: none

simplify logic
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_to_pose_action.hpp
  nav2_behavior_tree/plugins/action/compute_path_to_pose_action.cpp
Due: ament_cpplint, ament_uncrustify

adding multifloor
  nav2_route/README.md
Due: none

[nav2_behavior_tree] Add force_use_current_pose to ComputePathToPoseAction (#4925)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_to_pose_action.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/action/compute_path_to_pose_action.cpp
Due: ament_cpplint, ament_uncrustify

[CostmapTopicCollisionChecker] Alternative constructor with footprint string (#4926)
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_topic_collision_checker.hpp
  nav2_costmap_2d/src/costmap_topic_collision_checker.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
