Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Backport RouteTool RViz plugin to Jazzy (#5663)
  nav2_route/CMakeLists.txt
  nav2_rviz_plugins/CMakeLists.txt
  nav2_rviz_plugins/include/nav2_rviz_plugins/route_tool.hpp
  nav2_rviz_plugins/launch/route_tool.launch.py
  nav2_rviz_plugins/package.xml
  nav2_rviz_plugins/plugins_description.xml
  nav2_rviz_plugins/resource/route_tool.ui
  nav2_rviz_plugins/rviz/route_tool.rviz
  nav2_rviz_plugins/src/route_tool.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Fix: reset controller_server loop_rate when missed desired rate #5712
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Fix: wait for drive_on_heading_client instead of backup_client
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

Added test
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

fix Linting: added newline at end of file
  nav2_rviz_plugins/include/nav2_rviz_plugins/route_tool.hpp
  nav2_rviz_plugins/launch/route_tool.launch.py
  nav2_rviz_plugins/src/route_tool.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Fix uncrustify formatting for route_tool files
  nav2_rviz_plugins/include/nav2_rviz_plugins/route_tool.hpp
  nav2_rviz_plugins/src/route_tool.cpp
Due: ament_cpplint, ament_uncrustify

Fix linting: remove blank line at end of Python file
  nav2_rviz_plugins/launch/route_tool.launch.py
Due: ament_flake8, ament_pep257

Fix memory growth issue in isPoseOccupied (#5715)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_pose_occupied_condition.hpp
  nav2_behavior_tree/plugins/condition/is_path_valid_condition.cpp
  nav2_behavior_tree/plugins/condition/is_pose_occupied_condition.cpp
Due: ament_cpplint, ament_uncrustify

Fix: wait for drive_on_heading_client instead of backup_client (#5724)
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

Add approach_velocity_scaling_dist to dynamic parameter callback (#5711)
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

Fix: reset controller_server loop_rate when missed desired rate #5712 (#5723)
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Removed using nav2::declare_parameter_if_not_declared from navfn_planner.cpp
  nav2_graceful_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

Fix macOS compilation issues in Navigation2 packages
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_route/include/nav2_route/route_server.hpp
  nav2_route/src/route_server.cpp
Due: ament_cpplint, ament_uncrustify

Pre-commit Fix
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
Due: ament_cpplint, ament_uncrustify

Removed using nav2::declare_parameter_if_not_declared from parameter_handler.cpp
  nav2_graceful_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

Implement Predictive Inflation Layer Plugin
  nav2_costmap_2d/CMakeLists.txt
  nav2_costmap_2d/costmap_plugins.xml
  nav2_costmap_2d/include/nav2_costmap_2d/predictive_inflation_layer.hpp
  nav2_costmap_2d/plugins/predictive_inflation_layer.cpp
  nav2_costmap_2d/test/CMakeLists.txt
  nav2_costmap_2d/test/unit/CMakeLists.txt
  nav2_costmap_2d/test/unit/test_predictive_inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

:zap: add migration log of desired_linear_vel
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

:fire: remove velocity feedback parameter
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/parameter_handler.hpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
Due: ament_cpplint, ament_uncrustify

:recycle: remove implicit return using tuple
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

Updated nav2_route/CMakeLists.txt to original Jazzy
  nav2_route/CMakeLists.txt
Due: none

:recycle: move dwpp functions to utils
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/dynamic_window_pure_pursuit_functions.hpp
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_regulated_pure_pursuit_controller/test/CMakeLists.txt
  nav2_regulated_pure_pursuit_controller/test/test_dwpp_functions.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

Removing underlay workspace from Main (#5200)
  tools/underlay.repos
Due: none

:recycle: use struct to represent dynamic window bounds
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/dynamic_window_pure_pursuit_functions.hpp
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/parameter_handler.hpp
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_regulated_pure_pursuit_controller/test/test_dwpp_functions.cpp
Due: ament_cpplint, ament_uncrustify

:memo: modify docstring and readme
  nav2_regulated_pure_pursuit_controller/README.md
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/dynamic_window_pure_pursuit_functions.hpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
Due: ament_cpplint, ament_uncrustify

Try updating key to avoid building with cache
  .circleci/config.yml
Due: none

Apply Tony's suggestions
  nav2_controller/include/nav2_controller/plugins/simple_path_handler.hpp
  nav2_controller/plugins/simple_path_handler.cpp
  nav2_controller/plugins/test/path_handler.cpp
  nav2_graceful_controller/src/parameter_handler.cpp
  nav2_util/include/nav2_util/path_utils.hpp
  nav2_util/src/CMakeLists.txt
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

Lint
  nav2_controller/plugins/simple_path_handler.cpp
Due: ament_cpplint, ament_uncrustify

Removing underlay workspace from Main (#5732)
  .circleci/config.yml
  tools/underlay.repos
Due: none

Update nav2_regulated_pure_pursuit_controller/src/collision_checker.cpp
  nav2_regulated_pure_pursuit_controller/src/collision_checker.cpp
Due: ament_cpplint, ament_uncrustify

Fix: adding default template findRoute function > reverting to nav2::LifecycleNode rather using rclcpp::Node
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_route/include/nav2_route/plugins/route_operation_client.hpp
  nav2_route/include/nav2_route/route_server.hpp
  nav2_route/src/route_server.cpp
Due: ament_cpplint, ament_uncrustify

fix bug UAF
  nav2_dwb_controller/dwb_plugins/include/dwb_plugins/kinematic_parameters.hpp
  nav2_dwb_controller/dwb_plugins/src/kinematic_parameters.cpp
Due: ament_cpplint, ament_uncrustify

fix linting problems Signed-off-by: suifengersan123 <yangabc810@gmail.com>
  nav2_dwb_controller/dwb_plugins/include/dwb_plugins/kinematic_parameters.hpp
Due: ament_cpplint, ament_uncrustify

fix linting problems Signed-off-by: suifengersan123 <yangabc810@gmail.com>
  nav2_dwb_controller/dwb_plugins/src/kinematic_parameters.cpp
Due: ament_cpplint, ament_uncrustify

fix linting problems
  nav2_dwb_controller/dwb_plugins/include/dwb_plugins/kinematic_parameters.hpp
  nav2_dwb_controller/dwb_plugins/src/kinematic_parameters.cpp
Due: ament_cpplint, ament_uncrustify

fix linting problems Signed-off-by: suifengersan123 <yangabc810@gmail.com>
  nav2_dwb_controller/dwb_plugins/include/dwb_plugins/kinematic_parameters.hpp
  nav2_dwb_controller/dwb_plugins/src/kinematic_parameters.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
