Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Use new api
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/parameter_handler.hpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
  nav2_rotation_shim_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

Linting
  nav2_rotation_shim_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

Redesign DWB dynamic parameters pattern (#5641)
  nav2_dwb_controller/dwb_core/include/dwb_core/trajectory_generator.hpp
  nav2_dwb_controller/dwb_core/src/dwb_local_planner.cpp
  nav2_dwb_controller/dwb_plugins/include/dwb_plugins/kinematic_parameters.hpp
  nav2_dwb_controller/dwb_plugins/include/dwb_plugins/standard_traj_generator.hpp
  nav2_dwb_controller/dwb_plugins/src/kinematic_parameters.cpp
  nav2_dwb_controller/dwb_plugins/src/standard_traj_generator.cpp
  nav2_dwb_controller/dwb_plugins/test/kinematic_parameters_test.cpp
Due: ament_cpplint, ament_uncrustify

Corrected parameter declaration methods that aren't part of Jazzy. Fixed parameter typo from some manual merging in pointcloud.cpp
  nav2_collision_monitor/src/pointcloud.cpp
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
Due: ament_cpplint, ament_uncrustify

Backporting custom height point field into Jazzy. (#5646)
  nav2_collision_monitor/include/nav2_collision_monitor/pointcloud.hpp
  nav2_collision_monitor/params/collision_monitor_params.yaml
  nav2_collision_monitor/src/pointcloud.cpp
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
Due: ament_cpplint, ament_uncrustify

add open loop option for MPPI (#5617)
  nav2_mppi_controller/README.md
  nav2_mppi_controller/include/nav2_mppi_controller/models/optimizer_settings.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/optimizer.hpp
  nav2_mppi_controller/src/optimizer.cpp
  nav2_mppi_controller/test/optimizer_unit_tests.cpp
Due: ament_cpplint, ament_uncrustify

fixes
  nav2_mppi_controller/include/nav2_mppi_controller/critic_function.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/path_align_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/path_angle_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critics/path_follow_critic.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/tools/trajectory_visualizer.hpp
  nav2_mppi_controller/src/critics/path_align_critic.cpp
  nav2_mppi_controller/src/critics/path_angle_critic.cpp
  nav2_mppi_controller/src/critics/path_follow_critic.cpp
  nav2_mppi_controller/src/trajectory_visualizer.cpp
Due: ament_cpplint, ament_uncrustify

header added
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_within_path_tracking_bounds_condition.hpp
Due: ament_cpplint, ament_uncrustify

source file addition
  nav2_behavior_tree/plugins/condition/is_within_path_tracking_bounds_condition.cpp
Due: ament_cpplint, ament_uncrustify

test file added
  nav2_behavior_tree/test/plugins/condition/test_is_within_path_tracking_bounds.cpp
Due: ament_cpplint, ament_uncrustify

Last additions
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/condition/is_within_path_tracking_bounds_condition.cpp
  nav2_behavior_tree/test/plugins/condition/CMakeLists.txt
Due: ament_cpplint, ament_uncrustify

Styling changes
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_within_path_tracking_bounds_condition.hpp
  nav2_behavior_tree/plugins/condition/is_within_path_tracking_bounds_condition.cpp
Due: ament_cpplint, ament_uncrustify

Adding left, right side errors
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_within_path_tracking_bounds_condition.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/condition/is_within_path_tracking_bounds_condition.cpp
  nav2_behavior_tree/test/plugins/condition/test_is_within_path_tracking_bounds.cpp
Due: ament_cpplint, ament_uncrustify

minor changes
  nav2_behavior_tree/plugins/condition/is_within_path_tracking_bounds_condition.cpp
Due: ament_cpplint, ament_uncrustify

Add namespace for primary controller
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
  nav2_rotation_shim_controller/src/parameter_handler.cpp
  nav2_rotation_shim_controller/test/test_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

Use ament_add_ros_isolated
  .circleci/config.yml
  nav2_costmap_2d/package.xml
  nav2_costmap_2d/test/integration/CMakeLists.txt
  nav2_docking/opennav_docking/package.xml
  nav2_docking/opennav_docking/test/CMakeLists.txt
  nav2_following/opennav_following/package.xml
  nav2_following/opennav_following/test/CMakeLists.txt
  nav2_lifecycle_manager/package.xml
  nav2_lifecycle_manager/test/CMakeLists.txt
  nav2_map_server/package.xml
  nav2_map_server/test/component/CMakeLists.txt
  nav2_map_server/test/map_saver_cli/CMakeLists.txt
  nav2_system_tests/package.xml
  nav2_system_tests/src/behavior_tree/CMakeLists.txt
  nav2_system_tests/src/planning/CMakeLists.txt
  nav2_util/package.xml
  nav2_util/test/CMakeLists.txt
Due: none

Use ament_add_ros_isolated
  nav2_system_tests/src/behaviors/assisted_teleop/CMakeLists.txt
  nav2_system_tests/src/behaviors/backup/CMakeLists.txt
  nav2_system_tests/src/behaviors/drive_on_heading/CMakeLists.txt
  nav2_system_tests/src/behaviors/spin/CMakeLists.txt
  nav2_system_tests/src/behaviors/wait/CMakeLists.txt
  nav2_system_tests/src/costmap_filters/CMakeLists.txt
  nav2_system_tests/src/error_codes/CMakeLists.txt
  nav2_system_tests/src/gps_navigation/CMakeLists.txt
  nav2_system_tests/src/localization/CMakeLists.txt
  nav2_system_tests/src/planning/CMakeLists.txt
  nav2_system_tests/src/route/CMakeLists.txt
  nav2_system_tests/src/system/CMakeLists.txt
  nav2_system_tests/src/system_failure/CMakeLists.txt
  nav2_system_tests/src/waypoint_follower/CMakeLists.txt
Due: none

Fix as suggested
  nav2_controller/plugins/simple_path_handler.cpp
  nav2_graceful_controller/src/graceful_controller.cpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/nav2_rotation_shim_controller.hpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
  nav2_util/include/nav2_util/path_utils.hpp
  nav2_util/src/path_utils.cpp
Due: ament_cpplint, ament_uncrustify

Fix missing cost consideration in first expansion of SmacPlannerHybrid (#5626)
  nav2_smac_planner/src/node_hybrid.cpp
Due: ament_cpplint, ament_uncrustify

Fix tests
  nav2_controller/plugins/test/goal_checker.cpp
  nav2_controller/src/parameter_handler.cpp
  nav2_dwb_controller/dwb_critics/src/rotate_to_goal.cpp
  nav2_graceful_controller/test/test_graceful_controller.cpp
  nav2_rotation_shim_controller/test/test_shim_controller.cpp
  nav2_util/include/nav2_util/path_utils.hpp
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

Fix tests
  nav2_system_tests/src/error_codes/error_code_param.yaml
  nav2_system_tests/src/error_codes/test_error_codes.py
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Update CI key for codecov
  .circleci/config.yml
Due: none

Adding new sponsors
  README.md
  doc/sponsors_oct_2025.png
Due: none

Adding new sponsors (#5655)
  README.md
  doc/sponsors_oct_2025.png
Due: none

Increase code coverage
  nav2_controller/include/nav2_controller/plugins/simple_path_handler.hpp
  nav2_controller/plugins/test/CMakeLists.txt
  nav2_controller/plugins/test/goal_checker.cpp
  nav2_controller/plugins/test/path_handler.cpp
Due: ament_cpplint, ament_uncrustify

Linting
  nav2_controller/plugins/test/CMakeLists.txt
  nav2_controller/plugins/test/path_handler.cpp
Due: ament_cpplint, ament_uncrustify

Increase code coverage
  nav2_controller/plugins/test/path_handler.cpp
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Move from controller_utils to path_utils
  nav2_controller/plugins/simple_path_handler.cpp
  nav2_util/include/nav2_util/controller_utils.hpp
  nav2_util/include/nav2_util/path_utils.hpp
  nav2_util/test/test_controller_utils.cpp
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

Update params and rviz
  nav2_bringup/params/nav2_params.yaml
  nav2_bringup/rviz/nav2_default_view.rviz
  nav2_system_tests/src/costmap_filters/keepout_params.yaml
  nav2_system_tests/src/costmap_filters/speed_global_params.yaml
  nav2_system_tests/src/costmap_filters/speed_local_params.yaml
  nav2_system_tests/src/error_codes/error_code_param.yaml
  nav2_system_tests/src/gps_navigation/nav2_no_map_params.yaml
  nav2_system_tests/src/system/nav2_system_params.yaml
Due: none

Expose launch substitutions to frontends
  nav2_common/nav2_common/__init__.py
  nav2_common/nav2_common/launch/has_node_params.py
  nav2_common/nav2_common/launch/launch_config_as_bool.py
  nav2_common/nav2_common/launch/replace_string.py
  nav2_common/nav2_common/launch/rewritten_yaml.py
  nav2_common/setup.cfg
Due: ament_flake8, ament_pep257

fix: Synchronized with main, ports supporting DriveOnHeadingAction become active upon reception.
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/drive_on_heading_action.hpp
  nav2_behavior_tree/plugins/action/drive_on_heading_action.cpp
Due: ament_cpplint, ament_uncrustify

visualization
  nav2_mppi_controller/include/nav2_mppi_controller/controller.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critic_data.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/critic_manager.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/optimizer.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/tools/trajectory_visualizer.hpp
  nav2_mppi_controller/src/controller.cpp
  nav2_mppi_controller/src/critic_manager.cpp
  nav2_mppi_controller/src/trajectory_visualizer.cpp
  nav2_mppi_controller/test/critic_manager_test.cpp
  nav2_mppi_controller/test/critics_tests.cpp
  nav2_mppi_controller/test/trajectory_visualizer_tests.cpp
  nav2_mppi_controller/test/utils_test.cpp
Due: ament_cpplint, ament_uncrustify

lint
  nav2_mppi_controller/src/critic_manager.cpp
  nav2_mppi_controller/src/trajectory_visualizer.cpp
  nav2_mppi_controller/test/critic_manager_test.cpp
  nav2_mppi_controller/test/utils_test.cpp
Due: ament_cpplint, ament_uncrustify

Add optimal footprint visualization
  nav2_mppi_controller/include/nav2_mppi_controller/controller.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/tools/trajectory_visualizer.hpp
  nav2_mppi_controller/src/controller.cpp
  nav2_mppi_controller/src/trajectory_visualizer.cpp
  nav2_mppi_controller/test/trajectory_visualizer_tests.cpp
Due: ament_cpplint, ament_uncrustify

Remove redundant set_parameter calls.
  nav2_costmap_2d/test/unit/costmap_filter_service_test.cpp
  nav2_costmap_2d/test/unit/keepout_filter_test.cpp
  nav2_costmap_2d/test/unit/speed_filter_test.cpp
Due: ament_cpplint, ament_uncrustify

Migrate the parameter API usage in nav2_costmap_2d package to the new style.
  nav2_costmap_2d/plugins/plugin_container_layer.cpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
Due: ament_cpplint, ament_uncrustify

Fix nullptr child handling in getTraversalCost() to prevent segmentation fault in smac planner
  nav2_smac_planner/src/node_hybrid.cpp
Due: ament_cpplint, ament_uncrustify

lint
  nav2_mppi_controller/src/trajectory_visualizer.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
