Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

Refactor StaticLayer to improve boundary calculations and update test cases for resolution changes
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/test/unit/static_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

Usin staleness checked lookups in BT actions
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/get_current_pose_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/remove_passed_goals_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/truncate_path_local_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/distance_traveled_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/goal_reached_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_goal_nearby_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/decorator/distance_controller.hpp
  nav2_behavior_tree/plugins/action/get_current_pose_action.cpp
  nav2_behavior_tree/plugins/action/remove_passed_goals_action.cpp
  nav2_behavior_tree/plugins/action/truncate_path_local_action.cpp
  nav2_behavior_tree/plugins/condition/distance_traveled_condition.cpp
  nav2_behavior_tree/plugins/condition/goal_reached_condition.cpp
  nav2_behavior_tree/plugins/condition/is_goal_nearby_condition.cpp
  nav2_behavior_tree/plugins/decorator/distance_controller.cpp
Due: ament_cpplint, ament_uncrustify

Handle steep lines in the line iterator
  nav2_simple_commander/nav2_simple_commander/footprint_collision_checker.py
  nav2_simple_commander/nav2_simple_commander/line_iterator.py
  nav2_simple_commander/test/test_line_iterator.py
Due: ament_flake8, ament_pep257

Static Layer resize_master (#6488)
  nav2_costmap_2d/include/nav2_costmap_2d/static_layer.hpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/test/unit/static_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

Preserve precise line endpoints
  nav2_simple_commander/nav2_simple_commander/line_iterator.py
  nav2_simple_commander/test/test_line_iterator.py
Due: ament_flake8, ament_pep257

Consolidate line iterator test checks
  nav2_simple_commander/test/test_line_iterator.py
Due: ament_flake8, ament_pep257

Using staleness checked lookups in vector object shapes, server, route tracker
  nav2_bringup/params/nav2_params.yaml
  nav2_map_server/include/nav2_map_server/vector_object_server.hpp
  nav2_map_server/include/nav2_map_server/vector_object_shapes.hpp
  nav2_map_server/params/vector_object_server_params.yaml
  nav2_map_server/src/vo_server/vector_object_server.cpp
  nav2_map_server/src/vo_server/vector_object_shapes.cpp
  nav2_map_server/test/unit/test_vector_object_shapes.cpp
  nav2_route/include/nav2_route/goal_intent_extractor.hpp
  nav2_route/include/nav2_route/route_tracker.hpp
  nav2_route/src/goal_intent_extractor.cpp
  nav2_route/src/route_tracker.cpp
  nav2_route/test/test_goal_intent_extractor.cpp
  nav2_route/test/test_route_tracker.cpp
Due: ament_cpplint, ament_uncrustify

Preserve constant coordinates on horizontal lines
  nav2_simple_commander/nav2_simple_commander/line_iterator.py
  nav2_simple_commander/test/test_line_iterator.py
Due: ament_flake8, ament_pep257

Fix skipped cells on steep footprint edges (#6525)
  nav2_simple_commander/nav2_simple_commander/footprint_collision_checker.py
  nav2_simple_commander/nav2_simple_commander/line_iterator.py
  nav2_simple_commander/test/test_footprint_collision_checker.py
  nav2_simple_commander/test/test_line_iterator.py
Due: ament_flake8, ament_pep257

Refresh MPPI noise distributions on reset
  nav2_mppi_controller/src/noise_generator.cpp
  nav2_mppi_controller/test/noise_generator_test.cpp
Due: ament_cpplint, ament_uncrustify

Refresh MPPI noise distributions on reset (#6531)
  nav2_mppi_controller/src/noise_generator.cpp
  nav2_mppi_controller/test/noise_generator_test.cpp
Due: ament_cpplint, ament_uncrustify

Address feedback
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_2d_impl.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid_impl.hpp
Due: ament_cpplint, ament_uncrustify

Lint
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid_impl.hpp
Due: ament_cpplint, ament_uncrustify

Fix AssistedTeleop lateral projection sign and also add unit tests for assisted teleop
  nav2_behaviors/plugins/assisted_teleop.cpp
  nav2_behaviors/test/CMakeLists.txt
  nav2_behaviors/test/test_assisted_teleop.cpp
Due: ament_cpplint, ament_uncrustify

Clear MPPI costs between optimization iterations
  nav2_mppi_controller/src/optimizer.cpp
  nav2_mppi_controller/test/optimizer_unit_tests.cpp
Due: ament_cpplint, ament_uncrustify

Fix missing fstream include in Nav2 panel
  nav2_rviz_plugins/src/nav2_panel.cpp
Due: ament_cpplint, ament_uncrustify

Validate Costmap message header and metadata
  nav2_costmap_2d/test/integration/test_costmap_subscriber.cpp
  nav2_ros_common/include/nav2_ros_common/validate_messages.hpp
  nav2_ros_common/test/test_validation_messages.cpp
Due: ament_cpplint, ament_uncrustify

doc(TranslationalVelocityCritic): write a the class header comment more compact
  nav2_mppi_controller/include/nav2_mppi_controller/critics/translational_velocity_critic.hpp
Due: ament_cpplint, ament_uncrustify

feat(MecanumConstraint): drop vx_min param, since a mecanum drive is symmetric in achievable vx
  nav2_mppi_controller/README.md
  nav2_mppi_controller/include/nav2_mppi_controller/critics/mecanum_critic.hpp
  nav2_mppi_controller/src/critics/mecanum_critic.cpp
  nav2_mppi_controller/test/critics_tests.cpp
Due: ament_cpplint, ament_uncrustify

Fix missing fstream include in Nav2 panel (#6536)
  nav2_rviz_plugins/src/nav2_panel.cpp
Due: ament_cpplint, ament_uncrustify

doc(MecanumCritic): shorten description in critics.xml
  nav2_mppi_controller/critics.xml
Due: none

Clear MPPI costs between optimization iterations (#6537)
  nav2_mppi_controller/src/optimizer.cpp
  nav2_mppi_controller/test/optimizer_unit_tests.cpp
Due: ament_cpplint, ament_uncrustify

Fix AssistedTeleop lateral projection sign and also add unit tests for assisted teleop (#6535)
  nav2_behaviors/plugins/assisted_teleop.cpp
  nav2_behaviors/test/CMakeLists.txt
  nav2_behaviors/test/test_assisted_teleop.cpp
Due: ament_cpplint, ament_uncrustify

Fix Smac Hybrid search state after costmap resolution changes (#6512)
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_2d_impl.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid_impl.hpp
Due: ament_cpplint, ament_uncrustify

Fix CostmapSubscriber tests for header validation
  nav2_costmap_2d/test/integration/test_costmap_subscriber.cpp
Due: ament_cpplint, ament_uncrustify

doc(MecanumCritic): fix typo
  nav2_mppi_controller/critics.xml
Due: none

Support rvalues in Metadata::getValue & setValue
  nav2_route/include/nav2_route/types.hpp
Due: ament_cpplint, ament_uncrustify

Add test cases for metadata rvalue changes
  nav2_route/test/test_utils_and_types.cpp
Due: ament_cpplint, ament_uncrustify

Replacing frame_hold_timeout parameter with transform_staleness_threshold for coherence
  nav2_collision_monitor/include/nav2_collision_monitor/exclusion_zone.hpp
  nav2_collision_monitor/src/exclusion_zone.cpp
  nav2_collision_monitor/test/exclusion_zone_test.cpp
  nav2_msgs/msg/ExclusionZoneDescription.msg
Due: ament_cpplint, ament_uncrustify

fix: optimize rasterization
  nav2_costmap_2d/costmap_plugins.xml
  nav2_costmap_2d/include/nav2_costmap_2d/geofence_layer.hpp
  nav2_costmap_2d/plugins/geofence_layer.cpp
  nav2_costmap_2d/test/unit/CMakeLists.txt
  nav2_costmap_2d/test/unit/geofence_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

Removing unrelated keepout filter state fixes
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
Due: ament_cpplint, ament_uncrustify

Support rvalues in Metadata::getValue & setValue (#6542)
  nav2_route/include/nav2_route/types.hpp
  nav2_route/test/test_utils_and_types.cpp
Due: ament_cpplint, ament_uncrustify
