Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

Update nav2_controller/src/controller_server.cpp
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

update example_follow_path.py
  nav2_simple_commander/nav2_simple_commander/example_follow_path.py
Due: ament_flake8, ament_pep257

Last updates
  nav2_controller/src/controller_server.cpp
  nav2_util/src/CMakeLists.txt
Due: ament_cpplint, ament_uncrustify

update example_follow_path.py lint
  nav2_simple_commander/nav2_simple_commander/example_follow_path.py
Due: ament_flake8, ament_pep257

Update nav2_util/src/path_utils.cpp
  nav2_util/src/path_utils.cpp
Due: ament_cpplint, ament_uncrustify

ordering problem
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

added deactivate to tracking_feedback_pub_
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

typo
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Add Linear Interpolation Fix
  nav2_util/include/nav2_util/controller_utils.hpp
  nav2_util/src/controller_utils.cpp
  nav2_util/test/test_controller_utils.cpp
Due: ament_cpplint, ament_uncrustify

Removed unused ignores for packages for mypy compliance.
  tools/pyproject.toml
Due: none

Enable nav2_loopback_sim to be mypy compliant.
  nav2_loopback_sim/nav2_loopback_sim/loopback_simulator.py
  nav2_loopback_sim/nav2_loopback_sim/utils.py
Due: ament_flake8, ament_pep257

Enable nav2_simple_commander to be mypy compliant.
  nav2_simple_commander/nav2_simple_commander/example_route.py
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

nav2_smac_planner: make A* return closest path found in case of timeout
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
  nav2_smac_planner/src/a_star.cpp
Due: ament_cpplint, ament_uncrustify

Use the new declare_or_get_parameter API for nav2_behaviors.
  nav2_behaviors/include/nav2_behaviors/plugins/drive_on_heading.hpp
  nav2_behaviors/plugins/assisted_teleop.cpp
  nav2_behaviors/plugins/spin.cpp
  nav2_behaviors/src/behavior_server.cpp
  nav2_behaviors/test/test_behaviors.cpp
Due: ament_cpplint, ament_uncrustify

:zap: add dwpp algorithm
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/parameter_handler.hpp
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
Due: ament_cpplint, ament_uncrustify

fix the loadbehaviortree impl and its test
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_system_tests/src/behavior_tree/test_behavior_tree_node.cpp
Due: ament_cpplint, ament_uncrustify

Added nav2_msgs path fixes to mypy compliance.
  nav2_docking/opennav_docking/test/test_docking_server.py
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
  nav2_system_tests/src/behaviors/backup/backup_tester.py
  nav2_system_tests/src/route/tester_node.py
Due: ament_flake8, ament_pep257

Create iterator for custom height field in pointcloud.
  nav2_collision_monitor/src/pointcloud.cpp
Due: ament_cpplint, ament_uncrustify

Improve type annotations for ament_mypy (#5575)
  nav2_docking/opennav_docking/test/test_docking_server.py
  nav2_loopback_sim/nav2_loopback_sim/loopback_simulator.py
  nav2_loopback_sim/nav2_loopback_sim/utils.py
  nav2_simple_commander/nav2_simple_commander/example_route.py
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
  nav2_system_tests/src/behaviors/backup/backup_tester.py
  nav2_system_tests/src/gps_navigation/tester.py
  nav2_system_tests/src/route/tester_node.py
  nav2_system_tests/src/waypoint_follower/tester.py
  tools/planner_benchmarking/metrics.py
  tools/pyproject.toml
  tools/smoother_benchmarking/metrics.py
Due: ament_flake8, ament_pep257

Use the new declare_or_get_parameter API for nav2_behaviors. (#5583)
  nav2_behaviors/include/nav2_behaviors/plugins/drive_on_heading.hpp
  nav2_behaviors/plugins/assisted_teleop.cpp
  nav2_behaviors/plugins/spin.cpp
  nav2_behaviors/src/behavior_server.cpp
  nav2_behaviors/test/test_behaviors.cpp
Due: ament_cpplint, ament_uncrustify

nav2_smac_planner: make A* return closest path found in case of timeout (#5578)
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
  nav2_smac_planner/src/a_star.cpp
Due: ament_cpplint, ament_uncrustify

end_pose transform
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Use the new_declare_or_get_parameter API for nav2_collision_monitor.
  nav2_collision_monitor/src/collision_detector_node.cpp
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_collision_monitor/src/pointcloud.cpp
  nav2_collision_monitor/src/polygon.cpp
  nav2_collision_monitor/src/polygon_source.cpp
  nav2_collision_monitor/src/range.cpp
  nav2_collision_monitor/src/source.cpp
  nav2_collision_monitor/src/velocity_polygon.cpp
Due: ament_cpplint, ament_uncrustify

Removed redundant set_parameter calls when preceeded by declare_parameter.
  nav2_collision_monitor/test/collision_detector_node_test.cpp
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
  nav2_collision_monitor/test/polygons_test.cpp
  nav2_collision_monitor/test/sources_test.cpp
  nav2_collision_monitor/test/velocity_polygons_test.cpp
Due: ament_cpplint, ament_uncrustify

pr refactoring and added tests
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_system_tests/src/behavior_tree/test_behavior_tree_node.cpp
Due: ament_cpplint, ament_uncrustify

Add use_global_height_ parameter to allow configuration of height checking by end users.
  nav2_collision_monitor/include/nav2_collision_monitor/pointcloud.hpp
  nav2_collision_monitor/params/collision_detector_params.yaml
  nav2_collision_monitor/params/collision_monitor_params.yaml
  nav2_collision_monitor/src/pointcloud.cpp
Due: ament_cpplint, ament_uncrustify

Ran ament lint/style tools, cleaned up.
  nav2_collision_monitor/include/nav2_collision_monitor/pointcloud.hpp
  nav2_collision_monitor/src/pointcloud.cpp
Due: ament_cpplint, ament_uncrustify

Update const double and comments
  nav2_util/include/nav2_util/controller_utils.hpp
  nav2_util/src/controller_utils.cpp
Due: ament_cpplint, ament_uncrustify

Fail if getInput fails
  nav2_behavior_tree/plugins/control/persistent_sequence.cpp
Due: ament_cpplint, ament_uncrustify

Add test with no input
  nav2_behavior_tree/test/plugins/control/test_persistent_sequence.cpp
Due: ament_cpplint, ament_uncrustify

Added some pointcloud field checking based on run time error found when running tests.
  nav2_collision_monitor/src/pointcloud.cpp
Due: ament_cpplint, ament_uncrustify

Address PR formatting feedback. Remove run time error and replaced with log error.
  nav2_collision_monitor/src/pointcloud.cpp
Due: ament_cpplint, ament_uncrustify

Add return false for error state.
  nav2_collision_monitor/src/pointcloud.cpp
Due: ament_cpplint, ament_uncrustify

Implemented additional changes for iterator feedback in PR.
  nav2_collision_monitor/src/pointcloud.cpp
Due: ament_cpplint, ament_uncrustify
