Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

modeToStr should be inline (#6283)
  nav2_mppi_controller/include/nav2_mppi_controller/critics/path_angle_critic.hpp
Due: ament_cpplint, ament_uncrustify

remove temp lyrical job
  .github/workflows/build_lyrical.yml
Due: none

Updating lyrical for its CI
  .circleci/config.yml
  .devcontainer/devcontainer.json
  Dockerfile
  tools/distro.Dockerfile
Due: none

Updating lyrical for its CI (#6294)
  .circleci/config.yml
  .devcontainer/devcontainer.json
  Dockerfile
  tools/distro.Dockerfile
Due: none

Update Lyrical CI to use testing repo for not currently released packages temporarily
  Dockerfile
Due: none

Update Lyrical CI to use testing repo for not currently released packages temporarily (#6295)
  Dockerfile
Due: none

testing lyrical's new CI
  README.md
Due: none

Add merge queue configuration to mergify.yml
  .github/mergify.yml
Due: none

Refactor ExclusionZone to use nav2::TransformBuffer instead of tf2_ros::Buffer
  nav2_collision_monitor/include/nav2_collision_monitor/exclusion_zone.hpp
  nav2_collision_monitor/src/exclusion_zone.cpp
Due: ament_cpplint, ament_uncrustify

Refactor exclusion zone tests to use nav2::TransformBuffer and related factories
  nav2_collision_monitor/test/exclusion_zone_test.cpp
Due: ament_cpplint, ament_uncrustify

Remove unused publishPolygons method and update visualization publishing logic
  nav2_collision_monitor/include/nav2_collision_monitor/collision_detector_node.hpp
  nav2_collision_monitor/include/nav2_collision_monitor/collision_monitor_node.hpp
  nav2_collision_monitor/include/nav2_collision_monitor/exclusion_zone.hpp
  nav2_collision_monitor/src/collision_detector_node.cpp
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_collision_monitor/src/exclusion_zone.cpp
Due: ament_cpplint, ament_uncrustify

rosdep depenedency fixed for polyclipping
  nav2_pose_classifiers/package.xml
Due: none

Added Pose Classifiers and Path Splitter
  nav2_msgs/CMakeLists.txt
  nav2_msgs/action/ComputePathToPose.action
  nav2_msgs/msg/ClassifiedPath.msg
  nav2_msgs/msg/ClassifiedPathArray.msg
  nav2_msgs/msg/ClassifiedPose.msg
  nav2_msgs/msg/PathClasses.msg
  nav2_planner/include/nav2_planner/path_splitter.hpp
  nav2_planner/include/nav2_planner/planner_server.hpp
  nav2_planner/include/nav2_planner/pose_classifier.hpp
  nav2_planner/src/path_splitter.cpp
  nav2_planner/src/planner_server.cpp
  nav2_planner/src/pose_classifier.cpp
  nav2_planner/test/CMakeLists.txt
  nav2_planner/test/test_path_splitter_helpers.cpp
  nav2_pose_classifiers/CMakeLists.txt
  nav2_pose_classifiers/include/nav2_pose_classifiers/classifier_base.hpp
  nav2_pose_classifiers/include/nav2_pose_classifiers/constraint_classifier.hpp
  nav2_pose_classifiers/package.xml
  nav2_pose_classifiers/pose_classifier_plugin.xml
  nav2_pose_classifiers/src/constraint_classifier.cpp
  nav2_pose_classifiers/test/CMakeLists.txt
  nav2_pose_classifiers/test/test_constraint_classifier_helpers.cpp
Due: ament_cpplint, ament_uncrustify

Generalised Visualisation for Multi Class IDs
  nav2_planner/include/nav2_planner/planner_server.hpp
  nav2_planner/src/planner_server.cpp
Due: ament_cpplint, ament_uncrustify

Fix Eigen GCC warnings in smoother and MPPI
  nav2_mppi_controller/include/nav2_mppi_controller/tools/utils.hpp
  nav2_mppi_controller/src/critics/goal_angle_critic.cpp
  nav2_smoother/src/savitzky_golay_smoother.cpp
  nav2_smoother/test/test_savitzky_golay_smoother.cpp
Due: ament_cpplint, ament_uncrustify

fix(smac_planner): apply reverse penalty to analytic expansion
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion_impl.hpp
  nav2_smac_planner/test/test_a_star.cpp
Due: ament_cpplint, ament_uncrustify

Check Smac collisions at continuous poses
  nav2_smac_planner/src/collision_checker.cpp
  nav2_smac_planner/test/test_collision_checker.cpp
Due: ament_cpplint, ament_uncrustify

Update lattice search collision witness
  nav2_smac_planner/test/test_a_star.cpp
Due: ament_cpplint, ament_uncrustify

Add dynamic radius and height band update tests for ExclusionZone
  nav2_collision_monitor/test/exclusion_zone_test.cpp
Due: ament_cpplint, ament_uncrustify

Add exclusion zone functionality to collision monitor (#6233)
  nav2_collision_monitor/CMakeLists.txt
  nav2_collision_monitor/README.md
  nav2_collision_monitor/include/nav2_collision_monitor/collision_detector_node.hpp
  nav2_collision_monitor/include/nav2_collision_monitor/collision_monitor_node.hpp
  nav2_collision_monitor/include/nav2_collision_monitor/costmap.hpp
  nav2_collision_monitor/include/nav2_collision_monitor/exclusion_zone.hpp
  nav2_collision_monitor/include/nav2_collision_monitor/pointcloud.hpp
  nav2_collision_monitor/include/nav2_collision_monitor/polygon_source.hpp
  nav2_collision_monitor/include/nav2_collision_monitor/polygon_utils.hpp
  nav2_collision_monitor/include/nav2_collision_monitor/range.hpp
  nav2_collision_monitor/include/nav2_collision_monitor/scan.hpp
  nav2_collision_monitor/include/nav2_collision_monitor/source.hpp
  nav2_collision_monitor/params/collision_detector_params.yaml
  nav2_collision_monitor/params/collision_monitor_params.yaml
  nav2_collision_monitor/src/circle.cpp
  nav2_collision_monitor/src/collision_detector_node.cpp
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_collision_monitor/src/costmap.cpp
  nav2_collision_monitor/src/exclusion_zone.cpp
  nav2_collision_monitor/src/pointcloud.cpp
  nav2_collision_monitor/src/polygon.cpp
  nav2_collision_monitor/src/polygon_source.cpp
  nav2_collision_monitor/src/range.cpp
  nav2_collision_monitor/src/scan.cpp
  nav2_collision_monitor/src/source.cpp
  nav2_collision_monitor/test/CMakeLists.txt
  nav2_collision_monitor/test/exclusion_zone_test.cpp
Due: ament_cpplint, ament_uncrustify

nav2_msgs: add generic action request error codes
  nav2_msgs/action/AssistedTeleop.action
  nav2_msgs/action/BackUp.action
  nav2_msgs/action/ComputeAndTrackRoute.action
  nav2_msgs/action/ComputePathThroughPoses.action
  nav2_msgs/action/ComputePathToPose.action
  nav2_msgs/action/ComputeRoute.action
  nav2_msgs/action/DockRobot.action
  nav2_msgs/action/DriveOnHeading.action
  nav2_msgs/action/FollowObject.action
  nav2_msgs/action/FollowPath.action
  nav2_msgs/action/NavigateThroughPoses.action
  nav2_msgs/action/NavigateToPose.action
  nav2_msgs/action/SmoothPath.action
  nav2_msgs/action/Spin.action
  nav2_msgs/action/UndockRobot.action
  nav2_msgs/action/Wait.action
Due: none

nav2_behavior_tree: report generic action request errors
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/assisted_teleop_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/back_up_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_and_track_route_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_through_poses_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_to_pose_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_route_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/drive_on_heading_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/follow_object_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/follow_path_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/navigate_through_poses_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/navigate_to_pose_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/smooth_path_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/spin_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/wait_action.hpp
  nav2_behavior_tree/plugins/action/assisted_teleop_action.cpp
  nav2_behavior_tree/plugins/action/back_up_action.cpp
  nav2_behavior_tree/plugins/action/compute_and_track_route_action.cpp
  nav2_behavior_tree/plugins/action/compute_path_to_pose_action.cpp
  nav2_behavior_tree/plugins/action/compute_route_action.cpp
  nav2_behavior_tree/plugins/action/drive_on_heading_action.cpp
  nav2_behavior_tree/plugins/action/follow_path_action.cpp
  nav2_behavior_tree/plugins/action/navigate_through_poses_action.cpp
  nav2_behavior_tree/plugins/action/navigate_to_pose_action.cpp
  nav2_behavior_tree/plugins/action/smooth_path_action.cpp
  nav2_behavior_tree/plugins/action/spin_action.cpp
  nav2_behavior_tree/plugins/action/wait_action.cpp
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
  nav2_behavior_tree/test/plugins/action/test_follow_object_action.cpp
  nav2_behavior_tree/test/plugins/action/test_follow_path_action.cpp
  nav2_behavior_tree/test/plugins/action/test_wait_action.cpp
Due: ament_cpplint, ament_uncrustify

opennav_docking_bt: use generic action request errors
  nav2_docking/opennav_docking_bt/include/opennav_docking_bt/dock_robot.hpp
  nav2_docking/opennav_docking_bt/include/opennav_docking_bt/undock_robot.hpp
  nav2_docking/opennav_docking_bt/src/dock_robot.cpp
  nav2_docking/opennav_docking_bt/src/undock_robot.cpp
Due: ament_cpplint, ament_uncrustify

opennav_docking: stop NodeThread before destroying server
  nav2_docking/opennav_docking/test/test_docking_server_unit.cpp
Due: ament_cpplint, ament_uncrustify

Adding dynamic services to the exclusion zones
  nav2_collision_monitor/include/nav2_collision_monitor/exclusion_zone.hpp
  nav2_collision_monitor/include/nav2_collision_monitor/source.hpp
  nav2_collision_monitor/src/exclusion_zone.cpp
  nav2_collision_monitor/src/source.cpp
  nav2_collision_monitor/test/exclusion_zone_test.cpp
  nav2_msgs/CMakeLists.txt
Due: ament_cpplint, ament_uncrustify

bust cache for new msg types
  .circleci/config.yml
  nav2_collision_monitor/src/source.cpp
Due: ament_cpplint, ament_uncrustify

Fix unit tests
  nav2_collision_monitor/src/source.cpp
  nav2_collision_monitor/test/exclusion_zone_test.cpp
Due: ament_cpplint, ament_uncrustify

whoops - CI was failing bc I didn't commit the new files!
  nav2_msgs/msg/ExclusionZoneDescription.msg
  nav2_msgs/srv/AddExclusionZone.srv
  nav2_msgs/srv/RemoveExclusionZone.srv
Due: none

Adding dynamic add/remove services to the collision monitor exclusion zones (#6304)
  .circleci/config.yml
  nav2_collision_monitor/include/nav2_collision_monitor/exclusion_zone.hpp
  nav2_collision_monitor/include/nav2_collision_monitor/source.hpp
  nav2_collision_monitor/src/exclusion_zone.cpp
  nav2_collision_monitor/src/source.cpp
  nav2_collision_monitor/test/exclusion_zone_test.cpp
  nav2_msgs/CMakeLists.txt
  nav2_msgs/msg/ExclusionZoneDescription.msg
  nav2_msgs/srv/AddExclusionZone.srv
  nav2_msgs/srv/RemoveExclusionZone.srv
Due: ament_cpplint, ament_uncrustify

Expose number_of_loops in BasicNavigator.followWaypoints in robot_navigator.py, update README
  nav2_simple_commander/README.md
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

Expose goal_index in BasicNavigator.followWaypoints in robot_navigator.py, update README
  nav2_simple_commander/README.md
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

Constraint Classifier Added in default params
  nav2_bringup/params/nav2_params.yaml
Due: none

fix: declare reset_per_node map in ZoneParameterFilter::applyState
  nav2_costmap_2d/plugins/costmap_filters/zone_parameter_filter.cpp
Due: ament_cpplint, ament_uncrustify

Make NavFn path extraction cycle limit configurable
  nav2_bringup/params/nav2_params.yaml
  nav2_navfn_planner/include/nav2_navfn_planner/parameter_handler.hpp
  nav2_navfn_planner/src/navfn.cpp
  nav2_navfn_planner/src/navfn_planner.cpp
  nav2_navfn_planner/src/parameter_handler.cpp
  nav2_navfn_planner/test/test_dynamic_parameters.cpp
Due: ament_cpplint, ament_uncrustify

Add goalReceived callback where relevant
  nav2_smoother/include/nav2_smoother/nav2_smoother.hpp
  nav2_smoother/src/nav2_smoother.cpp
  nav2_waypoint_follower/include/nav2_waypoint_follower/waypoint_follower.hpp
  nav2_waypoint_follower/src/waypoint_follower.cpp
Due: ament_cpplint, ament_uncrustify
