Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

Add force_use_current_pose
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_to_pose_action.hpp
  nav2_behavior_tree/plugins/action/compute_path_to_pose_action.cpp
Due: ament_cpplint, ament_uncrustify

xml update
  nav2_behavior_tree/nav2_tree_nodes.xml
Due: none

rename to use_start
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_to_pose_action.hpp
  nav2_behavior_tree/plugins/action/compute_path_to_pose_action.cpp
Due: ament_cpplint, ament_uncrustify

lint
  nav2_behavior_tree/plugins/action/compute_path_to_pose_action.cpp
Due: ament_cpplint, ament_uncrustify

descriptions
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_to_pose_action.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
Due: ament_cpplint, ament_uncrustify

[AMCL] Rebuild cspace map only when needed (#5076)
  nav2_amcl/src/map/map.c
  nav2_amcl/src/sensors/laser/likelihood_field_model.cpp
  nav2_amcl/src/sensors/laser/likelihood_field_model_prob.cpp
Due: ament_cpplint, ament_uncrustify

Remove duplicate code
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_util/include/nav2_util/robot_utils.hpp
  nav2_util/src/robot_utils.cpp
Due: ament_cpplint, ament_uncrustify

Add twist validation for controller server
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

raw pointer
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_topic_collision_checker.hpp
  nav2_costmap_2d/src/costmap_topic_collision_checker.cpp
Due: ament_cpplint, ament_uncrustify

Remove intermediary alpha matrix
  nav2_map_server/src/map_io.cpp
Due: ament_cpplint, ament_uncrustify

Consistency in Groot 2 (#5078)
  nav2_behavior_tree/include/nav2_behavior_tree/behavior_tree_engine.hpp
  nav2_behavior_tree/src/behavior_tree_engine.cpp
Due: ament_cpplint, ament_uncrustify

Remove duplicate code (#5080)
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_controller/src/controller_server.cpp
  nav2_util/include/nav2_util/robot_utils.hpp
  nav2_util/src/robot_utils.cpp
Due: ament_cpplint, ament_uncrustify

Add comments for the code understanding
  nav2_map_server/src/map_io.cpp
Due: ament_cpplint, ament_uncrustify

Added waypointstatus to bt_utils (#5077)
  nav2_behavior_tree/include/nav2_behavior_tree/bt_utils.hpp
  nav2_behavior_tree/test/test_bt_utils.cpp
Due: ament_cpplint, ament_uncrustify

Lock costmap in getCostsCallback (#5075)
  nav2_costmap_2d/src/costmap_2d_ros.cpp
Due: ament_cpplint, ament_uncrustify

Fix else braces rule issue
  nav2_map_server/src/map_io.cpp
Due: ament_cpplint, ament_uncrustify

more design ideas
  nav2_route/README.md
Due: none

Added definitions for nav2_msgs actions and messages.
  nav2_msgs/action/__init__.py
  nav2_msgs/msg/__init__.py
Due: ament_flake8, ament_pep257

Enabled example_route to be compatible with mypy.
  nav2_simple_commander/nav2_simple_commander/example_route.py
  tools/pyproject.toml
Due: ament_flake8, ament_pep257

Added return definition for route_example_launch.py.
  nav2_simple_commander/launch/route_example_launch.py
Due: ament_flake8, ament_pep257

Ported robot_navigator.py to be compliant with mypy.
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

Configuring nav2_route_server branch to be mypy compliant (#5081)
  nav2_msgs/action/__init__.py
  nav2_msgs/msg/__init__.py
  nav2_simple_commander/launch/route_example_launch.py
  nav2_simple_commander/nav2_simple_commander/example_route.py
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
  tools/pyproject.toml
Due: ament_flake8, ament_pep257

Demo 1 completed
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/concatenate_paths_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/get_current_pose_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/are_poses_near_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/would_a_route_recovery_help_condition.hpp
  nav2_behavior_tree/plugins/action/concatenate_paths_action.cpp
  nav2_behavior_tree/plugins/action/get_current_pose_action.cpp
  nav2_behavior_tree/plugins/action/get_pose_from_path_action.cpp
  nav2_behavior_tree/plugins/condition/are_poses_near_condition.cpp
  nav2_behavior_tree/plugins/condition/would_a_route_recovery_help_condition.cpp
  nav2_behavior_tree/test/plugins/action/CMakeLists.txt
  nav2_behavior_tree/test/plugins/action/test_concatenate_paths_action.cpp
  nav2_behavior_tree/test/plugins/action/test_get_current_pose_action.cpp
  nav2_behavior_tree/test/plugins/condition/CMakeLists.txt
  nav2_behavior_tree/test/plugins/condition/test_are_poses_near.cpp
  nav2_behavior_tree/test/plugins/condition/test_would_a_route_recovery_help.cpp
  nav2_bringup/params/nav2_params.yaml
  nav2_bt_navigator/behavior_trees/navigate_on_route_graph_w_recovery.xml
  nav2_route/src/route_server.cpp
  nav2_smoother/include/nav2_smoother/savitzky_golay_smoother.hpp
  nav2_smoother/include/nav2_smoother/simple_smoother.hpp
  nav2_smoother/src/savitzky_golay_smoother.cpp
  nav2_smoother/src/simple_smoother.cpp
  nav2_util/include/nav2_util/simple_action_server.hpp
Due: ament_cpplint, ament_uncrustify

second demo completed
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/append_goal_pose_to_goals_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/extract_route_nodes_as_goals_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/get_next_few_goals_action.hpp
  nav2_behavior_tree/plugins/action/append_goal_pose_to_goals_action.cpp
  nav2_behavior_tree/plugins/action/compute_and_track_route_action.cpp
  nav2_behavior_tree/plugins/action/extract_route_nodes_as_goals_action.cpp
  nav2_behavior_tree/plugins/action/get_next_few_goals_action.cpp
  nav2_behavior_tree/plugins/action/remove_passed_goals_action.cpp
  nav2_behavior_tree/test/plugins/action/CMakeLists.txt
  nav2_behavior_tree/test/plugins/action/test_append_goal_pose_to_goals_action.cpp
  nav2_behavior_tree/test/plugins/action/test_extract_route_nodes_as_goals_action.cpp
  nav2_behavior_tree/test/plugins/action/test_get_next_few_goals_action.cpp
  nav2_bt_navigator/behavior_trees/navigate_w_routing_global_planning_and_control_w_recovery.xml
  nav2_smoother/src/savitzky_golay_smoother.cpp
  nav2_smoother/src/simple_smoother.cpp
Due: ament_cpplint, ament_uncrustify

final linting
  nav2_bt_navigator/behavior_trees/navigate_w_routing_global_planning_and_control_w_recovery.xml
Due: none

Configured nodes of nav2_system_tests to be mypy compliant.
  nav2_system_tests/src/behaviors/backup/backup_tester.py
  nav2_system_tests/src/behaviors/drive_on_heading/drive_tester.py
  nav2_system_tests/src/behaviors/spin/spin_tester.py
  nav2_system_tests/src/costmap_filters/tester_node.py
  nav2_system_tests/src/error_codes/test_error_codes.py
  nav2_system_tests/src/gps_navigation/tester.py
  nav2_system_tests/src/system/nav_through_poses_tester_error_msg_node.py
  nav2_system_tests/src/system/nav_through_poses_tester_node.py
  nav2_system_tests/src/system/nav_to_pose_tester_node.py
  nav2_system_tests/src/system_failure/tester_node.py
  nav2_system_tests/src/updown/updownresults.py
  nav2_system_tests/src/waypoint_follower/tester.py
  tools/pyproject.toml
Due: ament_flake8, ament_pep257

Configured launch files of nav2_system_tests to be mypy compliant.
  nav2_system_tests/src/behaviors/assisted_teleop/test_assisted_teleop_behavior_launch.py
  nav2_system_tests/src/behaviors/backup/test_backup_behavior.launch.py
  nav2_system_tests/src/behaviors/drive_on_heading/test_drive_on_heading_behavior.launch.py
  nav2_system_tests/src/behaviors/spin/test_spin_behavior.launch.py
  nav2_system_tests/src/behaviors/wait/test_wait_behavior_launch.py
  nav2_system_tests/src/costmap_filters/test_keepout_launch.py
  nav2_system_tests/src/costmap_filters/test_speed_launch.py
  nav2_system_tests/src/error_codes/test_error_codes_launch.py
  nav2_system_tests/src/gps_navigation/dual_ekf_navsat.launch.py
  nav2_system_tests/src/gps_navigation/test_case_py.launch.py
  nav2_system_tests/src/localization/test_localization_launch.py
  nav2_system_tests/src/planning/test_planner_costmaps_launch.py
  nav2_system_tests/src/planning/test_planner_random_launch.py
  nav2_system_tests/src/system/test_multi_robot_launch.py
  nav2_system_tests/src/system/test_system_launch.py
  nav2_system_tests/src/system/test_system_with_obstacle_launch.py
  nav2_system_tests/src/system/test_wrong_init_pose_launch.py
  nav2_system_tests/src/system_failure/test_system_failure_launch.py
  nav2_system_tests/src/updown/test_updown_launch.py
  nav2_system_tests/src/waypoint_follower/test_case_launch.py
Due: ament_flake8, ament_pep257

Added nav2_system_tests to the linting workflow.
  .github/workflows/lint.yml
Due: none

adding route server for test to pass
  nav2_system_tests/src/behavior_tree/server_handler.cpp
  nav2_system_tests/src/behavior_tree/server_handler.hpp
Due: ament_cpplint, ament_uncrustify

Mypy nav2 system tests (#5083)
  .github/workflows/lint.yml
  nav2_system_tests/src/behaviors/assisted_teleop/test_assisted_teleop_behavior_launch.py
  nav2_system_tests/src/behaviors/backup/backup_tester.py
  nav2_system_tests/src/behaviors/backup/test_backup_behavior.launch.py
  nav2_system_tests/src/behaviors/drive_on_heading/drive_tester.py
  nav2_system_tests/src/behaviors/drive_on_heading/test_drive_on_heading_behavior.launch.py
  nav2_system_tests/src/behaviors/spin/spin_tester.py
  nav2_system_tests/src/behaviors/spin/test_spin_behavior.launch.py
  nav2_system_tests/src/behaviors/wait/test_wait_behavior_launch.py
  nav2_system_tests/src/costmap_filters/test_keepout_launch.py
  nav2_system_tests/src/costmap_filters/test_speed_launch.py
  nav2_system_tests/src/costmap_filters/tester_node.py
  nav2_system_tests/src/error_codes/test_error_codes.py
  nav2_system_tests/src/error_codes/test_error_codes_launch.py
  nav2_system_tests/src/gps_navigation/dual_ekf_navsat.launch.py
  nav2_system_tests/src/gps_navigation/test_case_py.launch.py
  nav2_system_tests/src/gps_navigation/tester.py
  nav2_system_tests/src/localization/test_localization_launch.py
  nav2_system_tests/src/planning/test_planner_costmaps_launch.py
  nav2_system_tests/src/planning/test_planner_random_launch.py
  nav2_system_tests/src/system/nav_through_poses_tester_error_msg_node.py
  nav2_system_tests/src/system/nav_through_poses_tester_node.py
  nav2_system_tests/src/system/nav_to_pose_tester_node.py
  nav2_system_tests/src/system/test_multi_robot_launch.py
  nav2_system_tests/src/system/test_system_launch.py
  nav2_system_tests/src/system/test_system_with_obstacle_launch.py
  nav2_system_tests/src/system/test_wrong_init_pose_launch.py
  nav2_system_tests/src/system_failure/test_system_failure_launch.py
  nav2_system_tests/src/system_failure/tester_node.py
  nav2_system_tests/src/updown/test_updown_launch.py
  nav2_system_tests/src/updown/updownresults.py
  nav2_system_tests/src/waypoint_follower/test_case_launch.py
  nav2_system_tests/src/waypoint_follower/tester.py
  tools/pyproject.toml
Due: ament_flake8, ament_pep257

adding smoother server
  nav2_system_tests/src/behavior_tree/server_handler.cpp
  nav2_system_tests/src/behavior_tree/server_handler.hpp
Due: ament_cpplint, ament_uncrustify

Configured tools to be mypy compliant.
  tools/bt2img.py
  tools/planner_benchmarking/metrics.py
  tools/planner_benchmarking/planning_benchmark_bringup.py
  tools/planner_benchmarking/process_data.py
  tools/pyproject.toml
  tools/smoother_benchmarking/metrics.py
  tools/smoother_benchmarking/process_data.py
  tools/smoother_benchmarking/smoother_benchmark_bringup.py
  tools/update_readme_table.py
Due: ament_flake8, ament_pep257

Added mypy as a pre-commit hook.
  .pre-commit-config.yaml
Due: none

Simplified workflow by including all packages with mypy.
  .github/workflows/lint.yml
Due: none

Configured nav2_system_tests to be mypy compliant.
  nav2_system_tests/src/behaviors/assisted_teleop/test_assisted_teleop_behavior_launch.py
  nav2_system_tests/src/behaviors/wait/test_wait_behavior_launch.py
  nav2_system_tests/src/gps_navigation/test_case_py.launch.py
  nav2_system_tests/src/route/test_route_launch.py
  nav2_system_tests/src/route/tester_node.py
  tools/pyproject.toml
Due: ament_flake8, ament_pep257

Configured nav2_system_tests to be mypy compliant. (#5085)
  nav2_system_tests/src/behaviors/assisted_teleop/test_assisted_teleop_behavior_launch.py
  nav2_system_tests/src/behaviors/wait/test_wait_behavior_launch.py
  nav2_system_tests/src/gps_navigation/test_case_py.launch.py
  nav2_system_tests/src/route/test_route_launch.py
  nav2_system_tests/src/route/tester_node.py
  tools/pyproject.toml
Due: ament_flake8, ament_pep257

restore original change_state, and detect non_default_timeout
  nav2_lifecycle_manager/include/nav2_lifecycle_manager/lifecycle_manager.hpp
  nav2_lifecycle_manager/src/lifecycle_manager.cpp
  nav2_util/include/nav2_util/lifecycle_service_client.hpp
  nav2_util/src/lifecycle_service_client.cpp
Due: ament_cpplint, ament_uncrustify

wip
  nav2_smac_planner/CMakeLists.txt
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/goal_manager.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
Due: ament_cpplint, ament_uncrustify

lint
  nav2_util/src/lifecycle_service_client.cpp
Due: ament_cpplint, ament_uncrustify

spell
  nav2_lifecycle_manager/src/lifecycle_manager.cpp
Due: ament_cpplint, ament_uncrustify
