Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

add progress goal checker #6033
  nav2_controller/CMakeLists.txt
  nav2_controller/include/nav2_controller/plugins/progress_goal_checker.hpp
  nav2_controller/plugins.xml
  nav2_controller/plugins/progress_goal_checker.cpp
  nav2_controller/plugins/test/CMakeLists.txt
  nav2_controller/plugins/test/goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

Add OMNI test coverage for SmacPlannerLattice configure and reconfigure
  nav2_smac_planner/test/test_smac_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Fix OMNI test to directly exercise LatticeMotionTable::initMotionModel
  nav2_smac_planner/test/test_nodelattice.cpp
Due: ament_cpplint, ament_uncrustify

MPPI: add arc-length path progress to fix path skipping on curved paths
  nav2_bringup/params/nav2_params.yaml
  nav2_mppi_controller/include/nav2_mppi_controller/critic_data.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/models/optimizer_settings.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/optimizer.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/tools/utils.hpp
  nav2_mppi_controller/src/optimizer.cpp
  nav2_mppi_controller/test/critic_manager_test.cpp
  nav2_mppi_controller/test/critics_tests.cpp
  nav2_mppi_controller/test/utils_test.cpp
Due: ament_cpplint, ament_uncrustify

Add omni (SE2) analytic expansion to SmacPlannerLattice (#5965)
  nav2_smac_planner/include/nav2_smac_planner/constants.hpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/src/distance_heuristic.cpp
  nav2_smac_planner/src/node_lattice.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/test/test_nodelattice.cpp
  nav2_smac_planner/test/test_smac_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Fix start index not being reset when planning near the goal
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
  nav2_util/include/nav2_util/path_utils.hpp
  nav2_util/src/path_utils.cpp
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

Lint
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
Due: ament_cpplint, ament_uncrustify

Adding inlined lineiterator to improve loopback sim perf
  nav2_loopback_sim/nav2_loopback_sim/loopback_simulator.py
Due: ament_flake8, ament_pep257

Fixed LineIterator bug
  nav2_simple_commander/nav2_simple_commander/line_iterator.py
Due: ament_flake8, ament_pep257

linting
  nav2_loopback_sim/nav2_loopback_sim/loopback_simulator.py
Due: ament_flake8, ament_pep257

Improve Loopback sim performance in raytracing for laserscan population (#6060)
  nav2_loopback_sim/nav2_loopback_sim/loopback_simulator.py
  nav2_simple_commander/nav2_simple_commander/line_iterator.py
Due: ament_flake8, ament_pep257

Fix start index not being reset when planning near the goal (#6058)
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
  nav2_util/include/nav2_util/path_utils.hpp
  nav2_util/src/path_utils.cpp
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

Bump to c++20 (#6059)
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_common/cmake/nav2_package.cmake
  nav2_route/test/test_geojson_graph_file_loader.cpp
  nav2_route/test/test_geojson_graph_file_saver.cpp
  nav2_smac_planner/include/nav2_smac_planner/node_2d.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_lattice.hpp
Due: ament_cpplint, ament_uncrustify

Incremental updates for the low acceleration task
  dexory_acceleration_notes.md
  dexory_graphics/after.png
  dexory_graphics/after_full_accel.png
  dexory_graphics/after_linear_accel_closed_loop_low_accel.png
  dexory_graphics/after_linear_accel_closed_loop_low_accel_model_dt_equal_control_freq.png
  dexory_graphics/after_linear_accel_open_loop_low_accel_model_dt_equal_control_frequency.png
  dexory_graphics/after_open_loop.png
  dexory_graphics/before.png
  dexory_graphics/before_full_accel.png
  dexory_graphics/before_linear_accel_closed_loop_low_accel.png
  dexory_graphics/before_open_loop.png
  nav2_bringup/params/nav2_params.yaml
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/optimizer.hpp
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Renaming
  low_accel_graphics/after.png
  low_accel_graphics/after_full_accel.png
  low_accel_graphics/after_linear_accel_closed_loop_low_accel.png
  low_accel_graphics/after_linear_accel_closed_loop_low_accel_model_dt_equal_control_freq.png
  low_accel_graphics/after_linear_accel_open_loop_low_accel_model_dt_equal_control_frequency.png
  low_accel_graphics/after_open_loop.png
  low_accel_graphics/before.png
  low_accel_graphics/before_full_accel.png
  low_accel_graphics/before_linear_accel_closed_loop_low_accel.png
  low_accel_graphics/before_open_loop.png
  low_accel_notes.md
Due: none

Smoothing the temp accel logger
  nav2_mppi_controller/include/nav2_mppi_controller/optimizer.hpp
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Code cleanup
  low_accel_notes.md
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Notes update
  low_accel_graphics/inter_iteration_feasibility_closed_loop_model_dt_equal_control_frequency.png
  low_accel_graphics/inter_iteration_feasibility_closed_loop_model_dt_not_equal_control_frequency.png
  low_accel_graphics/inter_iteration_feasibility_open_loop_model_dt_equal_control_frequency.png
  low_accel_graphics/inter_iteration_feasibility_open_loop_model_dt_not_equal_control_frequency.png
  low_accel_graphics/intra_iteration_open_loop_equal_model_control_freq_t=0.png
  low_accel_graphics/intra_iteration_open_loop_not_equal_model_control_freq_t=0.png
  low_accel_notes.md
Due: none

Prod. solution to acceleration low limitation
  nav2_bringup/params/nav2_params.yaml
  nav2_mppi_controller/include/nav2_mppi_controller/models/optimizer_settings.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/optimizer.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/tools/utils.hpp
  nav2_mppi_controller/src/optimizer.cpp
  nav2_mppi_controller/test/optimizer_unit_tests.cpp
Due: ament_cpplint, ament_uncrustify

Completed solution documentation
  low_accel_graphics/all_changes_clamped_controls_again.png
  low_accel_notes.md
Due: none

Modified testingObstacleAvoidanceNearCusps tests to be less fragile
  nav2_constrained_smoother/test/test_constrained_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Refactor nav2_loopback_sim package
  nav2_loopback_sim/CMakeLists.txt
  nav2_loopback_sim/include/nav2_loopback_sim/clock_publisher.hpp
  nav2_loopback_sim/include/nav2_loopback_sim/loopback_simulator.hpp
  nav2_loopback_sim/nav2_loopback_sim/loopback_simulator.py
  nav2_loopback_sim/nav2_loopback_sim/utils.py
  nav2_loopback_sim/package.xml
  nav2_loopback_sim/pytest.ini
  nav2_loopback_sim/resource/nav2_loopback_sim
  nav2_loopback_sim/setup.cfg
  nav2_loopback_sim/setup.py
  nav2_loopback_sim/src/clock_publisher.cpp
  nav2_loopback_sim/src/clock_publisher_main.cpp
  nav2_loopback_sim/src/loopback_simulator.cpp
  nav2_loopback_sim/src/main.cpp
  nav2_loopback_sim/test/test_copyright.py
  nav2_loopback_sim/test/test_flake8.py
  nav2_loopback_sim/test/test_pep257.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Removed squaring from constrained smoother cost function shape (#6000)
  nav2_constrained_smoother/README.md
  nav2_constrained_smoother/include/nav2_constrained_smoother/options.hpp
  nav2_constrained_smoother/include/nav2_constrained_smoother/smoother.hpp
  nav2_constrained_smoother/include/nav2_constrained_smoother/smoother_cost_function.hpp
  nav2_constrained_smoother/test/test_constrained_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Upto date with latest changes and deceleration limits
  nav2_docking/opennav_docking/src/controller.cpp
  nav2_graceful_controller/include/nav2_graceful_controller/graceful_controller.hpp
  nav2_graceful_controller/include/nav2_graceful_controller/parameter_handler.hpp
  nav2_graceful_controller/include/nav2_graceful_controller/smooth_control_law.hpp
  nav2_graceful_controller/src/graceful_controller.cpp
  nav2_graceful_controller/src/parameter_handler.cpp
  nav2_graceful_controller/src/smooth_control_law.cpp
  nav2_graceful_controller/test/test_graceful_controller.cpp
Due: ament_cpplint, ament_uncrustify

fix copyright date
  nav2_loopback_sim/include/nav2_loopback_sim/clock_publisher.hpp
  nav2_loopback_sim/include/nav2_loopback_sim/loopback_simulator.hpp
  nav2_loopback_sim/src/clock_publisher.cpp
  nav2_loopback_sim/src/clock_publisher_main.cpp
  nav2_loopback_sim/src/loopback_simulator.cpp
  nav2_loopback_sim/src/main.cpp
Due: ament_cpplint, ament_uncrustify

fixes
  nav2_loopback_sim/CMakeLists.txt
  nav2_loopback_sim/include/nav2_loopback_sim/clock_publisher.hpp
  nav2_loopback_sim/launch/loopback_simulation.launch.py
  nav2_loopback_sim/package.xml
  nav2_loopback_sim/src/loopback_simulator.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

more minor fixes
  nav2_loopback_sim/include/nav2_loopback_sim/clock_publisher.hpp
  nav2_loopback_sim/src/loopback_simulator.cpp
Due: ament_cpplint, ament_uncrustify

simplify getlaserscan
  nav2_loopback_sim/src/loopback_simulator.cpp
  nav2_loopback_sim/src/main.cpp
Due: ament_cpplint, ament_uncrustify

Add Gaussian noise to laser scan measurements
  nav2_loopback_sim/include/nav2_loopback_sim/loopback_simulator.hpp
  nav2_loopback_sim/src/loopback_simulator.cpp
Due: ament_cpplint, ament_uncrustify

lint
  nav2_loopback_sim/src/loopback_simulator.cpp
Due: ament_cpplint, ament_uncrustify

Update target distance implementation
  nav2_docking/opennav_docking/src/controller.cpp
  nav2_graceful_controller/src/graceful_controller.cpp
  nav2_graceful_controller/src/smooth_control_law.cpp
Due: ament_cpplint, ament_uncrustify

Update linting changes
  nav2_docking/opennav_docking/src/controller.cpp
  nav2_graceful_controller/include/nav2_graceful_controller/smooth_control_law.hpp
  nav2_graceful_controller/src/graceful_controller.cpp
  nav2_graceful_controller/src/smooth_control_law.cpp
  nav2_graceful_controller/test/test_graceful_controller.cpp
Due: ament_cpplint, ament_uncrustify

Refactor to use ROS clock for rate control in various components
  nav2_behavior_tree/src/behavior_tree_engine.cpp
  nav2_behaviors/include/nav2_behaviors/timed_behavior.hpp
  nav2_controller/src/controller_server.cpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_following/opennav_following/src/following_server.cpp
  nav2_route/src/route_tracker.cpp
  nav2_velocity_smoother/src/velocity_smoother.cpp
  nav2_waypoint_follower/plugins/input_at_waypoint.cpp
  nav2_waypoint_follower/src/waypoint_follower.cpp
  tools/underlay.repos
Due: ament_cpplint, ament_uncrustify

lint
  nav2_behavior_tree/src/behavior_tree_engine.cpp
Due: ament_cpplint, ament_uncrustify

Refactor ClockPublisher to use resetTimer for timer management and remove publish_period parameter
  nav2_loopback_sim/include/nav2_loopback_sim/clock_publisher.hpp
  nav2_loopback_sim/src/clock_publisher.cpp
Due: ament_cpplint, ament_uncrustify

Enhance bounds calculation for rolling costmaps in StaticLayer
  nav2_costmap_2d/plugins/static_layer.cpp
Due: ament_cpplint, ament_uncrustify

fix test
  nav2_system_tests/src/behaviors/wait/wait_behavior_tester.cpp
Due: ament_cpplint, ament_uncrustify

fix other test
  nav2_system_tests/src/behaviors/assisted_teleop/assisted_teleop_behavior_tester.cpp
Due: ament_cpplint, ament_uncrustify

Implementation of model_delay with dynamic parameter
  nav2_mppi_controller/include/nav2_mppi_controller/models/optimizer_settings.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Refactor LoopRate to accept a shared clock for sim-time awareness and update sleep mechanism for interruptibility
  nav2_behavior_tree/include/nav2_behavior_tree/utils/loop_rate.hpp
  nav2_behavior_tree/src/behavior_tree_engine.cpp
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
Due: ament_cpplint, ament_uncrustify
