Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Fixes null dock object access cases in dock database (#6355)
  nav2_docking/opennav_docking/include/opennav_docking/docking_server.hpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_docking/opennav_docking/test/test_docking_server_unit.cpp
Due: ament_cpplint, ament_uncrustify

Match velocity_smoother acceleration limits with MPPI defaults
  nav2_bringup/params/nav2_params.yaml
Due: none

Match velocity_smoother acceleration limits with MPPI defaults (#6362)
  nav2_bringup/params/nav2_params.yaml
Due: none

Validate retained path state against local costmap
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/include/nav2_controller/plugins/feasible_path_handler.hpp
  nav2_controller/plugins/feasible_path_handler.cpp
  nav2_controller/plugins/test/path_handler.cpp
  nav2_controller/src/controller_server.cpp
  nav2_controller/test/test_controller_server.cpp
  nav2_core/include/nav2_core/path_handler.hpp
  nav2_util/include/nav2_util/path_utils.hpp
  nav2_util/src/path_utils.cpp
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

Backport of fixes in #6355 to jazzy
  nav2_docking/opennav_docking/include/opennav_docking/docking_server.hpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_docking/opennav_docking/test/test_docking_server_unit.cpp
Due: ament_cpplint, ament_uncrustify

Fix Eigen GCC warnings in smoother and MPPI
  nav2_mppi_controller/include/nav2_mppi_controller/tools/utils.hpp
  nav2_mppi_controller/src/critics/goal_angle_critic.cpp
  nav2_smoother/src/savitzky_golay_smoother.cpp
  nav2_smoother/test/test_savitzky_golay_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Fix as suggested
  nav2_mppi_controller/include/nav2_mppi_controller/tools/utils.hpp
  nav2_mppi_controller/src/critics/goal_angle_critic.cpp
Due: ament_cpplint, ament_uncrustify

feat: preserve OSM node ids by widening route ids to uint64
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_and_track_route_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_route_action.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/action/compute_and_track_route_action.cpp
  nav2_msgs/action/ComputeAndTrackRoute.action
  nav2_msgs/action/ComputeRoute.action
  nav2_msgs/msg/EdgeCost.msg
  nav2_msgs/msg/RouteEdge.msg
  nav2_msgs/msg/RouteNode.msg
  nav2_msgs/srv/DynamicEdges.srv
  nav2_route/README.md
  nav2_route/include/nav2_route/interfaces/route_operation.hpp
  nav2_route/include/nav2_route/plugins/edge_cost_functions/dynamic_edges_scorer.hpp
  nav2_route/include/nav2_route/plugins/graph_file_loaders/osm_graph_file_loader.hpp
  nav2_route/include/nav2_route/plugins/route_operation_client.hpp
  nav2_route/include/nav2_route/plugins/route_operations/time_marker.hpp
  nav2_route/include/nav2_route/route_planner.hpp
  nav2_route/include/nav2_route/route_tracker.hpp
  nav2_route/include/nav2_route/types.hpp
  nav2_route/src/goal_intent_extractor.cpp
  nav2_route/src/path_converter.cpp
  nav2_route/src/plugins/edge_cost_functions/dynamic_edges_scorer.cpp
  nav2_route/src/plugins/graph_file_loaders/geojson_graph_file_loader.cpp
  nav2_route/src/plugins/graph_file_loaders/osm_graph_file_loader.cpp
  nav2_route/src/plugins/graph_file_savers/geojson_graph_file_saver.cpp
  nav2_route/src/plugins/route_operations/collision_monitor.cpp
  nav2_route/src/route_planner.cpp
  nav2_route/src/route_server.cpp
  nav2_route/src/route_tracker.cpp
  nav2_route/test/performance_benchmarking.cpp
  nav2_route/test/test_osm_graph_file_loader.cpp
  nav2_route/test/test_route_planner.cpp
  nav2_route/test/test_route_server.cpp
  nav2_route/test/test_utils_and_types.cpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/route_tool.hpp
  nav2_rviz_plugins/src/route_tool.cpp
Due: ament_cpplint, ament_uncrustify

Fix rotateToObject() using stale/empty state for its first TF lookup
  nav2_following/opennav_following/src/following_server.cpp
Due: ament_cpplint, ament_uncrustify

Backport of fixes in #6355 to jazzy (#6364)
  nav2_docking/opennav_docking/include/opennav_docking/docking_server.hpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_docking/opennav_docking/test/test_docking_server_unit.cpp
Due: ament_cpplint, ament_uncrustify

Ported as a Separate Path Classifier Server
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/classify_path_action.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/action/classify_path_action.cpp
  nav2_bringup/launch/navigation_launch.py
  nav2_bringup/params/nav2_multirobot_params_1.yaml
  nav2_bringup/params/nav2_multirobot_params_2.yaml
  nav2_bringup/params/nav2_multirobot_params_all.yaml
  nav2_bringup/params/nav2_params.yaml
  nav2_bt_navigator/behavior_trees/navigate_to_pose_w_replanning_classify_and_recovery.xml
  nav2_bt_navigator/src/bt_navigator.cpp
  nav2_msgs/CMakeLists.txt
  nav2_msgs/action/ClassifyPath.action
  nav2_msgs/action/ComputePathToPose.action
  nav2_msgs/msg/ClassifiedPath.msg
  nav2_msgs/msg/ClassifiedPose.msg
  nav2_msgs/msg/PathClasses.msg
  nav2_path_classifier/CMakeLists.txt
  nav2_path_classifier/include/nav2_path_classifier/path_classifier_server.hpp
  nav2_path_classifier/include/nav2_path_classifier/path_splitter.hpp
  nav2_path_classifier/include/nav2_path_classifier/pose_classifier.hpp
  nav2_path_classifier/package.xml
  nav2_path_classifier/src/main.cpp
  nav2_path_classifier/src/path_classifier_server.cpp
  nav2_path_classifier/src/path_splitter.cpp
  nav2_path_classifier/src/pose_classifier.cpp
  nav2_path_classifier/test/CMakeLists.txt
  nav2_path_classifier/test/test_path_splitter_helpers.cpp
  nav2_planner/include/nav2_planner/planner_server.hpp
  nav2_planner/package.xml
  nav2_planner/src/planner_server.cpp
  nav2_planner/test/CMakeLists.txt
  nav2_pose_classifiers/include/nav2_pose_classifiers/classifier_base.hpp
  nav2_pose_classifiers/include/nav2_pose_classifiers/constraint_classifier.hpp
  nav2_pose_classifiers/src/constraint_classifier.cpp
  nav2_system_tests/src/behavior_tree/test_behavior_tree_node.cpp
  nav2_system_tests/src/costmap_filters/keepout_params.yaml
  nav2_system_tests/src/costmap_filters/speed_global_params.yaml
  nav2_system_tests/src/costmap_filters/speed_local_params.yaml
  navigation2/package.xml
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Removed the default bt param included before by mistake
  nav2_bringup/params/nav2_params.yaml
Due: none

Constraint Classifier Added in default params
  nav2_bringup/params/nav2_params.yaml
Due: none

Fix rotateToObject() using stale/empty state for its first TF lookup (#6359)
  nav2_following/opennav_following/src/following_server.cpp
Due: ament_cpplint, ament_uncrustify

Backporting Opennav Following to Jazzy (#6347)
  .circleci/config.yml
  nav2_behavior_tree/src/behavior_tree_engine.cpp
  nav2_behavior_tree/test/plugins/control/test_pipeline_sequence.cpp
  nav2_behavior_tree/test/plugins/control/test_recovery_node.cpp
  nav2_behavior_tree/test/plugins/control/test_round_robin_node.cpp
  nav2_docking/opennav_docking/include/opennav_docking/controller.hpp
  nav2_docking/opennav_docking/src/controller.cpp
  nav2_docking/opennav_docking_core/include/opennav_docking_core/docking_exceptions.hpp
  nav2_following/opennav_following/CMakeLists.txt
  nav2_following/opennav_following/include/opennav_following/following_server.hpp
  nav2_following/opennav_following/include/opennav_following/parameter_handler.hpp
  nav2_following/opennav_following/package.xml
  nav2_following/opennav_following/src/following_server.cpp
  nav2_following/opennav_following/src/main.cpp
  nav2_following/opennav_following/src/parameter_handler.cpp
  nav2_following/opennav_following/test/CMakeLists.txt
  nav2_following/opennav_following/test/test_following_server.py
  nav2_following/opennav_following/test/test_following_server_unit.cpp
  nav2_msgs/CMakeLists.txt
  nav2_msgs/action/FollowObject.action
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

opennav_following: remove unused robot pose lookup in approachObject()
  nav2_following/opennav_following/src/following_server.cpp
Due: ament_cpplint, ament_uncrustify

Fix Formatting in Classifier Server and Add classify_path test_server for fixing system tests
  nav2_path_classifier/include/nav2_path_classifier/path_classifier_server.hpp
  nav2_system_tests/src/behavior_tree/server_handler.cpp
  nav2_system_tests/src/behavior_tree/server_handler.hpp
Due: ament_cpplint, ament_uncrustify

opennav_following: remove unused robot pose lookup in approachObject() (#6367)
  nav2_following/opennav_following/src/following_server.cpp
Due: ament_cpplint, ament_uncrustify

Fixed prediction of future speed and pose
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

fixed prediction of future speed and pose
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Fixed prediction of future speed and pose
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

feat: apply acceleration limits without changing velocity heading
  nav2_mppi_controller/src/optimizer.cpp
  nav2_mppi_controller/test/optimizer_unit_tests.cpp
Due: ament_cpplint, ament_uncrustify

revert: sanitize current vel state to legal velocities
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

fix: correct comment wording
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

[costmap_filters] ZoneParameterFilter: clear loaded state on reload, announce both routes to state 0, and pin setpoint routing
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/zone_parameter_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/zone_parameter_filter.cpp
  nav2_costmap_2d/test/unit/zone_parameter_filter_test.cpp
Due: ament_cpplint, ament_uncrustify

Backport of #6359 and #6367 to jazzy (#6371)
  nav2_following/opennav_following/src/following_server.cpp
Due: ament_cpplint, ament_uncrustify

Rename
  nav2_mppi_controller/src/critics/goal_angle_critic.cpp
Due: ament_cpplint, ament_uncrustify

Lint
  nav2_mppi_controller/src/critics/goal_angle_critic.cpp
Due: ament_cpplint, ament_uncrustify

Cancel all action goals on BT goal response timeout
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
Due: ament_cpplint, ament_uncrustify

Fix issues when compiling with Eigen5 (#6299)
  nav2_mppi_controller/include/nav2_mppi_controller/tools/utils.hpp
  nav2_mppi_controller/src/critics/goal_angle_critic.cpp
  nav2_smoother/src/savitzky_golay_smoother.cpp
  nav2_smoother/test/test_savitzky_golay_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
