Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

add ROI
  nav2_costmap_2d/plugins/inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

Add code coverage
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/test/test_nodehybrid.cpp
Due: ament_cpplint, ament_uncrustify

fix cmakelist
  nav2_costmap_2d/CMakeLists.txt
Due: none

Remove activate and deactivate
  nav2_controller/include/nav2_controller/plugins/axis_goal_checker.hpp
  nav2_controller/include/nav2_controller/plugins/feasible_path_handler.hpp
  nav2_controller/include/nav2_controller/plugins/pose_progress_checker.hpp
  nav2_controller/include/nav2_controller/plugins/position_goal_checker.hpp
  nav2_controller/include/nav2_controller/plugins/simple_goal_checker.hpp
  nav2_controller/include/nav2_controller/plugins/simple_progress_checker.hpp
  nav2_controller/include/nav2_controller/plugins/stopped_goal_checker.hpp
  nav2_controller/plugins/axis_goal_checker.cpp
  nav2_controller/plugins/feasible_path_handler.cpp
  nav2_controller/plugins/pose_progress_checker.cpp
  nav2_controller/plugins/position_goal_checker.cpp
  nav2_controller/plugins/simple_goal_checker.cpp
  nav2_controller/plugins/simple_progress_checker.cpp
  nav2_controller/plugins/stopped_goal_checker.cpp
  nav2_controller/plugins/test/axis_goal_checker.cpp
  nav2_controller/plugins/test/goal_checker.cpp
  nav2_controller/plugins/test/progress_checker.cpp
  nav2_controller/src/controller_server.cpp
  nav2_core/include/nav2_core/goal_checker.hpp
  nav2_core/include/nav2_core/path_handler.hpp
  nav2_core/include/nav2_core/progress_checker.hpp
  nav2_mppi_controller/test/utils_test.cpp
Due: ament_cpplint, ament_uncrustify

Fix formatting in progress_checker.hpp
  nav2_core/include/nav2_core/progress_checker.hpp
Due: ament_cpplint, ament_uncrustify

[mppi] apply savitskyGolayFilter before hard constraints, remove duplicated shift (#5878)
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Add coverage
  nav2_controller/plugins/pose_progress_checker.cpp
  nav2_controller/plugins/test/axis_goal_checker.cpp
  nav2_controller/plugins/test/goal_checker.cpp
  nav2_controller/plugins/test/path_handler.cpp
  nav2_controller/plugins/test/progress_checker.cpp
Due: ament_cpplint, ament_uncrustify

Revvert toml changes
  .github/workflows/lint.yml
  tools/pyproject.toml
Due: none

Revert assertion after latest sync
  nav2_system_tests/src/error_codes/test_error_codes.py
  nav2_system_tests/src/gps_navigation/tester.py
  nav2_system_tests/src/route/tester_node.py
  nav2_system_tests/src/waypoint_follower/tester.py
  tools/planner_benchmarking/process_data.py
  tools/smoother_benchmarking/metrics.py
  tools/smoother_benchmarking/process_data.py
Due: ament_flake8, ament_pep257

Fix linters and planner benchmarks
  nav2_loopback_sim/test/test_copyright.py
  nav2_loopback_sim/test/test_flake8.py
  nav2_loopback_sim/test/test_pep257.py
  nav2_simple_commander/test/test_copyright.py
  nav2_simple_commander/test/test_flake8.py
  nav2_simple_commander/test/test_pep257.py
  tools/planner_benchmarking/process_data.py
Due: ament_flake8, ament_pep257

Add coverage for simple pc
  nav2_controller/plugins/test/progress_checker.cpp
Due: ament_cpplint, ament_uncrustify

fixes + latest opencv
  nav2_costmap_2d/CMakeLists.txt
  nav2_costmap_2d/include/nav2_costmap_2d/inflation_layer.hpp
  nav2_costmap_2d/plugins/inflation_layer.cpp
  nav2_costmap_2d/test/benchmark/CMakeLists.txt
Due: ament_cpplint, ament_uncrustify

Add heading error in controller server (#5894)
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
  nav2_controller/src/controller_server.cpp
  nav2_msgs/action/FollowPath.action
  nav2_msgs/action/NavigateThroughPoses.action
  nav2_msgs/action/NavigateToPose.action
  nav2_msgs/msg/TrackingFeedback.msg
  nav2_rviz_plugins/src/nav2_panel.cpp
  nav2_simple_commander/nav2_simple_commander/example_nav_through_poses.py
  nav2_simple_commander/nav2_simple_commander/example_nav_to_pose.py
  nav2_util/src/path_utils.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

apply holonomic velocity polygon
  nav2_collision_monitor/src/velocity_polygon.cpp
Due: ament_cpplint, ament_uncrustify

docs(nav2): add comprehensive plugin development documentation
  nav2_docs/docs/api-reference.md
  nav2_docs/docs/plugin-interfaces.md
  nav2_docs/docs/plugin_tutorials/custom-behavior.md
  nav2_docs/docs/plugin_tutorials/custom-controller.md
  nav2_docs/docs/plugin_tutorials/custom-planner.md
  nav2_examples/example_controller/CMakeLists.txt
  nav2_examples/example_controller/example_controller_plugin.xml
  nav2_examples/example_controller/include/example_controller/pure_pursuit_controller.hpp
  nav2_examples/example_controller/package.xml
  nav2_examples/example_controller/src/pure_pursuit_controller.cpp
  nav2_examples/example_costmap_layer/CMakeLists.txt
  nav2_examples/example_costmap_layer/example_costmap_layer_plugin.xml
  nav2_examples/example_costmap_layer/include/example_costmap_layer/gradient_layer.hpp
  nav2_examples/example_costmap_layer/package.xml
  nav2_examples/example_costmap_layer/src/gradient_layer.cpp
  nav2_examples/example_planner/CMakeLists.txt
  nav2_examples/example_planner/example_planner_plugin.xml
  nav2_examples/example_planner/include/example_planner/a_star_planner.hpp
  nav2_examples/example_planner/package.xml
  nav2_examples/example_planner/src/a_star_planner.cpp
Due: ament_cpplint, ament_uncrustify

fix(nav2_examples): update CMakeLists.txt to use modern CMake patterns
  nav2_examples/example_controller/CMakeLists.txt
  nav2_examples/example_controller/package.xml
  nav2_examples/example_costmap_layer/CMakeLists.txt
  nav2_examples/example_costmap_layer/package.xml
  nav2_examples/example_planner/CMakeLists.txt
  nav2_examples/example_planner/package.xml
Due: none

feat(nav2_behavior_tree): add server failure callback to bt_action_node
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
Due: ament_cpplint, ament_uncrustify

fix(nav2_examples): fix CMake export target mismatch and add backward_ros
  nav2_examples/example_controller/CMakeLists.txt
  nav2_examples/example_controller/package.xml
  nav2_examples/example_costmap_layer/CMakeLists.txt
  nav2_examples/example_costmap_layer/package.xml
  nav2_examples/example_planner/CMakeLists.txt
  nav2_examples/example_planner/package.xml
Due: none

fix(examples): use ament_target_dependencies for proper include propagation
  nav2_examples/example_controller/CMakeLists.txt
  nav2_examples/example_costmap_layer/CMakeLists.txt
  nav2_examples/example_planner/CMakeLists.txt
Due: none

fix(nav2_examples): use nav2_ros_common for node_utils.hpp
  nav2_examples/example_controller/CMakeLists.txt
  nav2_examples/example_controller/package.xml
  nav2_examples/example_controller/src/pure_pursuit_controller.cpp
  nav2_examples/example_costmap_layer/CMakeLists.txt
  nav2_examples/example_costmap_layer/package.xml
  nav2_examples/example_costmap_layer/src/gradient_layer.cpp
  nav2_examples/example_planner/CMakeLists.txt
  nav2_examples/example_planner/package.xml
  nav2_examples/example_planner/src/a_star_planner.cpp
Due: ament_cpplint, ament_uncrustify

fix(inflation_layer): set current_ = false on dynamic param changes
  nav2_costmap_2d/plugins/inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

Update Claude action version to v1
  .github/workflows/claude.yml
Due: none

Update Claude action version to v1 (#5934)
  .github/workflows/claude.yml
Due: none

Revert "Update Claude action version to v1 (#5934)"
  .github/workflows/claude.yml
Due: none

Revert "Update Claude action version to v1 (#5934)" (#5935)
  .github/workflows/claude.yml
Due: none

Add installation step for Claude Code
  .github/workflows/claude.yml
Due: none

Update Claude Code installation method in workflow
  .github/workflows/claude.yml
Due: none

Update Claude Code installation method in workflow (#5936)
  .github/workflows/claude.yml
Due: none

Revert "Update Claude Code installation method in workflow (#5936)"
  .github/workflows/claude.yml
Due: none

Revert "Update Claude Code installation method in workflow (#5936)" (#5937)
  .github/workflows/claude.yml
Due: none

Changing BT loading warning to be more clear
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_system_tests/src/behavior_tree/test_behavior_tree_node.cpp
Due: ament_cpplint, ament_uncrustify

Adding timestamp
  nav2_amcl/src/amcl_node.cpp
  nav2_amcl/test/test_pose_persistence.cpp
Due: ament_cpplint, ament_uncrustify

selection
  nav2_rviz_plugins/include/nav2_rviz_plugins/route_tool.hpp
  nav2_rviz_plugins/resource/route_tool.ui
  nav2_rviz_plugins/src/route_tool.cpp
Due: ament_cpplint, ament_uncrustify

remove
  nav2_rviz_plugins/include/nav2_rviz_plugins/route_tool.hpp
  nav2_rviz_plugins/resource/route_tool.ui
  nav2_rviz_plugins/src/route_tool.cpp
Due: ament_cpplint, ament_uncrustify

Multiple arrows instead of LINE_LIST (perf drop ?)
  nav2_route/include/nav2_route/utils.hpp
Due: ament_cpplint, ament_uncrustify

AMCL: Save Pose to File and Reinitialize at Last 'Remembered' Pose (Optionally) (#5922)
  nav2_amcl/include/nav2_amcl/amcl_node.hpp
  nav2_amcl/src/amcl_node.cpp
  nav2_amcl/test/CMakeLists.txt
  nav2_amcl/test/test_dynamic_parameters.cpp
  nav2_amcl/test/test_pose_persistence.cpp
Due: ament_cpplint, ament_uncrustify

Comment out ros2/rviz repository
  tools/underlay.repos
Due: none

lint
  nav2_rviz_plugins/src/route_tool.cpp
Due: ament_cpplint, ament_uncrustify

Changing BT loading warning to be more clear (#5938)
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_system_tests/src/behavior_tree/test_behavior_tree_node.cpp
  tools/underlay.repos
Due: ament_cpplint, ament_uncrustify

Use nav2::LifecycleNode on main
  nav2_costmap_2d/src/costmap_subscriber.cpp
  nav2_costmap_2d/test/integration/test_costmap_topic_collision_checker.cpp
Due: ament_cpplint, ament_uncrustify
