Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Fix: interior circle current_path_index oriented
  nav2_costmap_2d/include/nav2_costmap_2d/bounded_tracking_error_layer.hpp
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
Due: ament_cpplint, ament_uncrustify

Shortening work
  nav2_costmap_2d/include/nav2_costmap_2d/bounded_tracking_error_layer.hpp
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
Due: ament_cpplint, ament_uncrustify

Test simplification
  nav2_costmap_2d/test/unit/bounded_tracking_error_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

styling
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
Due: ament_cpplint, ament_uncrustify

Add circle at the end, increase age tolerance
  nav2_costmap_2d/include/nav2_costmap_2d/bounded_tracking_error_layer.hpp
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
  nav2_costmap_2d/test/unit/bounded_tracking_error_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

Parameter update
  nav2_bringup/params/nav2_params.yaml
Due: none

taking tf and baseframe from costmap base
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
Due: ament_cpplint, ament_uncrustify

start from current_path_index_
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
Due: ament_cpplint, ament_uncrustify

stale check distance based
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
Due: ament_cpplint, ament_uncrustify

update tests delete fallbacks
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
  nav2_costmap_2d/test/unit/bounded_tracking_error_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

feat: ensure unique node IDs, class names and ports in code extraction
  tools/bt_nodes_validation/test/test_detect_duplicate_data.py
  tools/bt_nodes_validation/test/unit/test_extract_node_registration_data.py
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

feat: add validation for duplicate base class names in configuration
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

refactor: rename variable in argument extraction function
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

refactor: improve readability in extract_template_data function
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

feat: skip node registration if leading comments are present
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

refactor: use separate variables for common data when checking code for duplicate data
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

added max_cost_threshold parameter for rotation shim
  nav2_rotation_shim_controller/README.md
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/nav2_rotation_shim_controller.hpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
  nav2_rotation_shim_controller/test/test_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

feat: add lock for getTwist and getTwistStamped to prevent race conditions
  nav2_dwb_controller/nav_2d_utils/include/nav_2d_utils/odom_subscriber.hpp
Due: ament_cpplint, ament_uncrustify

feat: make current_accel_ atomic(fix for issue #6157)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_stuck_condition.hpp
Due: ament_cpplint, ament_uncrustify

mppi: Improve performance of mppi delay compensation by doing the shift
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

chore: remove isort hook from pre-commit
  .pre-commit-config.yaml
  tools/pyproject.toml
Due: none

feat: add check for velocity and effort match in jointStateCallback
  nav2_docking/opennav_docking/src/simple_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_simple_charging_dock.cpp
Due: ament_cpplint, ament_uncrustify

chore: remove isort hook from pre-commit (#6170)
  .pre-commit-config.yaml
  tools/pyproject.toml
Due: none

added max_cost_threshold parameter for rotation shim (#6167)
  nav2_rotation_shim_controller/README.md
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/nav2_rotation_shim_controller.hpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
  nav2_rotation_shim_controller/test/test_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

Validate costmap resolution parameter
  nav2_costmap_2d/src/costmap_2d_ros.cpp
Due: ament_cpplint, ament_uncrustify

Validate costmap resolution parameter (#6178)
  nav2_costmap_2d/src/costmap_2d_ros.cpp
Due: ament_cpplint, ament_uncrustify

fix: corridor suppression for 1 cycle with timer fallback, end-cap and circle anchor fixes, race fixes
  nav2_costmap_2d/include/nav2_costmap_2d/bounded_tracking_error_layer.hpp
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
Due: ament_cpplint, ament_uncrustify

styling: spacing, migrating to setCurrent
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
Due: ament_cpplint, ament_uncrustify

uncrustify, test update
  nav2_costmap_2d/include/nav2_costmap_2d/bounded_tracking_error_layer.hpp
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
  nav2_costmap_2d/test/unit/bounded_tracking_error_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

add headers to implementation
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
Due: ament_cpplint, ament_uncrustify

chore: resolve flake8 unused imports and robot_navigator indentation
  nav2_docking/opennav_docking/test/test_docking_server.py
  nav2_following/opennav_following/test/test_following_server.py
  nav2_simple_commander/nav2_simple_commander/costmap_2d.py
  nav2_simple_commander/nav2_simple_commander/footprint_collision_checker.py
  nav2_simple_commander/nav2_simple_commander/occupancy_grid.py
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
  nav2_smac_planner/lattice_primitives/tests/test_lattice_generator.py
  nav2_smac_planner/lattice_primitives/tests/test_trajectory_generator.py
Due: ament_flake8, ament_pep257

chore: reorder imports to comply with ament_flake8
  tools/bt_nodes_validation/test/conftest.py
  tools/bt_nodes_validation/test/unit/test_extract_code_port_data.py
  tools/bt_nodes_validation/test/unit/test_extract_node_registration_data.py
  tools/bt_nodes_validation/test/unit/test_extract_xml_nodes_data.py
Due: ament_flake8, ament_pep257

first goal update changes, minor coding style
  nav2_costmap_2d/include/nav2_costmap_2d/bounded_tracking_error_layer.hpp
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
  nav2_costmap_2d/test/unit/bounded_tracking_error_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

Add omni (SE2) analytic expansion to SmacPlannerLattice (jazzy)
  nav2_smac_planner/include/nav2_smac_planner/constants.hpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/src/node_lattice.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/test/test_nodelattice.cpp
  nav2_smac_planner/test/test_smac_lattice.cpp
Due: ament_cpplint, ament_uncrustify

backup
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
Due: ament_cpplint, ament_uncrustify

test fix
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
Due: ament_cpplint, ament_uncrustify

lint fixing and longer server time for test
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
Due: ament_cpplint, ament_uncrustify

making last_run_id_ sentinel value adding more tests.
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
