Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Implementing Steve's suggestion for performance and code simplicity.
  nav2_collision_monitor/src/pointcloud.cpp
Due: ament_cpplint, ament_uncrustify

Use declare_or_get_parameter without a default value.
  nav2_collision_monitor/src/circle.cpp
  nav2_collision_monitor/src/collision_detector_node.cpp
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_collision_monitor/src/polygon.cpp
  nav2_collision_monitor/src/velocity_polygon.cpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
Due: ament_cpplint, ament_uncrustify

Update error string
  nav2_behavior_tree/plugins/control/persistent_sequence.cpp
Due: ament_cpplint, ament_uncrustify

Fix quotation marks
  nav2_behavior_tree/plugins/control/persistent_sequence.cpp
Due: ament_cpplint, ament_uncrustify

Apply suggestions from code review
  nav2_collision_monitor/src/pointcloud.cpp
Due: ament_cpplint, ament_uncrustify

Added error feedback for nav go to
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
Due: ament_cpplint, ament_uncrustify

creating the member variable end_pose_global_ and deleting nav_2d_msgs
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/src/controller_server.cpp
  nav2_util/test/CMakeLists.txt
Due: ament_cpplint, ament_uncrustify

deleting unnecessary transform
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

typo in controller
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

readding remaining path
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Fail PersistentSequence if input port is not set (#5589)
  nav2_behavior_tree/plugins/control/persistent_sequence.cpp
  nav2_behavior_tree/test/plugins/control/test_persistent_sequence.cpp
Due: ament_cpplint, ament_uncrustify

placement of transformation
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

unnecessary comments
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Implemented goal tolerance validity check
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
Due: ament_cpplint, ament_uncrustify

Fixed description for getCoords function
  nav2_smac_planner/include/nav2_smac_planner/node_2d.hpp
Due: ament_cpplint, ament_uncrustify

Added a test with lower tolerance for zone validity checking
  nav2_smac_planner/test/test_goal_manager.cpp
Due: ament_cpplint, ament_uncrustify

[Graceful Controller] Fix Incorrect Motion Target Heading output by controller (#5530)
  nav2_util/include/nav2_util/controller_utils.hpp
  nav2_util/src/controller_utils.cpp
  nav2_util/test/test_controller_utils.cpp
Due: ament_cpplint, ament_uncrustify

Updated tolerance check function implementation
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
Due: ament_cpplint, ament_uncrustify

feat: migrate to nav2_msgs for FollowObject action and remove opennav_following_msgs
  nav2_following/opennav_following/CMakeLists.txt
  nav2_following/opennav_following/include/opennav_following/following_server.hpp
  nav2_following/opennav_following/package.xml
  nav2_following/opennav_following/test/test_following_server_unit.cpp
  nav2_following/opennav_following_bt/CMakeLists.txt
  nav2_following/opennav_following_bt/README.md
  nav2_following/opennav_following_bt/include/opennav_following_bt/follow_object_action.hpp
  nav2_following/opennav_following_bt/include/opennav_following_bt/follow_object_cancel_node.hpp
  nav2_following/opennav_following_bt/package.xml
  nav2_following/opennav_following_bt/src/follow_object_cancel_node.cpp
  nav2_following/opennav_following_bt/test/CMakeLists.txt
  nav2_following/opennav_following_bt/test/test_follow_object_action.cpp
  nav2_following/opennav_following_bt/test/test_follow_object_cancel_node.cpp
  nav2_following/opennav_following_msgs/CMakeLists.txt
  nav2_following/opennav_following_msgs/README.md
  nav2_following/opennav_following_msgs/package.xml
  nav2_msgs/CMakeLists.txt
  nav2_msgs/action/FollowObject.action
Due: ament_cpplint, ament_uncrustify

Fix precommit
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

Following server
  nav2_following/opennav_following/CMakeLists.txt
  nav2_following/opennav_following/include/opennav_following/following_server.hpp
  nav2_following/opennav_following/package.xml
  nav2_following/opennav_following/src/following_server.cpp
  nav2_following/opennav_following/src/main.cpp
  nav2_following/opennav_following/test/CMakeLists.txt
  nav2_following/opennav_following/test/test_following_server_unit.cpp
  nav2_following/opennav_following_bt/CMakeLists.txt
  nav2_following/opennav_following_bt/README.md
  nav2_following/opennav_following_bt/include/opennav_following_bt/follow_object_action.hpp
  nav2_following/opennav_following_bt/include/opennav_following_bt/follow_object_cancel_node.hpp
  nav2_following/opennav_following_bt/package.xml
  nav2_following/opennav_following_bt/src/follow_object_action.cpp
  nav2_following/opennav_following_bt/src/follow_object_cancel_node.cpp
  nav2_following/opennav_following_bt/test/CMakeLists.txt
  nav2_following/opennav_following_bt/test/test_follow_object_action.cpp
  nav2_following/opennav_following_bt/test/test_follow_object_cancel_node.cpp
  nav2_following/opennav_following_msgs/CMakeLists.txt
  nav2_following/opennav_following_msgs/README.md
  nav2_following/opennav_following_msgs/action/FollowObject.action
  nav2_following/opennav_following_msgs/package.xml
Due: ament_cpplint, ament_uncrustify

Fix mypy issues
  nav2_following/opennav_following/test/test_following_server.py
Due: ament_flake8, ament_pep257

Update package and circle
  .circleci/config.yml
  nav2_following/opennav_following/package.xml
Due: none

Move FollowObject and FollowObjectCancel action nodes from bt package
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/follow_object_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/follow_object_cancel_node.hpp
  nav2_behavior_tree/plugins/action/follow_object_action.cpp
  nav2_behavior_tree/plugins/action/follow_object_cancel_node.cpp
  nav2_behavior_tree/test/plugins/action/CMakeLists.txt
  nav2_behavior_tree/test/plugins/action/test_follow_object_action.cpp
  nav2_behavior_tree/test/plugins/action/test_follow_object_cancel_node.cpp
  nav2_following/opennav_following_bt/CMakeLists.txt
  nav2_following/opennav_following_bt/package.xml
  nav2_following/opennav_following_bt/test/CMakeLists.txt
Due: ament_cpplint, ament_uncrustify

Fix mypy test
  nav2_following/opennav_following/test/test_following_server.py
Due: ament_flake8, ament_pep257

Update key and package
  .circleci/config.yml
  navigation2/package.xml
Due: none

feat: add FollowObject action support in robot navigator and fix mypy
  nav2_bringup/launch/navigation_launch.py
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

feat: add follow_object action to bt_navigator parameters
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_bringup/params/nav2_params.yaml
  nav2_system_tests/src/system/nav2_system_params.yaml
Due: ament_cpplint, ament_uncrustify

Fix mypy?
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

Fix mypy, round two
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

nav2_costmap_2d: static_layer: add grid value interpretation for inscribed inflated obstacles
  nav2_costmap_2d/include/nav2_costmap_2d/static_layer.hpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
Due: ament_cpplint, ament_uncrustify

simplify logic
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_system_tests/src/behavior_tree/test_behavior_tree_node.cpp
Due: ament_cpplint, ament_uncrustify

removed st bb
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
Due: ament_cpplint, ament_uncrustify

unused
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_system_tests/src/behavior_tree/test_behavior_tree_node.cpp
Due: ament_cpplint, ament_uncrustify

simplify loadbehaviortree
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_system_tests/src/behavior_tree/test_behavior_tree_node.cpp
Due: ament_cpplint, ament_uncrustify

Add benchmark for observation buffer
  nav2_costmap_2d/package.xml
  nav2_costmap_2d/test/CMakeLists.txt
  nav2_costmap_2d/test/benchmark/CMakeLists.txt
  nav2_costmap_2d/test/benchmark/observation_buffer_benchmark.cpp
Due: ament_cpplint, ament_uncrustify

Apply rule of zero for Observation and do not use ptr for cloud
  nav2_costmap_2d/include/nav2_costmap_2d/observation.hpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/plugins/voxel_layer.cpp
  nav2_costmap_2d/src/observation_buffer.cpp
  nav2_costmap_2d/test/testing_helper.hpp
Due: ament_cpplint, ament_uncrustify

ObservationBuffer stores shared ptrs of observations to avoid copies when queried
  nav2_costmap_2d/include/nav2_costmap_2d/observation_buffer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/obstacle_layer.hpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/plugins/voxel_layer.cpp
  nav2_costmap_2d/src/observation_buffer.cpp
  nav2_costmap_2d/test/benchmark/observation_buffer_benchmark.cpp
  nav2_costmap_2d/test/testing_helper.hpp
  nav2_costmap_2d/test/unit/CMakeLists.txt
  nav2_costmap_2d/test/unit/observation_buffer_test.cpp
Due: ament_cpplint, ament_uncrustify

tests added
  nav2_controller/src/controller_server.cpp
  nav2_util/test/test_geometry_utils.cpp
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

Increased test coverage
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
