Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

Add dummy nav2_segmentation action server and BT plugin skeleton
  nav2_segmentation/CMakeLists.txt
  nav2_segmentation/README.md
  nav2_segmentation/action/SegmentImage.action
  nav2_segmentation/behavior_trees/segment_image.xml
  nav2_segmentation/include/nav2_segmentation/segment_image_action.hpp
  nav2_segmentation/nav2_segmentation_server/__init__.py
  nav2_segmentation/nav2_segmentation_server/action_server.py
  nav2_segmentation/package.xml
  nav2_segmentation/scripts/nav2_segmentation
  nav2_segmentation/src/segment_image_action.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Simplify nav2_segmentation to bare discussion skeleton
  nav2_segmentation/README.md
  nav2_segmentation/action/SegmentImage.action
  nav2_segmentation/behavior_trees/segment_image.xml
  nav2_segmentation/include/nav2_segmentation/segment_image_action.hpp
  nav2_segmentation/nav2_segmentation_server/action_server.py
  nav2_segmentation/src/segment_image_action.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Convert nav2_segmentation to bare C++ server skeleton
  nav2_segmentation/CMakeLists.txt
  nav2_segmentation/README.md
  nav2_segmentation/nav2_segmentation_server/__init__.py
  nav2_segmentation/nav2_segmentation_server/action_server.py
  nav2_segmentation/package.xml
  nav2_segmentation/scripts/nav2_segmentation
  nav2_segmentation/src/segmentation_server.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Revert "fix tests as well"
  nav2_behavior_tree/test/utils/test_transform_handler.hpp
  nav2_costmap_2d/test/integration/costmap_tester.cpp
  nav2_planner/test/test_plan_through_poses.cpp
  nav2_system_tests/src/planning/planner_tester.cpp
Due: ament_cpplint, ament_uncrustify

Revert "Refactor timer usage across navigation2 components to utilize nav2::create_timer and nav2::Rate for improved simulation time handling"
  nav2_amcl/src/amcl_node.cpp
  nav2_core/include/nav2_core/behavior_tree_navigator.hpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_lifecycle_manager/src/lifecycle_manager.cpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_ros_common/include/nav2_ros_common/rate.hpp
  nav2_ros_common/include/nav2_ros_common/timer.hpp
  nav2_route/include/nav2_route/route_tracker.hpp
  nav2_route/src/route_tracker.cpp
  nav2_util/include/nav2_util/lifecycle_service_client.hpp
  nav2_waypoint_follower/include/nav2_waypoint_follower/plugins/input_at_waypoint.hpp
  nav2_waypoint_follower/plugins/input_at_waypoint.cpp
Due: ament_cpplint, ament_uncrustify

Revert "Refactor timer and rate handling across navigation2 components to use nav2::Rate and nav2::create_timer for improved simulation time support"
  nav2_behaviors/include/nav2_behaviors/timed_behavior.hpp
  nav2_collision_monitor/src/collision_detector_node.cpp
  nav2_controller/src/controller_server.cpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_following/opennav_following/src/following_server.cpp
  nav2_map_server/src/vo_server/vector_object_server.cpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_ros_common/include/nav2_ros_common/rate.hpp
  nav2_ros_common/include/nav2_ros_common/timer.hpp
  nav2_velocity_smoother/src/velocity_smoother.cpp
  nav2_waypoint_follower/src/waypoint_follower.cpp
Due: ament_cpplint, ament_uncrustify

Expose path_length_tolerance
  nav2_controller/include/nav2_controller/plugins/axis_goal_checker.hpp
  nav2_controller/include/nav2_controller/plugins/position_goal_checker.hpp
  nav2_controller/include/nav2_controller/plugins/simple_goal_checker.hpp
  nav2_controller/include/nav2_controller/plugins/stopped_goal_checker.hpp
  nav2_controller/plugins/axis_goal_checker.cpp
  nav2_controller/plugins/position_goal_checker.cpp
  nav2_controller/plugins/simple_goal_checker.cpp
  nav2_controller/plugins/stopped_goal_checker.cpp
  nav2_controller/plugins/test/axis_goal_checker.cpp
  nav2_controller/plugins/test/goal_checker.cpp
  nav2_core/include/nav2_core/goal_checker.hpp
  nav2_graceful_controller/include/nav2_graceful_controller/graceful_controller.hpp
  nav2_graceful_controller/src/graceful_controller.cpp
  nav2_mppi_controller/src/critics/twirling_critic.cpp
  nav2_mppi_controller/test/utils_test.cpp
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

revert everything
  nav2_behavior_tree/include/nav2_behavior_tree/utils/loop_rate.hpp
  nav2_behavior_tree/src/behavior_tree_engine.cpp
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
  nav2_behaviors/include/nav2_behaviors/timed_behavior.hpp
  nav2_controller/src/controller_server.cpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_following/opennav_following/src/following_server.cpp
  nav2_route/src/route_tracker.cpp
  nav2_system_tests/src/behaviors/assisted_teleop/assisted_teleop_behavior_tester.cpp
  nav2_system_tests/src/behaviors/wait/wait_behavior_tester.cpp
  nav2_velocity_smoother/src/velocity_smoother.cpp
  nav2_waypoint_follower/plugins/input_at_waypoint.cpp
  nav2_waypoint_follower/src/waypoint_follower.cpp
  tools/underlay.repos
Due: ament_cpplint, ament_uncrustify

Add nav2::WallRate for improved time handling across components
  nav2_amcl/src/amcl_node.cpp
  nav2_behavior_tree/include/nav2_behavior_tree/behavior_tree_engine.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/utils/loop_rate.hpp
  nav2_behavior_tree/src/behavior_tree_engine.cpp
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
  nav2_behaviors/include/nav2_behaviors/timed_behavior.hpp
  nav2_controller/src/controller_server.cpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_lifecycle_manager/src/lifecycle_manager.cpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_ros_common/include/nav2_ros_common/wall_rate.hpp
  nav2_velocity_smoother/src/velocity_smoother.cpp
  nav2_waypoint_follower/src/waypoint_follower.cpp
  tools/underlay.repos
Due: ament_cpplint, ament_uncrustify

remove unsude includes
  nav2_amcl/src/amcl_node.cpp
  nav2_velocity_smoother/src/velocity_smoother.cpp
Due: ament_cpplint, ament_uncrustify

fix build
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
Due: ament_cpplint, ament_uncrustify

fix typo in README for standalone simulator description
  nav2_loopback_sim/README.md
Due: none

Fix SMAC Hybrid visualization offset from expansions to path (#6040)
  nav2_smac_planner/src/a_star.cpp
Due: ament_cpplint, ament_uncrustify

fix date
  nav2_ros_common/include/nav2_ros_common/wall_rate.hpp
Due: ament_cpplint, ament_uncrustify

Doc updates for barnch switching magic
  low_accel_notes.md
Due: none

adding after img
  low_accel_graphics/steady_state_noise_after.png
  low_accel_notes.md
Due: none

Adding more analysis
  low_accel_graphics/SGF_order1.png
  low_accel_graphics/reduced_std_0.1.png
  low_accel_graphics/reduced_std_0.1_steady_state.png
  low_accel_graphics/steady_state_noise_before.png
  low_accel_graphics/steady_state_noise_before2.png
  low_accel_graphics/temperature_0.4.png
  low_accel_notes.md
  nav2_mppi_controller/README.md
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Removing old debugging artifacts
  low_accel_notes.md
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
Due: ament_cpplint, ament_uncrustify

Updating default for Tony
  nav2_bringup/params/nav2_params.yaml
Due: none

Expose SGF order to a parameter
  nav2_mppi_controller/include/nav2_mppi_controller/models/optimizer_settings.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/tools/utils.hpp
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

doc update
  nav2_mppi_controller/README.md
Due: none

Rename 'check_full_path' to 'stop_at_first_collision' and update related documentation and tests for clarity
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/validate_path_action.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/action/validate_path_action.cpp
  nav2_msgs/srv/IsPathValid.srv
  nav2_planner/include/nav2_planner/is_path_valid_service.hpp
  nav2_system_tests/src/planning/planner_tester.cpp
  nav2_system_tests/src/planning/planner_tester.hpp
  nav2_system_tests/src/planning/test_planner_is_path_valid.cpp
Due: ament_cpplint, ament_uncrustify

Add validation for map response and ensure map is fetched before publishing laser scan
  nav2_loopback_sim/src/loopback_simulator.cpp
Due: ament_cpplint, ament_uncrustify

Fix formatting of package selection and skip regex in CircleCI config
  .circleci/config.yml
Due: none

move to velocity based check
  nav2_controller/include/nav2_controller/plugins/progress_goal_checker.hpp
  nav2_controller/plugins/progress_goal_checker.cpp
  nav2_controller/plugins/test/goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

rename to adaptive tolerance
  nav2_controller/CMakeLists.txt
  nav2_controller/include/nav2_controller/plugins/adaptive_tolerance_goal_checker.hpp
  nav2_controller/plugins.xml
  nav2_controller/plugins/adaptive_tolerance_goal_checker.cpp
  nav2_controller/plugins/test/CMakeLists.txt
  nav2_controller/plugins/test/goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

rename counter
  nav2_controller/include/nav2_controller/plugins/adaptive_tolerance_goal_checker.hpp
  nav2_controller/plugins/adaptive_tolerance_goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

Bringing down soft and hard repulsion spereation
  nav2_bringup/params/nav2_params.yaml
  nav2_mppi_controller/include/nav2_mppi_controller/critics/path_hug_critic.hpp
  nav2_mppi_controller/src/critics/path_hug_critic.cpp
Due: ament_cpplint, ament_uncrustify

Last styling changes
  nav2_costmap_2d/include/nav2_costmap_2d/bounded_tracking_error_layer.hpp
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
  nav2_costmap_2d/test/unit/bounded_tracking_error_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

Increasing efficiency of TF
  nav2_costmap_2d/include/nav2_costmap_2d/bounded_tracking_error_layer.hpp
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
Due: ament_cpplint, ament_uncrustify

backup
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
Due: ament_cpplint, ament_uncrustify

test fix
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
Due: ament_cpplint, ament_uncrustify

making last_run_id_ sentinel value adding more tests.
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
Due: ament_cpplint, ament_uncrustify

lint fixing and longer server time for test
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
Due: ament_cpplint, ament_uncrustify

adding uuid hashmap version
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
Due: ament_cpplint, ament_uncrustify

Add max_lookahead_distance parameter to path validation (#6027)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/validate_path_action.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/action/validate_path_action.cpp
  nav2_msgs/srv/IsPathValid.srv
  nav2_planner/include/nav2_planner/is_path_valid_service.hpp
  nav2_system_tests/src/planning/planner_tester.cpp
  nav2_system_tests/src/planning/planner_tester.hpp
  nav2_system_tests/src/planning/test_planner_is_path_valid.cpp
Due: ament_cpplint, ament_uncrustify

handling conflitcs and reviews of action nodes.
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
Due: ament_cpplint, ament_uncrustify

fix: correct external detection rotation in opennav_docking (#6047)
  nav2_docking/README.md
  nav2_docking/opennav_docking/src/simple_charging_dock.cpp
  nav2_docking/opennav_docking/src/simple_non_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_pose_filter.cpp
  nav2_smac_planner/include/nav2_smac_planner/utils.hpp
Due: ament_cpplint, ament_uncrustify

Deleting unnecessary complicated tests, adding necessary condition nodes and their tests
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/distance_traveled_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/goal_updated_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_battery_charging_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_battery_low_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/time_expired_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/transform_available_condition.hpp
  nav2_behavior_tree/package.xml
  nav2_behavior_tree/plugins/condition/distance_traveled_condition.cpp
  nav2_behavior_tree/plugins/condition/goal_updated_condition.cpp
  nav2_behavior_tree/plugins/condition/is_battery_charging_condition.cpp
  nav2_behavior_tree/plugins/condition/is_battery_low_condition.cpp
  nav2_behavior_tree/plugins/condition/time_expired_condition.cpp
  nav2_behavior_tree/plugins/condition/transform_available_condition.cpp
  nav2_behavior_tree/test/plugins/action/CMakeLists.txt
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
  nav2_behavior_tree/test/plugins/condition/test_distance_traveled.cpp
  nav2_behavior_tree/test/plugins/condition/test_goal_updated.cpp
  nav2_behavior_tree/test/plugins/condition/test_is_battery_charging.cpp
  nav2_behavior_tree/test/plugins/condition/test_is_battery_low.cpp
  nav2_behavior_tree/test/plugins/condition/test_time_expired.cpp
  nav2_behavior_tree/test/plugins/condition/test_transform_available.cpp
  nav2_behavior_tree/test/utils/test_behavior_tree_fixture.hpp
Due: ament_cpplint, ament_uncrustify

Fix ConstraintCritic to use axis-wise velocity constraints instead of magnitude bounds for holonomic robots
  nav2_mppi_controller/include/nav2_mppi_controller/critics/constraint_critic.hpp
  nav2_mppi_controller/src/critics/constraint_critic.cpp
  nav2_mppi_controller/test/critics_tests.cpp
Due: ament_cpplint, ament_uncrustify
