Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

Move check to is_minimal_trajectory
  nav2_smac_planner/lattice_primitives/lattice_generator.py
  nav2_smac_planner/lattice_primitives/tests/test_lattice_generator.py
Due: ament_flake8, ament_pep257

Drop previous length
  nav2_smac_planner/lattice_primitives/lattice_generator.py
  nav2_smac_planner/lattice_primitives/sample_primitives/5cm_resolution/0.5m_turning_radius/ackermann/output.json
  nav2_smac_planner/lattice_primitives/sample_primitives/5cm_resolution/0.5m_turning_radius/all_trajectories.png
  nav2_smac_planner/lattice_primitives/sample_primitives/5cm_resolution/0.5m_turning_radius/diff/output.json
  nav2_smac_planner/lattice_primitives/sample_primitives/5cm_resolution/0.5m_turning_radius/omni/output.json
  nav2_smac_planner/lattice_primitives/sample_primitives/5cm_resolution/1m_turning_radius/ackermann/output.json
  nav2_smac_planner/lattice_primitives/sample_primitives/5cm_resolution/1m_turning_radius/all_trajectories.png
  nav2_smac_planner/lattice_primitives/sample_primitives/5cm_resolution/1m_turning_radius/diff/output.json
  nav2_smac_planner/lattice_primitives/sample_primitives/5cm_resolution/1m_turning_radius/omni/output.json
Due: ament_flake8, ament_pep257

Fix test
  nav2_smac_planner/test/test_nodelattice.cpp
Due: ament_cpplint, ament_uncrustify

Update readme
  nav2_smac_planner/lattice_primitives/README.md
  nav2_smac_planner/lattice_primitives/docs/distinctness_0.3.png
  nav2_smac_planner/lattice_primitives/docs/distinctness_0.5.png
  nav2_smac_planner/lattice_primitives/docs/distinctness_0.9.png
Due: none

Add distance heuristic and obstacle heuristic class
  nav2_smac_planner/CMakeLists.txt
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/include/nav2_smac_planner/distance_heuristic.hpp
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_2d.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/obstacle_heuristic.hpp
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/src/distance_heuristic.cpp
  nav2_smac_planner/src/node_2d.cpp
  nav2_smac_planner/src/node_hybrid.cpp
  nav2_smac_planner/src/node_lattice.cpp
  nav2_smac_planner/src/obstacle_heuristic.cpp
  nav2_smac_planner/test/test_a_star.cpp
  nav2_smac_planner/test/test_nodehybrid.cpp
Due: ament_cpplint, ament_uncrustify

Drop const and lint
  nav2_smac_planner/include/nav2_smac_planner/distance_heuristic.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_basic.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/obstacle_heuristic.hpp
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/distance_heuristic.cpp
  nav2_smac_planner/src/node_hybrid.cpp
  nav2_smac_planner/src/node_lattice.cpp
  nav2_smac_planner/src/obstacle_heuristic.cpp
Due: ament_cpplint, ament_uncrustify

:zap: add dwpp citation (#5889)
  nav2_regulated_pure_pursuit_controller/README.md
Due: none

Update nav2_smac_planner/lattice_primitives/README.md
  nav2_smac_planner/lattice_primitives/README.md
Due: none

No need to spam the logs (#5674)
  nav2_costmap_2d/src/layered_costmap.cpp
Due: ament_cpplint, ament_uncrustify

Conditionally call onLoop based on node status (#5700)
  nav2_behavior_tree/src/behavior_tree_engine.cpp
Due: ament_cpplint, ament_uncrustify

Allow for no progress checkers to be configured (#5701)
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Fix: wait for drive_on_heading_client instead of backup_client (#5724)
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

Fix: reset controller_server loop_rate when missed desired rate #5712 (#5723)
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

temporary fix bug null pointer (#5749)
  nav2_costmap_2d/src/costmap_layer.cpp
  nav2_costmap_2d/src/layered_costmap.cpp
Due: ament_cpplint, ament_uncrustify

fix: change warning to exception when goal poses cannot be transformed (#5759)
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
Due: ament_cpplint, ament_uncrustify

Update obstacle layer usage of max ranges (#5697)
  nav2_costmap_2d/test/unit/CMakeLists.txt
Due: none

[mppi] Don't reset zone-based speed limits (#5768)
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Bugfix inactive publishers (#5748)
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d_publisher.hpp
  nav2_costmap_2d/src/costmap_2d_publisher.cpp
Due: ament_cpplint, ament_uncrustify

Apply suggestions from code review
  nav2_smac_planner/include/nav2_smac_planner/distance_heuristic.hpp
  nav2_smac_planner/include/nav2_smac_planner/obstacle_heuristic.hpp
Due: ament_cpplint, ament_uncrustify

Move init motion moel back to nodes
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_2d.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_lattice.hpp
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/distance_heuristic.cpp
  nav2_smac_planner/src/node_2d.cpp
  nav2_smac_planner/src/node_hybrid.cpp
  nav2_smac_planner/src/node_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Update readme
  nav2_smac_planner/lattice_primitives/README.md
Due: none

Backport jazzy: Update obstacle layer usage of max range (#5775)
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/test/unit/CMakeLists.txt
  nav2_costmap_2d/test/unit/obstacle_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

Remove unrelated changes
  nav2_costmap_2d/test/unit/CMakeLists.txt
Due: none

Lint
  nav2_costmap_2d/test/unit/obstacle_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

Backport humble: Update obstacle layer usage of max range (#5775) (#5891)
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/test/unit/CMakeLists.txt
  nav2_costmap_2d/test/unit/obstacle_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

Add old_5cm_resolution
  nav2_smac_planner/lattice_primitives/output.json
  nav2_smac_planner/lattice_primitives/sample_primitives/old_5cm_resolution/0.5m_turning_radius/ackermann/output.json
  nav2_smac_planner/lattice_primitives/sample_primitives/old_5cm_resolution/0.5m_turning_radius/all_trajectories.png
  nav2_smac_planner/lattice_primitives/sample_primitives/old_5cm_resolution/0.5m_turning_radius/diff/output.json
  nav2_smac_planner/lattice_primitives/sample_primitives/old_5cm_resolution/0.5m_turning_radius/omni/output.json
  nav2_smac_planner/lattice_primitives/sample_primitives/old_5cm_resolution/1m_turning_radius/ackermann/output.json
  nav2_smac_planner/lattice_primitives/sample_primitives/old_5cm_resolution/1m_turning_radius/all_trajectories.png
  nav2_smac_planner/lattice_primitives/sample_primitives/old_5cm_resolution/1m_turning_radius/diff/output.json
  nav2_smac_planner/lattice_primitives/sample_primitives/old_5cm_resolution/1m_turning_radius/omni/output.json
Due: none

Remove output.json
  nav2_smac_planner/lattice_primitives/output.json
Due: none

Add heading error in controller server
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
  nav2_controller/src/controller_server.cpp
  nav2_msgs/action/FollowPath.action
  nav2_msgs/action/NavigateThroughPoses.action
  nav2_msgs/action/NavigateToPose.action
  nav2_msgs/msg/TrackingFeedback.msg
  nav2_rviz_plugins/src/nav2_panel.cpp
  nav2_simple_commander/nav2_simple_commander/example_nav_through_poses.py
  nav2_simple_commander/nav2_simple_commander/example_nav_to_pose.py
  nav2_util/include/nav2_util/path_utils.hpp
  nav2_util/src/path_utils.cpp
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Lint
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Lint
  nav2_util/src/path_utils.cpp
Due: ament_cpplint, ament_uncrustify

Add halt timeout when cancelling actions
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
Due: ament_cpplint, ament_uncrustify

Add to config
  nav2_bringup/params/nav2_params.yaml
  nav2_system_tests/src/gps_navigation/nav2_no_map_params.yaml
  nav2_system_tests/src/system/nav2_system_params.yaml
Due: none

Fix flaky test
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
Due: ament_cpplint, ament_uncrustify

Rename
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_bringup/params/nav2_params.yaml
  nav2_system_tests/src/gps_navigation/nav2_no_map_params.yaml
  nav2_system_tests/src/system/nav2_system_params.yaml
Due: ament_cpplint, ament_uncrustify

Lint
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
Due: ament_cpplint, ament_uncrustify
