Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

fix some lint issues for humble branch
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/plugins/action/get_pose_from_path_action.cpp
  nav2_behavior_tree/plugins/decorator/speed_controller.cpp
  nav2_behaviors/include/nav2_behaviors/plugins/drive_on_heading.hpp
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/cloned_multi_tb3_simulation_launch.py
  nav2_collision_monitor/include/nav2_collision_monitor/polygon.hpp
  nav2_collision_monitor/src/polygon.cpp
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/denoise/image_processing.hpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_costmap_2d/test/unit/denoise_layer_test.cpp
  nav2_costmap_2d/test/unit/image_processing_test.cpp
  nav2_mppi_controller/include/nav2_mppi_controller/critic_manager.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
  nav2_smac_planner/src/a_star.cpp
  nav2_util/include/nav2_util/robot_utils.hpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Conserve curvature with LIMIT action
  nav2_collision_monitor/src/collision_monitor_node.cpp
Due: ament_cpplint, ament_uncrustify

fix format
  nav2_collision_monitor/src/collision_monitor_node.cpp
Due: ament_cpplint, ament_uncrustify

added check for edges that are colinear to avoid divide by 0, fixed final edge interpolation
  nav2_route/include/nav2_route/corner_smoothing.hpp
  nav2_route/src/path_converter.cpp
Due: ament_cpplint, ament_uncrustify

linting
  nav2_route/include/nav2_route/corner_smoothing.hpp
  nav2_route/src/path_converter.cpp
Due: ament_cpplint, ament_uncrustify

Change max_cost default to 254
  nav2_behavior_tree/plugins/condition/is_path_valid_condition.cpp
  nav2_msgs/srv/IsPathValid.srv
Due: ament_cpplint, ament_uncrustify

Update nav2_route/include/nav2_route/corner_smoothing.hpp
  nav2_route/include/nav2_route/corner_smoothing.hpp
Due: ament_cpplint, ament_uncrustify

Change max_cost default to 254 (#5256)
  nav2_behavior_tree/plugins/condition/is_path_valid_condition.cpp
  nav2_msgs/srv/IsPathValid.srv
Due: ament_cpplint, ament_uncrustify

remove const
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
Due: ament_cpplint, ament_uncrustify

Revert "Fix Ci from key signing (#5220)" (#5237)
  .circleci/config.yml
  Dockerfile
Due: none

Revert back
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/test/test_goal_manager.cpp
Due: ament_cpplint, ament_uncrustify

pass const pointer by value
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
Due: ament_cpplint, ament_uncrustify

minor format change
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
Due: ament_cpplint, ament_uncrustify

working with new changes
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/test/test_goal_manager.cpp
Due: ament_cpplint, ament_uncrustify

Add min_distance_to_obstacle parameter to RPP (#4543)
  nav2_regulated_pure_pursuit_controller/README.md
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/parameter_handler.hpp
  nav2_regulated_pure_pursuit_controller/src/collision_checker.cpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

change naming
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
Due: ament_cpplint, ament_uncrustify

cherry pick
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/test/test_a_star.cpp
Due: ament_cpplint, ament_uncrustify

include x11 forwarding
  .devcontainer/devcontainer.json
Due: none

minor changes
  nav2_smac_planner/src/a_star.cpp
Due: ament_cpplint, ament_uncrustify

cherrpy pick
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/include/nav2_smac_planner/constants.hpp
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_2d.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/lattice_primitives/sample_primitives/test/output.json
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/src/node_2d.cpp
  nav2_smac_planner/src/node_hybrid.cpp
  nav2_smac_planner/src/node_lattice.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/test/CMakeLists.txt
  nav2_smac_planner/test/test_a_star.cpp
  nav2_smac_planner/test/test_goal_manager.cpp
  nav2_smac_planner/test/test_node2d.cpp
  nav2_smac_planner/test/test_smac_hybrid.cpp
  nav2_smac_planner/test/test_smac_lattice.cpp
Due: ament_cpplint, ament_uncrustify

linter
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
Due: ament_cpplint, ament_uncrustify

enable_groot_monitoring_ false (#5246)
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server.hpp
Due: ament_cpplint, ament_uncrustify

formatting
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
  nav2_smac_planner/src/a_star.cpp
Due: ament_cpplint, ament_uncrustify

Fixing builds for message filters API change while retaining Jazzy, Kilted, and Rolling support (#5251)
  nav2_amcl/include/nav2_amcl/amcl_node.hpp
  nav2_amcl/src/amcl_node.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/obstacle_layer.hpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
Due: ament_cpplint, ament_uncrustify

cleanup
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
Due: ament_cpplint, ament_uncrustify

kind of working version
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
Due: ament_cpplint, ament_uncrustify

cherry pick 6a74ba61ca0ea117b2995dd0c8e266a5ec9741ba
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/src/analytic_expansion.cpp
Due: ament_cpplint, ament_uncrustify

Updating readme table for kilted release (#5249)
  README.md
  tools/update_readme_table.py
Due: ament_flake8, ament_pep257

added doxygen for corner arc class
  nav2_route/include/nav2_route/corner_smoothing.hpp
Due: ament_cpplint, ament_uncrustify

added warning message if corner can't be smoothed
  nav2_route/src/path_converter.cpp
Due: ament_cpplint, ament_uncrustify

added smooth_corners to the nav2 params file
  nav2_bringup/params/nav2_params.yaml
Due: none

added smoothing flag and radius parameter to README.md'
  nav2_route/README.md
Due: none

typo in README
  nav2_route/README.md
Due: none

remove unused param
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
Due: ament_cpplint, ament_uncrustify

added testing for corner smoothing
  nav2_route/include/nav2_route/corner_smoothing.hpp
  nav2_route/test/CMakeLists.txt
  nav2_route/test/test_corner_smoothing.cpp
Due: ament_cpplint, ament_uncrustify
