Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

use binary_state rather than default state
  nav2_costmap_2d/plugins/costmap_filters/binary_filter.cpp
Due: ament_cpplint, ament_uncrustify

fix test and comment
  nav2_costmap_2d/plugins/costmap_filters/binary_filter.cpp
  nav2_costmap_2d/test/unit/binary_filter_test.cpp
Due: ament_cpplint, ament_uncrustify

linting fix
  nav2_costmap_2d/test/unit/binary_filter_test.cpp
Due: ament_cpplint, ament_uncrustify

fix test
  nav2_costmap_2d/test/unit/binary_filter_test.cpp
Due: ament_cpplint, ament_uncrustify

remove changestate from resetFilter
  nav2_costmap_2d/plugins/costmap_filters/binary_filter.cpp
Due: ament_cpplint, ament_uncrustify

test fix by pub value in resetfilter method
  nav2_costmap_2d/plugins/costmap_filters/binary_filter.cpp
Due: ament_cpplint, ament_uncrustify

fixed geometry utils adding 2d
  nav2_util/include/nav2_util/geometry_utils.hpp
Due: ament_cpplint, ament_uncrustify

Update nav2_costmap_2d/plugins/costmap_filters/binary_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/binary_filter.cpp
Due: ament_cpplint, ament_uncrustify

use binary_state rather than default state (#5370)
  nav2_costmap_2d/plugins/costmap_filters/binary_filter.cpp
  nav2_costmap_2d/test/unit/binary_filter_test.cpp
Due: ament_cpplint, ament_uncrustify

Remove line
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
Due: ament_cpplint, ament_uncrustify

initial thoughs
  nav2_amcl/src/amcl_node.cpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
Due: ament_cpplint, ament_uncrustify

Revert bringup params changes
  nav2_bringup/params/nav2_params.yaml
Due: none

Backport "Option to Reduce Lethal to High-Cost Navigable To Get Out of Keepout Zones if Wandered In" (#5378)
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/keepout_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
Due: ament_cpplint, ament_uncrustify

Feedback
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
Due: ament_cpplint, ament_uncrustify

Rebase
  nav2_costmap_2d/CMakeLists.txt
  nav2_costmap_2d/include/nav2_costmap_2d/obstacle_layer.hpp
  nav2_costmap_2d/package.xml
  nav2_costmap_2d/plugins/obstacle_layer.cpp
Due: ament_cpplint, ament_uncrustify

Added fixes for ament_mypy
  nav2_loopback_sim/nav2_loopback_sim/loopback_simulator.py
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
  nav2_system_tests/src/behaviors/backup/backup_tester.py
  nav2_system_tests/src/behaviors/drive_on_heading/drive_tester.py
  nav2_system_tests/src/behaviors/spin/spin_tester.py
  nav2_system_tests/src/costmap_filters/tester_node.py
  nav2_system_tests/src/gps_navigation/tester.py
  nav2_system_tests/src/route/tester_node.py
  nav2_system_tests/src/system/nav_through_poses_tester_node.py
  nav2_system_tests/src/system/nav_to_pose_tester_node.py
  nav2_system_tests/src/system_failure/tester_node.py
  nav2_system_tests/src/waypoint_follower/tester.py
Due: ament_flake8, ament_pep257

Make linters happy
  nav2_costmap_2d/plugins/obstacle_layer.cpp
Due: ament_cpplint, ament_uncrustify

Added fixes for ament_mypy (#5382)
  nav2_loopback_sim/nav2_loopback_sim/loopback_simulator.py
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
  nav2_system_tests/src/behaviors/backup/backup_tester.py
  nav2_system_tests/src/behaviors/drive_on_heading/drive_tester.py
  nav2_system_tests/src/behaviors/spin/spin_tester.py
  nav2_system_tests/src/costmap_filters/tester_node.py
  nav2_system_tests/src/gps_navigation/tester.py
  nav2_system_tests/src/route/tester_node.py
  nav2_system_tests/src/system/nav_through_poses_tester_node.py
  nav2_system_tests/src/system/nav_to_pose_tester_node.py
  nav2_system_tests/src/system_failure/tester_node.py
  nav2_system_tests/src/waypoint_follower/tester.py
Due: ament_flake8, ament_pep257

Use declare_or_get_param API (#5336)
  nav2_amcl/src/amcl_node.cpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
Due: ament_cpplint, ament_uncrustify

Update message includes from .h to .hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_through_poses_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_to_pose_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_route_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/get_pose_from_path_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/smooth_path_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/ros_topic_logger.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d_ros.hpp
Due: ament_cpplint, ament_uncrustify

Rebase
  nav2_bt_navigator/src/bt_navigator.cpp
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
Due: ament_cpplint, ament_uncrustify

Feedback
  nav2_bt_navigator/src/bt_navigator.cpp
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
Due: ament_cpplint, ament_uncrustify

Fix
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
Due: ament_cpplint, ament_uncrustify

Update message includes from .h to .hpp (#5383)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_through_poses_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_to_pose_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_route_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/get_pose_from_path_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/smooth_path_action.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/ros_topic_logger.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d_ros.hpp
Due: ament_cpplint, ament_uncrustify

Use declare_or_get_param API (#5372)
  nav2_bt_navigator/src/bt_navigator.cpp
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
Due: ament_cpplint, ament_uncrustify

fixing loopback sim
  nav2_bringup/launch/tb4_loopback_simulation_launch.py
Due: ament_flake8, ament_pep257

fixing loopback sim (#5384)
  nav2_bringup/launch/tb4_loopback_simulation_launch.py
Due: ament_flake8, ament_pep257

Adding SWAGGER for Nav2 Route
  nav2_route/README.md
Due: none

Adding SWAGGER for Nav2 Route (#5385)
  nav2_route/README.md
Due: none

created path_utils
  nav2_util/include/nav2_util/path_utils.hpp
  nav2_util/src/CMakeLists.txt
  nav2_util/src/path_utils.cpp
Due: ament_cpplint, ament_uncrustify

added tests
  nav2_util/test/CMakeLists.txt
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

minor changes in tests
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

lint issue
  nav2_util/test/CMakeLists.txt
Due: none

Change David's Email Address
  nav2_dwb_controller/costmap_queue/package.xml
  nav2_dwb_controller/dwb_critics/package.xml
  nav2_dwb_controller/dwb_msgs/package.xml
  nav2_dwb_controller/dwb_plugins/package.xml
  nav2_dwb_controller/nav_2d_msgs/package.xml
  nav2_dwb_controller/nav_2d_utils/package.xml
Due: none

Add min obstacle height in voxel layer
  nav2_costmap_2d/plugins/voxel_layer.cpp
Due: ament_cpplint, ament_uncrustify

Fix linting
  nav2_costmap_2d/plugins/voxel_layer.cpp
Due: ament_cpplint, ament_uncrustify

Change David's Email Address (#5388)
  nav2_dwb_controller/costmap_queue/package.xml
  nav2_dwb_controller/dwb_critics/package.xml
  nav2_dwb_controller/dwb_msgs/package.xml
  nav2_dwb_controller/dwb_plugins/package.xml
  nav2_dwb_controller/nav_2d_msgs/package.xml
  nav2_dwb_controller/nav_2d_utils/package.xml
Due: none

Add global min obstacle height in voxel layer (#5389)
  nav2_costmap_2d/plugins/voxel_layer.cpp
Due: ament_cpplint, ament_uncrustify

move nav_2d_msgs & nav_2d_utils out of nav2_dwb_controller
  nav_2d_msgs/CMakeLists.txt
  nav_2d_msgs/msg/Pose2D32.msg
  nav_2d_msgs/msg/Twist2D.msg
  nav_2d_msgs/msg/Twist2D32.msg
  nav_2d_msgs/msg/Twist2DStamped.msg
  nav_2d_msgs/package.xml
  nav_2d_utils/CMakeLists.txt
  nav_2d_utils/include/nav_2d_utils/conversions.hpp
  nav_2d_utils/include/nav_2d_utils/odom_subscriber.hpp
  nav_2d_utils/include/nav_2d_utils/parameters.hpp
  nav_2d_utils/include/nav_2d_utils/path_ops.hpp
  nav_2d_utils/include/nav_2d_utils/tf_help.hpp
  nav_2d_utils/package.xml
  nav_2d_utils/src/conversions.cpp
  nav_2d_utils/src/path_ops.cpp
  nav_2d_utils/src/tf_help.cpp
  nav_2d_utils/test/2d_utils_test.cpp
  nav_2d_utils/test/CMakeLists.txt
  nav_2d_utils/test/path_ops_test.cpp
  nav_2d_utils/test/tf_help_test.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
