Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

Rough Fix for Lookahead
  nav2_util/src/controller_utils.cpp
Due: ament_cpplint, ament_uncrustify

Fix graceful controller lookahead bug
  nav2_util/src/controller_utils.cpp
Due: ament_cpplint, ament_uncrustify

Fix/prevent warning when loading bt (#5494)
  nav2_behavior_tree/include/nav2_behavior_tree/behavior_tree_engine.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_behavior_tree/src/behavior_tree_engine.cpp
  nav2_bt_navigator/behavior_trees/follow_point.xml
  nav2_bt_navigator/behavior_trees/nav_to_pose_with_consistent_replanning_and_if_path_becomes_invalid.xml
  nav2_bt_navigator/behavior_trees/navigate_on_route_graph_w_recovery.xml
  nav2_bt_navigator/behavior_trees/navigate_through_poses_w_replanning_and_recovery.xml
  nav2_bt_navigator/behavior_trees/navigate_to_pose_w_replanning_and_recovery.xml
  nav2_bt_navigator/behavior_trees/navigate_to_pose_w_replanning_goal_patience_and_recovery.xml
  nav2_bt_navigator/behavior_trees/navigate_w_recovery_and_replanning_only_if_path_becomes_invalid.xml
  nav2_bt_navigator/behavior_trees/navigate_w_replanning_distance.xml
  nav2_bt_navigator/behavior_trees/navigate_w_replanning_only_if_goal_is_updated.xml
  nav2_bt_navigator/behavior_trees/navigate_w_replanning_only_if_path_becomes_invalid.xml
  nav2_bt_navigator/behavior_trees/navigate_w_replanning_speed.xml
  nav2_bt_navigator/behavior_trees/navigate_w_replanning_time.xml
  nav2_bt_navigator/behavior_trees/navigate_w_routing_global_planning_and_control_w_recovery.xml
  nav2_bt_navigator/behavior_trees/odometry_calibration.xml
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
  nav2_system_tests/src/behavior_tree/test_behavior_tree_node.cpp
  nav2_system_tests/src/system/nav_through_poses_tester_error_msg_node.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

add Bt pluging for toggle collision monitor service
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/toggle_collision_monitor_service.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/action/toggle_collision_monitor_service.cpp
Due: ament_cpplint, ament_uncrustify

Add test for btt plugin
  nav2_behavior_tree/plugins/action/toggle_collision_monitor_service.cpp
  nav2_behavior_tree/test/plugins/action/CMakeLists.txt
  nav2_behavior_tree/test/plugins/action/test_toggle_collision_monitor_service.cpp
Due: ament_cpplint, ament_uncrustify

Clean up test
  nav2_behavior_tree/test/plugins/action/test_toggle_collision_monitor_service.cpp
Due: ament_cpplint, ament_uncrustify

Fix copyright in header
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/toggle_collision_monitor_service.hpp
Due: ament_cpplint, ament_uncrustify

uncrustify
  nav2_behavior_tree/plugins/action/toggle_collision_monitor_service.cpp
  nav2_behavior_tree/test/plugins/action/test_toggle_collision_monitor_service.cpp
Due: ament_cpplint, ament_uncrustify

tests(opennav_docking): restore executor-based spinning
  nav2_docking/opennav_docking/test/test_simple_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_simple_non_charging_dock.cpp
Due: ament_cpplint, ament_uncrustify

add bt nodes GetCurrentPose, ConcatenatePaths, WouldARouteRecoveryHelp, ArePosesNear to nav2_tree_nodes.xml
  nav2_behavior_tree/nav2_tree_nodes.xml
Due: none

tests(opennav_docking): restore executor-based spinning (#5533)
  nav2_docking/opennav_docking/test/test_simple_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_simple_non_charging_dock.cpp
Due: ament_cpplint, ament_uncrustify

add bt nodes GetCurrentPose, ConcatenatePaths, WouldARouteRecoveryHelp, ArePosesNear to nav2_tree_nodes.xml (#5534)
  nav2_behavior_tree/nav2_tree_nodes.xml
Due: none

backup
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
Due: ament_cpplint, ament_uncrustify

Refactor common functions in planner and smoother
  nav2_smac_planner/include/nav2_smac_planner/smoother.hpp
  nav2_smac_planner/src/smoother.cpp
  nav2_smac_planner/test/test_smoother.cpp
  nav2_smoother/include/nav2_smoother/savitzky_golay_smoother.hpp
  nav2_smoother/include/nav2_smoother/simple_smoother.hpp
  nav2_smoother/src/savitzky_golay_smoother.cpp
  nav2_smoother/src/simple_smoother.cpp
  nav2_smoother/test/test_savitzky_golay_smoother.cpp
  nav2_smoother/test/test_simple_smoother.cpp
  nav2_util/include/nav2_util/smoother_utils.hpp
Due: ament_cpplint, ament_uncrustify

Add unit tests for smoother utils
  nav2_smac_planner/src/smoother.cpp
  nav2_util/test/CMakeLists.txt
  nav2_util/test/test_smoother_utils.cpp
Due: ament_cpplint, ament_uncrustify

Update cmakelist and linting
  nav2_smac_planner/src/smoother.cpp
  nav2_util/CMakeLists.txt
  nav2_util/package.xml
  nav2_util/test/CMakeLists.txt
  nav2_util/test/test_smoother_utils.cpp
Due: ament_cpplint, ament_uncrustify

Add path goal checker plugin
  nav2_controller/CMakeLists.txt
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/include/nav2_controller/path_handler.hpp
  nav2_controller/include/nav2_controller/plugins/path_complete_goal_checker.hpp
  nav2_controller/plugins.xml
  nav2_controller/plugins/path_complete_goal_checker.cpp
  nav2_controller/src/controller_server.cpp
  nav2_controller/src/path_handler.cpp
  nav2_graceful_controller/CMakeLists.txt
  nav2_graceful_controller/include/nav2_graceful_controller/graceful_controller.hpp
  nav2_graceful_controller/include/nav2_graceful_controller/path_handler.hpp
  nav2_graceful_controller/src/graceful_controller.cpp
  nav2_regulated_pure_pursuit_controller/CMakeLists.txt
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  nav2_regulated_pure_pursuit_controller/src/path_handler.cpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
Due: ament_cpplint, ament_uncrustify

Use local plan's last pose as end pose
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Replaced rclcpp::spin_some
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
Due: ament_cpplint, ament_uncrustify

Add a service for enabling/disabling the collision monitor (#5493)
  nav2_collision_monitor/include/nav2_collision_monitor/collision_monitor_node.hpp
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
  nav2_msgs/CMakeLists.txt
  nav2_msgs/srv/Toggle.srv
Due: ament_cpplint, ament_uncrustify

bump humble to 1.1.9 to release
  nav2_amcl/package.xml
  nav2_behavior_tree/package.xml
  nav2_behaviors/package.xml
  nav2_bringup/package.xml
  nav2_bt_navigator/package.xml
  nav2_collision_monitor/package.xml
  nav2_common/package.xml
  nav2_constrained_smoother/package.xml
  nav2_controller/package.xml
  nav2_core/package.xml
  nav2_costmap_2d/package.xml
  nav2_dwb_controller/costmap_queue/package.xml
  nav2_dwb_controller/dwb_core/package.xml
  nav2_dwb_controller/dwb_critics/package.xml
  nav2_dwb_controller/dwb_msgs/package.xml
  nav2_dwb_controller/dwb_plugins/package.xml
  nav2_dwb_controller/nav2_dwb_controller/package.xml
  nav2_dwb_controller/nav_2d_msgs/package.xml
  nav2_dwb_controller/nav_2d_utils/package.xml
  nav2_graceful_controller/package.xml
  nav2_lifecycle_manager/package.xml
  nav2_map_server/package.xml
  nav2_mppi_controller/package.xml
  nav2_msgs/package.xml
  nav2_navfn_planner/package.xml
  nav2_planner/package.xml
  nav2_regulated_pure_pursuit_controller/package.xml
  nav2_rotation_shim_controller/package.xml
  nav2_route/package.xml
  nav2_rviz_plugins/package.xml
  nav2_simple_commander/package.xml
  nav2_smac_planner/package.xml
  nav2_smoother/package.xml
  nav2_system_tests/package.xml
  nav2_theta_star_planner/package.xml
  nav2_util/package.xml
  nav2_velocity_smoother/package.xml
  nav2_voxel_grid/package.xml
  nav2_waypoint_follower/package.xml
  navigation2/package.xml
Due: none

Update package version from 1.1.9 to 1.1.19
  nav2_route/package.xml
Due: none

Return early from edge interpolation for zero-length edges (#5453)
  nav2_route/src/path_converter.cpp
  nav2_route/test/test_path_converter.cpp
Due: ament_cpplint, ament_uncrustify

nav2_route vizualization marker rendering performance improvement (#5452)
  nav2_route/include/nav2_route/utils.hpp
  nav2_route/test/test_utils_and_types.cpp
Due: ament_cpplint, ament_uncrustify

Fix dynamic param SmacPlannerLattice (#5478)
  nav2_smac_planner/src/node_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Fix duplicate poses with computePlanThroughPoses (#5488)
  nav2_planner/src/planner_server.cpp
Due: ament_cpplint, ament_uncrustify

Fix seg fault (#5501)
  nav2_smac_planner/src/node_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Route graph vis fixes: Fixes regressions from #5452 (#5507)
  nav2_route/include/nav2_route/utils.hpp
Due: ament_cpplint, ament_uncrustify

Removing openMP dep on MPPI (#5506)
  nav2_mppi_controller/package.xml
Due: none

Add debug topic to visualize whether MPPI critic has an effect on costs (#5485)
  nav2_mppi_controller/CMakeLists.txt
  nav2_mppi_controller/README.md
  nav2_mppi_controller/include/nav2_mppi_controller/critic_manager.hpp
  nav2_mppi_controller/media/critics_stats.png
  nav2_mppi_controller/package.xml
  nav2_mppi_controller/src/critic_manager.cpp
  nav2_msgs/CMakeLists.txt
  nav2_msgs/msg/CriticsStats.msg
  nav2_system_tests/src/gps_navigation/nav2_no_map_params.yaml
Due: ament_cpplint, ament_uncrustify

fix(nav2_theta_star_planner): Correct typo in CMakeLists ament_export_dependencies (#5514)
  nav2_theta_star_planner/CMakeLists.txt
Due: none

Fix/dependency and header (#5520)
  nav2_mppi_controller/package.xml
  nav2_smac_planner/src/a_star.cpp
Due: ament_cpplint, ament_uncrustify

Change service type for collision monitor
  nav2_collision_monitor/include/nav2_collision_monitor/collision_monitor_node.hpp
Due: ament_cpplint, ament_uncrustify

parallel activation in lifecycle manager
  nav2_lifecycle_manager/include/nav2_lifecycle_manager/lifecycle_manager.hpp
  nav2_lifecycle_manager/src/lifecycle_manager.cpp
Due: ament_cpplint, ament_uncrustify
