Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

Pr review
  nav2_loopback_sim/include/nav2_loopback_sim/clock_publisher.hpp
  nav2_loopback_sim/include/nav2_loopback_sim/loopback_simulator.hpp
  nav2_loopback_sim/src/clock_publisher.cpp
  nav2_loopback_sim/src/loopback_simulator.cpp
  nav2_loopback_sim/src/main.cpp
  nav2_loopback_sim/test/test_clock_publisher.cpp
Due: ament_cpplint, ament_uncrustify

fix logging
  nav2_controller/include/nav2_controller/plugins/adaptive_tolerance_goal_checker.hpp
  nav2_controller/plugins/adaptive_tolerance_goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

PR review
  nav2_loopback_sim/CMakeLists.txt
  nav2_loopback_sim/include/nav2_loopback_sim/clock_publisher.hpp
  nav2_loopback_sim/src/clock_publisher.cpp
  nav2_loopback_sim/src/loopback_simulator.cpp
  nav2_loopback_sim/test/test_clock_publisher.cpp
Due: ament_cpplint, ament_uncrustify

Add autostart parameter to loopback simulator launch and remove unused z translation
  nav2_loopback_sim/launch/loopback_simulation.launch.py
  nav2_loopback_sim/src/loopback_simulator.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

feat(map_server): add fixed_frame_id parameter to VectorObjectServer
  nav2_map_server/include/nav2_map_server/vector_object_server.hpp
  nav2_map_server/params/vector_object_server_params.yaml
  nav2_map_server/src/vo_server/vector_object_server.cpp
  nav2_map_server/test/unit/test_vector_object_server.cpp
Due: ament_cpplint, ament_uncrustify

move to velocity + position
  nav2_controller/include/nav2_controller/plugins/adaptive_tolerance_goal_checker.hpp
  nav2_controller/plugins/adaptive_tolerance_goal_checker.cpp
  nav2_controller/plugins/test/goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

pr review
  nav2_behavior_tree/include/nav2_behavior_tree/utils/loop_rate.hpp
  nav2_lifecycle_manager/src/lifecycle_manager.cpp
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_ros_common/include/nav2_ros_common/wall_rate.hpp
Due: ament_cpplint, ament_uncrustify

first draft, compiles correctly
  nav2_bringup/params/nav2_params.yaml
  nav2_mppi_controller/CMakeLists.txt
  nav2_mppi_controller/README.md
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/optimizer.hpp
  nav2_mppi_controller/motion_models.xml
  nav2_mppi_controller/package.xml
  nav2_mppi_controller/src/critics/constraint_critic.cpp
  nav2_mppi_controller/src/motion_models.cpp
  nav2_mppi_controller/src/optimizer.cpp
  nav2_mppi_controller/test/critics_tests.cpp
  nav2_mppi_controller/test/motion_model_tests.cpp
  nav2_mppi_controller/test/optimizer_smoke_test.cpp
  nav2_mppi_controller/test/optimizer_unit_tests.cpp
  nav2_mppi_controller/test/utils/factory.hpp
  nav2_system_tests/src/gps_navigation/nav2_no_map_params.yaml
Due: ament_cpplint, ament_uncrustify

minor fixes, unit tests ok
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
  nav2_mppi_controller/src/critics/constraint_critic.cpp
  nav2_mppi_controller/src/motion_models.cpp
  nav2_mppi_controller/src/optimizer.cpp
  nav2_mppi_controller/test/optimizer_unit_tests.cpp
  nav2_mppi_controller/test/utils/factory.hpp
Due: ament_cpplint, ament_uncrustify

minor doc update
  nav2_mppi_controller/README.md
Due: none

add fix_frame_id to vector object server
  nav2_map_server/include/nav2_map_server/vector_object_server.hpp
  nav2_map_server/params/vector_object_server_params.yaml
  nav2_map_server/src/vo_server/vector_object_server.cpp
  nav2_map_server/test/unit/test_vector_object_server.cpp
Due: ament_cpplint, ament_uncrustify

Update nav2_mppi_controller/src/critics/constraint_critic.cpp
  nav2_mppi_controller/src/critics/constraint_critic.cpp
Due: ament_cpplint, ament_uncrustify

PR review
  nav2_loopback_sim/include/nav2_loopback_sim/clock_publisher.hpp
  nav2_loopback_sim/include/nav2_loopback_sim/loopback_simulator.hpp
  nav2_loopback_sim/launch/loopback_simulation.launch.py
  nav2_loopback_sim/src/loopback_simulator.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

remove initial publishing of t_map_to_odom_
  nav2_loopback_sim/src/loopback_simulator.cpp
Due: ament_cpplint, ament_uncrustify

more wallrate conversions
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_following/opennav_following/src/following_server.cpp
  nav2_route/include/nav2_route/route_tracker.hpp
  nav2_route/src/route_tracker.cpp
  nav2_waypoint_follower/include/nav2_waypoint_follower/plugins/input_at_waypoint.hpp
  nav2_waypoint_follower/plugins/input_at_waypoint.cpp
Due: ament_cpplint, ament_uncrustify

convert create_timer to create_wall_timer
  nav2_collision_monitor/src/collision_detector_node.cpp
  nav2_map_server/src/vo_server/vector_object_server.cpp
Due: ament_cpplint, ament_uncrustify

refactor: replace create_wall_timer and WallRate with create_timer and Rate for consistency
  nav2_amcl/src/amcl_node.cpp
  nav2_behaviors/include/nav2_behaviors/timed_behavior.hpp
  nav2_collision_monitor/src/collision_detector_node.cpp
  nav2_controller/src/controller_server.cpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_following/opennav_following/src/following_server.cpp
  nav2_lifecycle_manager/src/lifecycle_manager.cpp
  nav2_lifecycle_manager/test/test_bond.cpp
  nav2_map_server/src/vo_server/vector_object_server.cpp
  nav2_map_server/test/map_saver_cli/test_map_saver_cli.cpp
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_ros_common/include/nav2_ros_common/wall_rate.hpp
  nav2_route/src/route_tracker.cpp
  nav2_route/test/test_graph_loader.cpp
  nav2_route/test/test_graph_saver.cpp
  nav2_velocity_smoother/src/velocity_smoother.cpp
  nav2_waypoint_follower/plugins/input_at_waypoint.cpp
  nav2_waypoint_follower/src/waypoint_follower.cpp
  nav2_waypoint_follower/test/test_task_executors.cpp
Due: ament_cpplint, ament_uncrustify

store node
  nav2_behavior_tree/include/nav2_behavior_tree/behavior_tree_engine.hpp
  nav2_behavior_tree/src/behavior_tree_engine.cpp
Due: ament_cpplint, ament_uncrustify

rename to rate
  nav2_behavior_tree/src/behavior_tree_engine.cpp
  nav2_behaviors/include/nav2_behaviors/timed_behavior.hpp
  nav2_controller/src/controller_server.cpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_following/opennav_following/src/following_server.cpp
  nav2_lifecycle_manager/test/test_bond.cpp
  nav2_map_server/test/map_saver_cli/test_map_saver_cli.cpp
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_ros_common/include/nav2_ros_common/rate.hpp
  nav2_route/src/route_tracker.cpp
  nav2_route/test/test_graph_loader.cpp
  nav2_route/test/test_graph_saver.cpp
  nav2_waypoint_follower/plugins/input_at_waypoint.cpp
  nav2_waypoint_follower/src/waypoint_follower.cpp
  nav2_waypoint_follower/test/test_task_executors.cpp
Due: ament_cpplint, ament_uncrustify

addressing review comments, removing unnecessary changes
  nav2_bringup/params/nav2_params.yaml
  nav2_mppi_controller/CMakeLists.txt
  nav2_mppi_controller/README.md
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
  nav2_mppi_controller/src/critics/constraint_critic.cpp
  nav2_mppi_controller/src/motion_models.cpp
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

minor changes to pass tests, removed some descriptions
  nav2_mppi_controller/README.md
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
  nav2_mppi_controller/src/critics/constraint_critic.cpp
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

feat(PlannerServer): BaseGlobalPlanner plugin accepts viapoints as part of API
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_to_pose_action.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/action/compute_path_to_pose_action.cpp
  nav2_core/include/nav2_core/global_planner.hpp
  nav2_msgs/action/ComputePathToPose.action
  nav2_navfn_planner/include/nav2_navfn_planner/navfn_planner.hpp
  nav2_navfn_planner/src/navfn_planner.cpp
  nav2_planner/include/nav2_planner/planner_server.hpp
  nav2_planner/src/planner_server.cpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_2d.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_lattice.hpp
  nav2_smac_planner/src/smac_planner_2d.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/test/test_smac_2d.cpp
  nav2_smac_planner/test/test_smac_hybrid.cpp
  nav2_smac_planner/test/test_smac_lattice.cpp
  nav2_system_tests/src/error_codes/planner/planner_error_plugin.hpp
  nav2_system_tests/src/planning/planner_tester.hpp
  nav2_system_tests/src/planning/test_planner_plugins.cpp
  nav2_theta_star_planner/include/nav2_theta_star_planner/theta_star_planner.hpp
  nav2_theta_star_planner/src/theta_star_planner.cpp
  nav2_theta_star_planner/test/test_theta_star.cpp
Due: ament_cpplint, ament_uncrustify

fix(planners): Improved logging of skipped viapoints and cleaned imports
  nav2_core/include/nav2_core/global_planner.hpp
  nav2_navfn_planner/src/navfn_planner.cpp
  nav2_planner/src/planner_server.cpp
  nav2_smac_planner/src/smac_planner_2d.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_theta_star_planner/src/theta_star_planner.cpp
Due: ament_cpplint, ament_uncrustify

Refactor findPathFurthestReachedPointArcLength()
  nav2_mppi_controller/include/nav2_mppi_controller/tools/utils.hpp
Due: ament_cpplint, ament_uncrustify

First try using semgrep
  .github/workflows/lint.yml
  .semgrep.yml
Due: none

changes to trigger manually or when branch issue-6079_Experiment_with_semgrep is updated/pushed
  .github/workflows/lint.yml
Due: none

removed newline at the end of file
  .github/workflows/lint.yml
Due: none

Added newline to end of file
  .github/workflows/lint.yml
  .semgrep.yml
Due: none

adding --oneline in args
  .github/workflows/lint.yml
Due: none

changed to scan --no-code --quite
  .github/workflows/lint.yml
Due: none

fix CI
  .circleci/config.yml
Due: none

add nav2_core to algorithm_build
  .circleci/config.yml
Due: none

fix(smac_planner): check oriented footprint collision in smoother for non-circular robots
  nav2_smac_planner/include/nav2_smac_planner/smoother.hpp
  nav2_smac_planner/src/smac_planner_2d.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/src/smoother.cpp
  nav2_smac_planner/test/test_smoother.cpp
Due: ament_cpplint, ament_uncrustify

style: fix uncrustify indent on FootprintCollisionChecker constructor line
  nav2_smac_planner/src/smoother.cpp
Due: ament_cpplint, ament_uncrustify

refactor(costmap_subscriber): replace legacy nav2_msgs::msg::Costmap overload with Costmap2DStamped
  nav2_constrained_smoother/test/test_constrained_smoother.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_subscriber.hpp
  nav2_costmap_2d/src/costmap_subscriber.cpp
  nav2_costmap_2d/test/integration/test_costmap_topic_collision_checker.cpp
  nav2_smoother/test/test_savitzky_golay_smoother.cpp
  nav2_smoother/test/test_simple_smoother.cpp
  nav2_smoother/test/test_smoother_server.cpp
Due: ament_cpplint, ament_uncrustify

fix accepted_at_fine
  nav2_controller/include/nav2_controller/plugins/adaptive_tolerance_goal_checker.hpp
  nav2_controller/plugins/adaptive_tolerance_goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

decouple stopped and improving distance
  nav2_controller/include/nav2_controller/plugins/adaptive_tolerance_goal_checker.hpp
  nav2_controller/plugins/adaptive_tolerance_goal_checker.cpp
  nav2_controller/plugins/test/goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

disable coverage-gcc for cache warm up
  .circleci/config.yml
Due: none

Revert "disable coverage-gcc for cache warm up"
  .circleci/config.yml
Due: none

Reviews, add stateful APIs
  nav2_controller/include/nav2_controller/plugins/position_goal_checker.hpp
  nav2_controller/include/nav2_controller/plugins/simple_goal_checker.hpp
  nav2_controller/include/nav2_controller/plugins/stopped_goal_checker.hpp
  nav2_controller/plugins/position_goal_checker.cpp
  nav2_core/include/nav2_core/goal_checker.hpp
  nav2_graceful_controller/include/nav2_graceful_controller/graceful_controller.hpp
  nav2_graceful_controller/src/graceful_controller.cpp
  nav2_mppi_controller/src/critics/twirling_critic.cpp
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/parameter_handler.hpp
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify
