Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Update: Only mppi_critics target will require C++20
  nav2_mppi_controller/CMakeLists.txt
Due: none

Added TrackingError.msg Erased nav_2d_msgs from cmake Added publishing func to controller server
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/src/controller_server.cpp
  nav2_msgs/CMakeLists.txt
  nav2_msgs/msg/TrackingError.msg
  nav2_util/include/nav2_util/geometry_utils.hpp
  nav2_util/src/CMakeLists.txt
Due: ament_cpplint, ament_uncrustify

Forgotten linting issues
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/src/controller_server.cpp
  nav2_util/include/nav2_util/geometry_utils.hpp
Due: ament_cpplint, ament_uncrustify

fix 5456
  nav2_behavior_tree/nav2_tree_nodes.xml
Due: none

Fix lifecycle manager deadlock during shutdown (#5448)
  nav2_util/include/nav2_util/lifecycle_service_client.hpp
  nav2_util/include/nav2_util/service_client.hpp
Due: ament_cpplint, ament_uncrustify

Update nav2_simple_commander/nav2_simple_commander/robot_navigator.py
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

Linting
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

fix 5456 (#5458)
  nav2_behavior_tree/nav2_tree_nodes.xml
Due: none

Update robot_navigator.py
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

backport the fix for setting binary_state as the default
  nav2_costmap_2d/plugins/costmap_filters/binary_filter.cpp
  nav2_costmap_2d/test/unit/binary_filter_test.cpp
Due: ament_cpplint, ament_uncrustify

cmake_minimum_required(VERSION 3.8) update
  nav2_amcl/CMakeLists.txt
  nav2_behavior_tree/CMakeLists.txt
  nav2_behaviors/CMakeLists.txt
  nav2_bringup/CMakeLists.txt
  nav2_bt_navigator/CMakeLists.txt
  nav2_collision_monitor/CMakeLists.txt
  nav2_common/CMakeLists.txt
  nav2_constrained_smoother/CMakeLists.txt
  nav2_controller/CMakeLists.txt
  nav2_core/CMakeLists.txt
  nav2_costmap_2d/CMakeLists.txt
  nav2_docking/opennav_docking/CMakeLists.txt
  nav2_docking/opennav_docking_bt/CMakeLists.txt
  nav2_docking/opennav_docking_core/CMakeLists.txt
  nav2_dwb_controller/costmap_queue/CMakeLists.txt
  nav2_dwb_controller/dwb_core/CMakeLists.txt
  nav2_dwb_controller/dwb_critics/CMakeLists.txt
  nav2_dwb_controller/dwb_msgs/CMakeLists.txt
  nav2_dwb_controller/dwb_plugins/CMakeLists.txt
  nav2_dwb_controller/nav2_dwb_controller/CMakeLists.txt
  nav2_dwb_controller/nav_2d_msgs/CMakeLists.txt
  nav2_dwb_controller/nav_2d_utils/CMakeLists.txt
  nav2_graceful_controller/CMakeLists.txt
  nav2_lifecycle_manager/CMakeLists.txt
  nav2_map_server/CMakeLists.txt
  nav2_msgs/CMakeLists.txt
  nav2_navfn_planner/CMakeLists.txt
  nav2_planner/CMakeLists.txt
  nav2_regulated_pure_pursuit_controller/CMakeLists.txt
  nav2_ros_common/CMakeLists.txt
  nav2_rotation_shim_controller/CMakeLists.txt
  nav2_route/CMakeLists.txt
  nav2_rviz_plugins/CMakeLists.txt
  nav2_smac_planner/CMakeLists.txt
  nav2_smoother/CMakeLists.txt
  nav2_system_tests/CMakeLists.txt
  nav2_velocity_smoother/CMakeLists.txt
  nav2_voxel_grid/CMakeLists.txt
  nav2_waypoint_follower/CMakeLists.txt
  navigation2/CMakeLists.txt
Due: none

backport the fix for setting binary_state as the default (#5459)
  nav2_costmap_2d/plugins/costmap_filters/binary_filter.cpp
  nav2_costmap_2d/test/unit/binary_filter_test.cpp
Due: ament_cpplint, ament_uncrustify

Fix missing dependency
  nav2_loopback_sim/package.xml
Due: none

copilot reviews
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_msgs/msg/TrackingError.msg
  nav2_util/include/nav2_util/geometry_utils.hpp
  nav2_util/src/path_utils.cpp
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

Fix missing dependency (#5460)
  nav2_loopback_sim/package.xml
Due: none

Use local plan's last pose as end pose
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

feat(smoother):Add footprint collision checking to SimpleSmoother
  nav2_smoother/include/nav2_smoother/simple_smoother.hpp
  nav2_smoother/src/simple_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Added unit test for BT xml validity
  nav2_system_tests/src/behavior_tree/test_behavior_tree_node.cpp
Due: ament_cpplint, ament_uncrustify

CPPLint
  nav2_system_tests/src/behavior_tree/test_behavior_tree_node.cpp
Due: ament_cpplint, ament_uncrustify

Check non existent search directory for bt
  nav2_system_tests/src/behavior_tree/test_behavior_tree_node.cpp
Due: ament_cpplint, ament_uncrustify

Fixed BT tests
  nav2_system_tests/src/behavior_tree/test_behavior_tree_node.cpp
Due: ament_cpplint, ament_uncrustify

make Blackboard variable ID private to the navigators
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
Due: ament_cpplint, ament_uncrustify

Support loading multiple behavior tree files as subtrees (#5426)
  nav2_behavior_tree/include/nav2_behavior_tree/behavior_tree_engine.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_behavior_tree/src/behavior_tree_engine.cpp
  nav2_bringup/params/nav2_params.yaml
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
  nav2_core/include/nav2_core/behavior_tree_navigator.hpp
  nav2_system_tests/src/behavior_tree/test_behavior_tree_node.cpp
Due: ament_cpplint, ament_uncrustify

Revert "Unclamp noise velocity. (#5266)"
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
Due: ament_cpplint, ament_uncrustify

Revert "Unclamp noise velocity. (#5266)" (#5467)
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
Due: ament_cpplint, ament_uncrustify

enable_groot_monitoring_ false (#5246)
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server.hpp
Due: ament_cpplint, ament_uncrustify

Add min_distance_to_obstacle parameter to RPP (#4543)
  nav2_regulated_pure_pursuit_controller/README.md
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/parameter_handler.hpp
  nav2_regulated_pure_pursuit_controller/src/collision_checker.cpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

Parametrizing obstacle layer tf filter tolerance (#5261)
  nav2_costmap_2d/plugins/obstacle_layer.cpp
Due: ament_cpplint, ament_uncrustify

Fix backport compiler warning (#5277)
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Add missing include of algorithm in differential_motion_model.cpp (#5293)
  nav2_amcl/src/motion_model/differential_motion_model.cpp
Due: ament_cpplint, ament_uncrustify

Remove unused unistd.h header from route_tool.cpp (#5292)
  nav2_rviz_plugins/src/route_tool.cpp
Due: ament_cpplint, ament_uncrustify

Adding epsilon for voxel_layer precision loss (#5314)
  nav2_costmap_2d/plugins/voxel_layer.cpp
Due: ament_cpplint, ament_uncrustify

fix: correct ThroughActionResult type alias in would_a_planner_recovery_help_condition (#5326)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/would_a_planner_recovery_help_condition.hpp
Due: ament_cpplint, ament_uncrustify

outputting tracker feedback on ComputeAndTrack BT node (#5327)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_and_track_route_action.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/action/compute_and_track_route_action.cpp
Due: ament_cpplint, ament_uncrustify

Adding slow down at target heading to RPP Controller (#5361)
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

Include <stdexcept> in docking_exceptions.hpp for exception handling (#5363)
  nav2_docking/opennav_docking_core/include/opennav_docking_core/docking_exceptions.hpp
Due: ament_cpplint, ament_uncrustify

Eexception rethrow in dockRobot method (#5364)
  nav2_docking/opennav_docking/src/docking_server.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
