Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

modified recovery bhevaiour and bugs fixed
  nav2_constrained_controller/include/nav2_constrained_controller/cbf_safety_filter.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/constrained_controller.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/parameter_handler.hpp
  nav2_constrained_controller/src/cbf_safety_filter.cpp
  nav2_constrained_controller/src/constrained_controller.cpp
  nav2_constrained_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

changes to overcome ament and pre-commit failures
  nav2_rviz_plugins/include/nav2_rviz_plugins/costmap_cost_tool.hpp
  nav2_rviz_plugins/src/docking_panel.cpp
  nav2_rviz_plugins/src/selector.cpp
Due: ament_cpplint, ament_uncrustify

updated QP solving logic and stanley wz calculation logic
  nav2_constrained_controller/include/nav2_constrained_controller/nominal_controller.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/parameter_handler.hpp
  nav2_constrained_controller/src/constrained_controller.cpp
  nav2_constrained_controller/src/nominal_controller.cpp
  nav2_constrained_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

removed stanley controller changes
  nav2_constrained_controller/include/nav2_constrained_controller/nominal_controller.hpp
  nav2_constrained_controller/src/nominal_controller.cpp
Due: ament_cpplint, ament_uncrustify

governor based logic
  nav2_constrained_controller/include/nav2_constrained_controller/constrained_controller.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/parameter_handler.hpp
  nav2_constrained_controller/src/constrained_controller.cpp
  nav2_constrained_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

refactor: separate XML file loading from BT node data extraction
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

test: add unit tests for node registration data extraction
  tools/bt_nodes_validation/test/unit/test_extract_node_registration_data.py
Due: ament_flake8, ament_pep257

test: add unit tests for XML node data extraction
  tools/bt_nodes_validation/test/unit/test_extract_xml_nodes_data.py
Due: ament_flake8, ament_pep257

refactor: change increment order when searching closed class bracket
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

test: add unit tests for extracting port data from BT nodes
  tools/bt_nodes_validation/test/unit/test_extract_code_port_data.py
Due: ament_flake8, ament_pep257

fix: prevent appending empty arguments in extract_arguments function
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

feat: add error handling for missing parentheses and braces in data extraction functions
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

modified retreat logic
  nav2_constrained_controller/include/nav2_constrained_controller/cbf_safety_filter.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/parameter_handler.hpp
  nav2_constrained_controller/src/cbf_safety_filter.cpp
Due: ament_cpplint, ament_uncrustify

feat: ensure unique node IDs and port names in XML file
  tools/bt_nodes_validation/test/unit/test_extract_xml_nodes_data.py
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

bas ab chal jaye ye code
  nav2_constrained_controller/include/nav2_constrained_controller/constrained_controller.hpp
  nav2_constrained_controller/src/cbf_safety_filter.cpp
  nav2_constrained_controller/src/constrained_controller.cpp
Due: ament_cpplint, ament_uncrustify

Added Wsign-conversion to all nav2 packages.
  nav2_common/cmake/nav2_package.cmake
Due: none

Fix bugs that were found during the enabling of the -Wconversion flag
  nav2_behavior_tree/test/plugins/decorator/test_speed_controller.cpp
  nav2_smac_planner/src/collision_checker.cpp
  nav2_system_tests/src/planning/planner_tester.cpp
Due: ament_cpplint, ament_uncrustify

Fix bugs that were found during the enabling of the -Wconversion flag (#6142)
  nav2_behavior_tree/test/plugins/decorator/test_speed_controller.cpp
  nav2_smac_planner/src/collision_checker.cpp
  nav2_system_tests/src/planning/planner_tester.cpp
Due: ament_cpplint, ament_uncrustify

Library addition
  nav2_costmap_2d/include/nav2_costmap_2d/tracking_error_layer.hpp
Due: ament_cpplint, ament_uncrustify

source file addition
  nav2_costmap_2d/plugins/tracking_error_layer.cpp
Due: ament_cpplint, ament_uncrustify

test file added
  nav2_costmap_2d/test/unit/tracking_error_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

bresenhamLineaddition
  nav2_util/include/nav2_util/geometry_utils.hpp
Due: ament_cpplint, ament_uncrustify

Integration and last additions
  nav2_costmap_2d/CMakeLists.txt
  nav2_costmap_2d/costmap_plugins.xml
  nav2_costmap_2d/include/nav2_costmap_2d/tracking_error_layer.hpp
  nav2_costmap_2d/plugins/tracking_error_layer.cpp
  nav2_costmap_2d/test/unit/CMakeLists.txt
  nav2_costmap_2d/test/unit/tracking_error_layer_test.cpp
  nav2_util/include/nav2_util/geometry_utils.hpp
Due: ament_cpplint, ament_uncrustify

first styling changes
  nav2_costmap_2d/include/nav2_costmap_2d/tracking_error_layer.hpp
  nav2_costmap_2d/plugins/tracking_error_layer.cpp
Due: ament_cpplint, ament_uncrustify

fixed tf usage made it layer test fix
  nav2_costmap_2d/include/nav2_costmap_2d/tracking_error_layer.hpp
  nav2_costmap_2d/plugins/tracking_error_layer.cpp
  nav2_costmap_2d/test/unit/tracking_error_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

less complicated line creation
  nav2_costmap_2d/plugins/tracking_error_layer.cpp
  nav2_util/include/nav2_util/geometry_utils.hpp
Due: ament_cpplint, ament_uncrustify

styling
  nav2_costmap_2d/plugins/tracking_error_layer.cpp
  nav2_costmap_2d/test/unit/tracking_error_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

topic naming issue
  nav2_bringup/params/nav2_params.yaml
  nav2_costmap_2d/plugins/tracking_error_layer.cpp
Due: ament_cpplint, ament_uncrustify

renamind and topic name parametiraztion alongside small changes.
  nav2_bringup/params/nav2_params.yaml
  nav2_costmap_2d/CMakeLists.txt
  nav2_costmap_2d/costmap_plugins.xml
  nav2_costmap_2d/include/nav2_costmap_2d/tracking_bounds_layer.hpp
  nav2_costmap_2d/plugins/tracking_bounds_layer.cpp
  nav2_costmap_2d/test/unit/CMakeLists.txt
  nav2_costmap_2d/test/unit/tracking_bounds_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

copilot reviews: adding doxygen and adding costmap mutex
  nav2_bringup/params/nav2_params.yaml
  nav2_costmap_2d/include/nav2_costmap_2d/tracking_bounds_layer.hpp
  nav2_costmap_2d/plugins/tracking_bounds_layer.cpp
Due: ament_cpplint, ament_uncrustify

Update nav2_costmap_2d/include/nav2_costmap_2d/tracking_bounds_layer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/tracking_bounds_layer.hpp
Due: ament_cpplint, ament_uncrustify

fixing tests
  nav2_costmap_2d/include/nav2_costmap_2d/tracking_bounds_layer.hpp
  nav2_costmap_2d/plugins/tracking_bounds_layer.cpp
Due: ament_cpplint, ament_uncrustify

readding bresenham.
  nav2_costmap_2d/plugins/tracking_bounds_layer.cpp
  nav2_util/include/nav2_util/geometry_utils.hpp
Due: ament_cpplint, ament_uncrustify

renaming
  nav2_bringup/params/nav2_params.yaml
  nav2_costmap_2d/CMakeLists.txt
  nav2_costmap_2d/costmap_plugins.xml
  nav2_costmap_2d/include/nav2_costmap_2d/bounded_tracking_error_layer.hpp
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
  nav2_costmap_2d/test/unit/CMakeLists.txt
  nav2_costmap_2d/test/unit/bounded_tracking_error_layer_test.cpp
  nav2_util/include/nav2_util/geometry_utils.hpp
Due: ament_cpplint, ament_uncrustify

typos
  nav2_bringup/params/nav2_params.yaml
  nav2_util/include/nav2_util/geometry_utils.hpp
Due: ament_cpplint, ament_uncrustify

wall thickness parameterization
  nav2_bringup/params/nav2_params.yaml
  nav2_costmap_2d/include/nav2_costmap_2d/bounded_tracking_error_layer.hpp
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
Due: ament_cpplint, ament_uncrustify

styling and testing
  nav2_costmap_2d/include/nav2_costmap_2d/bounded_tracking_error_layer.hpp
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
  nav2_util/test/test_geometry_utils.cpp
Due: ament_cpplint, ament_uncrustify

linting
  nav2_costmap_2d/include/nav2_costmap_2d/bounded_tracking_error_layer.hpp
Due: ament_cpplint, ament_uncrustify

making tf faster, long term usage test corrected, general code quality imp
  nav2_bringup/params/nav2_params.yaml
  nav2_costmap_2d/include/nav2_costmap_2d/bounded_tracking_error_layer.hpp
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
  nav2_costmap_2d/test/unit/bounded_tracking_error_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
