Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

Improve BT navigation failure robustness and diagnostics
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/control/recovery_node.hpp
  nav2_behavior_tree/plugins/action/navigate_through_poses_action.cpp
  nav2_behavior_tree/plugins/action/navigate_to_pose_action.cpp
  nav2_behavior_tree/plugins/control/recovery_node.cpp
  nav2_behavior_tree/src/behavior_tree_engine.cpp
  nav2_behavior_tree/test/plugins/action/test_follow_path_action.cpp
  nav2_behavior_tree/test/plugins/action/test_navigate_through_poses_action.cpp
  nav2_behavior_tree/test/plugins/action/test_navigate_to_pose_action.cpp
  nav2_bt_navigator/doc/bt_navigation_failure_audit.md
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
  nav2_system_tests/src/system/nav_through_poses_tester_node.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

[smac] add opt-in incremental (LPA*) obstacle heuristic for dynamic replanning
  nav2_smac_planner/README.md
  nav2_smac_planner/include/nav2_smac_planner/obstacle_heuristic.hpp
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/obstacle_heuristic.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/test/CMakeLists.txt
  nav2_smac_planner/test/test_obstacle_heuristic_incremental.cpp
Due: ament_cpplint, ament_uncrustify

fix HasNodeParams on non-mapping YAML
  nav2_common/CMakeLists.txt
  nav2_common/nav2_common/launch/has_node_params.py
  nav2_common/test/test_has_node_params.py
Due: ament_flake8, ament_pep257

[smac] mark AI-assisted code inline
  nav2_smac_planner/include/nav2_smac_planner/obstacle_heuristic.hpp
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/obstacle_heuristic.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/test/test_obstacle_heuristic_incremental.cpp
Due: ament_cpplint, ament_uncrustify

[smac] satisfy codespell and uncrustify lint on incremental heuristic
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid_impl.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_lattice_impl.hpp
  nav2_smac_planner/test/test_obstacle_heuristic_incremental.cpp
Due: ament_cpplint, ament_uncrustify

[smac] add test coverage for incremental obstacle heuristic paths
  nav2_smac_planner/test/test_a_star.cpp
  nav2_smac_planner/test/test_smac_hybrid.cpp
  nav2_smac_planner/test/test_smac_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Fix TruncatePathLocal to use robot_base_frame from parameter file (#6242)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/truncate_path_local_action.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/action/truncate_path_local_action.cpp
  nav2_behavior_tree/test/plugins/action/test_truncate_path_local_action.cpp
Due: ament_cpplint, ament_uncrustify

fix HasNodeParams on non-mapping YAML (#6246)
  nav2_common/CMakeLists.txt
  nav2_common/nav2_common/launch/has_node_params.py
  nav2_common/test/test_has_node_params.py
Due: ament_flake8, ament_pep257

include nav2_package.cmake inside the package itself as well
  nav2_common/CMakeLists.txt
Due: none

[smac] cover the two remaining uncovered incremental-heuristic lines
  nav2_smac_planner/include/nav2_smac_planner/a_star_impl.hpp
  nav2_smac_planner/include/nav2_smac_planner/obstacle_heuristic.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid_impl.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_lattice_impl.hpp
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/src/obstacle_heuristic.cpp
  nav2_smac_planner/test/test_a_star.cpp
  nav2_smac_planner/test/test_obstacle_heuristic_incremental.cpp
  nav2_smac_planner/test/test_smac_hybrid.cpp
  nav2_smac_planner/test/test_smac_lattice.cpp
Due: ament_cpplint, ament_uncrustify

docs: update robot_base_frame port description for TruncatePathLocal BT node
  nav2_behavior_tree/nav2_tree_nodes.xml
Due: none

First check if goal is reached then calculate velocity
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

docs: update robot_base_frame port description for TruncatePathLocal BT node (#6254)
  nav2_behavior_tree/nav2_tree_nodes.xml
Due: none

include nav2_package.cmake inside the package itself as well (#6252)
  nav2_common/CMakeLists.txt
Due: none

Harden dock database file parsing
  nav2_docking/opennav_docking/include/opennav_docking/utils.hpp
  nav2_docking/opennav_docking/src/dock_database.cpp
  nav2_docking/opennav_docking/test/dock_files/test_dock_file.yaml
  nav2_docking/opennav_docking/test/test_dock_database.cpp
  nav2_docking/opennav_docking/test/test_utils.cpp
Due: ament_cpplint, ament_uncrustify

add param to clamp raw controls
  nav2_mppi_controller/include/nav2_mppi_controller/models/optimizer_settings.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

fix tests
  nav2_mppi_controller/test/motion_model_tests.cpp
Due: ament_cpplint, ament_uncrustify

add test for clamp_raw_controls=true
  nav2_mppi_controller/test/motion_model_tests.cpp
Due: ament_cpplint, ament_uncrustify

update transformed_end_pose_ in isGoalReached
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Improve coverage
  nav2_controller/test/test_controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Fix various compilation issues with clang
  nav2_behavior_tree/test/test_loop_rate.cpp
  nav2_behaviors/include/nav2_behaviors/plugins/drive_on_heading.hpp
  nav2_behaviors/include/nav2_behaviors/timed_behavior.hpp
  nav2_behaviors/plugins/back_up.cpp
  nav2_behaviors/plugins/spin.cpp
  nav2_controller/plugins/test/progress_checker.cpp
  nav2_costmap_2d/src/clear_costmap_service.cpp
  nav2_dwb_controller/dwb_plugins/include/dwb_plugins/standard_traj_generator.hpp
  nav2_mppi_controller/CMakeLists.txt
  nav2_mppi_controller/include/nav2_mppi_controller/tools/parameters_handler.hpp
  nav2_mppi_controller/src/parameters_handler.cpp
  nav2_mppi_controller/test/utils_test.cpp
  nav2_route/test/test_operations.cpp
  nav2_route/test/test_path_converter.cpp
  nav2_smoother/src/nav2_smoother.cpp
  nav2_util/test/regression/map_bresenham_2d.cpp
  nav2_waypoint_follower/src/waypoint_follower.cpp
Due: ament_cpplint, ament_uncrustify

[nav2_controller] First check if goal reached then calculate velocity (#6253)
  nav2_controller/src/controller_server.cpp
  nav2_controller/test/test_controller_server.cpp
Due: ament_cpplint, ament_uncrustify

add param to clamp raw controls (#6248)
  nav2_mppi_controller/include/nav2_mppi_controller/models/optimizer_settings.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
  nav2_mppi_controller/src/optimizer.cpp
  nav2_mppi_controller/test/motion_model_tests.cpp
Due: ament_cpplint, ament_uncrustify

Fix various compilation issues with clang (#6259)
  nav2_behavior_tree/test/test_loop_rate.cpp
  nav2_behaviors/include/nav2_behaviors/plugins/drive_on_heading.hpp
  nav2_behaviors/include/nav2_behaviors/timed_behavior.hpp
  nav2_behaviors/plugins/back_up.cpp
  nav2_behaviors/plugins/spin.cpp
  nav2_controller/plugins/test/progress_checker.cpp
  nav2_costmap_2d/src/clear_costmap_service.cpp
  nav2_dwb_controller/dwb_plugins/include/dwb_plugins/standard_traj_generator.hpp
  nav2_mppi_controller/CMakeLists.txt
  nav2_mppi_controller/include/nav2_mppi_controller/tools/parameters_handler.hpp
  nav2_mppi_controller/src/parameters_handler.cpp
  nav2_mppi_controller/test/utils_test.cpp
  nav2_route/test/test_operations.cpp
  nav2_route/test/test_path_converter.cpp
  nav2_smoother/src/nav2_smoother.cpp
  nav2_util/test/regression/map_bresenham_2d.cpp
  nav2_waypoint_follower/src/waypoint_follower.cpp
Due: ament_cpplint, ament_uncrustify

Add toString()
  nav2_controller/include/nav2_controller/plugins/adaptive_tolerance_goal_checker.hpp
  nav2_controller/plugins/adaptive_tolerance_goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

Fix remaining Zenoh test cleanup issues
  nav2_behavior_tree/test/plugins/control/test_pause_resume_controller.cpp
  nav2_ros_common/test/test_lifecycle_node.cpp
  nav2_ros_common/test/test_service_client.cpp
Due: ament_cpplint, ament_uncrustify

Fix system tests
  nav2_system_tests/src/error_codes/test_error_codes.py
Due: ament_flake8, ament_pep257

Unpin btcpp and rviz
  tools/underlay.repos
Due: none

Pin to 4.9.1
  tools/underlay.repos
Due: none

Pin to PR 1163
  tools/underlay.repos
Due: none

Rosdep update
  .circleci/config.yml
  Dockerfile
Due: none

Change default RMW to rmw_zenoh_cpp
  .circleci/config.yml
Due: none

feat: resolve OSM topology into graph with oneway edges and coordinate conversion
  nav2_route/CMakeLists.txt
  nav2_route/README.md
  nav2_route/graphs/sample_graph.osm
  nav2_route/include/nav2_route/plugins/graph_file_loaders/osm_graph_file_loader.hpp
  nav2_route/package.xml
  nav2_route/src/plugins/graph_file_loaders/osm_graph_file_loader.cpp
  nav2_route/test/test_osm_graph_file_loader.cpp
Due: ament_cpplint, ament_uncrustify

fix: address self-review of OSM graph file loader
  nav2_route/CMakeLists.txt
  nav2_route/README.md
  nav2_route/include/nav2_route/plugins/graph_file_loaders/osm_graph_file_loader.hpp
  nav2_route/src/plugins/graph_file_loaders/osm_graph_file_loader.cpp
  nav2_route/test/test_osm_graph_file_loader.cpp
Due: ament_cpplint, ament_uncrustify

feat: add OSM graph file loader and associated tests
  nav2_route/CMakeLists.txt
  nav2_route/include/nav2_route/plugins/graph_file_loaders/osm_graph_file_loader.hpp
  nav2_route/package.xml
  nav2_route/plugins.xml
  nav2_route/src/plugins/graph_file_loaders/osm_graph_file_loader.cpp
  nav2_route/test/CMakeLists.txt
  nav2_route/test/test_osm_graph_file_loader.cpp
Due: ament_cpplint, ament_uncrustify
