Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

Update mergify.yml
  .github/mergify.yml
Due: none

include bug fix for nav2_smac_planner
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/test/test_a_star.cpp
Due: ament_cpplint, ament_uncrustify

Revert "Removing underlay workspace from Main (#5200)"
  tools/underlay.repos
Due: none

Update underlay.repos
  tools/underlay.repos
Due: none

include bug fix for nav2_smac_planner (#5198)
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/test/test_a_star.cpp
Due: ament_cpplint, ament_uncrustify

Revert "Removing underlay workspace from Main" (#5206)
  tools/underlay.repos
Due: none

prototype solving 5192 issue 2
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/test/test_a_star.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Removing unnecessary variable
  nav2_smac_planner/src/analytic_expansion.cpp
Due: ament_cpplint, ament_uncrustify

Adding parameter warn_when_defaulting_parameters to control default parameter warnings (#5189)
  nav2_util/include/nav2_util/node_utils.hpp
  nav2_util/test/test_node_utils.cpp
Due: ament_cpplint, ament_uncrustify

Update test_analytic_expansion.cpp
  nav2_smac_planner/test/test_analytic_expansion.cpp
Due: ament_cpplint, ament_uncrustify

Dynamic param patterns (#4971)
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/parameter_handler.hpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

[nav2_behavior_tree] Add force_use_current_pose to ComputePathToPoseAction (#4925)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_path_to_pose_action.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/action/compute_path_to_pose_action.cpp
Due: ament_cpplint, ament_uncrustify

[CostmapTopicCollisionChecker] Alternative constructor with footprint string (#4926)
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_topic_collision_checker.hpp
  nav2_costmap_2d/src/costmap_topic_collision_checker.cpp
Due: ament_cpplint, ament_uncrustify

Merged Fix navfn_planner from humble PR #5087 (#5092)
  nav2_navfn_planner/src/navfn_planner.cpp
Due: ament_cpplint, ament_uncrustify

Update map_io library to use Eigen method for faster map loading (#5071)
  nav2_map_server/src/map_io.cpp
Due: ament_cpplint, ament_uncrustify

Precompute yaw trigonometric values in smac planner (#5109)
  nav2_smac_planner/include/nav2_smac_planner/utils.hpp
Due: ament_cpplint, ament_uncrustify

removing the start navigation message in the paused state from rviz buttons (#5137)
  nav2_rviz_plugins/src/nav2_panel.cpp
Due: ament_cpplint, ament_uncrustify

Show error if inflation radius is smaller than circumscribed radius (#5148)
  nav2_mppi_controller/src/critics/cost_critic.cpp
  nav2_smac_planner/include/nav2_smac_planner/utils.hpp
Due: ament_cpplint, ament_uncrustify

Prevent MPPI controller from resetting speed limits upon goal execution. (#5165)
  nav2_mppi_controller/include/nav2_mppi_controller/optimizer.hpp
  nav2_mppi_controller/src/controller.cpp
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Fixing docking server when already docked at the requeste ddock (#5171)
  nav2_docking/opennav_docking/src/docking_server.cpp
Due: ament_cpplint, ament_uncrustify

Adding parameter util to node utils (#5154)
  nav2_util/include/nav2_util/node_utils.hpp
  nav2_util/test/test_node_utils.cpp
Due: ament_cpplint, ament_uncrustify

added config for laserscan in lb-sim (#5174)
  nav2_bringup/params/nav2_params.yaml
  nav2_loopback_sim/README.md
  nav2_loopback_sim/nav2_loopback_sim/loopback_simulator.py
Due: ament_flake8, ament_pep257

Publish planned footprints after smoothing (#5155)
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_lattice.hpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
Due: ament_cpplint, ament_uncrustify

fixing deprecation warning (#5182)
  nav2_docking/opennav_docking/test/CMakeLists.txt
Due: none

Adding missing dep to loopback sim (#5204)
  nav2_loopback_sim/package.xml
Due: none

Passing parent node options from controller_server to costmap node
  nav2_controller/src/controller_server.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d_ros.hpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
Due: ament_cpplint, ament_uncrustify

Passing parent node options to global costmap
  nav2_planner/src/planner_server.cpp
Due: ament_cpplint, ament_uncrustify

Fix header guard
  nav2_util/include/nav2_util/controller_utils.hpp
Due: ament_cpplint, ament_uncrustify

Pass node options to costmap node (#5202)
  nav2_controller/src/controller_server.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d_ros.hpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_planner/src/planner_server.cpp
Due: ament_cpplint, ament_uncrustify

Option to Reduce Lethal to High-Cost Navigable To Get Out of Keepout Zones if Wandered In (#5187)
  nav2_bringup/params/nav2_params.yaml
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/keepout_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
Due: ament_cpplint, ament_uncrustify

Prototype solving #5192 Issue 2: Reeds-Shepp reduce small reverse expansions (#5207)
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/test/test_a_star.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Fixing type conversion issues in Smac Planner changes
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
  nav2_smac_planner/src/a_star.cpp
Due: ament_cpplint, ament_uncrustify

Make nav2_core an INTERFACE library. (#4578)
  nav2_core/CMakeLists.txt
  nav2_core/package.xml
  nav2_graceful_controller/CMakeLists.txt
  nav2_graceful_controller/package.xml
Due: none

Fix Ci from key signing
  .circleci/config.yml
  Dockerfile
Due: none
