Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Updated keepout masks for depot and warehouse.
  nav2_bringup/maps/depot_keepout.pgm
  nav2_bringup/maps/warehouse_keepout.pgm
Due: none

Support keepout_map as a launch argument.
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/localization_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_bringup/params/nav2_params.yaml
Due: ament_flake8, ament_pep257

Renamed map_modifier.launch.py to keepout_zone_launch.py.
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/keepout_zone_launch.py
Due: ament_flake8, ament_pep257

Added a dictionary to switch between tb4 maps.
  nav2_bringup/launch/tb4_simulation_launch.py
Due: ament_flake8, ament_pep257

Used utility function to simplify namespace calls.
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_layer.hpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/plugins/range_sensor_layer.cpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/src/costmap_layer.cpp
Due: ament_cpplint, ament_uncrustify

collapse change_state and remove non_default_timeout logic
  nav2_lifecycle_manager/include/nav2_lifecycle_manager/lifecycle_manager.hpp
  nav2_lifecycle_manager/src/lifecycle_manager.cpp
  nav2_util/include/nav2_util/lifecycle_service_client.hpp
  nav2_util/src/lifecycle_service_client.cpp
Due: ament_cpplint, ament_uncrustify

removing the start navigation message in the paused state from rviz buttons (#5137)
  nav2_rviz_plugins/src/nav2_panel.cpp
Due: ament_cpplint, ament_uncrustify

Moved joinWithParentNamespace to the Layer object.
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_utils.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/layer.hpp
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/plugins/range_sensor_layer.cpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/src/layer.cpp
Due: ament_cpplint, ament_uncrustify

Fix rotation shim controller stateful goal checking
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/tools/utils.hpp
Due: ament_cpplint, ament_uncrustify

removed fallback bcz of null ptr error
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/tools/utils.hpp
Due: ament_cpplint, ament_uncrustify

Added keepout filter for depot and warehouse maps (#5125)
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/keepout_zone_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_bringup/maps/depot_keepout.pgm
  nav2_bringup/maps/depot_keepout.yaml
  nav2_bringup/maps/warehouse_keepout.pgm
  nav2_bringup/maps/warehouse_keepout.yaml
  nav2_bringup/params/nav2_params.yaml
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_layer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/layer.hpp
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
  nav2_costmap_2d/src/costmap_layer.cpp
  nav2_costmap_2d/src/layer.cpp
  nav2_system_tests/src/costmap_filters/test_keepout_launch.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Fix lattice backward 180 deg issue
  nav2_smac_planner/src/node_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Fix lattice backward 180 deg issue (#5141)
  nav2_smac_planner/src/node_lattice.cpp
Due: ament_cpplint, ament_uncrustify

added plugin for position_goal_checker
  nav2_controller/CMakeLists.txt
  nav2_controller/include/nav2_controller/plugins/position_goal_checker.hpp
  nav2_controller/plugins.xml
  nav2_controller/plugins/position_goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

to use position_goal_checker internally in rotation shim controller
  nav2_rotation_shim_controller/CMakeLists.txt
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/nav2_rotation_shim_controller.hpp
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/tools/utils.hpp
  nav2_rotation_shim_controller/package.xml
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

added reset after setPlan
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/tools/utils.hpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

refactored, fixed lint
  nav2_controller/include/nav2_controller/plugins/position_goal_checker.hpp
  nav2_controller/plugins/position_goal_checker.cpp
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/tools/utils.hpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

Update nav2_util/src/lifecycle_service_client.cpp
  nav2_util/src/lifecycle_service_client.cpp
Due: ament_cpplint, ament_uncrustify

Warn if inflation radius is smaller than circumscribed radius
  nav2_mppi_controller/src/critics/cost_critic.cpp
  nav2_smac_planner/include/nav2_smac_planner/utils.hpp
Due: ament_cpplint, ament_uncrustify

reset motion model
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

review
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

modified as requested
  nav2_bringup/launch/nav2_toolkit_launch.py
  nav2_toolkit/CMakeLists.txt
  nav2_toolkit/README.md
  nav2_toolkit/config/last_known_pose.yaml
  nav2_toolkit/include/nav2_toolkit/pose_saver_node.hpp
  nav2_toolkit/launch/pose_saver.launch.py
  nav2_toolkit/package.xml
  nav2_toolkit/src/pose_saver_main.cpp
  nav2_toolkit/src/pose_saver_node.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

fixed comments
  nav2_toolkit/CMakeLists.txt
  nav2_toolkit/src/pose_saver_node.cpp
Due: ament_cpplint, ament_uncrustify

Fix lattice backward 180 deg issue (#5147)
  nav2_smac_planner/src/node_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Update simple_action_server.hpp for description
  nav2_util/include/nav2_util/simple_action_server.hpp
Due: ament_cpplint, ament_uncrustify

[lifecycle_manager] expose service_timeout (#4838)
  nav2_lifecycle_manager/include/nav2_lifecycle_manager/lifecycle_manager.hpp
  nav2_lifecycle_manager/src/lifecycle_manager.cpp
  nav2_util/include/nav2_util/lifecycle_service_client.hpp
  nav2_util/src/lifecycle_service_client.cpp
Due: ament_cpplint, ament_uncrustify

Update simple_action_server.hpp for description (#5150)
  nav2_util/include/nav2_util/simple_action_server.hpp
Due: ament_cpplint, ament_uncrustify

reset motion model (#5149)
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Enable namespace for the speed limit topic.
  nav2_bringup/params/nav2_params.yaml
  nav2_bringup/rviz/nav2_default_view.rviz
Due: none

Updated rviz2 config to include speed zone filter.
  nav2_bringup/rviz/nav2_default_view.rviz
Due: none

Added speed filter zones to depot and warehouse maps.
  nav2_bringup/maps/depot_speed.pgm
  nav2_bringup/maps/depot_speed.yaml
  nav2_bringup/maps/warehouse_speed.pgm
  nav2_bringup/maps/warehouse_speed.yaml
Due: none

Added dedicated launch file for speed zone support.
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/speed_zone_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_bringup/params/nav2_params.yaml
Due: ament_flake8, ament_pep257

Added keepout prefix to keepout zone related params.
  nav2_bringup/launch/keepout_zone_launch.py
  nav2_bringup/params/nav2_params.yaml
Due: ament_flake8, ament_pep257

Update speed filter zones in depot and warehouse maps
  nav2_bringup/maps/depot_speed.pgm
  nav2_bringup/maps/warehouse_speed.pgm
Due: none

Preserve initial nature of costmap filters tests.
  nav2_system_tests/src/costmap_filters/test_keepout_launch.py
  nav2_system_tests/src/costmap_filters/test_speed_launch.py
Due: ament_flake8, ament_pep257

Add namespace support for speed filter zones.
  nav2_costmap_2d/plugins/costmap_filters/speed_filter.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
