Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

:bug: fix regulation procedure of dynamic window during negative velocity, add test (WIP)
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

:bug: fix optimal velocity selection when moving backward
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

ClearCostmapService to introduce plugin validation and categorization methods
  nav2_costmap_2d/include/nav2_costmap_2d/clear_costmap_service.hpp
  nav2_costmap_2d/src/clear_costmap_service.cpp
Due: ament_cpplint, ament_uncrustify

fix typo
  nav2_behavior_tree/test/utils/test_service.hpp
  nav2_costmap_2d/src/clear_costmap_service.cpp
Due: ament_cpplint, ament_uncrustify

:recycle: refactor for easy unit test
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

:zap: add unit test of computeDynamicWindow()
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

Collision Monitor: add costmap sourced(unit tests)
  nav2_collision_monitor/CMakeLists.txt
  nav2_collision_monitor/include/nav2_collision_monitor/collision_monitor_node.hpp
  nav2_collision_monitor/include/nav2_collision_monitor/costmap.hpp
  nav2_collision_monitor/package.xml
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_collision_monitor/src/costmap.cpp
  nav2_collision_monitor/test/CMakeLists.txt
  nav2_collision_monitor/test/test_costmap_source.cpp
Due: ament_cpplint, ament_uncrustify

- annotate files to indicate AI-assisted drafts Signed-off-by: Mengting Yang <mengtiy5@uci.edu>
  nav2_collision_monitor/test/bags/cm_moving_obstacle/fake_cm_bag_source.py
  nav2_collision_monitor/test/collision_monitor_node_bag.cpp
  nav2_collision_monitor/test/collision_monitor_node_bag.launch.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

modified: nav2_collision_monitor/README.md
  nav2_collision_monitor/README.md
Due: none

nav2_collision_monitor: modified CostmapSource + dataset-based bag test (v1)
  nav2_collision_monitor/CMakeLists.txt
  nav2_collision_monitor/include/nav2_collision_monitor/costmap.hpp
  nav2_collision_monitor/package.xml
  nav2_collision_monitor/params/collision_monitor_params.yaml
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_collision_monitor/src/costmap.cpp
  nav2_collision_monitor/test/CMakeLists.txt
  nav2_collision_monitor/test/bags/cm_moving_obstacle/_tmp_cm_bag_0.mcap.zstd
  nav2_collision_monitor/test/bags/cm_moving_obstacle/fake_cm_bag_source.py
  nav2_collision_monitor/test/bags/cm_moving_obstacle/metadata.yaml
  nav2_collision_monitor/test/collision_monitor_node_bag.cpp
  nav2_collision_monitor/test/collision_monitor_node_bag.launch.py
  nav2_collision_monitor/test/collision_monitor_node_bag.yaml
  nav2_collision_monitor/test/test_costmap_source.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

:zap: add and pass all unit test
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

code
  nav2_smac_planner/CMakeLists.txt
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/types.cpp
  nav2_util/include/nav2_util/geometry_utils.hpp
Due: ament_cpplint, ament_uncrustify

:zap: update README
  nav2_regulated_pure_pursuit_controller/README.md
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

:memo: update README
  nav2_regulated_pure_pursuit_controller/README.md
Due: none

:adhesive_bandage: fix hyperlink of README
  nav2_regulated_pure_pursuit_controller/README.md
Due: none

collision_monitor: fix linter and address issues in the comment
  nav2_collision_monitor/CMakeLists.txt
  nav2_collision_monitor/README.md
  nav2_collision_monitor/include/nav2_collision_monitor/costmap.hpp
  nav2_collision_monitor/package.xml
  nav2_collision_monitor/params/collision_monitor_params.yaml
  nav2_collision_monitor/src/costmap.cpp
  nav2_collision_monitor/test/bags/cm_moving_obstacle/fake_cm_bag_source.py
  nav2_collision_monitor/test/collision_monitor_node_bag.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Latched map subscriber QoS depth 1
  nav2_amcl/src/amcl_node.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_subscriber.hpp
  nav2_costmap_2d/plugins/costmap_filters/binary_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/speed_filter.cpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/plugins/voxel_layer.cpp
  nav2_costmap_2d/test/integration/test_costmap_2d_publisher.cpp
  nav2_map_server/src/map_saver/map_saver.cpp
  nav2_map_server/test/component/test_map_saver_publisher.cpp
  nav2_map_server/test/map_saver_cli/CMakeLists.txt
  nav2_map_server/test/map_saver_cli/test_map_saver_cli.cpp
Due: ament_cpplint, ament_uncrustify

Add warning for migration guide
  nav2_rotation_shim_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

Lint
  nav2_rotation_shim_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

Precommit
  nav2_util/test/CMakeLists.txt
Due: none

Throw if parameter does not exist
  nav2_rotation_shim_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

nav2_collision_monitor: fix lint, coverage, and collision_monitor_node_test.cpp
  nav2_collision_monitor/launch/collision_detector_node.launch.py
  nav2_collision_monitor/launch/collision_monitor_node.launch.py
  nav2_collision_monitor/package.xml
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_collision_monitor/src/costmap.cpp
  nav2_collision_monitor/test/CMakeLists.txt
  nav2_collision_monitor/test/bags/cm_moving_obstacle/fake_cm_bag_source.py
  nav2_collision_monitor/test/bags/cm_moving_obstacle/metadata.yaml
  nav2_collision_monitor/test/collision_monitor_node_bag.cpp
  nav2_collision_monitor/test/collision_monitor_node_bag.launch.py
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Redesign costmap dynamic parameters patterns
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d_ros.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/inflation_layer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/obstacle_layer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/plugin_container_layer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/static_layer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/voxel_layer.hpp
  nav2_costmap_2d/plugins/inflation_layer.cpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/plugins/plugin_container_layer.cpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/plugins/voxel_layer.cpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
Due: ament_cpplint, ament_uncrustify

Clang tidy
  nav2_amcl/include/nav2_amcl/amcl_node.hpp
  nav2_amcl/src/amcl_node.cpp
  nav2_dwb_controller/dwb_plugins/include/dwb_plugins/kinematic_parameters.hpp
  nav2_dwb_controller/dwb_plugins/src/kinematic_parameters.cpp
  nav2_graceful_controller/include/nav2_graceful_controller/parameter_handler.hpp
  nav2_graceful_controller/src/parameter_handler.cpp
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/parameter_handler.hpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_util/include/nav2_util/parameter_handler.hpp
  nav2_util/test/test_parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

Clang tidy
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/parameter_handler.hpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

Fix missing cost consideration in first expansion of SmacPlannerHybrid (#5626)
  nav2_smac_planner/src/node_hybrid.cpp
Due: ament_cpplint, ament_uncrustify

Fix readability
  nav2_graceful_controller/src/graceful_controller.cpp
Due: ament_cpplint, ament_uncrustify

Clang tidy
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/parameter_handler.hpp
  nav2_rotation_shim_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

Clang tidy
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d_ros.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/inflation_layer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/obstacle_layer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/plugin_container_layer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/static_layer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/voxel_layer.hpp
  nav2_costmap_2d/plugins/inflation_layer.cpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/plugins/plugin_container_layer.cpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/plugins/voxel_layer.cpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
Due: ament_cpplint, ament_uncrustify

footprint cost for scoring cost critic
  nav2_mppi_controller/include/nav2_mppi_controller/critics/cost_critic.hpp
  nav2_mppi_controller/src/critics/cost_critic.cpp
Due: ament_cpplint, ament_uncrustify

remove unused param
  nav2_mppi_controller/include/nav2_mppi_controller/critics/cost_critic.hpp
Due: ament_cpplint, ament_uncrustify

lint
  nav2_mppi_controller/src/critics/cost_critic.cpp
Due: ament_cpplint, ament_uncrustify

fix near_goal exception
  nav2_mppi_controller/src/critics/cost_critic.cpp
Due: ament_cpplint, ament_uncrustify

Correct minor typo in MPPI controller README
  nav2_mppi_controller/README.md
Due: none

fix unused var
  nav2_mppi_controller/include/nav2_mppi_controller/tools/trajectory_visualizer.hpp
  nav2_mppi_controller/src/trajectory_visualizer.cpp
Due: ament_cpplint, ament_uncrustify

Update nav2_params.yaml
  nav2_bringup/params/nav2_params.yaml
Due: none

Fix(macOS): Use Mach Precedence Policy for Soft Real-Time Thread Priority
  nav2_ros_common/include/nav2_ros_common/node_utils.hpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
