Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

Fix analytic expansion
  nav2_bringup/params/nav2_params.yaml
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/src/node_hybrid.cpp
  nav2_smac_planner/test/test_a_star.cpp
  tools/planner_benchmarking/planning_benchmark_bringup.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Remove log
  nav2_behavior_tree/plugins/action/compute_path_to_pose_action.cpp
  nav2_bringup/params/nav2_params.yaml
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/src/node_hybrid.cpp
Due: ament_cpplint, ament_uncrustify

:zap: add deprecation warning
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

:bug: fix to reset last_command_velocity_ to zero when finishing
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
Due: ament_cpplint, ament_uncrustify

modify alias
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
Due: ament_cpplint, ament_uncrustify

fix bugs
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
Due: ament_cpplint, ament_uncrustify

Reject dynamic kinematic parameter updates when speed limit is active
  nav2_mppi_controller/include/nav2_mppi_controller/optimizer.hpp
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

refactor: allow dynamic kinematic param updates when speed limit inactive and Removed ParameterType::Static
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

fix: correct indentation for ament_uncrustify compliance
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Fix lifecycle subscription tests and add header guard
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
Due: ament_cpplint, ament_uncrustify

Bugfix inactive publishers (#5748)
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d_publisher.hpp
  nav2_costmap_2d/src/costmap_2d_publisher.cpp
Due: ament_cpplint, ament_uncrustify

Fix mypy and switch to precommit hooks
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  nav2_docking/opennav_docking/test/test_docking_server.py
  nav2_following/opennav_following/test/test_following_server.py
  nav2_simple_commander/nav2_simple_commander/footprint_collision_checker.py
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
  nav2_simple_commander/test/test_footprint_collision_checker.py
  nav2_smac_planner/lattice_primitives/lattice_generator.py
  nav2_system_tests/src/behaviors/drive_on_heading/drive_tester.py
  nav2_system_tests/src/behaviors/spin/spin_tester.py
  nav2_system_tests/src/costmap_filters/tester_node.py
  nav2_system_tests/src/error_codes/test_error_codes.py
  nav2_system_tests/src/gps_navigation/tester.py
  nav2_system_tests/src/route/tester_node.py
  nav2_system_tests/src/system/nav_through_poses_tester_error_msg_node.py
  nav2_system_tests/src/system/nav_through_poses_tester_node.py
  nav2_system_tests/src/system/nav_to_pose_tester_node.py
  nav2_system_tests/src/system_failure/tester_node.py
  nav2_system_tests/src/waypoint_follower/tester.py
  tools/planner_benchmarking/process_data.py
  tools/pyproject.toml
  tools/smoother_benchmarking/metrics.py
  tools/smoother_benchmarking/process_data.py
Due: ament_flake8, ament_pep257

Add nav2 container
  .github/workflows/lint.yml
Due: none

Add fail fast
  .github/workflows/lint.yml
Due: none

Remove fail fast
  .github/workflows/lint.yml
Due: none

Create symlink
  .github/workflows/lint.yml
Due: none

Use venv
  .github/workflows/lint.yml
Due: none

apt update
  .github/workflows/lint.yml
Due: none

-y
  .github/workflows/lint.yml
Due: none

source directories
  .github/workflows/lint.yml
Due: none

Debugging
  .github/workflows/lint.yml
Due: none

Switch to env path
  .github/workflows/lint.yml
Due: none

Update nav2_mppi_controller/README.md
  nav2_mppi_controller/README.md
Due: none

Do not publish costmap unless enabled
  nav2_costmap_2d/src/costmap_2d_publisher.cpp
Due: ament_cpplint, ament_uncrustify

Add unit test for speed limit dynamic parameter
  nav2_mppi_controller/src/optimizer.cpp
  nav2_mppi_controller/test/optimizer_unit_tests.cpp
Due: ament_cpplint, ament_uncrustify

Do not publish costmap unless enabled (#5841)
  nav2_costmap_2d/src/costmap_2d_publisher.cpp
Due: ament_cpplint, ament_uncrustify

Add symmetric goal for goal checker and mppi goal angle critic (#5833)
  nav2_controller/include/nav2_controller/plugins/simple_goal_checker.hpp
  nav2_controller/plugins/simple_goal_checker.cpp
  nav2_controller/plugins/test/goal_checker.cpp
  nav2_mppi_controller/README.md
  nav2_mppi_controller/include/nav2_mppi_controller/critics/goal_angle_critic.hpp
  nav2_mppi_controller/src/critics/goal_angle_critic.cpp
  nav2_mppi_controller/test/critics_tests.cpp
Due: ament_cpplint, ament_uncrustify

Fix github actions
  .github/workflows/lint.yml
  nav2_msgs/action/__init__.py
Due: ament_flake8, ament_pep257

Fix initialize in drive on heading action node
  nav2_behavior_tree/plugins/action/drive_on_heading_action.cpp
Due: ament_cpplint, ament_uncrustify

Revert
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/node_hybrid.cpp
Due: ament_cpplint, ament_uncrustify

Require lifecycle service client to pass node in constructor
  nav2_util/include/nav2_util/lifecycle_service_client.hpp
  nav2_util/src/lifecycle_bringup_commandline.cpp
  nav2_util/src/lifecycle_service_client.cpp
Due: ament_cpplint, ament_uncrustify

Lint
  nav2_util/include/nav2_util/lifecycle_service_client.hpp
Due: ament_cpplint, ament_uncrustify

Fix costmap intra process comms issue
  nav2_costmap_2d/src/costmap_2d_ros.cpp
Due: ament_cpplint, ament_uncrustify

Fix initialize in drive on heading action node (#5842)
  nav2_behavior_tree/plugins/action/drive_on_heading_action.cpp
Due: ament_cpplint, ament_uncrustify

Revert some changes
  nav2_docking/opennav_docking/test/test_docking_server.py
  nav2_following/opennav_following/test/test_following_server.py
  nav2_simple_commander/nav2_simple_commander/footprint_collision_checker.py
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
  nav2_system_tests/src/route/tester_node.py
Due: ament_flake8, ament_pep257

Add unit test for speed limit dynamic parameter guard
  nav2_mppi_controller/test/optimizer_unit_tests.cpp
Due: ament_cpplint, ament_uncrustify
