Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

Fix Ci from key signing (#5220)
  .circleci/config.yml
  Dockerfile
Due: none

Fixing Jazzy CI via new ROS 2 keys
  Dockerfile
Due: none

Fixing Kilted CI via new ROS 2 keys
  Dockerfile
Due: none

feat(opennav_docking): on-demand detector client & tests
  nav2_docking/README.md
  nav2_docking/opennav_docking/CMakeLists.txt
  nav2_docking/opennav_docking/include/opennav_docking/simple_charging_dock.hpp
  nav2_docking/opennav_docking/include/opennav_docking/simple_non_charging_dock.hpp
  nav2_docking/opennav_docking/package.xml
  nav2_docking/opennav_docking/src/simple_charging_dock.cpp
  nav2_docking/opennav_docking/src/simple_non_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_simple_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_simple_non_charging_dock.cpp
Due: ament_cpplint, ament_uncrustify

Undo 'Switch nav2_smac_planner to modern CMake idioms. (#4634)'
  nav2_smac_planner/CMakeLists.txt
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/include/nav2_smac_planner/collision_checker.hpp
  nav2_smac_planner/include/nav2_smac_planner/costmap_downsampler.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_2d.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_basic.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/smoother.hpp
  nav2_smac_planner/include/nav2_smac_planner/utils.hpp
  nav2_smac_planner/package.xml
  nav2_smac_planner/src/node_lattice.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/src/smoother.cpp
  nav2_smac_planner/test/CMakeLists.txt
  nav2_smac_planner/test/test_collision_checker.cpp
  nav2_smac_planner/test/test_nodebasic.cpp
Due: ament_cpplint, ament_uncrustify

costmap_2d: add function worldToMapContinuous (required by newest smac_planner)
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d.hpp
  nav2_costmap_2d/src/costmap_2d.cpp
Due: ament_cpplint, ament_uncrustify

global_planner: add cancel_checker argument to createPlan functions (required by newest smac_planner)
  nav2_core/include/nav2_core/global_planner.hpp
  nav2_navfn_planner/include/nav2_navfn_planner/navfn_planner.hpp
  nav2_navfn_planner/src/navfn_planner.cpp
  nav2_planner/src/planner_server.cpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid.hpp
  nav2_theta_star_planner/include/nav2_theta_star_planner/theta_star_planner.hpp
  nav2_theta_star_planner/src/theta_star_planner.cpp
  nav2_theta_star_planner/test/test_theta_star.cpp
Due: ament_cpplint, ament_uncrustify

Revert "Prototype solving #5192 Issue 2: Reeds-Shepp reduce small reverse expansions (#5207)"
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/test/test_a_star.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Revert "include bug fix for nav2_smac_planner (#5198)"
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/test/test_a_star.cpp
Due: ament_cpplint, ament_uncrustify

Revert "Feat/smac planner include orientation flexibility (#4127)"
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/include/nav2_smac_planner/constants.hpp
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_2d.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/lattice_primitives/sample_primitives/test/output.json
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/src/node_2d.cpp
  nav2_smac_planner/src/node_hybrid.cpp
  nav2_smac_planner/src/node_lattice.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/test/CMakeLists.txt
  nav2_smac_planner/test/test_a_star.cpp
  nav2_smac_planner/test/test_goal_manager.cpp
  nav2_smac_planner/test/test_node2d.cpp
  nav2_smac_planner/test/test_smac_hybrid.cpp
  nav2_smac_planner/test/test_smac_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Revert recent smac changes causing regressions (#5221)
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/include/nav2_smac_planner/constants.hpp
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_2d.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/lattice_primitives/sample_primitives/test/output.json
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/src/node_2d.cpp
  nav2_smac_planner/src/node_hybrid.cpp
  nav2_smac_planner/src/node_lattice.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/test/CMakeLists.txt
  nav2_smac_planner/test/test_a_star.cpp
  nav2_smac_planner/test/test_goal_manager.cpp
  nav2_smac_planner/test/test_node2d.cpp
  nav2_smac_planner/test/test_smac_hybrid.cpp
  nav2_smac_planner/test/test_smac_lattice.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Update tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
Due: ament_flake8, ament_pep257

Update tb3_simulation_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
Due: ament_flake8, ament_pep257

Smac revert changes kilted (#5222)
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/include/nav2_smac_planner/constants.hpp
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_2d.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/lattice_primitives/sample_primitives/test/output.json
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/src/node_2d.cpp
  nav2_smac_planner/src/node_hybrid.cpp
  nav2_smac_planner/src/node_lattice.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/test/CMakeLists.txt
  nav2_smac_planner/test/test_a_star.cpp
  nav2_smac_planner/test/test_goal_manager.cpp
  nav2_smac_planner/test/test_node2d.cpp
  nav2_smac_planner/test/test_smac_hybrid.cpp
  nav2_smac_planner/test/test_smac_lattice.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Disable costmap filter zones from tb3 bringup (only Tb4 enabled) (#5223)
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
Due: ament_flake8, ament_pep257

Update package.xml
  nav2_route/package.xml
Due: none

Update package.xml (#5225)
  nav2_route/package.xml
Due: none

added edge length method
  nav2_route/include/nav2_route/path_converter.hpp
  nav2_route/src/path_converter.cpp
Due: ament_cpplint, ament_uncrustify

Added corner arc class
  nav2_route/CMakeLists.txt
  nav2_route/include/nav2_route/corner_arc.hpp
  nav2_route/src/corner_arc.cpp
Due: ament_cpplint, ament_uncrustify

replaced double vectors with Coordinates, added methods to return start and end coordinates
  nav2_route/include/nav2_route/corner_arc.hpp
Due: ament_cpplint, ament_uncrustify

using Coordinates, fixed direction of tangents
  nav2_route/src/corner_arc.cpp
Due: ament_cpplint, ament_uncrustify

added corner arc in header, added logger in protected variable
  nav2_route/include/nav2_route/path_converter.hpp
Due: ament_cpplint, ament_uncrustify

first pass of corner smoothing algorithm
  nav2_route/src/path_converter.cpp
Due: ament_cpplint, ament_uncrustify

reassigning next edge to have a different start, if a corner occurs before it
  nav2_route/src/path_converter.cpp
Due: ament_cpplint, ament_uncrustify

using unique pointer instead of raw pointers for new edges and nodes
  nav2_route/src/path_converter.cpp
Due: ament_cpplint, ament_uncrustify

added smoothing parameter
  nav2_route/include/nav2_route/path_converter.hpp
  nav2_route/src/path_converter.cpp
Due: ament_cpplint, ament_uncrustify

made angle of interpolation a parameter
  nav2_route/include/nav2_route/corner_arc.hpp
  nav2_route/include/nav2_route/path_converter.hpp
  nav2_route/src/corner_arc.cpp
  nav2_route/src/path_converter.cpp
Due: ament_cpplint, ament_uncrustify

const for return methods, added flag for smoothing corners
  nav2_route/include/nav2_route/corner_arc.hpp
  nav2_route/include/nav2_route/path_converter.hpp
  nav2_route/src/corner_arc.cpp
  nav2_route/src/path_converter.cpp
Due: ament_cpplint, ament_uncrustify

moved getEdgeLength() into the Directional Edge struct
  nav2_route/include/nav2_route/corner_arc.hpp
  nav2_route/include/nav2_route/path_converter.hpp
  nav2_route/include/nav2_route/types.hpp
  nav2_route/src/corner_arc.cpp
  nav2_route/src/path_converter.cpp
Due: ament_cpplint, ament_uncrustify

using float instead of double
  nav2_route/include/nav2_route/corner_arc.hpp
  nav2_route/src/corner_arc.cpp
  nav2_route/src/path_converter.cpp
Due: ament_cpplint, ament_uncrustify

smoothing radius is float, couple methods moved to protected
  nav2_route/include/nav2_route/corner_arc.hpp
  nav2_route/include/nav2_route/path_converter.hpp
  nav2_route/src/corner_arc.cpp
  nav2_route/src/path_converter.cpp
Due: ament_cpplint, ament_uncrustify

removed signed_angle_ as a member variable
  nav2_route/include/nav2_route/corner_arc.hpp
  nav2_route/src/corner_arc.cpp
Due: ament_cpplint, ament_uncrustify

removed unnecessary member variables
  nav2_route/include/nav2_route/corner_arc.hpp
  nav2_route/src/corner_arc.cpp
Due: ament_cpplint, ament_uncrustify

removed angle of interpolation and inferring it from path density and radius instead
  nav2_route/include/nav2_route/path_converter.hpp
  nav2_route/src/path_converter.cpp
Due: ament_cpplint, ament_uncrustify

consolidated corner arc into one header function
  nav2_route/CMakeLists.txt
  nav2_route/include/nav2_route/corner_arc.hpp
  nav2_route/src/corner_arc.cpp
Due: ament_cpplint, ament_uncrustify
