Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Add support for dynamically changing keepout zone (#5429) (#5547)
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/costmap_filter.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/keepout_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
Due: ament_cpplint, ament_uncrustify

last fix typo (i hope)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/clear_costmap_service.hpp
  nav2_behavior_tree/plugins/action/clear_costmap_service.cpp
Due: ament_cpplint, ament_uncrustify

[static_layer] limit comparison precision (#5405)
  nav2_costmap_2d/include/nav2_costmap_2d/static_layer.hpp
  nav2_costmap_2d/plugins/static_layer.cpp
Due: ament_cpplint, ament_uncrustify

Reset master costmap after plugin clearing
  nav2_costmap_2d/src/clear_costmap_service.cpp
Due: ament_cpplint, ament_uncrustify

Moving Nav2 package builds to the system build job to balance CI times for CircleCI limits (#5409)
  .circleci/config.yml
Due: none

Reverting changes to update ci image workflow
  .github/workflows/update_ci_image.yaml
Due: none

corner case bin check (#5413)
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Add Pause and SequenceWithBlackboardMemory BT nodes (#5247)
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/control/pause_resume_controller.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/control/persistent_sequence.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/control/pause_resume_controller.cpp
  nav2_behavior_tree/plugins/control/persistent_sequence.cpp
  nav2_behavior_tree/test/plugins/control/CMakeLists.txt
  nav2_behavior_tree/test/plugins/control/test_pause_resume_controller.cpp
  nav2_behavior_tree/test/plugins/control/test_persistent_sequence.cpp
  nav2_behavior_tree/test/utils/get_node_from_tree.hpp
  nav2_behavior_tree/test/utils/test_dummy_tree_node.hpp
Due: ament_cpplint, ament_uncrustify

CI Limits: Moving MPPI, Smac to secondary job (#5401)
  .circleci/config.yml
Due: none

[DEX] Enforce 3 digits precision (#5398)
  nav2_map_server/include/nav2_map_server/map_io.hpp
  nav2_map_server/src/map_io.cpp
Due: ament_cpplint, ament_uncrustify

Support loading multiple behavior tree files as subtrees (#5426)
  nav2_behavior_tree/include/nav2_behavior_tree/behavior_tree_engine.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_behavior_tree/src/behavior_tree_engine.cpp
  nav2_bringup/params/nav2_params.yaml
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
  nav2_core/include/nav2_core/behavior_tree_navigator.hpp
  nav2_system_tests/src/behavior_tree/test_behavior_tree_node.cpp
Due: ament_cpplint, ament_uncrustify

Fix pose timestamp when using transformPoseInTargetFrame (#5499)
  nav2_controller/src/controller_server.cpp
  nav2_dwb_controller/dwb_core/src/dwb_local_planner.cpp
  nav2_route/src/goal_intent_extractor.cpp
Due: ament_cpplint, ament_uncrustify

Fix lifecycle manager deadlock during shutdown (#5438)
  nav2_ros_common/include/nav2_ros_common/service_client.hpp
  nav2_util/include/nav2_util/lifecycle_service_client.hpp
Due: ament_cpplint, ament_uncrustify

Add a service for enabling/disabling the collision monitor (#5493)
  nav2_collision_monitor/include/nav2_collision_monitor/collision_monitor_node.hpp
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
  nav2_msgs/CMakeLists.txt
  nav2_msgs/srv/Toggle.srv
Due: ament_cpplint, ament_uncrustify

Fix seg fault (#5501)
  nav2_smac_planner/src/node_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Fix/dependency and header (#5520)
  nav2_mppi_controller/package.xml
  nav2_smac_planner/src/a_star.cpp
Due: ament_cpplint, ament_uncrustify

Construct TF listeners passing nodes, spinning on separate thread (#5406)
  nav2_amcl/src/amcl_node.cpp
  nav2_behaviors/src/behavior_server.cpp
  nav2_bt_navigator/src/bt_navigator.cpp
  nav2_collision_monitor/src/collision_detector_node.cpp
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_route/src/route_server.cpp
  nav2_smoother/src/nav2_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Fix/prevent warning when loading bt (#5494)
  nav2_behavior_tree/include/nav2_behavior_tree/behavior_tree_engine.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_behavior_tree/src/behavior_tree_engine.cpp
  nav2_bt_navigator/behavior_trees/follow_point.xml
  nav2_bt_navigator/behavior_trees/nav_to_pose_with_consistent_replanning_and_if_path_becomes_invalid.xml
  nav2_bt_navigator/behavior_trees/navigate_on_route_graph_w_recovery.xml
  nav2_bt_navigator/behavior_trees/navigate_through_poses_w_replanning_and_recovery.xml
  nav2_bt_navigator/behavior_trees/navigate_to_pose_w_replanning_and_recovery.xml
  nav2_bt_navigator/behavior_trees/navigate_to_pose_w_replanning_goal_patience_and_recovery.xml
  nav2_bt_navigator/behavior_trees/navigate_w_recovery_and_replanning_only_if_path_becomes_invalid.xml
  nav2_bt_navigator/behavior_trees/navigate_w_replanning_distance.xml
  nav2_bt_navigator/behavior_trees/navigate_w_replanning_only_if_goal_is_updated.xml
  nav2_bt_navigator/behavior_trees/navigate_w_replanning_only_if_path_becomes_invalid.xml
  nav2_bt_navigator/behavior_trees/navigate_w_replanning_speed.xml
  nav2_bt_navigator/behavior_trees/navigate_w_replanning_time.xml
  nav2_bt_navigator/behavior_trees/navigate_w_routing_global_planning_and_control_w_recovery.xml
  nav2_bt_navigator/behavior_trees/odometry_calibration.xml
  nav2_bt_navigator/src/navigators/navigate_through_poses.cpp
  nav2_bt_navigator/src/navigators/navigate_to_pose.cpp
  nav2_system_tests/src/behavior_tree/test_behavior_tree_node.cpp
  nav2_system_tests/src/system/nav_through_poses_tester_error_msg_node.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

feat(opennav_docking): add on-demand detector client & unit tests for dock plugins (#5015) (#5218)
  nav2_docking/README.md
  nav2_docking/opennav_docking/CMakeLists.txt
  nav2_docking/opennav_docking/include/opennav_docking/simple_charging_dock.hpp
  nav2_docking/opennav_docking/include/opennav_docking/simple_non_charging_dock.hpp
  nav2_docking/opennav_docking/package.xml
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_docking/opennav_docking/src/simple_charging_dock.cpp
  nav2_docking/opennav_docking/src/simple_non_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_docking_server.py
  nav2_docking/opennav_docking/test/test_docking_server_unit.cpp
  nav2_docking/opennav_docking/test/test_simple_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_simple_non_charging_dock.cpp
  nav2_docking/opennav_docking/test/testing_dock.cpp
  nav2_docking/opennav_docking_core/include/opennav_docking_core/charging_dock.hpp
  nav2_docking/opennav_docking_core/include/opennav_docking_core/non_charging_dock.hpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

fix(nav2_theta_star_planner): Correct typo in CMakeLists ament_export_dependencies (#5514)
  nav2_theta_star_planner/CMakeLists.txt
Due: none

Fix duplicate poses with computePlanThroughPoses (#5488)
  nav2_planner/src/planner_server.cpp
Due: ament_cpplint, ament_uncrustify

Revert double spin (#5477)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/controller_selector_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/goal_checker_selector_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/planner_selector_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/progress_checker_selector_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/smoother_selector_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_battery_charging_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_battery_low_condition.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/decorator/goal_updater_node.hpp
  nav2_behavior_tree/plugins/action/controller_selector_node.cpp
  nav2_behavior_tree/plugins/action/goal_checker_selector_node.cpp
  nav2_behavior_tree/plugins/action/planner_selector_node.cpp
  nav2_behavior_tree/plugins/action/progress_checker_selector_node.cpp
  nav2_behavior_tree/plugins/action/smoother_selector_node.cpp
  nav2_behavior_tree/plugins/condition/is_battery_charging_condition.cpp
  nav2_behavior_tree/plugins/condition/is_battery_low_condition.cpp
  nav2_behavior_tree/plugins/decorator/goal_updater_node.cpp
  nav2_behavior_tree/test/plugins/action/test_controller_selector_node.cpp
  nav2_behavior_tree/test/plugins/action/test_goal_checker_selector_node.cpp
  nav2_behavior_tree/test/plugins/action/test_planner_selector_node.cpp
  nav2_behavior_tree/test/plugins/action/test_progress_checker_selector_node.cpp
  nav2_behavior_tree/test/plugins/action/test_smoother_selector_node.cpp
  nav2_behavior_tree/test/plugins/condition/test_is_battery_charging.cpp
  nav2_behavior_tree/test/plugins/condition/test_is_battery_low.cpp
  nav2_behavior_tree/test/plugins/decorator/test_goal_updater_node.cpp
  nav2_route/test/test_graph_loader.cpp
  nav2_route/test/test_graph_saver.cpp
Due: ament_cpplint, ament_uncrustify

Replace last pose if only orientation differs in Navfn (#5490)
  nav2_navfn_planner/src/navfn_planner.cpp
Due: ament_cpplint, ament_uncrustify

TODO
  nav2_costmap_2d/src/clear_costmap_service.cpp
Due: ament_cpplint, ament_uncrustify

Feature/vector object server (#5479)
  nav2_collision_monitor/include/nav2_collision_monitor/polygon.hpp
  nav2_collision_monitor/src/polygon.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/costmap_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/binary_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/costmap_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/speed_filter.cpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/src/costmap_2d.cpp
  nav2_costmap_2d/test/regression/CMakeLists.txt
  nav2_costmap_2d/test/regression/costmap_bresenham_2d.cpp
  nav2_costmap_2d/test/unit/costmap_filter_test.cpp
  nav2_map_server/CMakeLists.txt
  nav2_map_server/include/nav2_map_server/vector_object_server.hpp
  nav2_map_server/include/nav2_map_server/vector_object_shapes.hpp
  nav2_map_server/include/nav2_map_server/vector_object_utils.hpp
  nav2_map_server/launch/vector_object_server.launch.py
  nav2_map_server/package.xml
  nav2_map_server/params/vector_object_server_params.yaml
  nav2_map_server/src/vo_server/main.cpp
  nav2_map_server/src/vo_server/vector_object_server.cpp
  nav2_map_server/src/vo_server/vector_object_shapes.cpp
  nav2_map_server/test/unit/CMakeLists.txt
  nav2_map_server/test/unit/test_vector_object_server.cpp
  nav2_map_server/test/unit/test_vector_object_shapes.cpp
  nav2_msgs/CMakeLists.txt
  nav2_msgs/msg/CircleObject.msg
  nav2_msgs/msg/PolygonObject.msg
  nav2_msgs/package.xml
  nav2_msgs/srv/AddShapes.srv
  nav2_msgs/srv/GetShapes.srv
  nav2_msgs/srv/RemoveShapes.srv
  nav2_util/include/nav2_util/geometry_utils.hpp
  nav2_util/include/nav2_util/occ_grid_utils.hpp
  nav2_util/include/nav2_util/raytrace_line_2d.hpp
  nav2_util/test/CMakeLists.txt
  nav2_util/test/regression/CMakeLists.txt
  nav2_util/test/regression/map_bresenham_2d.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Calculate next path point using lookahead for Graceful Controller (#5003)
  nav2_graceful_controller/include/nav2_graceful_controller/graceful_controller.hpp
  nav2_graceful_controller/src/graceful_controller.cpp
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
  nav2_util/include/nav2_util/controller_utils.hpp
  nav2_util/src/CMakeLists.txt
  nav2_util/src/controller_utils.cpp
  nav2_util/test/CMakeLists.txt
  nav2_util/test/test_controller_utils.cpp
Due: ament_cpplint, ament_uncrustify

nav2_route vizualization marker rendering performance improvement (#5452)
  nav2_route/include/nav2_route/utils.hpp
  nav2_route/test/test_utils_and_types.cpp
Due: ament_cpplint, ament_uncrustify

Removing openMP dep on MPPI (#5506)
  nav2_mppi_controller/package.xml
Due: none

fix: Move SmootherParams declaration outside smooth_path conditional (#5473)
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Fix KeepoutFilter on the ARM architecture (#5436)
  nav2_costmap_2d/plugins/costmap_filters/costmap_filter.cpp
Due: ament_cpplint, ament_uncrustify

add bt nodes GetCurrentPose, ConcatenatePaths, WouldARouteRecoveryHelp, ArePosesNear to nav2_tree_nodes.xml (#5534)
  nav2_behavior_tree/nav2_tree_nodes.xml
Due: none

default empty constructor (#5518)
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_core/include/nav2_core/behavior_tree_navigator.hpp
Due: ament_cpplint, ament_uncrustify

Fix missing dependency (#5460)
  nav2_loopback_sim/package.xml
Due: none

Include 3Laws Robotics in README partners section
  README.md
Due: none

Make pause resume controller use nav2::LifecycleNode (#5427)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/control/pause_resume_controller.hpp
  nav2_behavior_tree/plugins/control/pause_resume_controller.cpp
  nav2_behavior_tree/test/plugins/control/test_pause_resume_controller.cpp
  nav2_behavior_tree/test/utils/get_node_from_tree.hpp
Due: ament_cpplint, ament_uncrustify

Add custom window size and poly order for SG filter (#5489)
  nav2_smoother/CMakeLists.txt
  nav2_smoother/include/nav2_smoother/savitzky_golay_smoother.hpp
  nav2_smoother/package.xml
  nav2_smoother/src/savitzky_golay_smoother.cpp
  tools/smoother_benchmarking/smoother_benchmark_bringup.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Adding 3Laws Sponsors Sept 2025 (#5505)
  README.md
  doc/sponsors_sept_2025.png
Due: none

fix naming for nav2_path_expiring_timer_condition_bt_node (#5471)
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/test/plugins/condition/CMakeLists.txt
Due: none

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
