Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

[costmap_filters] ZoneParameterFilter: init-time param clients + drop readiness probe
  nav2_costmap_2d/plugins/costmap_filters/zone_parameter_filter.cpp
Due: ament_cpplint, ament_uncrustify

[costmap_filters] ZoneParameterFilter: replace colon-encoded keys with structured StateParamEntry
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/zone_parameter_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/zone_parameter_filter.cpp
Due: ament_cpplint, ament_uncrustify

updating comment
  nav2_mppi_controller/include/nav2_mppi_controller/tools/utils.hpp
Due: ament_cpplint, ament_uncrustify

[costmap_filters] ZoneParameterFilter: expand test coverage 13 → 30 cases
  nav2_costmap_2d/test/unit/zone_parameter_filter_test.cpp
Due: ament_cpplint, ament_uncrustify

Update BehaviorTree.CPP repository URL and version
  tools/underlay.repos
Due: none

Update BehaviorTree.CPP version to latest commit
  tools/underlay.repos
Due: none

Comment out rosdep update in Dockerfile
  Dockerfile
Due: none

Update underlay.repos
  tools/underlay.repos
Due: none

Update package xml
  nav2_waypoint_follower/package.xml
Due: none

Add ros2/rviz with pinned version
  tools/underlay.repos
Due: none

Change base class from nav2_waypoint_follower to nav2_core (#6094)
  nav2_waypoint_follower/CMakeLists.txt
  nav2_waypoint_follower/package.xml
  nav2_waypoint_follower/src/waypoint_follower.cpp
Due: ament_cpplint, ament_uncrustify

please pre-commit
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

ported over to rolling
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_bringup/params/nav2_params.yaml
  nav2_costmap_2d/CMakeLists.txt
  nav2_costmap_2d/costmap_plugins.xml
  nav2_costmap_2d/include/nav2_costmap_2d/asymmetric_inflation_layer.hpp
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
  nav2_costmap_2d/test/integration/CMakeLists.txt
  nav2_costmap_2d/test/integration/asymmetric_inflation_tests.cpp
  nav2_costmap_2d/test/unit/CMakeLists.txt
  nav2_costmap_2d/test/unit/asymmetric_inflation_layer_test.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

renamed test file, added correct license headers
  nav2_costmap_2d/include/nav2_costmap_2d/asymmetric_inflation_layer.hpp
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
  nav2_costmap_2d/test/benchmark/CMakeLists.txt
  nav2_costmap_2d/test/benchmark/asymmetric_inflation_overhead_benchmark.cpp
  nav2_costmap_2d/test/benchmark/asymmetric_layer_updatecosts_benchmark.cpp
Due: ament_cpplint, ament_uncrustify

update bounds iteratively
  nav2_bringup/params/nav2_params.yaml
  nav2_costmap_2d/include/nav2_costmap_2d/asymmetric_inflation_layer.hpp
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

improved efficiency of getObstacleSide
  nav2_costmap_2d/include/nav2_costmap_2d/asymmetric_inflation_layer.hpp
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
  nav2_costmap_2d/test/benchmark/CMakeLists.txt
  nav2_costmap_2d/test/benchmark/asymmetric_inflation_layer_benchmark.cpp
  nav2_costmap_2d/test/benchmark/asymmetric_inflation_overhead_benchmark.cpp
  nav2_costmap_2d/test/unit/asymmetric_inflation_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

fix linting errors
  nav2_costmap_2d/include/nav2_costmap_2d/asymmetric_inflation_layer.hpp
  nav2_costmap_2d/plugins/asymmetric_inflation_layer.cpp
  nav2_costmap_2d/test/unit/asymmetric_inflation_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

revert unintended changes to nav2_bringup
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_bringup/launch/tb4_simulation_launch.py
  nav2_bringup/params/nav2_params.yaml
Due: ament_flake8, ament_pep257

Fix memory leak in AmclNode by deleting Laser objects before clearing vector (#5902)
  nav2_amcl/include/nav2_amcl/amcl_node.hpp
  nav2_amcl/src/amcl_node.cpp
Due: ament_cpplint, ament_uncrustify

fix: ensure proper reinflation handling to avoid double full-map updates (#5915)
  nav2_costmap_2d/include/nav2_costmap_2d/inflation_layer.hpp
  nav2_costmap_2d/plugins/inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

Use a child logger in ros_topic_logger for better log categorization + nicer logging (#5949)
  nav2_behavior_tree/include/nav2_behavior_tree/ros_topic_logger.hpp
Due: ament_cpplint, ament_uncrustify

Merge commit from fork
  nav2_util/include/nav2_util/validate_messages.hpp
Due: ament_cpplint, ament_uncrustify

Invalidate current_ on dynamic parameter changes (#5927)
  nav2_costmap_2d/plugins/inflation_layer.cpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/plugins/voxel_layer.cpp
Due: ament_cpplint, ament_uncrustify

fix(nav2_collision_monitor): use velocity magnitude for holonomic checks (#5954)
  nav2_collision_monitor/src/velocity_polygon.cpp
  nav2_collision_monitor/test/velocity_polygons_test.cpp
Due: ament_cpplint, ament_uncrustify

Revert "Invalidate current_ on dynamic parameter changes (#5927)"
  nav2_costmap_2d/plugins/inflation_layer.cpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/plugins/voxel_layer.cpp
Due: ament_cpplint, ament_uncrustify

Fix CostmapSubscriber isCostmapReceived data race (#6009) (#6026)
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_subscriber.hpp
Due: ament_cpplint, ament_uncrustify

Enhance bounds calculation for rolling costmaps in StaticLayer (#6064)
  nav2_costmap_2d/plugins/static_layer.cpp
Due: ament_cpplint, ament_uncrustify

fix: add world-distance pre-filter to ObstacleLayer (#6092)
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/test/unit/obstacle_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

check if a file was loaded before clearing the graph (#6103)
  nav2_rviz_plugins/src/route_tool.cpp
Due: ament_cpplint, ament_uncrustify

Smoothing the temp accel logger
  nav2_mppi_controller/include/nav2_mppi_controller/optimizer.hpp
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Incremental updates for the low acceleration task
  dexory_acceleration_notes.md
  dexory_graphics/after.png
  dexory_graphics/after_full_accel.png
  dexory_graphics/after_linear_accel_closed_loop_low_accel.png
  dexory_graphics/after_linear_accel_closed_loop_low_accel_model_dt_equal_control_freq.png
  dexory_graphics/after_linear_accel_open_loop_low_accel_model_dt_equal_control_frequency.png
  dexory_graphics/after_open_loop.png
  dexory_graphics/before.png
  dexory_graphics/before_full_accel.png
  dexory_graphics/before_linear_accel_closed_loop_low_accel.png
  dexory_graphics/before_open_loop.png
  nav2_bringup/params/nav2_params.yaml
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/optimizer.hpp
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Completed solution documentation
  low_accel_graphics/all_changes_clamped_controls_again.png
  low_accel_notes.md
Due: none

Updating default for Tony
  nav2_bringup/params/nav2_params.yaml
Due: none

Doc updates for barnch switching magic
  low_accel_notes.md
Due: none

Added support for MPPI Controller to adjust wz_std parameter based on linear speed
  nav2_mppi_controller/README.md
  nav2_mppi_controller/include/nav2_mppi_controller/models/constraints.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/models/optimizer_settings.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/models/state.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/optimizer.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/tools/noise_generator.hpp
  nav2_mppi_controller/src/noise_generator.cpp
  nav2_mppi_controller/src/optimizer.cpp
  nav2_mppi_controller/test/critics_tests.cpp
  nav2_mppi_controller/test/models_test.cpp
  nav2_mppi_controller/test/motion_model_tests.cpp
  nav2_mppi_controller/test/optimizer_unit_tests.cpp
Due: ament_cpplint, ament_uncrustify

Expose SGF order to a parameter
  nav2_mppi_controller/include/nav2_mppi_controller/models/optimizer_settings.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/tools/utils.hpp
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Removing old debugging artifacts
  low_accel_notes.md
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
Due: ament_cpplint, ament_uncrustify

Added support for MPPI Controller to adjust wz_std parameter based on linear speed
  nav2_mppi_controller/test/noise_generator_test.cpp
Due: ament_cpplint, ament_uncrustify
