Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Add utils test
  nav2_docking/opennav_docking/CMakeLists.txt
  nav2_docking/opennav_docking/test/dock_files/test_dock_bad_conversion_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_bad_pose_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_no_pose_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_no_type_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_no_docks_file.yaml
  nav2_docking/opennav_docking/test/test_dock_database.cpp
  nav2_docking/opennav_docking/test/test_utils.cpp
Due: ament_cpplint, ament_uncrustify

Add dock_database tests
  nav2_docking/opennav_docking/CMakeLists.txt
  nav2_docking/opennav_docking/src/dock_database.cpp
  nav2_docking/opennav_docking/test/test_dock_database.cpp
  nav2_docking/opennav_docking/test/test_dock_database_file.yaml
Due: ament_cpplint, ament_uncrustify

Added simple charging tests
  nav2_docking/opennav_docking/test/test_simple_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_simple_non_charging_dock.cpp
Due: ament_cpplint, ament_uncrustify

Improve filter tests
  nav2_docking/opennav_docking/test/test_pose_filter.cpp
Due: ament_cpplint, ament_uncrustify

Revert "Change test period to reduce test time"
  nav2_docking/opennav_docking/test/test_docking_server.py
Due: ament_flake8, ament_pep257

Take flip part out of if-else
  nav2_map_server/src/map_io.cpp
Due: ament_cpplint, ament_uncrustify

Update pre-commit changes
  nav2_map_server/src/map_io.cpp
Due: ament_cpplint, ament_uncrustify

Fix CI builds
  tools/underlay.repos
Due: none

Update map_io library to use Eigen method for faster map loading (#5071)
  nav2_map_server/src/map_io.cpp
Due: ament_cpplint, ament_uncrustify

Fix CI builds (#5104)
  tools/underlay.repos
Due: none

fix MPPI goal critic inversion (#5088)
  nav2_mppi_controller/include/nav2_mppi_controller/critics/goal_critic.hpp
  nav2_mppi_controller/src/critics/goal_critic.cpp
Due: ament_cpplint, ament_uncrustify

Only validating params that are part of the plugin
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

Increase docking coverage && fix backward docking (#5097)
  nav2_docking/opennav_docking/CMakeLists.txt
  nav2_docking/opennav_docking/src/dock_database.cpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_docking/opennav_docking/test/CMakeLists.txt
  nav2_docking/opennav_docking/test/dock_files/test_dock_bad_conversion_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_bad_pose_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_no_pose_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_no_type_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_no_docks_file.yaml
  nav2_docking/opennav_docking/test/docking_params.yaml
  nav2_docking/opennav_docking/test/test_dock_database.cpp
  nav2_docking/opennav_docking/test/test_docking_server.py
  nav2_docking/opennav_docking/test/test_pose_filter.cpp
  nav2_docking/opennav_docking/test/test_simple_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_simple_non_charging_dock.cpp
  nav2_docking/opennav_docking/test/test_utils.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Precompute yaw trigonometric values in smac planner
  nav2_smac_planner/include/nav2_smac_planner/utils.hpp
Due: ament_cpplint, ament_uncrustify

Support zero value for std_wz in mppi controller
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Initialize dock backwards
  nav2_docking/opennav_docking/src/docking_server.cpp
Due: ament_cpplint, ament_uncrustify

Initialize dock backwards (#5114)
  nav2_docking/opennav_docking/src/docking_server.cpp
Due: ament_cpplint, ament_uncrustify

Precompute yaw trigonometric values in smac planner (#5109)
  nav2_smac_planner/include/nav2_smac_planner/utils.hpp
Due: ament_cpplint, ament_uncrustify

Addition of Nav2_toolkit
  nav2_bringup/launch/pose_persistent_launch.py
  nav2_bringup/params/nav2_params.yaml
  nav2_toolkit/CMakeLists.txt
  nav2_toolkit/README.md
  nav2_toolkit/config/last_known_pose.yaml
  nav2_toolkit/include/nav2_pose_saver/pose_saver_node.hpp
  nav2_toolkit/launch/pose_saver.launch.py
  nav2_toolkit/package.xml
  nav2_toolkit/src/pose_saver_node.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

include functionality to allow multiple goal heading for smac planner
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/include/nav2_smac_planner/constants.hpp
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_2d.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/lattice_primitives/sample_primitives/test/output.json
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/src/node_2d.cpp
  nav2_smac_planner/src/node_hybrid.cpp
  nav2_smac_planner/src/node_lattice.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/test/CMakeLists.txt
  nav2_smac_planner/test/test_a_star.cpp
  nav2_smac_planner/test/test_goal_manager.cpp
  nav2_smac_planner/test/test_node2d.cpp
  nav2_smac_planner/test/test_smac_hybrid.cpp
  nav2_smac_planner/test/test_smac_lattice.cpp
Due: ament_cpplint, ament_uncrustify

include missing parameter inclusion
  nav2_smac_planner/src/smac_planner_hybrid.cpp
Due: ament_cpplint, ament_uncrustify

increase test coverage
  nav2_smac_planner/test/test_smac_hybrid.cpp
Due: ament_cpplint, ament_uncrustify

Feat/smac planner include orientation flexibility (#4127)
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/include/nav2_smac_planner/constants.hpp
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_2d.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/lattice_primitives/sample_primitives/test/output.json
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/src/node_2d.cpp
  nav2_smac_planner/src/node_hybrid.cpp
  nav2_smac_planner/src/node_lattice.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/test/CMakeLists.txt
  nav2_smac_planner/test/test_a_star.cpp
  nav2_smac_planner/test/test_goal_manager.cpp
  nav2_smac_planner/test/test_node2d.cpp
  nav2_smac_planner/test/test_smac_hybrid.cpp
  nav2_smac_planner/test/test_smac_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Fixed bugs
  nav2_bringup/launch/pose_persistent_launch.py
  nav2_bringup/params/nav2_params.yaml
  nav2_toolkit/CMakeLists.txt
  nav2_toolkit/README.md
  nav2_toolkit/include/nav2_toolkit/pose_saver_node.hpp
  nav2_toolkit/launch/pose_saver.launch.py
  nav2_toolkit/package.xml
  nav2_toolkit/src/pose_saver_node.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Update for better readability
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Support zero value for std_wz in mppi controller (#5110)
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

adding jazzy CI prototype
  .github/workflows/lint.yml
  Dockerfile
  tools/distro.Dockerfile
  tools/underlay.repos
Due: none

changing base image
  .circleci/config.yml
Due: none

Update update_ci_image.yaml to include jazzy build
  .github/workflows/update_ci_image.yaml
Due: none

setting up CI image for jazzy
  .circleci/config.yml
  .github/workflows/update_ci_image.yaml
Due: none

Update update_ci_image.yaml to include jazzy build (#5120)
  .github/workflows/update_ci_image.yaml
Due: none

Update update_ci_image.yaml to create jazzy CI base image
  .github/workflows/update_ci_image.yaml
Due: none

Adding CI to Jazzy branch (#5119)
  .circleci/config.yml
  .github/workflows/lint.yml
  Dockerfile
  tools/distro.Dockerfile
  tools/underlay.repos
Due: none

adding dev container support
  .devcontainer/devcontainer.json
Due: none

Update update_ci_image.yaml to add humble
  .github/workflows/update_ci_image.yaml
Due: none

Adding CI to humble branch
  .circleci/config.yml
  .devcontainer/devcontainer.json
  .github/workflows/update_ci_image.yaml
  Dockerfile
  tools/distro.Dockerfile
Due: none

Adding CI to humble branch (#5122)
  .circleci/config.yml
  .devcontainer/devcontainer.json
  .github/workflows/update_ci_image.yaml
  Dockerfile
  tools/distro.Dockerfile
Due: none

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
