Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

WIP: ZoneParameterFilter — plugin scaffold + test scaffold (slice 1, ~80%)
  nav2_costmap_2d/CMakeLists.txt
  nav2_costmap_2d/costmap_plugins.xml
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/filter_values.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/zone_parameter_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/zone_parameter_filter.cpp
  nav2_costmap_2d/test/unit/CMakeLists.txt
  nav2_costmap_2d/test/unit/zone_parameter_filter_test.cpp
Due: ament_cpplint, ament_uncrustify

fix(zone_parameter_filter): apply CI lint feedback (codespell + uncrustify)
  nav2_costmap_2d/plugins/costmap_filters/zone_parameter_filter.cpp
  nav2_costmap_2d/test/unit/zone_parameter_filter_test.cpp
Due: ament_cpplint, ament_uncrustify

fix(zone_parameter_filter): explicit target_nodes + 4 audit-driven tests
  nav2_costmap_2d/plugins/costmap_filters/zone_parameter_filter.cpp
  nav2_costmap_2d/test/unit/zone_parameter_filter_test.cpp
Due: ament_cpplint, ament_uncrustify

Update default deceleration and update README
  nav2_docking/README.md
  nav2_docking/opennav_docking/src/controller.cpp
  nav2_graceful_controller/README.md
Due: ament_cpplint, ament_uncrustify

refactor(costmap_type_adapter): remove metadata field from Costmap2DStamped
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_type_adapter.hpp
  nav2_costmap_2d/src/costmap_2d_publisher.cpp
  nav2_costmap_2d/test/benchmark/costmap_type_adapter_benchmark.cpp
Due: ament_cpplint, ament_uncrustify

fix(mypy): update pyproject.toml to pass ament_mypy on rolling
  tools/pyproject.toml
Due: none

Update following_server.cpp
  nav2_following/opennav_following/src/following_server.cpp
Due: ament_cpplint, ament_uncrustify

warn when coarse < fine
  nav2_controller/plugins/adaptive_tolerance_goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

Fix build with missing conversions in nav2_behavior_tree/plugins/decorator/goal_updater_node.cpp and nav2_following/opennav_following/src/following_server.cpp.
  nav2_behavior_tree/plugins/decorator/goal_updater_node.cpp
  nav2_following/opennav_following/src/following_server.cpp
Due: ament_cpplint, ament_uncrustify

Add D* Lite global planner plugin
  nav2_dstar_lite_planner/BENCHMARK.md
  nav2_dstar_lite_planner/CMakeLists.txt
  nav2_dstar_lite_planner/README.md
  nav2_dstar_lite_planner/benchmark/CMakeLists.txt
  nav2_dstar_lite_planner/benchmark/benchmark_report.md
  nav2_dstar_lite_planner/benchmark/benchmark_results.json
  nav2_dstar_lite_planner/benchmark/dstar_lite_benchmark.cpp
  nav2_dstar_lite_planner/benchmark/generate_report.py
  nav2_dstar_lite_planner/dstar_lite_planner.xml
  nav2_dstar_lite_planner/include/nav2_dstar_lite_planner/dstar_lite.hpp
  nav2_dstar_lite_planner/include/nav2_dstar_lite_planner/dstar_lite_planner.hpp
  nav2_dstar_lite_planner/include/nav2_dstar_lite_planner/parameter_handler.hpp
  nav2_dstar_lite_planner/package.xml
  nav2_dstar_lite_planner/src/dstar_lite.cpp
  nav2_dstar_lite_planner/src/dstar_lite_planner.cpp
  nav2_dstar_lite_planner/src/parameter_handler.cpp
  nav2_dstar_lite_planner/summary.md
  nav2_dstar_lite_planner/test/test_dstar_lite.cpp
  navigation2/package.xml
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Add DStarLite Python benchmarking scripts
  tools/planner_benchmarking/dstar_lite_bringup.py
  tools/planner_benchmarking/dstar_lite_metrics.py
Due: ament_flake8, ament_pep257

Fix lint issues: cpplint, uncrustify, mypy
  CLAUDE.md
  nav2_dstar_lite_planner/benchmark/dstar_lite_benchmark.cpp
  nav2_dstar_lite_planner/benchmark/generate_report.py
  nav2_dstar_lite_planner/include/nav2_dstar_lite_planner/dstar_lite_planner.hpp
  nav2_dstar_lite_planner/src/dstar_lite.cpp
  nav2_dstar_lite_planner/src/dstar_lite_planner.cpp
  nav2_dstar_lite_planner/src/parameter_handler.cpp
  nav2_dstar_lite_planner/test/test_dstar_lite.cpp
  tools/planner_benchmarking/dstar_lite_bringup.py
  tools/planner_benchmarking/dstar_lite_metrics.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Fix pre-commit and pep257 lint issues
  nav2_dstar_lite_planner/benchmark/generate_report.py
  tools/.codespell_ignore_words
Due: ament_flake8, ament_pep257

Fix CMake for CI: use target_link_libraries with distro fallback
  nav2_dstar_lite_planner/CMakeLists.txt
  nav2_dstar_lite_planner/benchmark/CMakeLists.txt
Due: none

Replace with isGoalXYReached API
  nav2_controller/include/nav2_controller/plugins/axis_goal_checker.hpp
  nav2_controller/include/nav2_controller/plugins/position_goal_checker.hpp
  nav2_controller/include/nav2_controller/plugins/simple_goal_checker.hpp
  nav2_controller/include/nav2_controller/plugins/stopped_goal_checker.hpp
  nav2_controller/plugins/axis_goal_checker.cpp
  nav2_controller/plugins/position_goal_checker.cpp
  nav2_controller/plugins/simple_goal_checker.cpp
  nav2_controller/plugins/stopped_goal_checker.cpp
  nav2_core/include/nav2_core/goal_checker.hpp
  nav2_graceful_controller/include/nav2_graceful_controller/graceful_controller.hpp
  nav2_graceful_controller/src/graceful_controller.cpp
  nav2_mppi_controller/test/utils_test.cpp
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/regulated_pure_pursuit_controller.hpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
  nav2_rotation_shim_controller/include/nav2_rotation_shim_controller/nav2_rotation_shim_controller.hpp
  nav2_rotation_shim_controller/src/nav2_rotation_shim_controller.cpp
Due: ament_cpplint, ament_uncrustify

Fix header include for cross-distro compatibility
  nav2_dstar_lite_planner/include/nav2_dstar_lite_planner/dstar_lite_planner.hpp
  nav2_dstar_lite_planner/src/dstar_lite.cpp
Due: ament_cpplint, ament_uncrustify

Remove unused nav2_util includes for cross-distro compatibility
  nav2_dstar_lite_planner/include/nav2_dstar_lite_planner/dstar_lite_planner.hpp
Due: ament_cpplint, ament_uncrustify

Fix GlobalPlanner interface for Rolling/Jazzy compatibility
  nav2_dstar_lite_planner/include/nav2_dstar_lite_planner/dstar_lite_planner.hpp
  nav2_dstar_lite_planner/src/dstar_lite_planner.cpp
Due: ament_cpplint, ament_uncrustify

Fix uncrustify formatting and update CLAUDE.md with commit identity
  CLAUDE.md
  nav2_dstar_lite_planner/src/dstar_lite_planner.cpp
Due: ament_cpplint, ament_uncrustify

Fix flake8 unused imports and add missing Apache 2.0 license header
  nav2_dstar_lite_planner/benchmark/generate_report.py
  tools/planner_benchmarking/dstar_lite_bringup.py
Due: ament_flake8, ament_pep257

Switch to Rolling-only: remove Humble compat conditionals, add Docker test
  CLAUDE.md
  nav2_dstar_lite_planner/Dockerfile
  nav2_dstar_lite_planner/include/nav2_dstar_lite_planner/dstar_lite_planner.hpp
  nav2_dstar_lite_planner/package.xml
  nav2_dstar_lite_planner/src/dstar_lite.cpp
  nav2_dstar_lite_planner/src/dstar_lite_planner.cpp
Due: ament_cpplint, ament_uncrustify

Update
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
Due: ament_cpplint, ament_uncrustify

fix ambiguity error on comparisons between rclcpp::Time and builtin_interfaces::msg::Time
  nav2_behavior_tree/plugins/decorator/goal_updater_node.cpp
  nav2_behavior_tree/test/plugins/action/test_compute_and_track_route_action.cpp
  nav2_behavior_tree/test/plugins/action/test_compute_route_action.cpp
  nav2_dwb_controller/nav_2d_utils/test/2d_utils_test.cpp
  nav2_following/opennav_following/src/following_server.cpp
Due: ament_cpplint, ament_uncrustify

init: add CLAUDE.md with build/test commands and architecture overview
  CLAUDE.md
Due: none

docs(claude): hierarchical AI assistant guides per package
  CLAUDE.md
  nav2_amcl/CLAUDE.md
  nav2_behavior_tree/CLAUDE.md
  nav2_behaviors/CLAUDE.md
  nav2_bringup/CLAUDE.md
  nav2_bt_navigator/CLAUDE.md
  nav2_collision_monitor/CLAUDE.md
  nav2_common/CLAUDE.md
  nav2_constrained_smoother/CLAUDE.md
  nav2_controller/CLAUDE.md
  nav2_core/CLAUDE.md
  nav2_costmap_2d/CLAUDE.md
  nav2_docking/CLAUDE.md
  nav2_dwb_controller/CLAUDE.md
  nav2_following/CLAUDE.md
  nav2_graceful_controller/CLAUDE.md
  nav2_lifecycle_manager/CLAUDE.md
  nav2_map_server/CLAUDE.md
  nav2_mppi_controller/CLAUDE.md
  nav2_navfn_planner/CLAUDE.md
  nav2_planner/CLAUDE.md
  nav2_regulated_pure_pursuit_controller/CLAUDE.md
  nav2_ros_common/CLAUDE.md
  nav2_rotation_shim_controller/CLAUDE.md
  nav2_route/CLAUDE.md
  nav2_simple_commander/CLAUDE.md
  nav2_smac_planner/CLAUDE.md
  nav2_smoother/CLAUDE.md
  nav2_system_tests/CLAUDE.md
  nav2_theta_star_planner/CLAUDE.md
  nav2_util/CLAUDE.md
  nav2_velocity_smoother/CLAUDE.md
  nav2_waypoint_follower/CLAUDE.md
  templates/CLAUDE.library-package.md
  templates/CLAUDE.plugin-package.md
  templates/CLAUDE.python-package.md
  templates/CLAUDE.server-package.md
Due: none

[Graceful Controller] Add deceleration limit (#5511)
  nav2_docking/README.md
  nav2_docking/opennav_docking/include/opennav_docking/controller.hpp
  nav2_docking/opennav_docking/src/controller.cpp
  nav2_docking/opennav_docking/test/test_controller.cpp
  nav2_graceful_controller/README.md
  nav2_graceful_controller/include/nav2_graceful_controller/parameter_handler.hpp
  nav2_graceful_controller/include/nav2_graceful_controller/smooth_control_law.hpp
  nav2_graceful_controller/src/graceful_controller.cpp
  nav2_graceful_controller/src/parameter_handler.cpp
  nav2_graceful_controller/src/smooth_control_law.cpp
  nav2_graceful_controller/test/test_graceful_controller.cpp
Due: ament_cpplint, ament_uncrustify

fix can't compare times with different time sources
  nav2_behavior_tree/plugins/decorator/goal_updater_node.cpp
  nav2_following/opennav_following/src/following_server.cpp
Due: ament_cpplint, ament_uncrustify

Fix compiler ambiguity error in Time type comparisons (#6113)
  nav2_behavior_tree/plugins/decorator/goal_updater_node.cpp
  nav2_behavior_tree/test/plugins/action/test_compute_and_track_route_action.cpp
  nav2_behavior_tree/test/plugins/action/test_compute_route_action.cpp
  nav2_dwb_controller/nav_2d_utils/test/2d_utils_test.cpp
  nav2_following/opennav_following/src/following_server.cpp
Due: ament_cpplint, ament_uncrustify

fixed omega sign for the controller logic
  nav2_graceful_controller/src/smooth_control_law.cpp
Due: ament_cpplint, ament_uncrustify

Add readme entry
  nav2_mppi_controller/README.md
Due: none

more cleanup
  nav2_mppi_controller/src/critics/path_align_critic.cpp
Due: ament_cpplint, ament_uncrustify

[costmap_filters] ZoneParameterFilter: always throw on unknown mask state
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/zone_parameter_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/zone_parameter_filter.cpp
  nav2_costmap_2d/test/unit/zone_parameter_filter_test.cpp
Due: ament_cpplint, ament_uncrustify

Fixes for low acceleration in a variety of new conditions not previously tested
  nav2_mppi_controller/README.md
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Fix linting
  low_accel_notes.md
  nav2_mppi_controller/test/optimizer_unit_tests.cpp
Due: ament_cpplint, ament_uncrustify

precommit fixes
  nav2_mppi_controller/README.md
Due: none

white space
  low_accel_notes.md
Due: none

[costmap_filters] ZoneParameterFilter: scrub TMI comments
  nav2_costmap_2d/costmap_plugins.xml
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/zone_parameter_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/zone_parameter_filter.cpp
Due: ament_cpplint, ament_uncrustify

[costmap_filters] ZoneParameterFilter: default state_event_topic to "zone_filter_state"
  nav2_costmap_2d/plugins/costmap_filters/zone_parameter_filter.cpp
Due: ament_cpplint, ament_uncrustify

[costmap_filters] ZoneParameterFilter: flip on_param_set_failure default to throw
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/zone_parameter_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/zone_parameter_filter.cpp
Due: ament_cpplint, ament_uncrustify

[costmap_filters] ZoneParameterFilter: header restructure (protected + doxygen)
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/zone_parameter_filter.hpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
