Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Removing action server timeout duration after fixes to ROS 2, Reverts 3787 (#5183)
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_behaviors/include/nav2_behaviors/timed_behavior.hpp
  nav2_bringup/params/nav2_params.yaml
  nav2_controller/src/controller_server.cpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_planner/src/planner_server.cpp
  nav2_smoother/src/nav2_smoother.cpp
  nav2_system_tests/src/system/nav2_system_params.yaml
  nav2_waypoint_follower/src/waypoint_follower.cpp
Due: ament_cpplint, ament_uncrustify

Increase Readability of testing. (#5190)
  nav2_mppi_controller/test/parameter_handler_test.cpp
Due: ament_cpplint, ament_uncrustify

Add value rewrites to RewrittenYaml (#5191)
  .gitignore
  nav2_bringup/launch/bringup_launch.py
  nav2_bringup/launch/keepout_zone_launch.py
  nav2_bringup/launch/speed_zone_launch.py
  nav2_bringup/params/nav2_params.yaml
  nav2_common/CMakeLists.txt
  nav2_common/nav2_common/launch/rewritten_yaml.py
  nav2_common/package.xml
  nav2_common/test/test_rewritten_yaml.py
  nav2_system_tests/src/behaviors/assisted_teleop/test_assisted_teleop_behavior_launch.py
  nav2_system_tests/src/behaviors/backup/test_backup_behavior.launch.py
  nav2_system_tests/src/behaviors/drive_on_heading/test_drive_on_heading_behavior.launch.py
  nav2_system_tests/src/behaviors/spin/test_spin_behavior.launch.py
  nav2_system_tests/src/behaviors/wait/test_wait_behavior_launch.py
  nav2_system_tests/src/route/test_route_launch.py
  nav2_system_tests/src/system_failure/test_system_failure_launch.py
  nav2_system_tests/src/waypoint_follower/test_case_launch.py
Due: ament_flake8, ament_pep257

Removing underlay workspace from Main (#5200)
  tools/underlay.repos
Due: none

Adding missing dep to loopback sim (#5204)
  nav2_loopback_sim/package.xml
Due: none

Adding parameter warn_when_defaulting_parameters to control default parameter warnings (#5189)
  nav2_util/test/test_node_utils.cpp
Due: ament_cpplint, ament_uncrustify

Update mergify.yml
  .github/mergify.yml
Due: none

include bug fix for nav2_smac_planner (#5198)
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/test/test_a_star.cpp
Due: ament_cpplint, ament_uncrustify

Revert "Removing underlay workspace from Main" (#5206)
  tools/underlay.repos
Due: none

Option to Reduce Lethal to High-Cost Navigable To Get Out of Keepout Zones if Wandered In (#5187)
  nav2_bringup/params/nav2_params.yaml
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/keepout_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
Due: ament_cpplint, ament_uncrustify

Prototype solving #5192 Issue 2: Reeds-Shepp reduce small reverse expansions (#5207)
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/test/test_a_star.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Disable costmap filter zones from tb3 bringup (only Tb4 enabled) (#5223)
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
Due: ament_flake8, ament_pep257

Revert recent smac changes causing regressions (#5221)
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/include/nav2_smac_planner/constants.hpp
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_2d.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/lattice_primitives/sample_primitives/test/output.json
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/src/node_2d.cpp
  nav2_smac_planner/src/node_hybrid.cpp
  nav2_smac_planner/src/node_lattice.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/test/CMakeLists.txt
  nav2_smac_planner/test/test_a_star.cpp
  nav2_smac_planner/test/test_goal_manager.cpp
  nav2_smac_planner/test/test_node2d.cpp
  nav2_smac_planner/test/test_smac_hybrid.cpp
  nav2_smac_planner/test/test_smac_lattice.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Add min_distance_to_obstacle parameter to RPP (#4543)
  nav2_regulated_pure_pursuit_controller/README.md
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/parameter_handler.hpp
  nav2_regulated_pure_pursuit_controller/src/collision_checker.cpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

Updating readme table for kilted release (#5249)
  README.md
  tools/update_readme_table.py
Due: ament_flake8, ament_pep257

Fixing builds for message filters API change while retaining Jazzy, Kilted, and Rolling support (#5251)
  nav2_amcl/include/nav2_amcl/amcl_node.hpp
  nav2_amcl/src/amcl_node.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/obstacle_layer.hpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
Due: ament_cpplint, ament_uncrustify

Add namespace support for rviz costmap cost tool (#5268)
  nav2_rviz_plugins/src/costmap_cost_tool.cpp
Due: ament_cpplint, ament_uncrustify

Conserve curvature with LIMIT action (#5255)
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
Due: ament_cpplint, ament_uncrustify

Parametrizing obstacle layer tf filter tolerance (#5261)
  nav2_costmap_2d/plugins/obstacle_layer.cpp
Due: ament_cpplint, ament_uncrustify

Route server corner smoothing (#5226)
  nav2_bringup/params/nav2_params.yaml
  nav2_route/README.md
  nav2_route/include/nav2_route/corner_smoothing.hpp
  nav2_route/include/nav2_route/path_converter.hpp
  nav2_route/include/nav2_route/types.hpp
  nav2_route/src/path_converter.cpp
  nav2_route/test/CMakeLists.txt
  nav2_route/test/test_corner_smoothing.cpp
Due: ament_cpplint, ament_uncrustify

Fix/smac planner orientation goals (#5235)
  .devcontainer/devcontainer.json
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/include/nav2_smac_planner/constants.hpp
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_2d.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/lattice_primitives/sample_primitives/test/output.json
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/src/node_2d.cpp
  nav2_smac_planner/src/node_hybrid.cpp
  nav2_smac_planner/src/node_lattice.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/test/CMakeLists.txt
  nav2_smac_planner/test/test_a_star.cpp
  nav2_smac_planner/test/test_goal_manager.cpp
  nav2_smac_planner/test/test_node2d.cpp
  nav2_smac_planner/test/test_smac_hybrid.cpp
  nav2_smac_planner/test/test_smac_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Increase cache
  .circleci/config.yml
Due: none

fixes for humble main compatibility
  .circleci/config.yml
  nav2_util/include/nav2_util/node_utils.hpp
  nav2_util/test/test_node_utils.cpp
  tools/underlay.repos
Due: ament_cpplint, ament_uncrustify

Revert "Removing action server timeout duration after fixes to ROS 2, Reverts 3787 (#5183)"
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_behaviors/include/nav2_behaviors/timed_behavior.hpp
  nav2_bringup/params/nav2_params.yaml
  nav2_controller/src/controller_server.cpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_planner/src/planner_server.cpp
  nav2_smoother/src/nav2_smoother.cpp
  nav2_system_tests/src/system/nav2_system_params.yaml
  nav2_waypoint_follower/src/waypoint_follower.cpp
Due: ament_cpplint, ament_uncrustify

fixing CI build
  .github/workflows/update_ci_image.yaml
Due: none

revert
  .github/workflows/update_ci_image.yaml
Due: none

done
  tools/underlay.repos
Due: none

Fix backport compiler warning
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Remove pip3 flag not available in 20.04
  Dockerfile
Due: none

Fix backport compiler warning (#5277)
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Use fixed thresholds for Trinary yaml
  nav2_map_server/src/map_io.cpp
Due: ament_cpplint, ament_uncrustify

Configured nav2_loopback_sim to be compliant with mypy.
  nav2_loopback_sim/nav2_loopback_sim/loopback_simulator.py
  tools/pyproject.toml
Due: ament_flake8, ament_pep257

Configured nav2_simple_commander to be compliant with mypy.
  nav2_simple_commander/nav2_simple_commander/demo_security.py
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

Configured nav2_system_tests to be compliant with mypy.
  nav2_system_tests/src/behaviors/backup/backup_tester.py
  nav2_system_tests/src/behaviors/drive_on_heading/drive_tester.py
  nav2_system_tests/src/behaviors/spin/spin_tester.py
  nav2_system_tests/src/costmap_filters/tester_node.py
  nav2_system_tests/src/gps_navigation/tester.py
  nav2_system_tests/src/route/tester_node.py
  nav2_system_tests/src/system/nav_through_poses_tester_error_msg_node.py
  nav2_system_tests/src/system/nav_through_poses_tester_node.py
  nav2_system_tests/src/system/nav_to_pose_tester_node.py
  nav2_system_tests/src/system_failure/tester_node.py
  nav2_system_tests/src/waypoint_follower/tester.py
Due: ament_flake8, ament_pep257

Added support for MPPI Controller to adjust wz_std parameter based on linear speed
  nav2_mppi_controller/README.md
  nav2_mppi_controller/include/nav2_mppi_controller/models/constraints.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/models/optimizer_settings.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/optimizer.hpp
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Fix ament mypy (#5280)
  nav2_loopback_sim/nav2_loopback_sim/loopback_simulator.py
  nav2_simple_commander/nav2_simple_commander/demo_security.py
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
  nav2_system_tests/src/behaviors/backup/backup_tester.py
  nav2_system_tests/src/behaviors/drive_on_heading/drive_tester.py
  nav2_system_tests/src/behaviors/spin/spin_tester.py
  nav2_system_tests/src/costmap_filters/tester_node.py
  nav2_system_tests/src/gps_navigation/tester.py
  nav2_system_tests/src/route/tester_node.py
  nav2_system_tests/src/system/nav_through_poses_tester_error_msg_node.py
  nav2_system_tests/src/system/nav_through_poses_tester_node.py
  nav2_system_tests/src/system/nav_to_pose_tester_node.py
  nav2_system_tests/src/system_failure/tester_node.py
  nav2_system_tests/src/waypoint_follower/tester.py
  tools/pyproject.toml
Due: ament_flake8, ament_pep257

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
