Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

Add symmetric goal for goal checker and mppi goal angle critic (#5833) (#5847)
  nav2_controller/include/nav2_controller/plugins/simple_goal_checker.hpp
  nav2_controller/plugins/simple_goal_checker.cpp
  nav2_controller/plugins/test/goal_checker.cpp
  nav2_mppi_controller/README.md
  nav2_mppi_controller/include/nav2_mppi_controller/critics/goal_angle_critic.hpp
  nav2_mppi_controller/src/critics/goal_angle_critic.cpp
  nav2_mppi_controller/test/critics_tests.cpp
Due: ament_cpplint, ament_uncrustify

Add symmetric goal for goal checker and mppi goal angle critic (#5833) (#5848)
  nav2_controller/include/nav2_controller/plugins/simple_goal_checker.hpp
  nav2_controller/plugins/simple_goal_checker.cpp
  nav2_controller/plugins/test/goal_checker.cpp
  nav2_mppi_controller/README.md
  nav2_mppi_controller/include/nav2_mppi_controller/critics/goal_angle_critic.hpp
  nav2_mppi_controller/src/critics/goal_angle_critic.cpp
  nav2_mppi_controller/test/critics_tests.cpp
Due: ament_cpplint, ament_uncrustify

Add symmetric goal for goal checker and mppi goal angle critic (backport humble) (#5849)
  nav2_controller/include/nav2_controller/plugins/simple_goal_checker.hpp
  nav2_controller/plugins/simple_goal_checker.cpp
  nav2_controller/plugins/test/goal_checker.cpp
  nav2_mppi_controller/README.md
  nav2_mppi_controller/include/nav2_mppi_controller/critics/goal_angle_critic.hpp
  nav2_mppi_controller/src/critics/goal_angle_critic.cpp
  nav2_mppi_controller/test/critics_tests.cpp
Due: ament_cpplint, ament_uncrustify

Add '--quiet' argument from ament_cpplint (#5846)
  .pre-commit-config.yaml
Due: none

Update nav2_mppi_controller/src/trajectory_visualizer.cpp
  nav2_mppi_controller/src/trajectory_visualizer.cpp
Due: ament_cpplint, ament_uncrustify

[Main] Optimize MPPI visualization to skip processing when no subscribers (#5851)
  nav2_mppi_controller/src/trajectory_visualizer.cpp
Due: ament_cpplint, ament_uncrustify

[Jazzy] Optimize MPPI visualization to skip processing when no subscribers (#5807)
  nav2_mppi_controller/src/trajectory_visualizer.cpp
Due: ament_cpplint, ament_uncrustify

PR fixes
  nav2_behavior_tree/plugins/condition/is_path_valid_condition.cpp
  nav2_planner/include/nav2_planner/is_path_valid_service.hpp
  nav2_planner/src/planner_server.cpp
Due: ament_cpplint, ament_uncrustify

fix test
  nav2_system_tests/src/planning/test_planner_is_path_valid.cpp
Due: ament_cpplint, ament_uncrustify

add testSpecificLayerVsFullCostmap test
  nav2_system_tests/src/planning/planner_tester.cpp
  nav2_system_tests/src/planning/planner_tester.hpp
  nav2_system_tests/src/planning/test_planner_is_path_valid.cpp
Due: ament_cpplint, ament_uncrustify

[DEX] [AMCL] use main thread for laser callback
  nav2_amcl/src/amcl_node.cpp
Due: ament_cpplint, ament_uncrustify

PR fixes
  nav2_controller/include/nav2_controller/plugins/axis_goal_checker.hpp
  nav2_controller/plugins/axis_goal_checker.cpp
  nav2_controller/plugins/test/axis_goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

style: standardize boolean values to lowercase in YAML files
  nav2_bringup/params/nav2_params.yaml
  nav2_collision_monitor/params/collision_detector_params.yaml
  nav2_collision_monitor/params/collision_monitor_params.yaml
  nav2_collision_monitor/test/collision_monitor_node_bag.yaml
  nav2_docking/opennav_docking/test/docking_params.yaml
  nav2_map_server/params/vector_object_server_params.yaml
  nav2_system_tests/src/costmap_filters/keepout_params.yaml
  nav2_system_tests/src/costmap_filters/speed_global_params.yaml
  nav2_system_tests/src/costmap_filters/speed_local_params.yaml
  nav2_system_tests/src/error_codes/error_code_param.yaml
  nav2_system_tests/src/gps_navigation/nav2_no_map_params.yaml
  nav2_system_tests/src/system/nav2_system_params.yaml
Due: none

Revert "add testSpecificLayerVsFullCostmap test"
  nav2_system_tests/src/planning/planner_tester.cpp
  nav2_system_tests/src/planning/planner_tester.hpp
  nav2_system_tests/src/planning/test_planner_is_path_valid.cpp
Due: ament_cpplint, ament_uncrustify

deletion of fallbacks
  tools/bt2img.py
  tools/real_world_test
  tools/real_world_test.png
  tools/real_world_test.xml
Due: ament_flake8, ament_pep257

style: standardize boolean values to lowercase in YAML files (#5853)
  nav2_bringup/params/nav2_params.yaml
  nav2_collision_monitor/params/collision_detector_params.yaml
  nav2_collision_monitor/params/collision_monitor_params.yaml
  nav2_collision_monitor/test/collision_monitor_node_bag.yaml
  nav2_docking/opennav_docking/test/docking_params.yaml
  nav2_map_server/params/vector_object_server_params.yaml
  nav2_system_tests/src/costmap_filters/keepout_params.yaml
  nav2_system_tests/src/costmap_filters/speed_global_params.yaml
  nav2_system_tests/src/costmap_filters/speed_local_params.yaml
  nav2_system_tests/src/error_codes/error_code_param.yaml
  nav2_system_tests/src/gps_navigation/nav2_no_map_params.yaml
  nav2_system_tests/src/system/nav2_system_params.yaml
Due: none

New Goal checker: AxisGoalChecker (#5746)
  nav2_controller/CMakeLists.txt
  nav2_controller/include/nav2_controller/plugins/axis_goal_checker.hpp
  nav2_controller/plugins.xml
  nav2_controller/plugins/axis_goal_checker.cpp
  nav2_controller/plugins/test/CMakeLists.txt
  nav2_controller/plugins/test/axis_goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

Add logging to exception
  tools/bt2img.py
  tools/real_world_test
  tools/real_world_test.png
  tools/real_world_test.xml
Due: ament_flake8, ament_pep257

Add output port in FollowPath
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/follow_path_action.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/action/follow_path_action.cpp
  nav2_bt_navigator/behavior_trees/follow_point.xml
  nav2_bt_navigator/behavior_trees/nav_to_pose_with_consistent_replanning_and_if_path_becomes_invalid.xml
  nav2_bt_navigator/behavior_trees/navigate_on_route_graph_w_recovery.xml
  nav2_bt_navigator/behavior_trees/navigate_through_poses_w_replanning_and_recovery.xml
  nav2_bt_navigator/behavior_trees/navigate_to_pose_w_replanning_and_recovery.xml
  nav2_bt_navigator/behavior_trees/navigate_to_pose_w_replanning_goal_patience_and_recovery.xml
  nav2_bt_navigator/behavior_trees/navigate_w_recovery_and_replanning_only_if_path_becomes_invalid.xml
  nav2_bt_navigator/behavior_trees/navigate_w_replanning_distance.xml
  nav2_bt_navigator/behavior_trees/navigate_w_replanning_only_if_goal_is_updated.xml
  nav2_bt_navigator/behavior_trees/navigate_w_replanning_only_if_path_becomes_invalid.xml
  nav2_bt_navigator/behavior_trees/navigate_w_replanning_speed.xml
  nav2_bt_navigator/behavior_trees/navigate_w_replanning_time.xml
  nav2_bt_navigator/behavior_trees/navigate_w_routing_global_planning_and_control_w_recovery.xml
Due: ament_cpplint, ament_uncrustify

Fix: Support <include> tags in bt2img.py (#5831)
  tools/bt2img.py
Due: ament_flake8, ament_pep257

Use new api for nav2_costmap_2d
  nav2_costmap_2d/include/nav2_costmap_2d/layer.hpp
  nav2_costmap_2d/plugins/costmap_filters/binary_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/costmap_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/keepout_filter.cpp
  nav2_costmap_2d/plugins/costmap_filters/speed_filter.cpp
  nav2_costmap_2d/plugins/denoise_layer.cpp
  nav2_costmap_2d/plugins/inflation_layer.cpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/plugins/plugin_container_layer.cpp
  nav2_costmap_2d/plugins/range_sensor_layer.cpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/plugins/voxel_layer.cpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_costmap_2d/src/layer.cpp
  nav2_costmap_2d/test/integration/obstacle_tests.cpp
  nav2_costmap_2d/test/unit/declare_parameter_test.cpp
Due: ament_cpplint, ament_uncrustify

Lint
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/follow_path_action.hpp
Due: ament_cpplint, ament_uncrustify

[mppi] Fix division by zero in Constraint Critic. backporting #5636 to humble_main branch. This leads to nan costs when wz is zero.
  nav2_mppi_controller/src/critics/constraint_critic.cpp
Due: ament_cpplint, ament_uncrustify

Review fixes: added logging, parametrization and small refactorization
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_goal_nearby_condition.hpp
  nav2_behavior_tree/plugins/condition/is_goal_nearby_condition.cpp
  nav2_behavior_tree/test/plugins/condition/test_is_goal_nearby.cpp
Due: ament_cpplint, ament_uncrustify

[mppi] Fix division by zero in Constraint Critic. (#5855)
  nav2_mppi_controller/src/critics/constraint_critic.cpp
Due: ament_cpplint, ament_uncrustify

Change default value of proximity_threshold
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_goal_nearby_condition.hpp
  nav2_behavior_tree/plugins/condition/is_goal_nearby_condition.cpp
Due: ament_cpplint, ament_uncrustify

Added IsGoalNearby BT node (#5843)
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_goal_nearby_condition.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/condition/is_goal_nearby_condition.cpp
  nav2_behavior_tree/test/plugins/condition/CMakeLists.txt
  nav2_behavior_tree/test/plugins/condition/test_is_goal_nearby.cpp
Due: ament_cpplint, ament_uncrustify

nav2_amcl: add random_seed for deterministic replay
  nav2_amcl/include/nav2_amcl/amcl_node.hpp
  nav2_amcl/include/nav2_amcl/pf/pf.hpp
  nav2_amcl/src/amcl_node.cpp
  nav2_amcl/src/pf/pf.c
Due: ament_cpplint, ament_uncrustify

nav2_amcl: avoid long in pf_seed signature
  nav2_amcl/include/nav2_amcl/pf/pf.hpp
  nav2_amcl/src/amcl_node.cpp
  nav2_amcl/src/pf/pf.c
Due: ament_cpplint, ament_uncrustify

nav2_amcl: add gtest to cover random_seed deterministic branch
  nav2_amcl/test/CMakeLists.txt
  nav2_amcl/test/test_random_seed_parameter.cpp
Due: ament_cpplint, ament_uncrustify

nav2_amcl: avoid long cast when seeding RNG
  nav2_amcl/src/pf/pf.c
Due: none

nav2_amcl: fix whitespace for pre-commit
  nav2_amcl/test/test_random_seed_parameter.cpp
Due: ament_cpplint, ament_uncrustify

nav2_amcl: address review feedback for random_seed
  nav2_amcl/include/nav2_amcl/amcl_node.hpp
  nav2_amcl/include/nav2_amcl/pf/pf.hpp
  nav2_amcl/src/amcl_node.cpp
  nav2_amcl/src/pf/pf.c
  nav2_amcl/test/CMakeLists.txt
  nav2_amcl/test/test_dynamic_parameters.cpp
  nav2_amcl/test/test_random_seed_parameter.cpp
  nav2_bringup/params/nav2_params.yaml
Due: ament_cpplint, ament_uncrustify

refactor: change style of plugin names
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/goal_checker_selector_node.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/progress_checker_selector_node.hpp
  nav2_bringup/params/nav2_params.yaml
  nav2_bt_navigator/behavior_trees/navigate_on_route_graph_w_recovery.xml
  nav2_controller/src/controller_server.cpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_docking/README.md
  nav2_docking/opennav_docking/test/dock_files/test_dock_bad_conversion_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_bad_pose_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_no_pose_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_no_docks_file.yaml
  nav2_docking/opennav_docking/test/docking_params.yaml
  nav2_docking/opennav_docking/test/test_dock_database.cpp
  nav2_docking/opennav_docking/test/test_docking_server.py
  nav2_docking/opennav_docking/test/test_docking_server_unit.cpp
  nav2_docking/opennav_docking/test/test_utils.cpp
  nav2_docking/opennav_docking_bt/test/test_dock_robot.cpp
  nav2_docking/opennav_docking_bt/test/test_undock_robot.cpp
  nav2_regulated_pure_pursuit_controller/README.md
  nav2_rotation_shim_controller/README.md
  nav2_route/test/test_operations.cpp
  nav2_smoother/src/nav2_smoother.cpp
  nav2_system_tests/src/costmap_filters/keepout_params.yaml
  nav2_system_tests/src/costmap_filters/speed_global_params.yaml
  nav2_system_tests/src/costmap_filters/speed_local_params.yaml
  nav2_system_tests/src/error_codes/error_code_param.yaml
  nav2_system_tests/src/error_codes/test_error_codes.py
  nav2_system_tests/src/gps_navigation/nav2_no_map_params.yaml
  nav2_system_tests/src/system/nav2_system_params.yaml
  nav2_system_tests/src/system/nav_through_poses_tester_error_msg_node.py
  nav2_waypoint_follower/src/waypoint_follower.cpp
  tools/smoother_benchmarking/README.md
  tools/smoother_benchmarking/metrics.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

refactor: change names of operation types
  nav2_route/test/test_operations.cpp
Due: ament_cpplint, ament_uncrustify

Revert "refactor: change style of plugin names" Keep comments and log messages intact
  nav2_bringup/params/nav2_params.yaml
  nav2_bt_navigator/behavior_trees/navigate_on_route_graph_w_recovery.xml
  nav2_docking/README.md
  nav2_docking/opennav_docking/test/dock_files/test_dock_bad_conversion_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_bad_pose_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_dock_no_pose_file.yaml
  nav2_docking/opennav_docking/test/dock_files/test_no_docks_file.yaml
  nav2_docking/opennav_docking/test/docking_params.yaml
  nav2_docking/opennav_docking/test/test_dock_database.cpp
  nav2_docking/opennav_docking/test/test_docking_server.py
  nav2_docking/opennav_docking/test/test_docking_server_unit.cpp
  nav2_docking/opennav_docking/test/test_utils.cpp
  nav2_docking/opennav_docking_bt/test/test_dock_robot.cpp
  nav2_docking/opennav_docking_bt/test/test_undock_robot.cpp
  nav2_regulated_pure_pursuit_controller/README.md
  nav2_rotation_shim_controller/README.md
  nav2_route/test/test_operations.cpp
  nav2_smoother/src/nav2_smoother.cpp
  nav2_system_tests/src/costmap_filters/keepout_params.yaml
  nav2_system_tests/src/costmap_filters/speed_global_params.yaml
  nav2_system_tests/src/costmap_filters/speed_local_params.yaml
  nav2_system_tests/src/error_codes/error_code_param.yaml
  nav2_system_tests/src/error_codes/test_error_codes.py
  nav2_system_tests/src/gps_navigation/nav2_no_map_params.yaml
  nav2_system_tests/src/system/nav2_system_params.yaml
  nav2_system_tests/src/system/nav_through_poses_tester_error_msg_node.py
  tools/smoother_benchmarking/README.md
  tools/smoother_benchmarking/metrics.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

refactor: revert trajectory_validator name style
  nav2_bringup/params/nav2_params.yaml
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Improve lifecycle subscription wrapper behavior and tests
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_ros_common/include/nav2_ros_common/subscription.hpp
  nav2_ros_common/test/test_actions.cpp
  nav2_ros_common/test/test_lifecycle_sub.cpp
  nav2_util/test/test_twist_publisher.cpp
  nav2_util/test/test_twist_subscriber.cpp
Due: ament_cpplint, ament_uncrustify
