Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

update underlay
  tools/underlay.repos
Due: none

Remove useless includes
  nav2_core/include/nav2_core/behavior_tree_navigator.hpp
Due: ament_cpplint, ament_uncrustify

Fix test_behavior_tree_navigator.cpp
  nav2_core/test/test_behavior_tree_navigator.cpp
Due: ament_cpplint, ament_uncrustify

Test BehaviorTreeNavigator class
  nav2_core/test/CMakeLists.txt
  nav2_core/test/test_behavior_tree_navigator.cpp
Due: ament_cpplint, ament_uncrustify

navigator_preemption_identified_ to muxer_preemption_requested_
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
Due: ament_cpplint, ament_uncrustify

NavigatorMuxer test
  nav2_core/CMakeLists.txt
  nav2_core/package.xml
  nav2_core/test/CMakeLists.txt
  nav2_core/test/test_navigator_muxer.cpp
Due: ament_cpplint, ament_uncrustify

Rename to respect "navigator preemption" wording
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_core/include/nav2_core/behavior_tree_navigator.hpp
Due: ament_cpplint, ament_uncrustify

allow_navigator_preemption parameter
  nav2_core/include/nav2_core/behavior_tree_navigator.hpp
Due: ament_cpplint, ament_uncrustify

Update nav2_core/include/nav2_core/behavior_tree_navigator.hpp
  nav2_core/include/nav2_core/behavior_tree_navigator.hpp
Due: ament_cpplint, ament_uncrustify

fix: support preemption when switching between navigators
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_core/include/nav2_core/behavior_tree_navigator.hpp
Due: ament_cpplint, ament_uncrustify

chrono is still better for clarity
  nav2_core/include/nav2_core/behavior_tree_navigator.hpp
Due: ament_cpplint, ament_uncrustify

stop_navigation rename to stopNavigator + internal_cancel_requested_ when starting executing instead of after
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_core/include/nav2_core/behavior_tree_navigator.hpp
Due: ament_cpplint, ament_uncrustify

Add navigator_preemption_timeout param and use rate instead of sleep
  nav2_core/include/nav2_core/behavior_tree_navigator.hpp
Due: ament_cpplint, ament_uncrustify

Fix linter
  nav2_core/test/CMakeLists.txt
Due: none

update rotation shim controller docs
  nav2_rotation_shim_controller/README.md
Due: none

remove extra comment from example
  nav2_rotation_shim_controller/README.md
Due: none

Refactor timer creation to use member function for consistency
  nav2_velocity_smoother/src/velocity_smoother.cpp
Due: ament_cpplint, ament_uncrustify

Refactor publishLaserScan and publishOdometry to use unique_ptr for message management
  nav2_loopback_sim/src/loopback_simulator.cpp
Due: ament_cpplint, ament_uncrustify

update rotation shim controller docs (#6068)
  nav2_rotation_shim_controller/README.md
Due: none

Enhance bounds calculation for rolling costmaps in StaticLayer (#6064)
  nav2_costmap_2d/plugins/static_layer.cpp
Due: ament_cpplint, ament_uncrustify

cross navigator preemption (#6018)
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_core/CMakeLists.txt
  nav2_core/include/nav2_core/behavior_tree_navigator.hpp
  nav2_core/package.xml
  nav2_core/test/CMakeLists.txt
  nav2_core/test/test_behavior_tree_navigator.cpp
  nav2_core/test/test_navigator_muxer.cpp
Due: ament_cpplint, ament_uncrustify

Using underlay workspace in github actions build against existing distro jobs
  .github/workflows/build_main_against_distros.yml
Due: none

Using underlay workspace in github actions build against existing distro jobs (#6069)
  .github/workflows/build_main_against_distros.yml
Due: none

first batch of refining. updating to constsharedptr remove goal subs, destructor resetState deactivate fixed
  nav2_costmap_2d/include/nav2_costmap_2d/bounded_tracking_error_layer.hpp
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
Due: ament_cpplint, ament_uncrustify

second batch of refining: added costmap_frame_, overrided matchSized(), resolution_ standardization and getting from matchSize, resolution guard
  nav2_costmap_2d/include/nav2_costmap_2d/bounded_tracking_error_layer.hpp
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
Due: ament_cpplint, ament_uncrustify

transition to calculating current index inside the layer.
  nav2_costmap_2d/include/nav2_costmap_2d/bounded_tracking_error_layer.hpp
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
Due: ament_cpplint, ament_uncrustify

nav2_costmap_2d: add TypeAdapter for Costmap2DStamped
  nav2_constrained_smoother/test/test_constrained_smoother.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d_publisher.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_subscriber.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_type_adapter.hpp
  nav2_costmap_2d/src/costmap_2d_publisher.cpp
  nav2_costmap_2d/src/costmap_subscriber.cpp
  nav2_costmap_2d/test/benchmark/CMakeLists.txt
  nav2_costmap_2d/test/benchmark/costmap_type_adapter_benchmark.cpp
  nav2_costmap_2d/test/integration/test_costmap_topic_collision_checker.cpp
  nav2_smoother/test/test_smoother_server.cpp
Due: ament_cpplint, ament_uncrustify

Update nav2_docking/opennav_docking/src/controller.cpp comment
  nav2_docking/opennav_docking/src/controller.cpp
Due: ament_cpplint, ament_uncrustify

Refactor ClockPublisher integration into LoopbackSimulator and remove standalone executable
  nav2_loopback_sim/CMakeLists.txt
  nav2_loopback_sim/include/nav2_loopback_sim/clock_publisher.hpp
  nav2_loopback_sim/include/nav2_loopback_sim/loopback_simulator.hpp
  nav2_loopback_sim/launch/loopback_simulation.launch.py
  nav2_loopback_sim/src/clock_publisher.cpp
  nav2_loopback_sim/src/clock_publisher_main.cpp
  nav2_loopback_sim/src/loopback_simulator.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

add tests
  nav2_loopback_sim/CMakeLists.txt
  nav2_loopback_sim/package.xml
  nav2_loopback_sim/test/test_clock_publisher.cpp
  nav2_loopback_sim/test/test_loopback_simulator.cpp
Due: ament_cpplint, ament_uncrustify

Update copyright notice to include "Dexory" in all relevant files
  nav2_loopback_sim/include/nav2_loopback_sim/clock_publisher.hpp
  nav2_loopback_sim/include/nav2_loopback_sim/loopback_simulator.hpp
  nav2_loopback_sim/src/clock_publisher.cpp
  nav2_loopback_sim/src/loopback_simulator.cpp
  nav2_loopback_sim/src/main.cpp
  nav2_loopback_sim/test/test_clock_publisher.cpp
  nav2_loopback_sim/test/test_loopback_simulator.cpp
Due: ament_cpplint, ament_uncrustify

fix readme
  nav2_loopback_sim/README.md
Due: none

ordering, cellpoint adding, clamping mechanism with debug log, fixing validations, better mutex and making docs comments according to
  nav2_costmap_2d/include/nav2_costmap_2d/bounded_tracking_error_layer.hpp
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
Due: ament_cpplint, ament_uncrustify

rename params, fix comments
  nav2_controller/include/nav2_controller/plugins/progress_goal_checker.hpp
  nav2_controller/plugins/progress_goal_checker.cpp
  nav2_controller/plugins/test/goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

lint
  nav2_controller/plugins/progress_goal_checker.cpp
Due: ament_cpplint, ament_uncrustify

unit tests added, wall segment's for loop now includes last segment, age checks now handle reseting and const of mastergrid arguments removed
  nav2_costmap_2d/include/nav2_costmap_2d/bounded_tracking_error_layer.hpp
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
  nav2_costmap_2d/test/unit/CMakeLists.txt
  nav2_costmap_2d/test/unit/bounded_tracking_error_layer_test.cpp
Due: ament_cpplint, ament_uncrustify

Clearing execution timer
  nav2_costmap_2d/plugins/bounded_tracking_error_layer.cpp
Due: ament_cpplint, ament_uncrustify

Refactor timer and rate handling across navigation2 components to use nav2::Rate and nav2::create_timer for improved simulation time support
  nav2_behaviors/include/nav2_behaviors/timed_behavior.hpp
  nav2_collision_monitor/src/collision_detector_node.cpp
  nav2_controller/src/controller_server.cpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_docking/opennav_docking/src/docking_server.cpp
  nav2_following/opennav_following/src/following_server.cpp
  nav2_map_server/src/vo_server/vector_object_server.cpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_ros_common/include/nav2_ros_common/rate.hpp
  nav2_ros_common/include/nav2_ros_common/timer.hpp
  nav2_velocity_smoother/src/velocity_smoother.cpp
  nav2_waypoint_follower/src/waypoint_follower.cpp
Due: ament_cpplint, ament_uncrustify

Refactor timer usage across navigation2 components to utilize nav2::create_timer and nav2::Rate for improved simulation time handling
  nav2_amcl/src/amcl_node.cpp
  nav2_core/include/nav2_core/behavior_tree_navigator.hpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_lifecycle_manager/src/lifecycle_manager.cpp
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
  nav2_ros_common/include/nav2_ros_common/rate.hpp
  nav2_ros_common/include/nav2_ros_common/timer.hpp
  nav2_route/include/nav2_route/route_tracker.hpp
  nav2_route/src/route_tracker.cpp
  nav2_util/include/nav2_util/lifecycle_service_client.hpp
  nav2_waypoint_follower/include/nav2_waypoint_follower/plugins/input_at_waypoint.hpp
  nav2_waypoint_follower/plugins/input_at_waypoint.cpp
Due: ament_cpplint, ament_uncrustify

fix tests as well
  nav2_behavior_tree/test/utils/test_transform_handler.hpp
  nav2_costmap_2d/test/integration/costmap_tester.cpp
  nav2_planner/test/test_plan_through_poses.cpp
  nav2_system_tests/src/planning/planner_tester.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
