Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

OpenMP inflation layer
  nav2_costmap_2d/CMakeLists.txt
  nav2_costmap_2d/include/nav2_costmap_2d/distance_transform.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/inflation_layer.hpp
  nav2_costmap_2d/package.xml
  nav2_costmap_2d/plugins/inflation_layer.cpp
  nav2_costmap_2d/test/benchmark/CMakeLists.txt
  nav2_costmap_2d/test/benchmark/inflation_layer_updatecosts_benchmark.cpp
  nav2_costmap_2d/test/integration/inflation_tests.cpp
Due: ament_cpplint, ament_uncrustify

restart tests
  nav2_costmap_2d/include/nav2_costmap_2d/inflation_layer.hpp
Due: ament_cpplint, ament_uncrustify

disable openmp
  nav2_costmap_2d/CMakeLists.txt
Due: none

enable flag
  nav2_costmap_2d/CMakeLists.txt
  nav2_costmap_2d/test/benchmark/CMakeLists.txt
Due: none

limit thread number
  nav2_costmap_2d/include/nav2_costmap_2d/inflation_layer.hpp
  nav2_costmap_2d/plugins/inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

enable openmp for testing
  nav2_costmap_2d/CMakeLists.txt
Due: none

check docker cores
  nav2_costmap_2d/plugins/inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

set OMP_NUM_THREADS to 4
  .circleci/config.yml
  nav2_costmap_2d/plugins/inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

Improve a CMake dependencies merge conflict resolution
  nav2_collision_monitor/CMakeLists.txt
Due: none

CollisionMonitor: add CostmapSource + dataset-based bag test (#5642)
  nav2_collision_monitor/CMakeLists.txt
  nav2_collision_monitor/README.md
  nav2_collision_monitor/include/nav2_collision_monitor/collision_detector_node.hpp
  nav2_collision_monitor/include/nav2_collision_monitor/collision_monitor_node.hpp
  nav2_collision_monitor/include/nav2_collision_monitor/costmap.hpp
  nav2_collision_monitor/package.xml
  nav2_collision_monitor/params/collision_detector_params.yaml
  nav2_collision_monitor/params/collision_monitor_params.yaml
  nav2_collision_monitor/src/collision_detector_node.cpp
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_collision_monitor/src/costmap.cpp
  nav2_collision_monitor/test/CMakeLists.txt
  nav2_collision_monitor/test/bags/cm_moving_obstacle/_tmp_cm_bag_0.mcap.zstd
  nav2_collision_monitor/test/bags/cm_moving_obstacle/fake_cm_bag_source.py
  nav2_collision_monitor/test/bags/cm_moving_obstacle/metadata.yaml
  nav2_collision_monitor/test/collision_detector_node_test.cpp
  nav2_collision_monitor/test/collision_monitor_node_bag.cpp
  nav2_collision_monitor/test/collision_monitor_node_bag.launch.py
  nav2_collision_monitor/test/collision_monitor_node_bag.yaml
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
  nav2_collision_monitor/test/sources_test.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

[nav2_route] Optimize corner smoothing threshold and remove redundant interpolation point
  nav2_route/README.md
  nav2_route/include/nav2_route/corner_smoothing.hpp
  nav2_route/include/nav2_route/path_converter.hpp
  nav2_route/src/path_converter.cpp
  nav2_route/test/test_corner_smoothing.cpp
Due: ament_cpplint, ament_uncrustify

dynamic num_thread
  nav2_costmap_2d/include/nav2_costmap_2d/inflation_layer.hpp
  nav2_costmap_2d/plugins/inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

remove openmp from packages.xml
  nav2_costmap_2d/package.xml
Due: none

turn on by default
  nav2_costmap_2d/CMakeLists.txt
Due: none

hardcode COST_LUT_PRECISION
  nav2_costmap_2d/include/nav2_costmap_2d/inflation_layer.hpp
  nav2_costmap_2d/plugins/inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

test out big test
  nav2_costmap_2d/test/integration/inflation_tests.cpp
Due: ament_cpplint, ament_uncrustify

add back legacy layer
  nav2_costmap_2d/CMakeLists.txt
  nav2_costmap_2d/costmap_plugins.xml
  nav2_costmap_2d/include/nav2_costmap_2d/legacy_inflation_layer.hpp
  nav2_costmap_2d/plugins/legacy_inflation_layer.cpp
Due: ament_cpplint, ament_uncrustify

set to 100
  nav2_costmap_2d/include/nav2_costmap_2d/inflation_layer.hpp
Due: ament_cpplint, ament_uncrustify

fix legacy inflation layer
  nav2_mppi_controller/src/critics/cost_critic.cpp
  nav2_mppi_controller/src/critics/obstacles_critic.cpp
  nav2_smac_planner/include/nav2_smac_planner/utils.hpp
Due: ament_cpplint, ament_uncrustify

fix(costmap_layers): set current_ = false on dynamic param changes
  nav2_costmap_2d/plugins/obstacle_layer.cpp
  nav2_costmap_2d/plugins/static_layer.cpp
  nav2_costmap_2d/plugins/voxel_layer.cpp
Due: ament_cpplint, ament_uncrustify

fix(costmap_layers): extend current_ = false to all affected layers
  nav2_costmap_2d/plugins/inflation_layer.cpp
  nav2_costmap_2d/plugins/static_layer.cpp
Due: ament_cpplint, ament_uncrustify

Revert "fix legacy inflation layer"
  nav2_mppi_controller/src/critics/cost_critic.cpp
  nav2_mppi_controller/src/critics/obstacles_critic.cpp
  nav2_smac_planner/include/nav2_smac_planner/utils.hpp
Due: ament_cpplint, ament_uncrustify

off by default
  nav2_costmap_2d/CMakeLists.txt
Due: none

base class approach
  nav2_costmap_2d/include/nav2_costmap_2d/inflation_layer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/inflation_layer_interface.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/legacy_inflation_layer.hpp
  nav2_costmap_2d/src/inflation_layer_interface.cpp
  nav2_mppi_controller/src/critics/cost_critic.cpp
  nav2_mppi_controller/src/critics/obstacles_critic.cpp
  nav2_smac_planner/include/nav2_smac_planner/utils.hpp
Due: ament_cpplint, ament_uncrustify

Reject dynamic kinematic param updates when speed limit active (#5832)
  nav2_mppi_controller/include/nav2_mppi_controller/tools/parameters_handler.hpp
  nav2_mppi_controller/src/optimizer.cpp
  nav2_mppi_controller/src/parameters_handler.cpp
Due: ament_cpplint, ament_uncrustify

Merge commit from fork
  nav2_ros_common/include/nav2_ros_common/validate_messages.hpp
  nav2_ros_common/test/test_validation_messages.cpp
Due: ament_cpplint, ament_uncrustify

rebase & fix logic
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/collision_checker.hpp
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/parameter_handler.hpp
  nav2_regulated_pure_pursuit_controller/src/collision_checker.cpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_regulated_pure_pursuit_controller/src/regulated_pure_pursuit_controller.cpp
Due: ament_cpplint, ament_uncrustify

feat: fix velocity polygon magnitude calculation / edit velocity_polygons_test about is_holonomic==true
  nav2_collision_monitor/src/velocity_polygon.cpp
  nav2_collision_monitor/test/velocity_polygons_test.cpp
Due: ament_cpplint, ament_uncrustify

[nav2_route] Optimize corner smoothing threshold and remove redundant interpolation point
  nav2_route/README.md
  nav2_route/include/nav2_route/corner_smoothing.hpp
  nav2_route/include/nav2_route/path_converter.hpp
  nav2_route/src/path_converter.cpp
  nav2_route/test/test_corner_smoothing.cpp
  nav2_system_tests/src/route/tester_node.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Enhance approach goal logic
  nav2_graceful_controller/include/nav2_graceful_controller/graceful_controller.hpp
  nav2_graceful_controller/include/nav2_graceful_controller/parameter_handler.hpp
  nav2_graceful_controller/src/graceful_controller.cpp
  nav2_graceful_controller/src/parameter_handler.cpp
  nav2_graceful_controller/test/test_graceful_controller.cpp
Due: ament_cpplint, ament_uncrustify

Add test case for finding best approach
  nav2_graceful_controller/test/test_graceful_controller.cpp
Due: ament_cpplint, ament_uncrustify

Lock setPlan
  nav2_controller/plugins/feasible_path_handler.cpp
Due: ament_cpplint, ament_uncrustify

Initialize as nullptr
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_2d.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_lattice.hpp
Due: ament_cpplint, ament_uncrustify

CI: Indentation fix
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

[nav2_route] Optimize corner smoothing threshold and remove redundant interpolation point (#5940)
  nav2_route/README.md
  nav2_route/include/nav2_route/corner_smoothing.hpp
  nav2_route/include/nav2_route/path_converter.hpp
  nav2_route/src/path_converter.cpp
  nav2_route/test/test_corner_smoothing.cpp
  nav2_system_tests/src/route/tester_node.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Redesign controller plugins dynamic parameters patterns (#5920)
  nav2_controller/include/nav2_controller/plugins/axis_goal_checker.hpp
  nav2_controller/include/nav2_controller/plugins/feasible_path_handler.hpp
  nav2_controller/include/nav2_controller/plugins/pose_progress_checker.hpp
  nav2_controller/include/nav2_controller/plugins/position_goal_checker.hpp
  nav2_controller/include/nav2_controller/plugins/simple_goal_checker.hpp
  nav2_controller/include/nav2_controller/plugins/simple_progress_checker.hpp
  nav2_controller/include/nav2_controller/plugins/stopped_goal_checker.hpp
  nav2_controller/plugins/axis_goal_checker.cpp
  nav2_controller/plugins/feasible_path_handler.cpp
  nav2_controller/plugins/pose_progress_checker.cpp
  nav2_controller/plugins/position_goal_checker.cpp
  nav2_controller/plugins/simple_goal_checker.cpp
  nav2_controller/plugins/simple_progress_checker.cpp
  nav2_controller/plugins/stopped_goal_checker.cpp
  nav2_controller/plugins/test/axis_goal_checker.cpp
  nav2_controller/plugins/test/goal_checker.cpp
  nav2_controller/plugins/test/path_handler.cpp
  nav2_controller/plugins/test/progress_checker.cpp
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Add support for switching between SMAC planners (#5840)
  nav2_smac_planner/CMakeLists.txt
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/include/nav2_smac_planner/distance_heuristic.hpp
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_2d.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/obstacle_heuristic.hpp
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/src/distance_heuristic.cpp
  nav2_smac_planner/src/node_2d.cpp
  nav2_smac_planner/src/node_hybrid.cpp
  nav2_smac_planner/src/node_lattice.cpp
  nav2_smac_planner/src/obstacle_heuristic.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/src/smoother.cpp
  nav2_smac_planner/test/test_a_star.cpp
  nav2_smac_planner/test/test_goal_manager.cpp
  nav2_smac_planner/test/test_node2d.cpp
  nav2_smac_planner/test/test_nodehybrid.cpp
  nav2_smac_planner/test/test_nodelattice.cpp
  nav2_smac_planner/test/test_smoother.cpp
  tools/planner_benchmarking/planning_benchmark_bringup.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

simplified interface
  nav2_costmap_2d/include/nav2_costmap_2d/inflation_layer.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/inflation_layer_interface.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/legacy_inflation_layer.hpp
  nav2_costmap_2d/src/inflation_layer_interface.cpp
Due: ament_cpplint, ament_uncrustify

add test coverage
  nav2_costmap_2d/test/integration/inflation_tests.cpp
Due: ament_cpplint, ament_uncrustify

Update logger initialization to use a child logger for better log categorization
  nav2_behavior_tree/include/nav2_behavior_tree/ros_topic_logger.hpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
