Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

refactor: simplify logic for merging data from cpp and hpp files
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

refactor: update variable names that indicate differences for consistency
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

fix: include last curly brace while searching class sections
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

removed path sample resolution
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/speed_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/speed_filter.cpp
  nav2_costmap_2d/test/unit/speed_filter_test.cpp
Due: ament_cpplint, ament_uncrustify

lookahead holding reset on zone entrance with multiple zone edgecase handling
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/speed_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/speed_filter.cpp
Due: ament_cpplint, ament_uncrustify

moved path transformation
  nav2_costmap_2d/plugins/costmap_filters/speed_filter.cpp
Due: ament_cpplint, ament_uncrustify

using util for closest segment to robot search
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_filters/speed_filter.hpp
  nav2_costmap_2d/plugins/costmap_filters/speed_filter.cpp
Due: ament_cpplint, ament_uncrustify

chore: remove external opennav_coverage action BT nodes from XML file
  nav2_behavior_tree/nav2_tree_nodes.xml
Due: none

[mppi] Add per-axis delay compensation with cmd-history replay
  nav2_bringup/params/nav2_params.yaml
  nav2_mppi_controller/include/nav2_mppi_controller/models/optimizer_settings.hpp
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Fix typos in Dockerfile
  Dockerfile
Due: none

[mppi] Add tests for delay in motion model
  nav2_mppi_controller/test/motion_model_tests.cpp
Due: ament_cpplint, ament_uncrustify

feat: use relative paths to run tests from any directory and validate script existence
  tools/bt_nodes_validation/test/conftest.py
Due: ament_flake8, ament_pep257

chore: separate dependencies for validation and testing
  tools/bt_nodes_validation/requirements.txt
  tools/bt_nodes_validation/test/requirements.txt
Due: none

feat: add helper script to run tests
  tools/bt_nodes_validation/test.sh
Due: none

docs: add README for validation tests
  tools/bt_nodes_validation/test/README.md
Due: none

docs: add README for validation script
  tools/bt_nodes_validation/README.md
Due: none

refactor: simplify plugin paths in configuration and rely on recursive search
  tools/bt_nodes_validation/config.yml
Due: none

chore: fix lint
  tools/bt_nodes_validation/README.md
Due: none

fix: ensure port description has no whitespace or newlines in XML extraction
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

fix: add error handling for unmatched parentheses in port argument extraction
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

fix: include extraction of first argument instead of relying on quotation mark detection
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

refactor: simplify template data extraction
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

fix: improve extraction of classes and node IDs from registrations in source files
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

feat: implement general function for argument extraction
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

feat: update extract_template_data to return position of closing angle bracket
  tools/bt_nodes_validation/validate_bt_xml_nodes.py
Due: ament_flake8, ament_pep257

Remove mypy and switch to precommit hooks in CI
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  nav2_bringup/package.xml
  nav2_common/package.xml
  nav2_simple_commander/package.xml
Due: none

Revert
  .pre-commit-config.yaml
Due: none

Fix issue after merging main
  nav2_bringup/launch/bringup_launch.py
  nav2_collision_monitor/src/polygon.cpp
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion_impl.hpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Version check
  nav2_rviz_plugins/src/docking_panel.cpp
  nav2_rviz_plugins/src/nav2_panel.cpp
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion_impl.hpp
Due: ament_cpplint, ament_uncrustify

Lint
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion_impl.hpp
Due: ament_cpplint, ament_uncrustify

modified prediction logic
  nav2_constrained_controller/include/nav2_constrained_controller/cbf_safety_filter.hpp
  nav2_constrained_controller/src/cbf_safety_filter.cpp
  nav2_constrained_controller/src/constrained_controller.cpp
Due: ament_cpplint, ament_uncrustify

added .semgrep.yml with regex pattern based rules to enforve use of nav2:: over rclcpp::
  .github/workflows/.semgrep.yml
Due: none

added .semgrepignore to exclude nav2_ros_common package and all files with 'test' in thier name or path
  .github/workflows/.semgrepignore
Due: none

updated lint.yml for triggering semgrep (some changes are for the duration of the experimentation)
  .github/workflows/lint.yml
Due: none

added // nosemgrep for all current detections
  nav2_behavior_tree/include/nav2_behavior_tree/ros_topic_logger.hpp
  nav2_costmap_2d/src/costmap_2d_cloud.cpp
  nav2_costmap_2d/src/costmap_2d_markers.cpp
  nav2_docking/opennav_docking/include/opennav_docking/controller.hpp
  nav2_dwb_controller/dwb_core/include/dwb_core/publisher.hpp
  nav2_dwb_controller/dwb_core/src/publisher.cpp
  nav2_lifecycle_manager/include/nav2_lifecycle_manager/lifecycle_manager.hpp
  nav2_lifecycle_manager/include/nav2_lifecycle_manager/lifecycle_manager_client.hpp
  nav2_loopback_sim/include/nav2_loopback_sim/clock_publisher.hpp
  nav2_loopback_sim/src/clock_publisher.cpp
  nav2_loopback_sim/src/loopback_simulator.cpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/costmap_cost_tool.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/docking_panel.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/nav2_panel.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/route_tool.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/selector.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/utils.hpp
  nav2_rviz_plugins/src/costmap_cost_tool.cpp
  nav2_rviz_plugins/src/docking_panel.cpp
  nav2_rviz_plugins/src/nav2_panel.cpp
  nav2_rviz_plugins/src/selector.cpp
  nav2_rviz_plugins/src/utils.cpp
  nav2_util/src/base_footprint_publisher.hpp
  nav2_util/src/lifecycle_bringup_commandline.cpp
Due: ament_cpplint, ament_uncrustify

updated to fix .semgrepignore not found
  .github/workflows/lint.yml
Due: none

moved .semgrep.yml and .semgrepignore to root. updated lint.yml accordingly
  .github/workflows/lint.yml
  .semgrep.yml
  .semgrepignore
Due: none

changed '// nosemgrep' with ' // nosemgrep' for coding style compliance
  nav2_behavior_tree/include/nav2_behavior_tree/ros_topic_logger.hpp
  nav2_costmap_2d/src/costmap_2d_cloud.cpp
  nav2_costmap_2d/src/costmap_2d_markers.cpp
  nav2_docking/opennav_docking/include/opennav_docking/controller.hpp
  nav2_dwb_controller/dwb_core/include/dwb_core/publisher.hpp
  nav2_dwb_controller/dwb_core/src/publisher.cpp
  nav2_lifecycle_manager/include/nav2_lifecycle_manager/lifecycle_manager.hpp
  nav2_lifecycle_manager/include/nav2_lifecycle_manager/lifecycle_manager_client.hpp
  nav2_loopback_sim/include/nav2_loopback_sim/clock_publisher.hpp
  nav2_loopback_sim/src/clock_publisher.cpp
  nav2_loopback_sim/src/loopback_simulator.cpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/costmap_cost_tool.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/docking_panel.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/nav2_panel.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/route_tool.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/selector.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/utils.hpp
  nav2_rviz_plugins/src/costmap_cost_tool.cpp
  nav2_rviz_plugins/src/docking_panel.cpp
  nav2_rviz_plugins/src/nav2_panel.cpp
  nav2_rviz_plugins/src/selector.cpp
  nav2_rviz_plugins/src/utils.cpp
  nav2_util/src/base_footprint_publisher.hpp
  nav2_util/src/lifecycle_bringup_commandline.cpp
Due: ament_cpplint, ament_uncrustify

recovery motion
  nav2_constrained_controller/include/nav2_constrained_controller/cbf_safety_filter.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/constrained_controller.hpp
  nav2_constrained_controller/include/nav2_constrained_controller/parameter_handler.hpp
  nav2_constrained_controller/src/cbf_safety_filter.cpp
  nav2_constrained_controller/src/constrained_controller.cpp
  nav2_constrained_controller/src/parameter_handler.cpp
Due: ament_cpplint, ament_uncrustify

moved '// nosemgrep' to immediately preceding line to overcome whitespace/line_length violations (exceeding 100 chars limit)
  nav2_rviz_plugins/include/nav2_rviz_plugins/costmap_cost_tool.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/nav2_panel.hpp
  nav2_rviz_plugins/include/nav2_rviz_plugins/utils.hpp
  nav2_rviz_plugins/src/docking_panel.cpp
  nav2_rviz_plugins/src/selector.cpp
  nav2_rviz_plugins/src/utils.cpp
  nav2_util/src/base_footprint_publisher.hpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
