Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
exclude: ".pgm$|.svg$"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker
-   repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["tools/pyproject.toml"]
        name: isort (python)

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        additional_dependencies:
        -   tomli
        args:
            [--toml=./tools/pyproject.toml]
-   repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
-   repo: local
    hooks:
    -   id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check CMake code style using cmakelint.
        language: system
        types: [cmake]
        entry: ament_lint_cmake
    -   id: ament_cpplint
        name: ament_cpplint
        description: Code style checking using cpplint.
        language: system
        types: [c++]
        entry: ament_cpplint
    -   id: ament_uncrustify
        name: ament_uncrustify
        description: Code style checking using uncrustify.
        language: system
        types: [c++]
        args: ["--reformat"]
        entry: ament_uncrustify
    -   id: ament_xmllint
        name: ament_xmllint
        description: Check XML markup using xmllint.
        language: system
        types: [xml]
        entry: ament_xmllint
    -   id: ament_flake8
        name: ament_flake8
        description: Check Python code style using flake8.
        language: system
        types: [python]
        entry: ament_flake8
    -   id: ament_pep257
        name: ament_pep257
        description: Check Python code style using pep257.
        language: system
        types: [python]
        entry: ament_pep257

Adding logging for matched events and dropped messages into pub/sub of new nav2_ros_common package. Also adding QoS overrides default ON (#5302)
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/include/nav2_behavior_tree/bt_cancel_action_node.hpp
  nav2_ros_common/include/nav2_ros_common/interface_factories.hpp
  nav2_smac_planner/src/smac_planner_2d.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
Due: ament_cpplint, ament_uncrustify

Update claude.yml
  .github/workflows/claude.yml
Due: none

Update claude.yml for authorized users
  .github/workflows/claude.yml
Due: none

Create claude.yml
  .github/workflows/claude.yml
Due: none

Adding clear costmap around pose service option (#5309)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/clear_costmap_service.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/action/clear_costmap_service.cpp
  nav2_behavior_tree/test/plugins/action/test_clear_costmap_service.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/clear_costmap_service.hpp
  nav2_costmap_2d/src/clear_costmap_service.cpp
  nav2_msgs/CMakeLists.txt
  nav2_msgs/srv/ClearCostmapAroundPose.srv
  nav2_msgs/srv/__init__.py
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Add support for enable_lifecycle_services parameter in LifecycleNode (#5307)
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
Due: ament_cpplint, ament_uncrustify

fix: Rename PushRosNamespace to PushROSNamespace for consistency across launch files
  nav2_bringup/launch/keepout_zone_launch.py
  nav2_bringup/launch/localization_launch.py
  nav2_bringup/launch/navigation_launch.py
  nav2_bringup/launch/slam_launch.py
  nav2_bringup/launch/speed_zone_launch.py
Due: ament_flake8, ament_pep257

Deduplicate `replaceOrAddArgument` implementation
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d_ros.hpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_ros_common/include/nav2_ros_common/node_utils.hpp
Due: ament_cpplint, ament_uncrustify

added nonblocking sequence
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/control/nonblocking_sequence.hpp
  nav2_behavior_tree/plugins/control/nonblocking_sequence.cpp
Due: ament_cpplint, ament_uncrustify

adding non blocking sequence test
  nav2_behavior_tree/test/plugins/control/test_nonblocking_sequence.cpp
Due: ament_cpplint, ament_uncrustify

adding non blocking sequence test to CMake
  nav2_behavior_tree/test/plugins/control/CMakeLists.txt
Due: none

added doxygen
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/control/nonblocking_sequence.hpp
Due: ament_cpplint, ament_uncrustify

remove node_
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/control/nonblocking_sequence.hpp
Due: ament_cpplint, ament_uncrustify

main port
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/control/nonblocking_sequence.hpp
  nav2_behavior_tree/test/plugins/control/test_nonblocking_sequence.cpp
Due: ament_cpplint, ament_uncrustify

added NonblockingSequence to nav2_tree_nodes.xml
  nav2_behavior_tree/nav2_tree_nodes.xml
Due: none

Rename service_introspection_mode to introspection_mode (#5321)
  nav2_bringup/params/nav2_params.yaml
  nav2_ros_common/include/nav2_ros_common/node_utils.hpp
  nav2_ros_common/test/test_service_client.cpp
  nav2_ros_common/test/test_service_server.cpp
  nav2_smac_planner/src/smac_planner_2d.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
Due: ament_cpplint, ament_uncrustify

Fix ament mypy (#5322)
  nav2_bringup/launch/cloned_multi_tb3_simulation_launch.py
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb4_loopback_simulation_launch.py
  nav2_bringup/launch/unique_multi_tb3_simulation_launch.py
  nav2_common/nav2_common/launch/has_node_params.py
  nav2_common/nav2_common/launch/launch_config_as_bool.py
  nav2_common/nav2_common/launch/replace_string.py
  nav2_common/nav2_common/launch/rewritten_yaml.py
  nav2_costmap_2d/test/integration/costmap_tests_launch.py
  nav2_docking/opennav_docking/test/test_docking_server.py
  nav2_lifecycle_manager/test/launch_bond_test.py
  nav2_lifecycle_manager/test/launch_lifecycle_test.py
  nav2_map_server/test/component/test_map_saver_launch.py
  nav2_map_server/test/component/test_map_server_launch.py
  nav2_simple_commander/launch/route_example_launch.py
  nav2_system_tests/src/behaviors/assisted_teleop/test_assisted_teleop_behavior_launch.py
  nav2_system_tests/src/behaviors/backup/test_backup_behavior.launch.py
  nav2_system_tests/src/behaviors/drive_on_heading/test_drive_on_heading_behavior.launch.py
  nav2_system_tests/src/behaviors/spin/test_spin_behavior.launch.py
  nav2_system_tests/src/behaviors/wait/test_wait_behavior_launch.py
  nav2_system_tests/src/costmap_filters/test_keepout_launch.py
  nav2_system_tests/src/costmap_filters/test_speed_launch.py
  nav2_system_tests/src/error_codes/test_error_codes_launch.py
  nav2_system_tests/src/gps_navigation/test_case_py.launch.py
  nav2_system_tests/src/localization/test_localization_launch.py
  nav2_system_tests/src/planning/test_planner_costmaps_launch.py
  nav2_system_tests/src/planning/test_planner_random_launch.py
  nav2_system_tests/src/route/test_route_launch.py
  nav2_system_tests/src/system/test_multi_robot_launch.py
  nav2_system_tests/src/system/test_system_launch.py
  nav2_system_tests/src/system/test_system_with_obstacle_launch.py
  nav2_system_tests/src/system/test_wrong_init_pose_launch.py
  nav2_system_tests/src/system_failure/test_system_failure_launch.py
  nav2_system_tests/src/waypoint_follower/test_case_launch.py
Due: ament_flake8, ament_pep257

`bt_navigator_***_rclcpp_node` - Namespacing + NodeOptions forwarding (#5310)
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d_ros.hpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_ros_common/include/nav2_ros_common/node_utils.hpp
Due: ament_cpplint, ament_uncrustify

cpp linting
  nav2_behavior_tree/test/plugins/control/test_nonblocking_sequence.cpp
Due: ament_cpplint, ament_uncrustify

cpplinting
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/control/nonblocking_sequence.hpp
Due: ament_cpplint, ament_uncrustify

Update nav2_costmap_2d/plugins/voxel_layer.cpp
  nav2_costmap_2d/plugins/voxel_layer.cpp
Due: ament_cpplint, ament_uncrustify

Create claude_oauth.yml
  .github/workflows/claude_oauth.yml
Due: none

Unclamp noise velocity. (#5266)
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
Due: ament_cpplint, ament_uncrustify

Adding epsilon for voxel_layer precision loss (#5314)
  nav2_costmap_2d/plugins/voxel_layer.cpp
Due: ament_cpplint, ament_uncrustify

outputting tracker feedback on BT node
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/compute_and_track_route_action.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/action/compute_and_track_route_action.cpp
Due: ament_cpplint, ament_uncrustify

fix: correct ThroughActionResult type alias in would_a_planner_recovery_help_condition (#5326)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/would_a_planner_recovery_help_condition.hpp
Due: ament_cpplint, ament_uncrustify

Add path_utils for distance calculations and corresponding tests
  nav2_util/include/nav2_util/path_utils.hpp
  nav2_util/src/CMakeLists.txt
  nav2_util/src/path_utils.cpp
  nav2_util/test/CMakeLists.txt
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

Changes to match contribution guildelines better.
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_following_path_condition.cpp
  nav2_util/include/nav2_util/path_utils.hpp
  nav2_util/src/path_utils.cpp
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify

Add IsFollowingPath condition node and tracking error handling
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_following_path_condition.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/condition/is_following_path_condition.cpp
  nav2_bt_navigator/behavior_trees/navigate_through_poses_w_replanning_and_path_adherence.xml
  nav2_bt_navigator/src/bt_navigator.cpp
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/src/controller_server.cpp
  nav2_msgs/msg/TrackingError.msg
Due: ament_cpplint, ament_uncrustify

Add PathHugCritic to dwb_critics to make trajectory closer to path.
  nav2_dwb_controller/dwb_critics/default_critics.xml
  nav2_dwb_controller/dwb_critics/include/dwb_critics/path_hug.hpp
  nav2_dwb_controller/dwb_critics/src/path_hug.cpp
  nav2_graceful_controller/CMakeLists.txt
Due: ament_cpplint, ament_uncrustify

Add PathHug critic for MPPI controller and update build/tests
  nav2_mppi_controller/CMakeLists.txt
  nav2_mppi_controller/critics.xml
  nav2_mppi_controller/include/nav2_mppi_controller/critics/path_hug_critic.hpp
  nav2_mppi_controller/src/critics/path_hug_critic.cpp
  nav2_mppi_controller/test/critics_tests.cpp
Due: ament_cpplint, ament_uncrustify

Fix build issues for Rolling migration
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_following_path_condition.cpp
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_following_path_condition.hpp
  nav2_behavior_tree/plugins/condition/is_following_path_condition.cpp
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_graceful_controller/CMakeLists.txt
  nav2_mppi_controller/src/critics/path_hug_critic.cpp
  nav2_mppi_controller/test/critics_tests.cpp
  nav2_msgs/CMakeLists.txt
Due: ament_cpplint, ament_uncrustify

style: Apply uncrustify and linting fixes
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_following_path_condition.hpp
  nav2_behavior_tree/plugins/condition/is_following_path_condition.cpp
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_dwb_controller/dwb_critics/include/dwb_critics/path_hug.hpp
  nav2_dwb_controller/dwb_critics/src/path_hug.cpp
  nav2_mppi_controller/src/critics/path_hug_critic.cpp
  nav2_util/include/nav2_util/path_utils.hpp
  nav2_util/src/path_utils.cpp
Due: ament_cpplint, ament_uncrustify

Only added comments about AI contribution.
  nav2_mppi_controller/test/critics_tests.cpp
  nav2_util/test/test_path_utils.cpp
Due: ament_cpplint, ament_uncrustify
