Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

Publish zero velocitiy in case of goal failure (#5279)
  nav2_controller/include/nav2_controller/controller_server.hpp
  nav2_controller/src/controller_server.cpp
Due: ament_cpplint, ament_uncrustify

Fix Ci from key signing (#5220)
  .circleci/config.yml
  Dockerfile
Due: none

Change max_cost default to 254 (#5256)
  nav2_behavior_tree/plugins/condition/is_path_valid_condition.cpp
  nav2_msgs/srv/IsPathValid.srv
Due: ament_cpplint, ament_uncrustify

Fix ament mypy (#5280)
  nav2_loopback_sim/nav2_loopback_sim/loopback_simulator.py
  nav2_simple_commander/nav2_simple_commander/demo_security.py
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
  nav2_system_tests/src/behaviors/backup/backup_tester.py
  nav2_system_tests/src/behaviors/drive_on_heading/drive_tester.py
  nav2_system_tests/src/behaviors/spin/spin_tester.py
  nav2_system_tests/src/costmap_filters/tester_node.py
  nav2_system_tests/src/gps_navigation/tester.py
  nav2_system_tests/src/route/tester_node.py
  nav2_system_tests/src/system/nav_through_poses_tester_error_msg_node.py
  nav2_system_tests/src/system/nav_through_poses_tester_node.py
  nav2_system_tests/src/system/nav_to_pose_tester_node.py
  nav2_system_tests/src/system_failure/tester_node.py
  nav2_system_tests/src/waypoint_follower/tester.py
  tools/pyproject.toml
Due: ament_flake8, ament_pep257

Fixing builds for message filters API change while retaining Jazzy, Kilted, and Rolling support (#5251)
  nav2_amcl/include/nav2_amcl/amcl_node.hpp
  nav2_amcl/src/amcl_node.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/obstacle_layer.hpp
  nav2_costmap_2d/plugins/obstacle_layer.cpp
Due: ament_cpplint, ament_uncrustify

Add namespace support for rviz costmap cost tool (#5268)
  nav2_rviz_plugins/src/costmap_cost_tool.cpp
Due: ament_cpplint, ament_uncrustify

Prototype solving #5192 Issue 2: Reeds-Shepp reduce small reverse expansions (#5207)
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/test/test_a_star.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Fix compilation of nav2_smac_planner on Windows (#5291)
  nav2_smac_planner/CMakeLists.txt
  nav2_smac_planner/include/nav2_smac_planner/node_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_lattice.hpp
Due: ament_cpplint, ament_uncrustify

Fix backport compiler warning (#5277)
  nav2_mppi_controller/src/optimizer.cpp
Due: ament_cpplint, ament_uncrustify

Route server corner smoothing (#5226)
  nav2_bringup/params/nav2_params.yaml
  nav2_route/README.md
  nav2_route/include/nav2_route/corner_smoothing.hpp
  nav2_route/include/nav2_route/path_converter.hpp
  nav2_route/include/nav2_route/types.hpp
  nav2_route/src/path_converter.cpp
  nav2_route/test/CMakeLists.txt
  nav2_route/test/test_corner_smoothing.cpp
Due: ament_cpplint, ament_uncrustify

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add min_distance_to_obstacle parameter to RPP (#4543)
  nav2_regulated_pure_pursuit_controller/README.md
  nav2_regulated_pure_pursuit_controller/include/nav2_regulated_pure_pursuit_controller/parameter_handler.hpp
  nav2_regulated_pure_pursuit_controller/src/collision_checker.cpp
  nav2_regulated_pure_pursuit_controller/src/parameter_handler.cpp
  nav2_regulated_pure_pursuit_controller/test/test_regulated_pp.cpp
Due: ament_cpplint, ament_uncrustify

Revert recent smac changes causing regressions (#5221)
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb3_simulation_launch.py
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/include/nav2_smac_planner/constants.hpp
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_2d.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/lattice_primitives/sample_primitives/test/output.json
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/src/node_2d.cpp
  nav2_smac_planner/src/node_hybrid.cpp
  nav2_smac_planner/src/node_lattice.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/test/CMakeLists.txt
  nav2_smac_planner/test/test_a_star.cpp
  nav2_smac_planner/test/test_goal_manager.cpp
  nav2_smac_planner/test/test_node2d.cpp
  nav2_smac_planner/test/test_smac_hybrid.cpp
  nav2_smac_planner/test/test_smac_lattice.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Update mergify.yml
  .github/mergify.yml
Due: none

Fix/smac planner orientation goals (#5235)
  .devcontainer/devcontainer.json
  nav2_smac_planner/include/nav2_smac_planner/a_star.hpp
  nav2_smac_planner/include/nav2_smac_planner/analytic_expansion.hpp
  nav2_smac_planner/include/nav2_smac_planner/constants.hpp
  nav2_smac_planner/include/nav2_smac_planner/goal_manager.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_2d.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/node_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_hybrid.hpp
  nav2_smac_planner/include/nav2_smac_planner/smac_planner_lattice.hpp
  nav2_smac_planner/include/nav2_smac_planner/types.hpp
  nav2_smac_planner/lattice_primitives/sample_primitives/test/output.json
  nav2_smac_planner/src/a_star.cpp
  nav2_smac_planner/src/analytic_expansion.cpp
  nav2_smac_planner/src/node_2d.cpp
  nav2_smac_planner/src/node_hybrid.cpp
  nav2_smac_planner/src/node_lattice.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
  nav2_smac_planner/src/smac_planner_lattice.cpp
  nav2_smac_planner/test/CMakeLists.txt
  nav2_smac_planner/test/test_a_star.cpp
  nav2_smac_planner/test/test_goal_manager.cpp
  nav2_smac_planner/test/test_node2d.cpp
  nav2_smac_planner/test/test_smac_hybrid.cpp
  nav2_smac_planner/test/test_smac_lattice.cpp
Due: ament_cpplint, ament_uncrustify

Update claude.yml
  .github/workflows/claude.yml
Due: none

Update claude.yml for authorized users
  .github/workflows/claude.yml
Due: none

Unclamp noise velocity. (#5266)
  nav2_mppi_controller/include/nav2_mppi_controller/motion_models.hpp
Due: ament_cpplint, ament_uncrustify

fix: correct ThroughActionResult type alias in would_a_planner_recovery_help_condition (#5326)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/would_a_planner_recovery_help_condition.hpp
Due: ament_cpplint, ament_uncrustify

Create claude_oauth.yml
  .github/workflows/claude_oauth.yml
Due: none

Add support for enable_lifecycle_services parameter in LifecycleNode (#5307)
  nav2_ros_common/include/nav2_ros_common/lifecycle_node.hpp
Due: ament_cpplint, ament_uncrustify

Rename service_introspection_mode to introspection_mode (#5321)
  nav2_bringup/params/nav2_params.yaml
  nav2_ros_common/include/nav2_ros_common/node_utils.hpp
  nav2_ros_common/test/test_service_client.cpp
  nav2_ros_common/test/test_service_server.cpp
  nav2_smac_planner/src/smac_planner_2d.cpp
  nav2_smac_planner/src/smac_planner_hybrid.cpp
Due: ament_cpplint, ament_uncrustify

fixed build errors
  nav2_toolkit/CMakeLists.txt
Due: none

Adding epsilon for voxel_layer precision loss (#5314)
  nav2_costmap_2d/plugins/voxel_layer.cpp
Due: ament_cpplint, ament_uncrustify

Adding clear costmap around pose service option (#5309)
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/clear_costmap_service.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/action/clear_costmap_service.cpp
  nav2_behavior_tree/test/plugins/action/test_clear_costmap_service.cpp
  nav2_costmap_2d/include/nav2_costmap_2d/clear_costmap_service.hpp
  nav2_costmap_2d/src/clear_costmap_service.cpp
  nav2_msgs/CMakeLists.txt
  nav2_msgs/srv/ClearCostmapAroundPose.srv
  nav2_msgs/srv/__init__.py
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Fix ament mypy (#5322)
  nav2_bringup/launch/cloned_multi_tb3_simulation_launch.py
  nav2_bringup/launch/tb3_loopback_simulation_launch.py
  nav2_bringup/launch/tb4_loopback_simulation_launch.py
  nav2_bringup/launch/unique_multi_tb3_simulation_launch.py
  nav2_common/nav2_common/launch/has_node_params.py
  nav2_common/nav2_common/launch/launch_config_as_bool.py
  nav2_common/nav2_common/launch/replace_string.py
  nav2_common/nav2_common/launch/rewritten_yaml.py
  nav2_costmap_2d/test/integration/costmap_tests_launch.py
  nav2_docking/opennav_docking/test/test_docking_server.py
  nav2_lifecycle_manager/test/launch_bond_test.py
  nav2_lifecycle_manager/test/launch_lifecycle_test.py
  nav2_map_server/test/component/test_map_saver_launch.py
  nav2_map_server/test/component/test_map_server_launch.py
  nav2_simple_commander/launch/route_example_launch.py
  nav2_system_tests/src/behaviors/assisted_teleop/test_assisted_teleop_behavior_launch.py
  nav2_system_tests/src/behaviors/backup/test_backup_behavior.launch.py
  nav2_system_tests/src/behaviors/drive_on_heading/test_drive_on_heading_behavior.launch.py
  nav2_system_tests/src/behaviors/spin/test_spin_behavior.launch.py
  nav2_system_tests/src/behaviors/wait/test_wait_behavior_launch.py
  nav2_system_tests/src/costmap_filters/test_keepout_launch.py
  nav2_system_tests/src/costmap_filters/test_speed_launch.py
  nav2_system_tests/src/error_codes/test_error_codes_launch.py
  nav2_system_tests/src/gps_navigation/test_case_py.launch.py
  nav2_system_tests/src/localization/test_localization_launch.py
  nav2_system_tests/src/planning/test_planner_costmaps_launch.py
  nav2_system_tests/src/planning/test_planner_random_launch.py
  nav2_system_tests/src/route/test_route_launch.py
  nav2_system_tests/src/system/test_multi_robot_launch.py
  nav2_system_tests/src/system/test_system_launch.py
  nav2_system_tests/src/system/test_system_with_obstacle_launch.py
  nav2_system_tests/src/system/test_wrong_init_pose_launch.py
  nav2_system_tests/src/system_failure/test_system_failure_launch.py
  nav2_system_tests/src/waypoint_follower/test_case_launch.py
Due: ament_flake8, ament_pep257

Add bondcpp to export dependencies (#5332)
  nav2_ros_common/CMakeLists.txt
Due: none

`bt_navigator_***_rclcpp_node` - Namespacing + NodeOptions forwarding (#5310)
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_costmap_2d/include/nav2_costmap_2d/costmap_2d_ros.hpp
  nav2_costmap_2d/src/costmap_2d_ros.cpp
  nav2_ros_common/include/nav2_ros_common/node_utils.hpp
Due: ament_cpplint, ament_uncrustify

Fixes to Cmakelist.txt
  nav2_toolkit/CMakeLists.txt
Due: none

Fixed package.xml
  nav2_toolkit/package.xml
Due: none

Fixed nav2_toolkit with respect to refactored PR #5288
  nav2_bringup/launch/nav2_toolkit_launch.py
  nav2_bringup/params/nav2_params.yaml
  nav2_toolkit/CMakeLists.txt
  nav2_toolkit/include/nav2_toolkit/base_footprint_publisher.hpp
  nav2_toolkit/include/nav2_toolkit/pose_saver_node.hpp
  nav2_toolkit/package.xml
  nav2_toolkit/src/pose_saver_node.cpp
  nav2_toolkit/test/test_pose_saver_node.cpp
  nav2_util/src/CMakeLists.txt
  nav2_util/test/CMakeLists.txt
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Fixed build tool errors
  nav2_bringup/launch/nav2_toolkit_launch.py
  nav2_toolkit/test/test_pose_saver_node.cpp
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Fixed builed erros and -s
  nav2_bringup/launch/nav2_toolkit_launch.py
Due: ament_flake8, ament_pep257

Fixed Build issue in launch file
  nav2_bringup/launch/nav2_toolkit_launch.py
Due: ament_flake8, ament_pep257

Fix whitespace issue
  nav2_util/src/odometry_utils.cpp
Due: ament_cpplint, ament_uncrustify

Style fixes
  nav2_dwb_controller/nav_2d_utils/include/nav_2d_utils/odom_subscriber.hpp
  nav2_util/src/odometry_utils.cpp
Due: ament_cpplint, ament_uncrustify

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
