Repository ros-navigation/navigation2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

ament_cpplint:
  name: ament_cpplint
  description: Code style checking using cpplint.
  language: system
  entry: ament_cpplint

ament_uncrustify:
  name: ament_uncrustify
  description: Code style checking using uncrustify.
  language: system
  args:
  - --reformat
  entry: ament_uncrustify

ament_flake8:
  name: ament_flake8
  description: Check Python code style using flake8.
  language: system
  entry: ament_flake8

ament_pep257:
  name: ament_pep257
  description: Check Python code style using pep257.
  language: system
  entry: ament_pep257

added doxygen and mutex and delete updatemap after clearing
  nav2_costmap_2d/include/nav2_costmap_2d/clear_costmap_service.hpp
  nav2_costmap_2d/src/clear_costmap_service.cpp
Due: ament_cpplint, ament_uncrustify

ClearCostmapService to return success status
  nav2_costmap_2d/include/nav2_costmap_2d/clear_costmap_service.hpp
  nav2_costmap_2d/src/clear_costmap_service.cpp
  nav2_msgs/srv/ClearCostmapAroundPose.srv
  nav2_msgs/srv/ClearCostmapAroundRobot.srv
  nav2_msgs/srv/ClearCostmapExceptRegion.srv
  nav2_msgs/srv/ClearEntireCostmap.srv
Due: ament_cpplint, ament_uncrustify

fix typo
  nav2_costmap_2d/src/clear_costmap_service.cpp
  nav2_msgs/srv/ClearCostmapAroundPose.srv
  nav2_msgs/srv/ClearCostmapAroundRobot.srv
  nav2_msgs/srv/ClearCostmapExceptRegion.srv
  nav2_msgs/srv/ClearEntireCostmap.srv
Due: ament_cpplint, ament_uncrustify

test fix
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
Due: ament_cpplint, ament_uncrustify

Add on_completion methods to ClearCostmap services for handling service responses
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/clear_costmap_service.hpp
  nav2_behavior_tree/plugins/action/clear_costmap_service.cpp
Due: ament_cpplint, ament_uncrustify

fix typo
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/action/clear_costmap_service.hpp
Due: ament_cpplint, ament_uncrustify

making last_run_id_ sentinel value adding more tests.
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
Due: ament_cpplint, ament_uncrustify

lint fixing and longer server time for test
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_node.hpp
  nav2_behavior_tree/test/plugins/action/test_bt_action_node.cpp
Due: ament_cpplint, ament_uncrustify

Added a new parameter to set initial enabled state for the collision monitor
  nav2_bringup/params/nav2_params.yaml
  nav2_collision_monitor/params/collision_monitor_params.yaml
  nav2_collision_monitor/src/collision_monitor_node.cpp
Due: ament_cpplint, ament_uncrustify

Fixed enabled_at_start parameter default value
  nav2_bringup/params/nav2_params.yaml
Due: none

Updated toggle service unit test for code coverage
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
Due: ament_cpplint, ament_uncrustify

Migrate to use the new declare_or_get_parameter API for nav2_behavior_tree.
  nav2_behavior_tree/include/nav2_behavior_tree/bt_action_server_impl.hpp
  nav2_behavior_tree/include/nav2_behavior_tree/bt_utils.hpp
  nav2_behavior_tree/plugins/action/get_current_pose_action.cpp
  nav2_behavior_tree/plugins/action/remove_passed_goals_action.cpp
  nav2_behavior_tree/plugins/condition/are_poses_near_condition.cpp
  nav2_behavior_tree/plugins/condition/distance_traveled_condition.cpp
  nav2_behavior_tree/plugins/condition/goal_reached_condition.cpp
  nav2_behavior_tree/plugins/decorator/distance_controller.cpp
  nav2_behavior_tree/plugins/decorator/goal_updater_node.cpp
  nav2_behavior_tree/test/plugins/condition/test_are_poses_near.cpp
  nav2_behavior_tree/test/plugins/condition/test_goal_reached.cpp
Due: ament_cpplint, ament_uncrustify

Fix control_law function calls in dock controller
  nav2_docking/opennav_docking/src/controller.cpp
Due: ament_cpplint, ament_uncrustify

Updated enabled state log message on startup
  nav2_collision_monitor/src/collision_monitor_node.cpp
Due: ament_cpplint, ament_uncrustify

fix: removed usages of collision monitor state in test suite to prevent nullptr dereference
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
Due: ament_cpplint, ament_uncrustify

Renamed parameter to 'enabled'
  nav2_bringup/params/nav2_params.yaml
  nav2_collision_monitor/params/collision_monitor_params.yaml
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
Due: ament_cpplint, ament_uncrustify

Add a parameter to set initial enabled state for the collision monitor (#5554)
  nav2_bringup/params/nav2_params.yaml
  nav2_collision_monitor/params/collision_monitor_params.yaml
  nav2_collision_monitor/src/collision_monitor_node.cpp
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
Due: ament_cpplint, ament_uncrustify

Add rmw zenoh cpp to ci
  .circleci/config.yml
  Dockerfile
  nav2_behavior_tree/test/plugins/decorator/test_distance_controller.cpp
  nav2_smac_planner/test/test_a_star.cpp
Due: ament_cpplint, ament_uncrustify

Linting
  .circleci/config.yml
Due: none

Sourcing ros
  .circleci/config.yml
Due: none

Use spin all to avoid flaky tests
  nav2_docking/opennav_docking/test/test_controller.cpp
Due: ament_cpplint, ament_uncrustify

Add isPoseOccupied BT node
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_pose_occupied_condition.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/condition/is_pose_occupied_condition.cpp
  nav2_behavior_tree/test/plugins/condition/CMakeLists.txt
  nav2_behavior_tree/test/plugins/condition/test_is_pose_occupied.cpp
Due: ament_cpplint, ament_uncrustify

Remove cout
  nav2_behavior_tree/test/plugins/condition/test_is_pose_occupied.cpp
Due: ament_cpplint, ament_uncrustify

fix: removed usages of collision monitor state in test suite to prevent nullptr dereference (#5555)
  nav2_collision_monitor/test/collision_monitor_node_test.cpp
Due: ament_cpplint, ament_uncrustify

Add toggle cm to simple comander API, fix default toggle cm service in test for consistency
  nav2_behavior_tree/test/plugins/action/test_toggle_collision_monitor_service.cpp
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Fix pre commit, ament flake, add readme
  nav2_simple_commander/README.md
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

add toggle msg to __init__.py
  nav2_msgs/srv/__init__.py
Due: ament_flake8, ament_pep257

Isolate changes from nav2_docking
  nav2_docking/opennav_docking/include/opennav_docking/controller.hpp
  nav2_docking/opennav_docking/src/controller.cpp
  nav2_graceful_controller/include/nav2_graceful_controller/smooth_control_law.hpp
  nav2_graceful_controller/src/smooth_control_law.cpp
Due: ament_cpplint, ament_uncrustify

ClearCostmapService to return success status based on all plugins being cleared
  nav2_costmap_2d/src/clear_costmap_service.cpp
Due: ament_cpplint, ament_uncrustify

added log(error)
  nav2_costmap_2d/src/clear_costmap_service.cpp
Due: ament_cpplint, ament_uncrustify

fix typo
  nav2_costmap_2d/src/clear_costmap_service.cpp
Due: ament_cpplint, ament_uncrustify

Updated the logic
  nav2_behavior_tree/plugins/action/clear_costmap_service.cpp
  nav2_costmap_2d/src/clear_costmap_service.cpp
Due: ament_cpplint, ament_uncrustify

added logs
  nav2_behavior_tree/plugins/action/clear_costmap_service.cpp
Due: ament_cpplint, ament_uncrustify

Add isPoseOccupied BT node (#5556)
  nav2_behavior_tree/CMakeLists.txt
  nav2_behavior_tree/include/nav2_behavior_tree/plugins/condition/is_pose_occupied_condition.hpp
  nav2_behavior_tree/nav2_tree_nodes.xml
  nav2_behavior_tree/plugins/condition/is_pose_occupied_condition.cpp
  nav2_behavior_tree/test/plugins/condition/CMakeLists.txt
  nav2_behavior_tree/test/plugins/condition/test_is_pose_occupied.cpp
Due: ament_cpplint, ament_uncrustify

add error handling
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

add error handling for clear costmap functions
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_flake8, ament_pep257

improve logic
  nav2_costmap_2d/src/clear_costmap_service.cpp
Due: ament_cpplint, ament_uncrustify

Add toggle cm to simple commander API (#5559)
  nav2_behavior_tree/test/plugins/action/test_toggle_collision_monitor_service.cpp
  nav2_msgs/srv/__init__.py
  nav2_simple_commander/README.md
  nav2_simple_commander/nav2_simple_commander/robot_navigator.py
Due: ament_cpplint, ament_uncrustify, ament_flake8, ament_pep257

Path conditions:
  ament_cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_uncrustify: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .pgm$|.svg$
  ament_flake8: any of: \.py$, but not: .pgm$|.svg$
  ament_pep257: any of: \.py$, but not: .pgm$|.svg$
